[2019-09-12 17:36] GamerzReef opened #582 "file_get_contents(): http:// wrapper is disabled in the server configuration by allow_url_fopen=0"
Hi guys i am trying to install this but ever time i hit next after Create super-admin user i get this error.
file_get_contents(): http:// wrapper is disabled in the server configuration by allow_url_fopen=0
fopen is set to on on the server.

Help on this will be great?.

[2019-09-13 09:58] chriskonnertz commented on #582
Hi,

I'm assuming that you get a little bit more text then just than? Can you please copy and paste the whole error message? It schould include information such as the file and line number where the error occured.

[2019-09-13 10:07] chriskonnertz commented on #581
Hello,

you seem to use an old revision. The problem has been fixed already:

https://github.com/Contentify/Contentify/blob/3.0-dev/contentify/Models/User.php#L396

[2019-09-13 12:18] caileanofficial commented on #581
might be because i downloaded it through the "releases" tab

[2019-09-24 15:31] Impulse1337 opened #583 "Images not uploading"
Hi,

I recently installed Contentify, and for some odd reason, my images aren't uploading to the site. As i can see trough FTP, the images aren't on the server aswell.

There isn't anything on the wiki where this is highlighted

 to what the issue can be. Maybe you can point me in the right direction?

![Screenshot_1](https://user-images.githubusercontent.com/7289057/65526241-17d79600-def1-11e9-8c

[2019-09-25 13:17] chriskonnertz commented on #583
Hi,

make sure that uploading images is possible at all:
- is it even possible to write in the `pubpic/uplaods` directory **and its sub directories**? (CHMOD)
- GD Lib extension for PHp installed?

[2019-09-25 13:21] ddb69 commented on #580
![grafik](https://user-images.githubusercontent.com/47409865/65604446-d0f8a780-dfa7-11e9-8af3-a67843d0f21f.png)

In diesen vier Dateien habe ich "use OpenGraph;" durch "use ChrisKonnertz\OpenGraph\OpenGraph;" ersetzt. Es funktioniert so. Wäre super wenn Du das auch bei Dir entsprechend einbauen würdest. Du wolltest ja vor drei Wochen schon einen Blick auf die für uns störendsten Fehler schauen.

[2019-09-25 15:54] Impulse1337 commented on #583
yes, i can upload to the directorys, as in the installation guide i used chmod 777 on the directories
gd is enabled.

[2019-09-30 20:49] Impulse1337 commented on #583
Hello?

[2019-10-03 06:48] ddb69 opened #584 "News - Beim Anschauen ändert sich Datum updated_at"
Ich beziehe mich auf Contentify 3.0. Wenn ich das richtig sehe, hatte die 2.6er-Version den Fehler auch schon.

Eigentlich steht alles im Betreff. Die Datenbankspalte "updated_at" ändert sich auf den aktuellen Timestamp. Das ist sehr ärgerlich, so stehen ständig andere News oben und es ist nicht mehr nachvollziehbar. Es ist auch unerheblich ob der Besucher eingeloggt ist oder nicht.

Darüber hinau

[2019-11-04 13:58] Stormez1998 opened #585 "Installation Problem"
Hay,
i need some help pls.
I have upload the files into my var/www/html path.
I have give all rights 777 to the Folders, but wehn i type in my URL with the install .php i see the install screen, its all green. When i want to klick on Install it shows me 404

![Not Found](https://user-images.githubusercontent.com/57358176/68126199-89086100-ff13-11e9-9318-6735ed8931ef.PNG)

Can anyone help me to fix

[2019-11-05 15:50] Franpepper commented on #585
Rewrite module is enabled?

[2019-11-05 21:25] Stormez1998 commented on #585
Yes

[2019-11-09 12:44] mazzorini commented on #555
Same here with clean install of 2.6

[2019-11-11 12:15] LeventeNagy opened #586 "Installation fails at step 4"
Hi

The installation fails at step 4, all credentials are fine, I am running version 2.6, are server requirements are fine

The following error occurs

`SQLSTATE[42000]: Syntax error or access violation: 1231 Variable 'sql_mode' can't be set to the value of 'NO_AUTO_CREATE_USER' (SQL: SHOW TABLES LIKE "migrations")`

[2019-11-11 20:53] Stormez1998 commented on #586
Have you create a User in mysql and enter it in the requierd field?

[2019-11-12 11:31] chriskonnertz commented on #586
Hello,

hmmmm... I am not familiar with this error! Please can you tell me your MySQL version?

And please tell me: do you have access to the MySQL server? Could you maybe try to change the value of the variable `sql_mode` to the value of `NO_AUTO_CREATE_USER` manually?

[2019-11-12 11:39] chriskonnertz commented on #555
I see... In the installer the part that creates this permission is missing:

https://github.com/Contentify/Contentify/blob/2.6/contentify/Controllers/InstallController.php#L1212

Yeah, this is a bug. It has been added in 3.0 but not in 2.6.

**Workaround:**
- Go to the `roles` table in the database.
- Go to the row with the ID 5 (I am not sure and can't check it right now, but that should be the s

[2019-11-12 11:45] chriskonnertz commented on #585
Hello,

please try something like `http://your-domainname.com/public` - does this work?

[2019-11-12 11:50] chriskonnertz commented on #584
Hallo,

leider kann ich zu dem Bug wenig sagen... der ist bekannt, ich weiß aber nicht, wodurch er ausgelöst wird.

[2019-11-12 11:52] chriskonnertz commented on #583
Hello, please try again and then take a look at the log. ( You can reach the Log in the Backend on the settings page. )

[2019-11-12 12:23] Impulse1337 commented on #583
![Screenshot_2](https://user-images.githubusercontent.com/7289057/68672499-0a827380-0552-11ea-98d8-d0a7796fe0b3.png)
there you go. This is what happens after the logo upload https://pastebin.com/JddUMqt5
The tekst in the title isn't empty btw. i've used test as a title

[2019-11-13 09:32] ddb69 commented on #584
Hallo Chris,

mach' Dir keinen Stress wegen der von mir gemeldeten Bugs. Ich bin auf
ein anderes CMS umgestiegen weil mir die Behebung der Bugs einfach zu
lange dauert und weil die Reaktionszeit einfach zu groß ist. Ich weiß,
ist erklärbar und verständlich, aber so ist es für mich einfach nicht
zu gebrauchen, auch wenn es grundsätzlich ein schönes CMS ist.

Gruß

Marco

Zitat von Chris Konnertz <n

[2019-11-15 16:16] LeventeNagy commented on #586
Sorry for the slow reply I was away, I did some googling around and one thing solved the problem.

In the database.php if I change strict from true to false in the MySQL setting everything is alright, no problems at all

[2019-11-15 16:20] chriskonnertz commented on #586
Oh right, yeah that was a good idea. :+1:

I close this issue since it has been solved.

[2019-11-15 16:20] #586 closed, assigned to chriskonnertz

[2019-11-22 21:39] Stormez1998 commented on #585
@chriskonnertz
when i type this in the URL i get Http Error 500

[2019-11-22 23:38] Franpepper commented on #585
What version of php you have?

And we can see your .htacess file?

[2019-11-28 03:42] Stormez1998 commented on #585
@Franpepper
Php 7.3
Where i can find the .htacess file ?

[2019-12-12 19:47] zgbyte opened #591 "Problem with installation"
Hi,

I have problem with installation i follow instructions, but when i click "Launch Installer" i get http://prntscr.com/qa0qvj can someone help me to solve problem? Thanks.

[2019-12-15 22:03] #591 closed, assigned to nobody

[2019-12-28 15:22] skdnnskdnn opened #592 "installations fehler mit plesk"
hallo wie auf dem Screenshot komme ich nicht weiter mit der Installation

würde mich auf eine schnelle Antwort Freuen

hier nochmal der komplette fehlercode als text

mfg

(1/1) ReflectionExceptionClass ChrisKonnertz\Jobs\JobsCommand does not exist
--
in Container.php line 729
at ReflectionClass->__construct()in Container.php line 729
at Container->build()in Container.php line 608
at Container->re

[2019-12-28 15:23] skdnnskdnn commented on #592
![erorr](https://user-images.githubusercontent.com/54041396/71545675-63855a00-298e-11ea-924a-9e029af24314.JPG)

[2019-12-29 12:59] chriskonnertz commented on #592
Hallo,

was genau installierst du ( welche Version)? Bzw. wo/wie genau hast du das runtergeladen?

[2019-12-29 19:00] skdnnskdnn commented on #592
Chris Konnertz <notifications@github.com> schrieb am So. 29. Dez. 2019 um
13:59:

Hallo dein cms habe ich runtergeladen und bei cpanel geht es nur bei Plesk
nicht das kann ja irgendwie nicht sein von der Homepage von dir habe ich es
geladen

[2019-12-30 19:36] skdnnskdnn commented on #592
ich habe die version 2.6 und würde mich auf hilfe von dir freuen da noch mehrere fehler offen sind die ich noch nicht hier gepostet habe

[2020-01-06 16:36] iriecoder opened #593 "Error: Could not retrieve the theme name from the config"
I've succesfully installed Contentify without any errors, but when I try visiting my homepage an error is thrown;
`Could not retrieve the theme name from the config!`

One of the files in which this error is thrown is the FrontController.php file at line 36, which leads back to the function below;
[code]

I'm currently trying to use version 2.6 of Contentify.
I've tried looking for the correct con

[2020-01-06 18:11] iriecoder commented on #593
I've managed to find a (temporary) fix by manually pointing to the theme.
You'll have to adjust the following line of code;
`$theme = Config::get('app.theme');`

And point to the theme manually;
`$theme = Config::get('app.theme', 'MorpheusTheme');`

Seems to work fine.
If anyone has a better solution I'd love to hear it though, but for now I'll close this issue.

[2020-01-06 18:11] #593 closed, assigned to chriskonnertz

[2020-02-21 17:24] cbabione opened #596 "Fehler mit Matches Module in 3.0 Beta"
Hallo

Erstmal, danke für geiles CMS!!!!  Weil ich tägliches Deutch kann, möchte ich dieser Fehler auf Englisch erklären.

The Matches module for 3.0 Beta throws an error when called from the main home screen.
The error given is:
"Type error: Return value of App\Modules\Matches\Match::scopeFilter() must be an instance of Illuminate\Database\Eloquent\Builder, none returned"

The function on line 14

[2020-02-21 17:41] cbabione commented on #596
This also works by just returning the query:
    public function scopeFilter(Builder $query) : Builder
    {
        if (ContentFilter::has('team_id')) {
            $id = (int) ContentFilter::get('team_id');
            return $query->whereLeftTeamId($id);
        }
        return $query;
    }

[2020-02-21 17:55] chriskonnertz commented on #596
Hello,

ugh, I am not sure if PHP 7.0 supported nullable  return types... try `?Builder` at the end of the first line.
In case that doesn’t work try to remove `: Builder`.

[2020-02-21 18:01] cbabione commented on #596
remove : Builder works and was in the original comment.  Also, just returning the $query works too.  I just wanted to share my findings to help move 3.0 out of beta!!  Awesome work guys.

[2020-02-21 19:19] chriskonnertz commented on #596
Soooo... do I have to change the code? 🤔

[2020-02-21 19:23] cbabione commented on #596
I just created a fork for your 3.0-dev branch and will get a pull request to you for review.  Yes, code does need to change, but let me finish up in my fork and you can see what I changed.  Also, I found another bug with the User model and will include that too.

[2020-02-21 19:38] cbabione commented on #596
I now understand the problem.  Originally I downloaded the 3.0 beta zip file and it had the problem I described.  Now that I have forked, the Matches Module in your current code contains the fix I described in my second comment, returning the original query.  Also, the error I saw with the User model is not in the latest code either of your 3.0-dev branch.  My apologies for opening this ticket as

[2020-02-21 19:38] #596 closed, assigned to chriskonnertz

[2020-03-04 01:03] Stormez1998 opened #599 "Fehler bei Installation"
Tips to create a new issue

- Contentify 2.6
Auf Linux Debian 9.0,
Apache, PHP 7.4.6

Ich habe folgendes Problem bei der Installation.
Beim Installieren ist alles grün und Ordnerrechte sind gesetzt.
bekomme aber nach der Eingabe der Datenbank folge Meldung angezeigt.

"ErrorException Trying to access array offset on value of type int"

Kann mir jemand dabei helfen?

Lieben Dank

[2020-03-06 03:08] #585 closed, assigned to chriskonnertz

[2020-03-06 13:14] chriskonnertz commented on #599
Hey,

hast du Zugriff auf den Error-Log? Der befindet sich in `storage/log` (Achtung: Kann Passwörter enthalten, diese ggf. entfernen). Wäre super wenn du den hier posten könntest. Den die Fehlermeldung an sich ist zwar durchaus explizit aber es ist unklar __wo__ der Fehler aufgetreten ist.

[2020-03-06 19:11] Stormez1998 commented on #599
@chriskonnertz

Das Problem hat sich durch eine neuinstallation vom Server beheben lassen.
Allerdings habe ich ein problem mit der mail.php. Diese lässt sich leider nicht verbinden. Könntest du mir da auch helfen?
und 2 Wenn ich mir mit einem Admin Account ein Benutzerprofil ansehen will wird folgende Meldung angezeigt: Zugriff verweigert. Sie verfügen nicht über die benötigten Berechtigungen.

Vi

[2020-03-24 09:02] pguetschow opened #600 "Navigation hardcoded?"
Gerade 3.0-dev gecloned, um das Projekt für meinen Clan zu evaluieren und ich wundere mich, dass die Hauptnavigation in den Blade Templates hardcoded ist. Ist das noch geplant, das Hauptmenü konfigurierbar zu machen oder habe ich diese Funktion übersehen?

[2020-03-24 16:17] PandaxCSGO opened #601 "So many problem (step 4 )"
- 2.6
- Please mention any special environment characteristics. For example:
    - Using Shared Hosting
    - Apache (PHP 7.4)
    - MariaDB
- I use Shared Hosting ( Hebergnity.com)

I have so many problem ( i don't have screen all of problem )
![image](https://user-images.githubusercontent.com/31318425/77450124-239a0b80-6df3-11ea-8d41-2e03815988a2.png)

[2020-03-25 03:01] Wirloo commented on #592
I have the same problem

[2020-03-25 03:05] Wirloo opened #602 "ReflectionException"
- Contentify 2.6
- Please be careful when posting logs, they might contain passwords!
- Please mention any special environment characteristics. For example:
    - using f Linux,
    - using Apache,
    - using  MySQL

- Virtual machine google lamp

![sdfdsf](https://user-images.githubusercontent.com/58761424/77497526-cda68180-6e4d-11ea-92b7-fdcecea270b8.png)

[2020-03-26 21:22] jointothedarkside opened #603 "User Teams"
Hi there I find a bit complicated to join a friends team or there's no option for the user that created the team to add members.

The only way I find so far with the 2.6 version is to use the search box with the name of the team and click join, a way to invite somebody to join your created team would be nice. Or perhaps to see that information in the friend's profile (That's what I'll try to imple

[2020-03-27 22:02] chriskonnertz commented on #603
Hello,

You are  talking about the cups module, right?

[2020-03-27 22:04] chriskonnertz commented on #603
Yeah I agree to that! However it's a lot of work! Did you gave the wiki ( https://github.com/Contentify/Contentify/wiki  ) a try?

If that' snot sufficent I recommend to read the Laravel documentation! Here, this should help you with your specific issue: https://laravel.com/docs/5.5/blade

[2020-03-27 22:06] chriskonnertz commented on #602
Hey,

uhm at this point... honestly... I'm not going to do much trouble shooting here, but instead I'll focus to finally get 3.0 done. Once it's realeased ( should be done in a couple of days ) pelase try 3.0 and then let me know if that exceptinon still is thrown!

Sorry but not having enough time to focus on 2.6 now :P

[2020-03-27 22:06] #602 closed, assigned to chriskonnertz

[2020-03-27 22:07] chriskonnertz commented on #592
Hey guys,

yeah annoying... Well I'll publish 3.0 soon, if this exception will be thrown then please let me know!!

[2020-03-27 22:07] #592 closed, assigned to chriskonnertz

[2020-03-27 22:09] chriskonnertz commented on #601
Hey,

have you tired this? https://github.com/Contentify/Contentify/wiki/Troubleshooting#open_basedir-restriction-in-effect

[2020-03-27 22:10] chriskonnertz commented on #600
Hi,

ja klar, dass das nicht schön ist - keine Frage!

Theoretisch kann man das schon selber lösen, da man im Backend Navigations-Objkete anlegen und verwalten kann, man könnte dann die starre Navi dadurch ersetzen (Navigation-Widget).

Ganz konkrekt plane ich aber nicht das per default zu machen, andere Dinge haben höhere Prio.

[2020-03-27 22:11] chriskonnertz opened #604 "Ideas"
Suggestion from a user (via email):

2- Fix Twitch Integration
3- Ability to add an instagram video in the videos section on the mainpage

[2020-03-27 22:15] chriskonnertz commented on #599
Hey,

klar kann ich gerne versuchen dir zu helfen, weiß aber gerade nicht genau, wie?

1. Mail: Was heißt verbinden? Zu einem externen Service? Tja schwer zu sagen was da schief läuft... Config-Daten genauestens überpürft?

2. Das klingt komisch.  Was für ein Admin.Account ist das denn? Der SUper-Admin der bei der Installation erstellt wird? Der sollte alle Rechte haben und auf alles zugreifen kön

[2020-03-27 22:35] chriskonnertz commented on #396
Yeah it's possible to add new games.

[2020-03-27 22:43] #556 closed, assigned to chriskonnertz

[2020-03-27 22:43] chriskonnertz commented on #556
I guess this issue is outdated.

[2020-03-27 22:45] chriskonnertz commented on #543
Guess this issue is outdated.

[2020-03-27 22:45] #543 closed, assigned to chriskonnertz

[2020-03-27 22:54] PandaxCSGO commented on #601
No i go test this

[2020-03-29 17:31] PandaxCSGO commented on #601
i have "No input file specified."

[2020-03-29 17:32] PandaxCSGO commented on #601
after https://github.com/Contentify/Contentify/wiki/Troubleshooting#open_basedir-restriction-in-effect

[2020-03-29 19:17] jointothedarkside commented on #603
Oh yes I read all of it, thanks a lot, and yes I'm talking about the cup teams, I wish it was easier for the users to invite someone to join their team, about the bleads I understand but when I create a theme, does it only compile the 'layout.blade.php' at the main views folder? I mean nothing is taken from the modules/theme folder right?
Thanks a lot for your time, great job again

[2020-03-30 21:15] PandaxCSGO commented on #601
@chriskonnertz ?

[2020-04-04 00:19] DrCha0z commented on #567
Hey, mich hat das ganze auch etwas gestört. Ich habe das ganze dann allerdings einfach hardcoded einfach in der Datenbank eine weitere Spalte eingefügt mit 1.1_image als beispiel und dann im Blade ersetzt. Da ich das ganze noch nicht mit der Datenbank über das Backend verknüpft habe spare ich mir erstmal den Code ;)
Hier mal ein Beispiel wie es bei mir aussieht.

https://puu.sh/FsTMa/564efba40a.pn

[2020-04-12 20:02] DrTatsu96 opened #605 "Fehler bei der Installation"
Tips to create a new issue

- Please mention the version of Contentify that you use
- Please be careful when posting logs, they might contain passwords!
- Please mention any special environment characteristics. For example:
    - using Windows ,
    - using  Apache,
    - using  MySQL
- Please mention the type of hosting (XAMPP)

Hallo, ich habe ihnen heute schon mal eine Mail geschrieben wo ich e

[2020-04-12 20:18] chriskonnertz commented on #605
Hallo,

dass beim Klick auf den "Launch Installer" Button eine weiße Seite kommt bedeutet wahrscheinlich, dass es einen Fehler gibt. Der jedoch aufgrund der Servereinstellungen nicht angezeigt wird.

Ich würde vorschlagen mal in den Error-Log zu schauen, der sich im Ordner `<contentify>/storage/logs` befindet.

[2020-04-12 20:31] DrTatsu96 commented on #605
Also ich habe auf der Online Website im Log geschaut und auf Localhost log geschaut da steht überall das gleiche drin

[2020-04-13 18:53] MajorOli opened #606 "Issue Installation v. 2.6"
Tips to create a new issue

- Please mention the version of Contentify that you use
- Please be careful when posting logs, they might contain passwords!
- Please mention any special environment characteristics. For example:
    - using Windows instead of Linux,
    - using Nginx instead of Apache,
    - using MariaDB instead of MySQL
- Please mention the type of hosting (shared hosting, virtual se

[2020-04-13 19:00] renegade1337 opened #607 "InstallController.php Type error on line 120"
Ich habe gerade mal versucht Contentify (3.0-dev) zu installieren. Und zwar unter folgender Arbeitsumgebung: Windows 10, XAMPP 7.4.3, PHP 7.4.3, MariaDB 10.4.11, Apache 2.4.41.

Dabei ist mir aufgefallen das es zu einem Type error kommt bei der Installation. Weil man in der regel unter einer localen Arbeitsumgebung eben kein Passwort für die Datenbank verwendet.

[code]

Edit: Ich habe über phpmya

[2020-04-14 11:06] MajorOli commented on #607
Den Fehler hatte ich auch.
Konnte Ihn lösen indem ich Composer Update ausgeführt habe und er Daten anchgeladen hat.

[2020-04-14 13:29] DrCha0z commented on #236
Moinsen,

Interessiert mich tatsächlich auch ein wenig. Zumindest die Scores im Archiv das sie Farbig sind. Werde mich da mal dann versuchen und Teile dann gerne mein Ergebnis.

[2020-04-14 18:30] chriskonnertz commented on #606
Hallo,

ist das eine Neuinstallation? Dann würde ich raten bis zum Release von Version 3 zu warten und die benutzen. Denn der Fehler ist mir glaube ich bekannt aber ich habe nicht vor den noch zu fixen, in v3 ist der obsolet.

Schau einfach in circa einer Woche nochmal vorbei. :)

[2020-04-14 18:55] chriskonnertz commented on #607
Hallo,

danke für das Feedback @renegade1337  !

Das Problem mit dem Passwort habe ich nun gelöst, das ging früher auch aber da war ich zu "streng" mit den Parameter-Datentypen.

https://github.com/Contentify/Contentify/commit/a67c8a4f29241266562e48ecd77cd967c98f66cb

Das andere ist bei mir nicht aufgetreten, wie @MajorOli schon sagte, das klingt nach einem alten Stand der Laravel-Version, die kan

[2020-04-14 18:55] #607 closed, assigned to chriskonnertz

[2020-04-14 18:56] chriskonnertz commented on #236
Alles kalr, wäre super, dann kann ich das übernehmen :)

[2020-04-14 18:57] chriskonnertz commented on #567
Hey,

ergibt definitiv Sinn das einzubauen!

Scheint du hast es perfekt umgesetzt, soweit ich das beurteilen kann hätte ich das genauso gemacht.

Danke für das Feedback @DrCha0z

[2020-04-14 19:37] renegade1337 opened #608 "Game icons are missing"
In der 3.0-dev Version Fehlen bei einer Neuinstallation folgende Game Icons: Minecraft, Overwatch, PUBG, Fortnite.

In dem Zusammenhang könnte man auch noch Valorant hinzufügen ^^

[2020-04-14 19:38] renegade1337 commented on #607
Jo hat mit Composer update auch geklappt ;-)

[2020-04-14 20:26] chriskonnertz commented on #607
Super!

[2020-04-14 21:54] DrCha0z commented on #567
Ja das war absolut sinnvoll ;)
Ich fühle mich ja etwas geschmeichelt :D
Da ich nur so ein kleiner Hobbybastler bin kann es natürlich mal sein das bei mir die Einrückung nicht 100% stimmt, aber das könnt ihr Programierer dann ja für eine Neuere Version verbessern xDDD

[2020-04-15 14:52] chriskonnertz commented on #608
Hallo,

danke für die Info und ja Valorant hinzuzufügen erscheint mir auch sinnvoll, done.

https://github.com/Contentify/Contentify/commit/4630a7aaa5347e83c0d21f189fca980d06d7c33c

[2020-04-15 14:52] #608 closed, assigned to chriskonnertz

[2020-04-15 15:22] chriskonnertz commented on #567
Done: https://github.com/Contentify/Contentify/commit/afae2e0ce9010d023833175b8d73befe9d69599b

Im Grunde das gleiche wie deine Lösung. Es ist wohl sinnvoll wenn du deine Website darauf umstellst, denke im Grunde musst du nur dein Feld umbenennen, da ich das neue Feld `banner`genannt habe.

[2020-04-15 15:25] chriskonnertz commented on #605
Und da steht nur die NotFoundHttpException drin?

Hast du irgendwie sehr exotischen Webspace? 🤔

[2020-04-15 15:39] DrTatsu96 commented on #605
Ne eigentlich nicht

Chris Konnertz <notifications@github.com> schrieb am Mi., 15. Apr. 2020,
17:26:

[2020-04-15 15:40] DrCha0z commented on #567
Die umbenennung ist kein Problem ;) das war eher nur das erste was mir eingefallen ist als ich es geschrieben habe vor knapp 1Jahr.

Ich hab das ein oder andere geändert, deswegen ist ein umstellen für mich noch nicht geplant. Wenn demnächst V3 raus kommt wie ich ja oben in den issues gelesen habe, dann werde ich mir eh die 3.0 Installieren und dort die anderen Sachen weiter anpassen & meine Daten

[2020-04-15 18:19] MajorOli commented on #606
Ja das ist eine Neuinstallation. Okay dann warte ich bis v3

[2020-04-15 18:19] #606 closed, assigned to chriskonnertz

[2020-04-15 19:53] DrCha0z commented on #490
Hey, auch dieses Thema ist ja auch erledigt mit den Files, die ich ja schon im Thema mit den Team bildern hoch geladen habe. Fals du es nicht gesehen haben solltest.

[2020-04-15 20:06] DrCha0z commented on #604
1- login/register using discord. **

**
2- Fix Twitch Integration **

**
3- Ability to add an instagram video in the videos section on the mainpage **

**

Aber finde gut das immer und immer noch Vorschläge rein kommen.

[2020-04-15 20:18] DrCha0z commented on #584
Ich habe das Problem auch schon am Anfang der V2.5 gehabt. Ich habe da eine Lösung für mich gefunden ich nutze nicht die Variable "updatet_at" sondern nutze dafür "published_at"

**Dies ist keine Behebung des Bugs, aber ich umgehe ihn damit. Und das meiner Meinung nach trotzdem Sauber.**

Hier mal ein Auszug aus meiner "stream_item.blade.php"

[code]

Wie gesagt für mich war das eine gute Lösung,

[2020-04-15 20:28] DrCha0z commented on #577
My solution:
replayce the value

"updatet_at"
with
"published_at"

[2020-04-16 14:55] chriskonnertz commented on #605
Verwendest du Apache als Webserver?

Und wenn ja, siehst du bei der Übersicht unter `localhost/public/` dann das hier?

[2020-04-16 14:56] chriskonnertz commented on #567
Alles klar!! :)

[2020-04-16 14:56] #567 closed, assigned to chriskonnertz

[2020-04-16 15:00] chriskonnertz commented on #490
Hey ging es da um die Beschreibung von Membern? Die dann auf der Team-Seite angezeigt wird?

[2020-04-16 15:01] chriskonnertz commented on #603
Is that question still unanswered?

[2020-04-16 15:03] chriskonnertz commented on #604
zu 1) Weiß ich nicht... aber Discord wird immer verbreiteter, insofern, wenn mal die Zeit ist, würde ich sagen: Kann man schon machen

zu 3) Kann ich ebenfalls nicht beurteilen aber wenn das nicht aufwendig ist würde ich es umsetzen um da vollständiger zu sein

[2020-04-16 15:07] chriskonnertz commented on #584
Danke, ich übernehme das jetzt mal, sonst kommen wir da nie weiter...

https://github.com/Contentify/Contentify/commit/8dadc272982dbbd591814977fc81526295f7887f

Bei dir @DrCha0z ist übrigens noch ein `updated_at` übersehen worden 😛

[2020-04-16 15:08] #584 closed, assigned to chriskonnertz

[2020-04-16 15:08] chriskonnertz commented on #577
Should be solved:

https://github.com/Contentify/Contentify/commit/8dadc272982dbbd591814977fc81526295f7887f

[2020-04-16 15:08] #577 closed, assigned to chriskonnertz

[2020-04-16 17:15] DrCha0z commented on #584
Danke, tatsächlich. Ging witziger weise trotzdem ;)

[2020-04-16 17:21] DrCha0z commented on #490
Nein, es ging um das Textfeld über den Membern, bei mir habe ich dort inzwischen drei Spalten für texte mit verlinkung drinnen.

Ich habe es al in den Screenshots rot makiert.

http://www.purfuerst.rocks/FTP/Bilder/1.png
http://www.purfuerst.rocks/FTP/Bilder/2.png

Die geänderten files dürfen auch in der zip sein von der match/teamansicht.

[2020-04-16 17:29] DrCha0z commented on #236
Also fals du die Tage vor hast 3.0 zu releasen, dann warte bitte nicht auf den Code hier. Denn den schaffe ich glaub ich doch nicht so schnell wie ich erwartet habe.

[2020-04-18 12:24] DrCha0z commented on #583
Hey,
ich denke mal das ich den selben oder einen ähnlichen Fehler habe / hatte.

Ich bekomme beim Upload auch eine Fehlermeldung das etwas schief gegangen ist. Aber danach ist das Bild trotzdem in der Gallerie, es wird lediglich nicht in der Vorschau und im Adminbereich angezeig.

Dafür gibt es aber eine Lösung.
Hier ein Auszug aus der "admin_index.blade.php"

[code]

In Zeile 14 steht folgendes:

[2020-04-18 21:45] DrCha0z opened #609 "Galerie angepasst / Galerie vorschläge"
Hey,

ich habe heute bei uns die Galerie etwas angepasst. Die Standard Galerie ist meiner Meinung nach kein bisschen brauchbar. Ich habe das ganze mit einer Lightbox umgesetzt.
das ganze kann sich hier gerne mal Live angesehen werden. www.xeeders.de

Was mir aber des weiteren noch ein Dorn im Auge ist, ist die Administration. Es ist sehr mühsam das man jedes bild einzeln hochladen muss. Und da auc

[2020-04-19 09:42] acamilleri commented on #547
Hi @chriskonnertz

You can try [Scaleway Kapsule](https://www.scaleway.com/fr/kubernetes-kapsule/). It's managed Kubernetes cluster, the control plane it's free, you only pay for worker nodes used.

You can start with only one worker node and activating (for free) the autoscaler to auto add new workers (you can set a limit) when all ressources are consumed.

The cheapest worker is 7,99€/month for

[2020-04-26 11:43] cldxciv opened #610 "Installation problem."
- I am using 2.6 version of Contentify
    - using Windows instead ,
    - using Apache(XAMP for windows),
    - using MariaDB instead of MySQL

**composer update is complete with and error:**
In Container.php line 729:

  Class ChrisKonnertz\Jobs\JobsCommand does not exist

Script php artisan optimize handling the post-update-cmd event returned with error code 1

**And the installation setup step

[2020-04-28 01:14] chriskonnertz commented on #547
Hey,

sorry for the delay...

I have a  couple of questions, because I am not realy used to work with Kubernetes.

1. Does Scalewaly provide  a Kapsule interface and is it available in English also? Or just French? (I think English because it's "Kubernetes Dashboard" right?)
2. So in one Worker Node there can be multiple Contentify websites, right?
3. So if there was one load balancer of type LP-G

[2020-04-29 16:54] acamilleri commented on #547
Hey,

No problem for the delay :), don't afraid to ask about infra, it can be challenge my proposal and help you to understand how it works.

Scaleway provide a Kubernetes cluster as Kapsule name (kapsule is just the commercial name). Kubernetes needs to have an etcd database and some master node to work, theses resources are managed by Scaleway. Scaleway provide a little interface on his console

[2020-05-18 07:06] dependabot-preview[bot] opened #612 "Dependabot couldn't find the branch 3.0-dev"
Dependabot was set up to create pull requests against the branch `3.0-dev`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch from your [dashboard](https://app.dependabot.com/accounts/Contentify).

[View the update logs](https://app.dependabot.com/accounts/Contentify/update-logs/33479342).

[2020-05-20 12:34] renegade1337 opened #613 "News: Type error (NewsController.php on line 159)"
**Meine Arbeitsumgebung:**
Contentify v3.0
Windows 10
XAMPP 7.4.3
PHP 7.4.3
MariaDB 10.4.11
Apache 2.4.41

Wenn ich in meiner Arbeitsumgebung im Frontend auf eine News klicke erhalte ich folgenden Type error:

[code]

[2020-05-20 12:38] renegade1337 opened #614 "Valorant Icon Bug"
**Meine Arbeitsumgebung:**
Contentify v3.0
Windows 10
XAMPP 7.4.3
PHP 7.4.3
MariaDB 10.4.11
Apache 2.4.41

Im Backend wird das Valorant Icon nicht richtig ausgegeben, weil es als Datei als val.png existiert. Aber im HTML Code unter dem Namen valorant.png versucht wird auszugeben.

[2020-05-25 07:08] #612 closed, assigned to nobody

[2020-05-25 09:54] #452 closed, assigned to chriskonnertz

[2020-05-28 11:45] Xapu1337 opened #615 "Editing the LESS Code cant be compiled."
Hey! i recently found Contentify, i already fixed some issues but if i change the theme LESS Code (Changing the Primary Color) and then if i compile: "Trying to access array offset on value of type null" just by changing:
![Changed Code](https://rdgb.net/i/zSJTn.png)

And, i can compile if i upload the original frontend.less file?

- 3.0 (Latest)
- (Where are the compiler logs?)
Using linux (Atlea

[2020-05-28 12:31] chriskonnertz commented on #615
Hello,

I’ll take a look at this.

[2020-06-02 18:30] leandrovergara commented on #580
This issue is still happening in last version of webpage https://github.com/Contentify/Contentify/releases/download/v3.0/contentify_3_0.zip. The solution offered by @ddb69 solved this.

[2020-06-08 11:00] kINGPINcsgo opened #616 "Mehrere Fehler."
Moiner!

Vorweg, klasse CMS gefällt mir sehr gut, danke!
Leider bekomme ich einige Fehlermeldungen angezeigt und Teile funktionieren nicht so wie sie gedacht sind.

Die Website: www.creepz.xyz

Die Fehler:
- Newspost öffnen
- Habe zwei unterschiedliche Server hinzugefügt, es wird zwei mal der Selbe angezeigt
- Kann keine Squadbilder hochladen. Es kommt keine Fehlermeldung, Bilder werden ignoriert.

[2020-06-15 11:23] DrCha0z commented on #616
News Problem und Startseite schein gefixt zu sein oder?

[2020-06-17 15:39] #522 closed, assigned to chriskonnertz

[2020-06-17 15:39] #507 closed, assigned to chriskonnertz

[2020-06-17 15:39] #525 closed, assigned to chriskonnertz

[2020-06-17 15:39] #532 closed, assigned to chriskonnertz

[2020-06-17 15:39] #535 closed, assigned to chriskonnertz

[2020-06-17 15:39] #538 closed, assigned to chriskonnertz

[2020-06-17 15:39] #537 closed, assigned to chriskonnertz

[2020-06-17 15:39] #545 closed, assigned to chriskonnertz

[2020-06-17 15:39] #540 closed, assigned to chriskonnertz

[2020-06-17 15:39] #496 closed, assigned to chriskonnertz

[2020-06-17 15:39] #549 closed, assigned to chriskonnertz

[2020-06-17 15:39] #550 closed, assigned to chriskonnertz

[2020-06-17 15:39] #551 closed, assigned to chriskonnertz

[2020-06-17 15:39] #524 closed, assigned to chriskonnertz

[2020-06-17 15:39] #554 closed, assigned to chriskonnertz

[2020-06-17 15:39] #541 closed, assigned to chriskonnertz

[2020-06-17 15:39] #569 closed, assigned to chriskonnertz

[2020-06-17 15:39] #568 closed, assigned to chriskonnertz

[2020-06-17 15:39] #571 closed, assigned to chriskonnertz

[2020-06-17 15:39] #570 closed, assigned to chriskonnertz

[2020-06-17 15:39] #573 closed, assigned to chriskonnertz

[2020-06-17 15:39] #574 closed, assigned to chriskonnertz

[2020-06-17 15:39] #575 closed, assigned to chriskonnertz

[2020-06-17 15:39] #576 closed, assigned to chriskonnertz

[2020-06-17 15:39] #572 closed, assigned to chriskonnertz

[2020-06-17 15:39] #579 closed, assigned to nobody

[2020-06-17 15:39] #582 closed, assigned to chriskonnertz

[2020-06-17 15:39] #581 closed, assigned to chriskonnertz

[2020-06-17 15:39] #555 closed, assigned to chriskonnertz

[2020-06-18 06:26] #58 closed

[2020-06-18 06:26] #178 closed, assigned to chriskonnertz

[2020-06-18 06:26] #158 closed, assigned to nobody

[2020-06-18 06:26] #156 closed, assigned to chriskonnertz

[2020-06-18 06:26] #186 closed, assigned to chriskonnertz

[2020-06-18 06:26] #105 closed

[2020-06-18 06:26] #195 closed, assigned to chriskonnertz

[2020-06-18 06:26] #209 closed, assigned to chriskonnertz

[2020-06-18 06:26] #217 closed, assigned to chriskonnertz

[2020-06-18 06:26] #187 closed, assigned to chriskonnertz

[2020-06-18 06:26] #245 closed, assigned to chriskonnertz

[2020-06-18 06:26] #308 closed, assigned to chriskonnertz

[2020-06-18 06:26] #303 closed, assigned to nobody

[2020-06-18 06:26] #336 closed, assigned to chriskonnertz

[2020-06-18 06:26] #324 closed, assigned to chriskonnertz

[2020-06-18 06:26] #364 closed, assigned to chriskonnertz

[2020-06-18 06:26] #350 closed, assigned to chriskonnertz

[2020-06-18 06:26] #393 closed, assigned to chriskonnertz

[2020-06-18 06:26] #402 closed, assigned to chriskonnertz

[2020-06-18 06:26] #429 closed, assigned to chriskonnertz

[2020-06-18 06:26] #433 closed, assigned to chriskonnertz

[2020-06-18 06:26] #423 closed, assigned to chriskonnertz

[2020-06-18 06:26] #411 closed, assigned to chriskonnertz

[2020-06-18 06:26] #254 closed, assigned to chriskonnertz

[2020-06-18 06:26] #458 closed, assigned to chriskonnertz

[2020-06-18 06:26] #461 closed, assigned to chriskonnertz

[2020-06-18 06:26] #466 closed, assigned to chriskonnertz

[2020-06-18 06:26] #483 closed, assigned to chriskonnertz

[2020-06-18 06:26] #147 closed, assigned to chriskonnertz

[2020-06-18 06:26] #484 closed, assigned to chriskonnertz

[2020-06-18 07:26] #485 closed, assigned to chriskonnertz

[2020-06-18 07:26] #486 closed, assigned to chriskonnertz

[2020-06-18 07:26] #493 closed, assigned to chriskonnertz

[2020-06-18 07:26] #233 closed, assigned to chriskonnertz

[2020-06-18 07:26] #363 closed, assigned to chriskonnertz

[2020-06-18 07:26] #377 closed, assigned to chriskonnertz

[2020-06-18 07:26] #228 closed, assigned to chriskonnertz

[2020-06-18 07:26] #501 closed, assigned to chriskonnertz

[2020-06-18 07:26] #502 closed, assigned to chriskonnertz

[2020-06-18 07:26] #349 closed, assigned to chriskonnertz

[2020-06-18 07:26] #414 closed, assigned to nobody

[2020-06-18 07:26] #505 closed, assigned to chriskonnertz

[2020-06-18 07:26] #18 closed

[2020-06-18 07:26] #492 closed, assigned to chriskonnertz

[2020-06-18 10:59] torriz commented on #505
nooo.. rip?

[2020-06-19 11:24] Stormez1998 opened #617 "Ich kann keine Benutzer Löschen."
Tips to create a new issue

Wenn ich versuche einen Nutzer zu löschen, im Admin Backend, wird dieser nur gesperrt, aber nicht gelöscht. Wie kann man das beheben das es denn gesammten nutzer löscht?

Vor Umstieg auf 3.0 ging es noch :)

Ich wäre sehr dankbar wenn wir jemand helfen könnte.

Solltet ihr irgend was brauchen antwortet mir :)

[2020-06-19 19:27] thei1575 opened #618 "Error compiling LESS"
- the version of Contentify: 3.0
- Database: MariaDB

When I try to compile LESS I get this error I use PLESK Hostpanel from my hosting provider

![Annotation 2020-06-19 212558](https://user-images.githubusercontent.com/10531808/85173438-89bbf080-b273-11ea-98f7-08302f2437a9.png)

[2020-06-21 18:29] DrCha0z commented on #617
Gelöscht werden sie grundsätzlich niemals, auch nicht in den voherigen Versionen. Sondern nur in den Papierkorb verschoben. wenn du die Papierkorb anzeige natürlich an hast, sieht es so aus als wäre der User nur gesperrt.

[2020-06-21 20:26] Stormez1998 commented on #617
@DrCha0z
Wie kann ich das umschalten. Bzw den nutzer vom System löschen, so das er sich erneut registrieren kann?

[2020-06-21 20:45] DrCha0z commented on #617
Umschalten kannst du es mit Dem Papierkorb Button. Wobei mir gerade einfällt bei den Usern hast du den Papierkorb glaube ich garnicht. Sobald du da auf löschen gehst bleibt er dort einfach weiter angezeigt, wird dann aber GESPERRT.

https://puu.sh/FYWoR/ecbaa0a480.png

[2020-06-21 20:49] DrCha0z commented on #617
Aber wieso möchtest du denn überhaupt einen User löschen und er soll sich dann neu Registrieren können? dann könntest du doch einfach den Account wieder freischalten.

[2020-06-22 08:37] abhishek0306-innverse commented on #121
I want to add pagination on my page . Let me know how I can add pagination my view page. I have added 5 as a paginate(5) in news controller but how can i show pagination on my view file. pagination links are not coming in frontend.

[2020-06-22 12:18] abhishek0306-innverse opened #619 "Pagination Issue"
I want to add pagination on my page . Let me know how I can add pagination my view page. I have added 5 as a paginate(5) in news controller but how can i show pagination on my view file. pagination links are not coming in frontend.

Using Contentify version: 3.0

[2020-06-22 16:00] DrCha0z commented on #619
If you have more than 5 news, the ad will be cut automatically (this is the pagination: 5) There is no side view, but there is the news archive for that.

[2020-06-23 03:21] abhishek0306-innverse commented on #619
Thanks for your reply @DrCha0z . But how can I show the pagination on view page. Is there any method or code from which I can show the pagination link (1,2,3,4,5 .....) on my view file. Suppose if user wants to see the old news so he needs to click on pagination to see all the news exists on our website so how can he go because according to coding we are showing only 5 news on one page ...

[2020-06-23 18:54] DrCha0z commented on #619
Hey, I don't have a solution at the moment. As far as I can see, the page numbering is already in the code. But this simply has no function. You can first insert a link in the **"show_stream.blade.php".**

`<center>
<nav aria-label = "Something">
<ul class = "pagination pagination-sm">
<li class = "page-item"> <a class="page-link" href="/news"> More ... </a> </li>
</ul>
</nav>
</center>`

Then at

[2020-06-23 18:58] DrCha0z commented on #619
Hey, I don't have a solution at the moment. As far as I can see, the page numbering is already in the code. But this simply has no function. You can first insert a link in the **"show_stream.blade.php".**

[code]

Then at least you already have the link to the archive inside.

If there is a solution, I am also interested. ;)

[2020-06-23 19:00] DrCha0z commented on #619
You can Checkout the Result here:

https://xeeders.de/

[2020-06-24 04:09] abhishek0306-innverse commented on #619
Thank you so much @DrCha0z for your solution. I can definitely try this .. Thanks for your help again.

[2020-06-25 18:09] inagnis opened #620 "Installation Error - Trying to access array offset on value of type int"
-> Using Contentify 3.0
-> Using Mac OS instead of Linux/Windows
-> Using Apache instead of Nginx
-> Using MySQL instead of MariaDB
-> Testing on Localhost using MAMP 5.7

<img width="1131" alt="Screenshot 2020-06-25 at 7 54 51 PM" src="https://user-images.githubusercontent.com/40026050/85773784-8070cf00-b71e-11ea-9dcf-08679ecdc0b1.png">

My instance of MAMP runs php 7.4.2. I have failed to instal

[2020-07-03 09:46] Tr0nYx commented on #620
you have to use PHP <= 7.3

https://github.com/symfony/symfony/pull/32806/files#diff-eb9e2769bc971b81cf86356b6e0f5347R135

[2020-07-04 09:15] abhishek0306-innverse opened #621 "Need to add more than 1 image in one module. How to do that."
Hi, I need to add 3 images in one  module in one row at a time in database . Currently If I am uploading more than 1 image it is only uploading one 1 image . I dont know why?

I am using Contentify 3.0
I am using this code to add more than 1 image:

public static $fileHandling = ['image1'=> ['type' => 'image'],'image2' => ['type' => 'image'],'image3' => ['type' => 'image']];

Images are uploading

[2020-07-05 13:33] chriskonnertz commented on #621
Hello,

well, this is possible with Contentify and yes, you need to enhance the `$fileHandling` attirubte of the model. 👍
Looks good what you did so far.

Can you please post the code of the tempalte (the upload form) as well?

[2020-07-05 13:37] chriskonnertz commented on #620
Hello,

yeah that does not seem to be a problem of Contentify but of one of the libraries it uses.
That's bad because we do not want to modify there code.

Any chance that you try it again with PHP 7.3 or less? 7.2 and 7.3 are "old" but still get updates ( https://www.php.net/supported-versions.php ) so it's safe to use them.

[2020-07-05 13:42] chriskonnertz commented on #619
Hello,

well it depends, there are two layouts for the news overview page, a classic one and one that uses JavaScript for infinity scrolling, so you do not need to have pagination but can simply scroll down.

I'll check this out.

[2020-07-05 13:47] chriskonnertz commented on #619
Update: Pagination seems to work fine in the classic view. So I am not sure what the problem is here... again, the default view that you probably see uses JS for infinite scrolling, therefore you do not need pagination.

You can see what I mean by infinite scrolling here :http://94.177.246.237/
Please scroll down, and news will be loaded automatically.

[2020-07-05 13:49] chriskonnertz commented on #618
Hello,

awww that annoying error :P

I'm not an expert in server configuration and so I cannot help, sorry.
Your server is not allowing Contentify to access that file.

https://github.com/Contentify/Contentify/wiki/Troubleshooting#open_basedir-restriction-in-effect

[2020-07-05 13:54] chriskonnertz commented on #617
Hallo,

das Löschen von Benutzern ist nicht möglich.

Der Grund dafür ist, dass an einem Benutzer sehr, seeeeehr viel Content hängen kann. Vor allem wenn dieser Benutzer ein Admin ist, dann kann sozusagen die halbe Datenbank mit diesem Benutzer verknüpft sein. Man müsste dann entweder sämtlichen neuen Content neu zuordnen oder aber löschen. Das ist in mehrerlei Hinsicht sehr aufwendig. Daher kann

[2020-07-05 13:56] chriskonnertz commented on #613
Hallo @renegade1337

Hatte sich das irgendwie lösen lassen?

[2020-07-05 16:54] DrCha0z commented on #619
@chriskonnertz

ich denke genau darum geht es ja. Das die Seite eben nicht unendlich Scrollbar ist. Sondern das sie nach einer Anzahl von News Gecabt werden soll. Sonst wird man ja irgendwann bis ans unendlich scrollen um das untere der Seite zu sehen.

[2020-07-05 18:59] renegade1337 commented on #613
Leider nein

[2020-07-06 04:23] abhishek0306-innverse commented on #619
Thank you all for your kind help. I will definitely try this. Thanks again.

[2020-07-06 18:04] Stormez1998 commented on #617
Danke :) Das Probiere ich mal. Da ich mit SQL nicht ganz vertraut bin kannst du mir sagen wie ich in die Datenbank reinkommen und diese Werte änder, das ganze über Comands? @chriskonnertz

[2020-07-19 01:11] Trickfilm400 commented on #613
Selber Fehler hier auch, mit versch. PHP versionen

[code]

[2020-07-20 21:06] DerMetzger opened #622 "News schreiben"
Wenn ich eine News schreibe wird sie auf der Startseite angezeigt, aber sobald ich sie anklicke auf der Startseite kommt die Meldung:
ERROR
Sorry, something bad happened. Our website has crashed.

Don't worry, we will handle this. In the meantime, make a cup of coffee. And stop crushing our website!

An was kann das den liegen?

[2020-07-26 00:13] #600 closed, assigned to chriskonnertz

[2020-07-26 00:13] #599 closed, assigned to chriskonnertz

[2020-07-29 04:49] #601 closed, assigned to chriskonnertz

[2020-08-01 21:15] ShibiGG opened #623 "3.0 Issue with navigation/menu not working"
Hi!

Having a fresh install on Ubuntu machine, tested with both php 7.2, php 7.3, did apache mod rewrite made sure it loads the site etc.

Can't manage to get navigation to work, it won't load at all the pages or anything, i've tried finding my issue around here but i can't

http://94.46.45.98/ < that's the server for testing. Please check 😄

[2020-08-10 01:38] #451 closed, assigned to chriskonnertz

[2020-08-15 03:12] #605 closed, assigned to chriskonnertz

[2020-08-15 03:12] #236 closed, assigned to chriskonnertz

[2020-08-15 03:12] #603 closed, assigned to chriskonnertz

[2020-08-15 03:12] #604 closed, assigned to chriskonnertz

[2020-08-17 11:40] #583 closed, assigned to chriskonnertz

[2020-08-17 11:40] #609 closed, assigned to nobody

[2020-08-18 00:42] GAe-Cyen opened #624 "Version 3.0 disk_free_space error"
Guten Abend,

ich habe das problem das ich immer wieder diesen error bekomme mit disk_free_space..

Ich konnte leider nirgendswo hinweise finden wie ich den fehler beheben kann.

Hier ein Screenshot dazu: http://prntscr.com/u1aooj

Ich würde mich über hilfe sehr freuen!

Liebe Grüße
GAe-Cyen

[2020-09-08 18:07] elektrikmoonkey commented on #623
Yeah here the same.
Very simple installation
php 7.2
Not even when i create new pages i can access to them.

Anyone have any idea what is happening with this CMS ? Very promising but is useless to me if i cant do this simple things.

What i did
intall fresh CMS, i have tried 3.0 and now 2.6
goto admin panel > daily content > pages
create new > put title Day1 or test or what ever and save
Then if y

[2020-09-08 18:29] macarao9876 commented on #623
I've same issue here @elektrikmoonkey ... infact i've sent a mail asking for help few hours ago about it.

[2020-09-09 03:56] elektrikmoonkey opened #626 "Problem with nav, and adding pages PLEASE HELP"
Hi There
Recently i have found this CMS and it seems nice but i cant figure out how to create the simple things.

Tried installing over and over again wtih different pHp version, etc and the result is always the same.
I cant view a page that i create on the admin panel.
The db gets this new entry. But the only page i can see is the one that is already there very "Impressum" kkk
link comes visible

[2020-09-09 03:59] elektrikmoonkey commented on #626
Changing
  public function show(int $id , string $slug = null, $isImpressum = false)
    to
 public function show(int $id = null, string $slug = null, $isImpressum = false)

Fixed the above error
 NotFoundHttpException
No query results for model [App\Modules\Pages\CustomPage].

But returns with the 404 :/

[2020-09-09 04:34] elektrikmoonkey commented on #626
ok guys i found the problem
was missing the .env with my db details
Cheers

[2020-09-12 14:01] stanginator opened #627 "public/cups/matches/confirm-left/"
hello i have a one problem whit confirm score  matches
,
`ErrorException (E_NOTICE)
Undefined variable: left`

`     * @param int $rightScore The score of the participant on the right side
     * @return Match|null Returns the next match or null if there is no next match
     * @throws MsgException
     */
    public function confirm(int $leftScore, int $rightScore)
    {
        if ($leftScore ==

[2020-09-13 00:06] stanginator commented on #627
please help me :(

[2020-09-13 22:39] stanginator commented on #451
ciao riscontro alcuni problemi puoi aiutarmi?
Quando inserisco un risultato nel Cups brackets mi dice Undefined variable: left

[2020-09-15 18:33] chriskonnertz commented on #627
Hello,

big refactoring mistakes happened there - should be fixed now in the last two commits! https://github.com/Contentify/Contentify/commits/3.0

[2020-09-15 18:33] #627 closed, assigned to chriskonnertz

[2020-09-15 18:35] chriskonnertz commented on #626
Hi,

glad you managed to fix it! :)

[2020-09-15 18:35] #626 closed, assigned to chriskonnertz

[2020-09-15 18:36] chriskonnertz commented on #623
Hello,

look ath this issue please: https://github.com/Contentify/Contentify/issues?q=is%3Aissue+is%3Aclosed

@macarao9876 Pleas elet me know if that helped :)

[2020-09-15 18:39] chriskonnertz commented on #624
Hallo,

faszinierender Fehler, wenn ich das mal so sagen darf.

Ok, Quick 'n Dirty Workaround: Lösch das einfach (Zeile 37-40) :P
Das ist nur als Information für die Admins der Website gedacht, halt wenn der Speicher auf dem Webspace knapp wird.

Wobei du mir helfen würdest wenn du mir verrätst wie groß dein Webspace ist? 🤔

[2020-09-15 18:44] chriskonnertz commented on #624
Du könntest auch mal versuchsweise ein try-catch um den Block bauen:

[code]

[2020-09-15 18:47] chriskonnertz commented on #622
Hallo,

schwer zu sagen, da der konkrete Fehler dir vom CMS nicht genannt wird.

Der steht im Fehlerlog. Das Log kannst du im Admin-Bereich einsehen.

[2020-09-15 23:31] GAe-Cyen commented on #624
Ich probier das morgen gleich mal aus.

Mein Webspace hab ich bei Strato und hab 100 GB Webspace.

[2020-09-30 11:59] SN4RX opened #628 "Change of names in the administration panel."
In which file can I translate these names?

1. Dashboard
2. Pages
3. Images
4. Cash Flows

![image](https://user-images.githubusercontent.com/31413045/94682293-0192c000-0325-11eb-9f67-5e38933af2eb.png)

[2020-09-30 17:39] chriskonnertz commented on #628
Hello,

well in the English translation file you find the dashboard translation here:

https://github.com/Contentify/Contentify/blob/b06e01b7d3a9392a22f596c807a8cd81ad9a95d7/resources/lang/en/app.php#L270

It’s the name of the module (lower cased) prefixed with `object_`. Same scheme is used for the other translations.

I hope this helps.

[2020-09-30 17:42] SN4RX commented on #628
![image](https://user-images.githubusercontent.com/31413045/94720535-e5a71280-0354-11eb-865d-fe2048430c9f.png)

Unfortunately, I had this translated before and the "dashboard" only changed in one place.

![image](https://user-images.githubusercontent.com/31413045/94720701-15eeb100-0355-11eb-904b-2691408a8089.png)

[2020-09-30 19:46] chriskonnertz commented on #628
Well the navigation is cached. Clear the cache then you should be a me to see it. U can clear the cache with an artisan command or by deleting the files in the cache folder (be careful though not to delete something from wrong).

[2020-09-30 20:01] SN4RX commented on #628
Oh thanks for your help - clearing the cache did the trick, I still have a question about changing these strings, where can I change it?

![image](https://user-images.githubusercontent.com/31413045/94733694-71766a00-0368-11eb-92a1-9bb12f873b86.png)

[2020-09-30 23:54] chriskonnertz commented on #628
Well these are not translated.

There are located here:
https://github.com/Contentify/Contentify/blob/b06e01b7d3a9392a22f596c807a8cd81ad9a95d7/resources/views/backend/navigation.blade.php#L6

[2020-10-02 13:57] KaliStudio opened #629 "error video"
hello, I am using version 3.0 and when I upload a video and want to watch it I get the error code:

[code]
`

[2020-10-02 18:37] SN4RX opened #630 "2 errors, search and news."
I get an error when I try to search for something, here's a picture of the logs.

![image](https://user-images.githubusercontent.com/31413045/94957946-fab7a900-04ee-11eb-9090-ce8eb0df9b30.png)

When I try to enter the latest news, I get an error, here is a photo from the logs.

![image](https://user-images.githubusercontent.com/31413045/94957997-0f943c80-04ef-11eb-9d42-74e01fdfbeec.png)

Contentif

[2020-10-06 00:09] KaliStudio commented on #629
I modified :
[code]

by

[code]

in "bootstrap/cache/packages.php" and it works now

[2020-10-06 00:09] #629 closed, assigned to chriskonnertz

[2020-10-09 08:00] oldgamr opened #631 "Installation Error - The Page Has Expired"
Hello,
While trying to install Contentify 3.0 I receive the following error on step 3.

"The page has expired due to inactivity.

Please refresh and try again. "

I have tried PHP 7.3 and 7.4
Server is running Ubuntu
Host is Dreamhost. Shared

I get green check marks on all installation requirements

I have installed several other php scripts based on Laravel on this same server.

[2020-10-25 18:40] kamohy opened #632 "Blocklist"
Hallöchen :D

Wir sind wieder da...
eine unser websites läuft mit CF 3.0
Allerdings kommen wir mit dem blocken nicht hinterher...
Ihr kennt das: BOTS die uns zuspammen

Tipps & Tricks ?

Wo aktiviere ich recaptcha ?
Könntest du die blocklist zu wildcard umfunktionieren ? das meiste sind nämlich subdomains.

Standart block hilft nicht bei: sdgmaipop.com da dort gefühlt 3 mrd subdomains existieren.

[2020-10-26 18:51] DrCha0z commented on #632
Ahoy, ich kann dir nicht sagen was es ist, warum es so extrem anfällig ist. Aber bei uns haben wir sogar mit Google reCaptcha noch ettliche spam Registrationen und spam Nachichten pro Tag.

Ich nutze zwar noch 2.6. Aber soweit ich das weis ist eh noch kein ReCaptcha integriert. Du musst es eh manuell hinzufügen.

[2020-10-26 18:55] kamohy commented on #632
Die Frage ist nur wie setze ich ein neues Captcha system ein...
Es gibt ein Captcha, das is aber unbrauchbar...
genauso wie das Domain's sperren...
Wie finden einfach nicht den Ort wo wir das neu bestimmen können und das nervt tierisch
Das blocksystem ist nutzlos leider...

[2020-10-26 18:58] DrCha0z commented on #632
Ja das Standard ding kanns du total vergessen....

Hier hast du eine Anleitung wie du Google Recaptcha einbaust.---> https://github.com/Contentify/Contentify/wiki/FAQ#how-can-i-use-google-recaptcha-instead-of-the-default-captcha

[2020-10-26 19:02] DrCha0z commented on #632
Aber wie gesagt, bringt leider auch nicht viel.
Meine Lösung momentan siehst du hier xDDD

https://xeeders.de/auth/registration/create
https://xeeders.de/contact

Ich habe inzwischen die Registration und die Kontaktwege komplett dicht gemacht. So habe ich zumindest ruhe. Und wenn sich jemand Registrieren möchte nenne ich eben eine Datei um und es geht kurzfristig wieder.

[2020-10-26 19:06] kamohy commented on #632
is aber auch nicht sinn und zweck *hmpfs*
danke für den wiki-hinweis mal sehen was wa noch hinbekommen...

Die letzte Version wo wir viel mitgewirkt haben war version 2.5 :D

[2020-10-26 19:09] DrCha0z commented on #632
für mich hat sich ein wechsel auf 3.0 noch nicht gelohnt. Weil einiges was drin ist eh von mir kam bzw immer der Ansatz dazu. und bei mir läuft es alles wie gewünscht. Ich habe meine Matchansicht wie ich sie haben möchte ich habe meine  Teamansicht, meine Galerie. Das einzige was bei mir noch in Arbeit ist, ist das Captcha und Galerie Backend.

[2020-10-26 19:17] DrCha0z commented on #632
Nun nochmal zum Abschluss zum Thema Spam.

Hier mal eine kleine Grafik die ganz gut zeit wann deine Seite interessant für Spam angriffe ist.
https://puu.sh/GH2JQ/58e830bbfa.png
Dort sieht man ganz genau sobald ich die Registration zulasse habe ich dementsprechend auch die zugriffe auf die Seite. Sobald ich es "aus" habe sind diese zugriffe erst gar nicht existent.
Wie gesagt ich weis nicht was den

[2020-10-26 19:22] kamohy commented on #632
mhmm ich glaub ich hab ne idee, ich glaube das es einen registrierungs-code gibt.
quasi sowas: http://xyz.de/registration/create/?path=email_user_passwort
jetzt nicht genau so aber sowas in der art.
und dann würde ein captcha auch nichts bringen

[2020-10-26 19:57] kamohy commented on #632
ich hab noch ne Idee. Ich werd die Registrierung umschreiben :D
mehr Pflichtfelder einbauen ^^
das wär glaub ich noch eine Option.

[2020-10-26 20:50] DrCha0z commented on #632
Sagt dir der "HoneyPot" etwas?

habe ich auch schon versucht - "erfolglos"

Ich glaube auch mehr pflichtfelder wird einen Bot nicht jucken. Wie gesagt habe es mit dem Honeypo versucht (mehrzeilig).

[2020-10-26 20:53] kamohy commented on #632
also bei mir wurde es scheinbar schon reduziert
du musst nur rules einsetzen
mal sehen wie weit ich gehen muss dafür

[2020-10-26 20:56] kamohy commented on #632
aber, ich glaube meine aussage bestätigt sich, das es ein schnellregistrierungs-script gibt.
denn trotz das ich neue Pflichtfelder angegeben habe kommen ein paar durch mit, username-email-pw

[2020-10-26 20:58] DrCha0z commented on #632
Dagehe ich auch absolut von aus, man sieht es ja auch in der DB

[2020-10-26 20:59] kamohy commented on #632
chris müsste also den registrierungs-weg nur minimal umschreiben das würde das script quasi abschießen.

[2020-10-26 21:01] DrCha0z commented on #632
mir fehlt es eh im Backend, das man dort die Registration Administriren kann. zb muss per mail bestätigt werden oder sowas

[2020-10-26 21:03] kamohy commented on #632
das würde nichts bringen weil es dennoch den server flutet
die user sind ja trotzdem da...

[2020-10-26 21:06] DrCha0z commented on #632
Das ist richtig. Sollte auch kein lösungsweg sein sondern nur ncoh ein feature...

Das Thema mit dem Spam steht ja auch nicht erst seit GESTERN an ;)

Ich habe dazu vor ewigkeiten schon geschrieben zu 2.5 Zeiten.

[2020-10-26 21:09] kamohy commented on #632
ja aber täglich innerhalb von 8 std über 1000 neu-registrierungen sind schon hart

[2020-10-26 21:11] DrCha0z commented on #632
ja das auf jeden Fall. Darf man fragen um welches Projekt es geht?
nicht um http://www.deathkings.de oder?

[2020-10-26 21:12] kamohy commented on #632
doch :D genau darum
bin fleißig am clearen :D
andere seiten gehen erst wieder online wenn wir wissen, wie wir das in den griff bekommen

[2020-10-26 21:15] DrCha0z commented on #632
Ah okey, hatte mich schon gewundert. Weil das alles so aussieht als ist es noch 2.5

[2020-10-26 21:16] kamohy commented on #632
ja haben es gestern ge-updatet
natürlich müssen wir unsere configs wieder eintragen.
ist aber aktuell zweitrangig

[2020-10-26 21:17] DrCha0z commented on #632
ja klar, verstehe ich. Wie gesagt mich hat das Thema Spam so runter gezogen, das ich dann halt kurzen Prozess gemacht habe und nun Die Reg. immer frei schalte wenn es nötig ist.

[2020-10-26 21:19] kamohy commented on #632
ideen haben umsetzen und schauen. so machen wa jetzt erstmal weiter

[2020-10-26 21:20] DrCha0z commented on #632
Ich bin mal gespannt :D

[2020-10-26 21:22] kamohy commented on #632
was halt nervt ist: blockliste, man trägt domains ein und sie registrieren sich halt trotzdem
grund: es ist ein url-script... und das muss man abändern
mal sehen wie...

[2020-10-26 21:29] kamohy commented on #632
ich habs denke ich, etwas was sie nicht faken können in dem sie einfach den namen eintragen
geburtstag in dem nur zahlen angegeben werden dürfen quasi numerisch und sonderzeichen
muss nur noch rausbekommen wie ich diese regel umsetze

[2020-10-26 21:47] kamohy commented on #632
würd ihm gern sagen das er nur zahlen und nen punkt erlauben darf...
sowas quasi: /^[0-9]\.
aber ick weiss nicht wie... mist...

also nur buchstaben ist: alpha_numeric_spaces
nur zahlen is numeric aber was ist sonderzeichen und wie erlaube ich disbezüglich nur den **.** ?

[2020-10-27 15:23] DrCha0z commented on #632
non-alpha_numeric
_alpha_dash_space

evntuell?!

[2020-10-27 15:33] kamohy commented on #632
nope wir haben eingegeben: date
allerdings erlaubt das Bindestriche also geht es von vorn los...
recaptcha einbauen sehe ich noch nicht ganz durch aber naja wird schon noch

wir haben folgende idee nun:
wir werden ein bereich hinzufügen der quasi prüft obs nen bot ist durch eine frage die beantwortet werden muss
und das richtig
mit drei worten oder so
mal sehen was dann passiert
fakt ist wir haben

[2020-10-27 15:34] DrCha0z commented on #632
'password' => 'required|
       min:6|
       regex:/^.*(?=.{3,})(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[\d\X])(?=.*[!$#%]).*$/|
       confirmed',

Hier hättest du auch nochmal eine abfrage für laravel in form des Passwortes. vlt kannst du es dir anpassen

Hier musst du mindest 3 von jedem eingeben.

[2020-10-27 15:38] kamohy commented on #632
gute idee, werd ma schauen was ich daraus machen kann.

[2020-10-27 20:08] kamohy commented on #632
ich weiss jetzt wie die blockliste funktionier -.-*

[2020-10-27 20:09] DrCha0z commented on #632
Na dann klär uns doch mal auf

[2020-10-27 20:12] kamohy commented on #632
also ich hatte das so gemacht wie im beispiel:
mail.ru, m-dnc.com
führte nur zu nix -.-*
richtig ist es so:
mail.ru,m-dnc.com

nur das komma für die trennung...
wildcard ist dennoch inaktiv

[2020-10-27 20:20] kamohy commented on #632
okay hab den code erweitert ums leerzeichen damit es etwas sortiert aussieht
allerdings wie bestimme ich die entertaste -hmpfs-

[2020-10-27 20:27] DrCha0z commented on #632
Halt mich für dumm. Ich finde keine Blockliste... musstest du sie manuell anlegen? Wo hast du eine Anleitung dazu gefunden?

[2020-10-27 20:27] kamohy commented on #632
nein die is ab dem 2.6 update dabei

[2020-10-27 20:28] DrCha0z commented on #632
wo genau liegt sie?

[2020-10-27 20:34] kamohy commented on #632
lad dir das aktuelle runter
dann such nach:
email_domain_allowed

[2020-10-27 20:36] kamohy commented on #632
$forbiddenDomains = explode(',',' ', $forbiddenDomainsString);

das bitte eintauschen in: app/Providers/AppServiceProvider.php
zeile 42

[2020-10-27 20:37] kamohy commented on #632
ich muss jetzt nur noch rausbekommen wie ich eine wildcard erstelle

[2020-10-27 20:46] DrCha0z commented on #632
[code]

Sollte dann so aussehen oder?

[2020-10-27 20:52] kamohy commented on #632
ja
wenn du mir nun noch sagst wie man ein ENTER einträgt wär ich zufriedener

[2020-10-27 20:54] kamohy commented on #632
achja brauchste ne aktuelle Blocklist ?

[2020-10-27 20:57] kamohy commented on #632
\Validator::extend('email_domain_allowed', function($attribute, $value, $parameters, $validator) {
            $forbiddenDomainsString = str_replace(' ', '', Config::get('app.forbidden_email_domains'));
            $forbiddenDomains = explode(',',' ','', $forbiddenDomainsString);
            return ! in_array(explode('@', $value)[1], $forbiddenDomains);
        });

so muss der code aussehen

[2020-10-27 20:58] kamohy commented on #632
die emails werden in phpmyadmin - > config -> gespeichert, die kannste via ACP speichern.

[2020-10-27 21:09] kamohy commented on #632
so und nun muss nur noch dazugecodet werden, wie man subdomains automatisch sperrt...
super das übersteigt mein können

[2020-10-27 21:12] DrCha0z commented on #632
Hmm. mein Problem ist schon das ich leider doch noch auf der 2.5 bin und nicht wie ich fälschlicher weise schon dachte auf der 2.6.
Demnach müsste ich erstmal updaten damit ich alles in der DB habe. eine manuelle Integration scheint mir nicht sehr optimal. Ich stehe einem Update gegenüber aber sehr skeptisch, da ich viele Änderungen habe und keine Dokumentenmatrix von Anfang an habe. Und ich auch

[2020-10-27 21:15] kamohy commented on #632
das is ne gute idee

[2020-10-27 21:18] kamohy commented on #632
dennoch muss es doch zu machen sein, irgendwie, auch subdomains zu sperren...
bisher muss man diese auch manuell sperren...

[2020-10-27 21:42] kamohy commented on #632
und mann kann nicht komplette mails sperren...

[2020-10-28 12:02] kamohy commented on #451
Vorschläge die umgesetzt werden könnten.

1. Das Logo -> Im Config bereich sollte man das ändern können, das machts einfacher und würde über di DB gesteuert werden können. (bei einem Update könnte es somit nicht überspielt werden)

2. Infomailer -> das hatte ich schonmal vorgeschlagen, als möglichkeit für Admins emails zu versenden an alle user

3. blocklist

- man sollte eine wildcard einsetzen,

[2020-10-29 14:38] chriskonnertz commented on #632
Hi,

ich versuch hier später mal durchzublicken. 😅

[2020-10-29 19:20] kamohy commented on #632
brauchst ne kurzfassung?

[2020-11-02 08:44] exqua commented on #631
same!

[2020-11-02 09:34] kamohy commented on #632
wieder knapp 2.000 anmeldungen pro seite...
Soviele E-Mail-adressen kann ich nicht speichern.. das hört nämlich nie auf

[2020-11-13 10:20] CptDreadbeard opened #633 "Starting off - Lacking files?"
Hello!
Please bear with me here... I did go through a Laravel course to get an idea how this CMS works, but i feel like i am missing something. I just can't find the view responsible for the demo file. Neither the web.php, nor the views folder give me a hint as to where to start off. The Guide here on Github states that there is a "frontend" views folder, which is missing for me when cloning the r

[2020-11-13 11:35] chriskonnertz commented on #633
**Hello**

I guess you are talking about this file?
https://github.com/Contentify/Contentify/blob/3.0/app/Modules/MorpheusTheme/Resources/Views/layout.blade.php ( `app/Modules/MorpheusTheme/Resources/Views/layout.blade.php`)

https://github.com/Contentify/Contentify/blob/3.0/routes/web.php (`routes/web.php`)

https://github.com/Contentify/Contentify/tree/3.0/resources/views (`resources/views`)

Oh

[2020-11-14 12:37] CptDreadbeard commented on #633
Hey,
thanks for the fast reply! I didn't see the Morpheus Theme folder! Now after reapplying the theme in the admin Dashboard, everything is working as intended :)

[2020-11-14 12:37] #633 closed, assigned to chriskonnertz

[2020-11-24 18:43] kamohy commented on #632
@chriskonnertz und schon ne idee ?

[2020-11-26 16:28] DrCha0z opened #634 "Link Probleme"
Hey,

heute ist mir aufgefallen das wir einige Probleme mit Links haben.
Beispiele: Matchlinks, Partnerlinks oder Videolink geben einen Error.

Wüsste nicht was ich verändert habe, vileicht funktioniert es auch schon länger nicht mehr.

Jemand eine Antwort?

www.xeeders.de hier gerne mal testen.

Lg

Dennis

[2020-11-26 16:32] DrCha0z commented on #634
Habe den Fehler anscheinend gerade selber gefunden.
Es lag an der PHP Version. Ich hatte Version 7.2.34 genuzt und das bei Contentify V2.5
Mit der Version 7.0.33 Funktioniert es nun wieder

Lg

[2020-12-30 22:46] Jannik2017 opened #635 "Installation Error V3.0"
Tips to create a new issue

- Please mention the version of Contentify V3.0
![contetify_error_1](https://user-images.githubusercontent.com/25689308/103385046-269bf800-4af9-11eb-9d61-0fb67f30d741.png)

    - using Linux,
    - Using Plesk
    - using Apache,
    - using MariaDB
-  virtual server

[2021-01-01 19:14] chriskonnertz commented on #635
Hi @Jannik2017

Did that happen after the installation? Might be a problem in the `config` table in the database. Do you have a  tool to administrate the database? Is the `app.theme` value in the `config` value set or is it empty? It should not be empty but if it is it's causing the exception you see ( I think ). If its empty set it to `MorpheusTheme`.

[2021-01-02 20:18] CptDreadbeard opened #636 "Defaulting own Theme!"
Hello!
I looked through the wiki to find how i implement my own theme. I copied the files, changed the slug 'n all. But i sadly can't seem to find the file needed to activate the theme, the website is there but its throwing me following: No hint path defined for ["testingTheme"].

I hope you can give me an answer soon, as i am qutie confused!

Cheers
Captain

Version: Contentify 3.0
    - using Wi

[2021-02-01 11:37] socomlegends opened #637 "News not being updated"
when i post news it dont update or polls

[2021-02-17 18:47] T0to22 opened #638 "V3 Installation Error"
When i've try to install the v3, on the 4º step got that error:

ErrorException (E_NOTICE)
Trying to access array offset on value of type int
![Captura de pantalla 2021-02-17 a la(s) 15 47 16](https://user-images.githubusercontent.com/66976985/108252453-6ebdbb00-7137-11eb-9241-27715a941135.png)

[2021-02-22 19:49] #638 closed, assigned to nobody

[2021-02-23 07:39] chywUa opened #639 "An error occurs when adding an avatar to a profile or any image"
I just installed the latest version downloaded from the site
ERROR
Sorry, something bad happened. Our website has crashed.
Don't worry, we will handle this. In the meantime, make a cup of coffee. And stop crushing our website!
Log:
production.ERROR: Undefined class constant 'ALLOWED_IMG_EXTENSIONS' {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Undefine

[2021-02-27 21:01] chywUa commented on #33
Hi to all! The problem with displaying news has not been solved. I put version 3.0 and the news is not displayed on the main page.

[2021-03-07 14:12] dontknowanything23 opened #640 "Cant Open News. Error"
Cant Open News.
If I open the News then the following is showed:
"Error

Sorry, something bad happened. Our website has crashed.

Don't worry, we will handle this. In the meantime, make a cup of coffee. And stop crushing our website!"

LOG:

[2021-03-07 14:01:54] production.ERROR: Type error: Argument 1 passed to Contentify\Controllers\BaseController::openGraph() must be an instance of OpenGraph,

[2021-03-07 14:37] dontknowanything23 commented on #640
Solution: https://github.com/Contentify/Contentify/issues/580#issuecomment-535019285

[2021-03-07 14:37] #640 closed, assigned to nobody

[2021-03-20 10:29] kamohy commented on #632
Passiert hier noch etwas ?

[2021-07-07 15:46] luciglesias opened #641 "Dificult to join a cup team"
Hello!

In version 3.0 of Contentify there I find a bit complicated to join a players to a cup team. The only way that we found to do it was shearing link of the team from the player that created the team to the others players to join.

- Is there an easy way?
- We are thinking to build a module in "my teams" to find teams from other players and click join. What do you think?

Thanks in advance!

[2021-07-12 16:41] chriskonnertz commented on #641
Hello,

There should be a button on the team page so people can click the button to join:
https://github.com/Contentify/Contentify/blob/3.0/app/Modules/Cups/Resources/Views/show_team.blade.php#L74
[code]

Sure, good idea! There could be a search field where you can type names to find other teams?

[2021-07-28 10:24] LeventeNagy opened #642 "Nightmare to install v3.0"
So I gave it a try, trying composer install get the following error

composer.json, changed name from _"name": "Contentify/Contentify",_ to _"name": "contentify/contentify",_

Before anything else would go wrong, running composer update, getting another error

okay, running _composer update --ignore-platform-reqs_

Get lot of errors, but the main one is this **Carbon 1 is deprecated, see how to mi

[2021-07-28 19:13] chriskonnertz commented on #642
Hello @LeventeNagy ,

thanks for your feedback. I'm trying to update Laravel from 5.5 (LTS) to 6 (LTS) which supports PHP 8 ( https://github.com/laravel/laravel/blob/6.x/composer.json#L11 )

I have rushed to 5.8 so far, and will try to get to 6 quickly.

https://github.com/Contentify/Contentify/tree/3.1

[2021-07-30 07:46] LeventeNagy commented on #642
Thanks, I will fork Contentify and see what I can do to give a hand

[2021-07-30 18:10] chriskonnertz commented on #642
@LeventeNagy Great! I have just uploaded the changes that are necessary to upgrade to Laravel 6 according to their docs.

**_This is untested though and probably has errors_**, because the dependencies are not yet updated.

[2021-07-31 20:06] chriskonnertz commented on #642
Fixed dependencies. You still will have to use the option to ignore platform requirements when doing `composer install`, however, the dependencies *should* work with PHP 8.

[2021-08-01 07:03] LeventeNagy commented on #642
thank you

[2021-08-01 07:03] #642 closed, assigned to chriskonnertz

[2021-08-01 12:33] chriskonnertz commented on #642
No problem, I have made more changes and it runs now on PHP 8.x.

I have tagged it as 3.1-beta: https://github.com/Contentify/Contentify/releases/tag/v3.1-beta

I have not done many tests, just checked if the frontend and backend works (so login works as well) and wrote a news (so RSS works).

[2021-08-01 17:27] chriskonnertz commented on #642
Tested more, fixed some stuff, but also found out it was running on PHP 8 only in the console but with 7.4 in the web, so I am not sure how well it runs with PHP 8.

[2021-08-02 12:38] LeventeNagy commented on #642
I haven't tested it yet, I will give it a spin tonight

[2021-09-05 20:01] hardhout opened #643 "Installation error: File(/storage/app/.installed"
While installing v3.0 on Centos 8 with DirectAdmin I am receiving the following error.

`file_exists(): open_basedir restriction in effect. File(/storage/app/.installed) is not within the allowed path(s)`

When I create an empty file `/storage/app/.installed` I am receiving a http500 error without any desprition.

I am following [this guide.](https://github.com/Contentify/Contentify/wiki/Installat

[2021-09-07 15:34] hardhout commented on #643
I got past this problem but I am not sure how.

I think I got past this problem by changing the to `https://domain.extension`. I have forced SSL for the domain in DirectAdmin

[2021-09-09 17:46] chriskonnertz commented on #643
Hello,

glad to hear you managed to fix it!

Perhaps, I don't know... it's a weird server problem from my point of view.

[2021-10-31 08:53] #643 closed, assigned to chriskonnertz

[2021-10-31 08:55] hardhout commented on #639
Same issue here. Anybody any clues?

[2021-11-02 03:15] azazel-xes opened #644 "install.php Launch Installer button sends to a 404 Not Found Page"
Hi,

I have setup the requirements to install Contentify 3.1 in Apache2 web server as shown in the image below

![contentify_install_page](https://user-images.githubusercontent.com/14966309/139779898-c1f560b1-e9de-4a76-8d24-ee208a49b1dd.png)

I have setup an Apache Virtual Host for my Contentify installation as shown in the image below
![Contentify_Virtual_Host](https://user-images.githubuserconte

[2021-11-02 14:40] chriskonnertz commented on #644
Hey,
did you use 3.1 beta? Please use this version, older version are outdated.

[2021-11-02 14:45] chriskonnertz commented on #639
Hello,

the const was referencing the wrong class.

Fixed in https://github.com/Contentify/Contentify/commit/c7c18e1724be43e5ac67f82c0fbefd796cde3695

Thanks!

[2021-11-02 14:45] #639 closed, assigned to chriskonnertz

[2021-11-02 19:27] azazel-xes commented on #644
Hi Chris,

Thanks for replying, yeah I did use the 3.1 beta from this link

https://github.com/Contentify/Contentify/releases
![Contentify_3 1_beta](https://user-images.githubusercontent.com/14966309/139934915-595b8d4d-d256-4900-a4a5-6c4d125a0a8b.png)

[2021-11-06 16:53] hardhout commented on #620
Is this still a thing? I am experiencing the same issue during installation after applying the database credentials.

Running Centos 8 Stream with latest DirectAdmin.
Frist screen of the installation says:
`<html>
<body>

PHP-Version: | Yes, 7.4.25
-- | --
 
PHP Fileinfo Extension: | Yes
PHP Pdo Extension: | Yes
PHP Mbstring Extension: | Yes
PHP Tokenizer Extension: | Yes
PHP Openssl Extension: |

[2021-11-07 19:42] azazel-xes commented on #644
I have solve my issue.

1-. Instead of using the /www/var directory use /home/user/yourAppName
2. Create a virtual host file with the following
`<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName contentify.com
    ServerAlias www.contentify.com
    DocumentRoot /home/user/Web/contentify/public
    <Directory /home/user/Web/contentify/public/>
       Options Indexes FollowSymLin

[2021-11-07 19:42] #644 closed, assigned to chriskonnertz

[2021-11-08 20:06] azazel-xes opened #645 "PHP 8.0 word Match installation issues with Contentify ver. 3.1 (unexpted token "::"...)"
When trying to install Contentify ver. 3.1 using php 8.0.12 a lot of issues appeared in the installation process, all related to the Matches modules every time the code tried to use the element Match because it seams that Match is a reserved word in php 8

I got a hint from this stackoverflow post [syntax error, unexpected token "::" when calling "all()" or "get()" in Laravel 8](https://stackoverf

[2022-01-17 13:53] mazzorini commented on #645
same here :/

[2022-01-19 19:43] azazel-xes commented on #645
Hey Mazzo

You just need to rename the PHP Reserved word "Match" for whatever you want, just follow the steps I describe above and you'll be fine.

[2022-06-02 07:40] SlavenTV opened #648 "Problem Useranzeige"
Hallo,

ich bin gerade dabei eine neue Seite aufzubauen auf Contentify 3.1.
Die Installation habe ich nach langem hin und her hinbekommen wenn ich die php version von 8 auf 7 runterstelle.

Allerdings bekomme ich jetzt beim aufrufen von einem Userprofil folgende Fehlermeldung:

![FehlerUsers](https://user-images.githubusercontent.com/28620056/171579042-5e55c429-cc52-4125-bc65-355565c3df90.png)

Ic

[2022-06-02 07:52] SlavenTV commented on #648
Er hat wohl Probleme mit dieser ends_with Methode die er nicht kennt

[2022-06-04 16:07] chriskonnertz commented on #648
Hallo,

irgendwie scheinst du nicht auf dem aktuellen Stand zu sein:

https://github.com/Contentify/Contentify/blob/3.1/contentify/Models/BaseModel.php#L81

![image](https://user-images.githubusercontent.com/4319323/172014537-5f4e49e1-96b2-4863-9975-0fadcd2a7987.png)

[2022-06-11 18:13] Matlord93 opened #650 "Team Banner kann nicht hochgeladen werden"
Hallo,

Sobald ich versuche bei Teams ein Banner hochzuladen, wird dies nicht angenommen. Hier wird immer nur das Logo hochgeladen. Leider finde ich dort kein Fehler. Sobald ich bei Teams das Image rausnehme und nur Banner drin lasse, wir dies hochgeladen und leider nicht beides.

Leider wird hier auch kein Fehler angezeigt, an was es liegen Könnte.

Version von CMS 3.1 mit PHP 7.4.29 auf Linux.

[2022-06-24 11:50] mazzorini opened #652 "Upload multiple images to the gallery"
Hi,

is there a way to upload e.g. 20 pictures to the gallery at the same time?

Marcel

[2022-06-25 20:24] mazzorini opened #653 "reCAPTCHA v3 help"
Hi,

I think the instructions in the wiki no longer match the code. Does anyone here have an example with 3.1?

Currently I get registrations, but the registration is deactivated. I don't think i can be productive without recaptcha.

[2022-06-26 13:44] chriskonnertz commented on #653
Hello,

The Contentify code or the Google code?

[2022-06-26 13:44] chriskonnertz commented on #652
Hello,

no, if I remember corectly that's not implemented.

I think it's somewhere on a to do list but never got coded.

[2022-06-26 13:45] chriskonnertz commented on #652
Or wait did you try? Press `CTRL` key and select multiple images? 🤔

[2022-06-26 13:52] chriskonnertz commented on #650
Hallo,

dann solltest du mal in den Log schauen (`storage/logs` Ordner). Spontan würde ich auf fehlende/falsche Berechtigung für den Uopload-Ordner tippen

[2022-06-26 16:08] mazzorini commented on #653
The Contentify code is different ;)

Captcha::check(Request::get('captcha'))

[2022-06-26 17:03] Matlord93 commented on #650
Hallo,

Ich habe jetzt grade einmal im Log geschaut, dort ist kein Fehler drinnen.

Weiß du ob es für die Team Banner noch ein ordner geben soll oder geht dies auch direkt beim Upload im Team ordner mit rein?

Ich glaube, dass dort ein Fehler drin ist, wenn man ein Bild manuell einfügt oder die datenbank oder über Model das teamimage tauscht mit banner geht es.

Sobald Teamimage wieder auf der ers

[2022-07-08 17:39] RkanRaz opened #654 "3.0 install issue"
Tips to create a new issue
shared hosting
all green check marks
apache mysql linux
![1](https://user-images.githubusercontent.com/108950409/178042641-6656a6c9-8244-4201-81f1-cae9ccfad1ba.png)
![2](https://user-images.githubusercontent.com/108950409/178042644-bcc800b7-7575-4238-b379-b55d54ab5bd4.png)
![3](https://user-images.githubusercontent.com/108950409/178042646-b5df1c72-9cee-4f99-b3a7-d9c898de

[2022-07-09 18:55] Matlord93 commented on #654
Hello,

Please try to install Contentify v3.1, there it should work, because the version is unfortunately no longer updated and is already very old.

[2022-07-09 22:59] RkanRaz commented on #654
now i get this on 3.1
im new at this any tips on running composer?

<html>
<body>

PHP-Version: | Yes, 7.4.28
-- | --
 
PHP Fileinfo Extension: | Yes
PHP Pdo Extension: | Yes
PHP Mbstring Extension: | Yes
PHP Tokenizer Extension: | Yes
PHP Openssl Extension: | Yes
PHP Json Extension: | Yes
PHP Curl Extension: | Yes
PHP Xml Extension: | Yes
 
PHP Escapeshellarg Function: | Yes
 
Vendor libraries in

[2022-07-10 20:37] Matlord93 commented on #654
Hello,

Please run composer once on your server so that Laravel can install the missing packages.

Here you have to go to your server in the directory of your homepage and run composer install.

[2022-07-11 00:36] RkanRaz commented on #654
Thanks alot guys! I will try this out and see if my clan likes it.

[2022-07-11 00:49] RkanRaz commented on #654
Last dumb question. I got composer and the site running. Now when i go to example https://my.mysite.com i get to the root directory listing. I think it should point to the public directory right?

[2022-07-11 17:57] Matlord93 commented on #654
Hello,

https://github.com/Contentify/Contentify/wiki/Installation

We can read in Wiki what you need to do so that you can not see all folders. Currently your webserver does not route to the public folder, but to the complete directory.

Under this point Get Contentify you can read it.

[2022-07-25 08:06] d0nda opened #655 "Can't install the 3.1 beta version"
Hi all I have an issue I believe idid everything that was written on the wiki page but I just can't install the 3.1 beta version on my web host  can't  seem to figure out why icant move forward from this screen after click it I get HTTP  ERROR 500 ![Screenshot_20220725-100145_Brave.jpg](https://user-images.githubusercontent.com/79589014/180728937-9962ab5c-9adb-469e-aff9-356302db2309.jpg)

[2022-07-25 10:57] d0nda commented on #655
Ok , after going around circles I found a fix on my  problem which was simple i had to go down from my php as it was 8.1 i then switched it to 7.4 that fixed everything , now I have a new issue  which I'm still trying to figure out

[2022-07-25 11:06] d0nda commented on #655
![Screenshot_20220725-130350_Brave.jpg](https://user-images.githubusercontent.com/79589014/180763270-132cc237-fa2e-4184-a3a1-ba2b5b6abef3.jpg)

Im stuck here ... on step 4 of my installation This is the problem I have. Any help would be appreciated 🙏

[2022-07-25 13:11] d0nda commented on #655
![Screenshot_20220725-130211_Brave.jpg](https://user-images.githubusercontent.com/79589014/180785407-7fca5212-facf-4b26-9555-48400e18c68b.jpg)

[2022-07-27 15:33] #655 closed, assigned to nobody

[2022-07-27 15:50] d0nda opened #656 "Error: Could not retrieve the theme name from the config!"
Hi I need help with this error , the script is installed on my website but I get this error every link I click on the live website
![Screenshot_20220727-173858_Brave.jpg](https://user-images.githubusercontent.com/79589014/181291950-e34db000-ae18-44a0-8cf5-7b5580f4cca8.jpg)

[2022-08-23 17:09] Matlord93 commented on #650
@chriskonnertz Hast du eine Idee an was es liegen kann?

[2022-08-23 18:07] Matlord93 commented on #656
I've managed to find a (temporary) fix by manually pointing to the theme.
You'll have to adjust the following line of code;
$theme = Config::get('app.theme');

And point to the theme manually;
$theme = Config::get('app.theme', 'MorpheusTheme');

Seems to work fine.
If anyone has a better solution I'd love to hear it though, but for now I'll close this issue.

https://github.com/Contentify/Contenti

[2022-09-06 10:59] mazzorini opened #657 "Contentify Dead?"
Hey,

is contentify dead?
If not, show your websites ;)

[2022-09-11 15:54] exelv1 opened #658 "hey its omar from gesn WHY CANT I GET THIS RUNNING ON DOCKER"
Tips to create a new issue

- Please mention the version of Contentify that you use
- Please be careful when posting logs, they might contain passwords!
- Please mention any special environment characteristics. For example:
    - using Windows instead of Linux,
    - using Nginx instead of Apache,
    - using MariaDB instead of MySQL
- Please mention the type of hosting (shared hosting, virtual se

[2022-09-21 00:17] exelv1 commented on #657
seriously

[2022-09-21 06:16] mazzorini commented on #657
dead

[2022-10-04 14:59] chriskonnertz commented on #657
Hi,

no, it is not  dead. Maybe **undead** ;)

[2022-10-12 09:33] exelv1 commented on #657
[mail@chriskonnertz.de](mailto:mail@chriskonnertz.de)

[2022-10-12 09:35] exelv1 commented on #657
please help me with this

[2022-10-13 00:10] Stormez1998 commented on #657
@exelv1 Do you need help? Feel free to add me on Discord, maybe i can take a look :) Stormez#7904

[2022-10-18 10:29] #657 closed, assigned to nobody

[2022-10-18 14:47] mazzorini commented on #653
My bad, I could have found out myself

in app/Modules/Auth/Http/RegistrationController.php
` if (! Captcha::checkReCaptcha(Request::get('g-recaptcha-response'))) {
                return Redirect::to('auth/registration/create')
                    ->withInput()->withErrors(['message' => trans('app.captcha_invalid')]);
  }`

[2022-10-18 14:47] #653 closed, assigned to chriskonnertz

[2022-10-18 15:27] mazzorini commented on #652
Its not working with 'CTRL'  👎

[2022-10-19 09:07] mazzorini commented on #636
1. Copy and paste the folder of the module to app/Modules.
2. Delete this file: storage/app/modules.json This file is a cache file with info about the modules and it needs to be refreshed. When you delete it, it will be re-generated automatically.
3. Clear the cache to see new entries in the navigation of the backend. The easiest way is to delete all folders in storage/framework/cache.
4. Go to th

[2022-10-19 10:34] mazzorini commented on #636
Then `php artisan module:optimize`

[2022-10-19 11:31] mazzorini commented on #615
Same with 3.1

[2022-10-19 13:25] mazzorini commented on #650
Same here with 3.1 and PHP 7.4.
The permissions are set correctly. Uploading the team logo is working.

[2022-10-19 13:29] mazzorini commented on #637
I can't reproduce the problem with 3.1.

[2022-10-19 13:30] mazzorini commented on #631
I can't reproduce the problem with 3.1

[2022-10-19 13:30] mazzorini commented on #622
Keine Probleme mit 3.1

[2022-10-19 13:32] mazzorini commented on #654
yes, the start directory of your domain should be .../public

[2022-10-19 13:35] mazzorini commented on #656
which version do you use?
I dont have this problem with 3.1 and php 7.4

[2022-10-19 14:02] mazzorini commented on #615
It is working with PHP 7.3

[2022-10-20 20:58] Matlord93 commented on #650
Hallo chriskonnertz,

Gerne kannst du nach dem Fehler suchen, mittlerweile habe ich das komplette System von dir angepasst und auf Laravel 9 geupdatet und mir eine andere Lösung für das Problem gefunden.

Leider habe ich den Fehler selbst nicht gefunden, warum es hier nicht ging und wo der fehler liegt, da im Laravel log sowie vom Webserver keine Fehlermeldung hinterlegt wurde, warum dies nicht ho

[2022-10-20 21:07] mazzorini commented on #650
@Matlord93 wärst du so nett den Code zu teilen?