[2017-01-21 10:09] #117 closed

[2017-01-21 10:10] chriskonnertz commented on #128
Not with a checkbox in the backend but yes, sure. Where do you want to hide them? (Several places can be affected). For example on the streams page (`http://you-domain.com/stream`): You have to change this line: https://github.com/Contentify/Contentify/blob/2.0-dev/app/Modules/Streams/Http/Controllers/StreamsController.php#L19 To something like this (_disclaimer: I did not test it_):
` $streams =

[2017-01-21 10:16] chriskonnertz commented on #129
As a team? Nope. :p Contentify is not a company so we do not do anything commerical atm. might change in the future but this is the current position.

But you could ask @krysennn (as a person) if he is interested.

Opened in the frontend or in the backend?

[2017-01-21 10:38] krysennn commented on #129
I'm open to help you for fix problem or help you to install Contentify but im sorry atm i have no time for make some tweaks but maybe your tweaks are maybe interessant for other people and you can share it here: https://github.com/Contentify/Contentify/issues/18

[2017-01-21 12:28] nrRudiak commented on #129
Okay thanks @krysennn .Well i think the main issue is i know nothing about linux so installed on standard hosting and its giving me heaps of bugs. The tweaks are very minor like background change but no prob can work those out once got something to play with. Are you able to install for me or just advise when I have issues?

[2017-01-21 12:49] krysennn commented on #129
What sort of hosting have you ? It's small server with ssh access ? Or standard web hosting ??
Because i saw your last issue about installation problem and your website is this http://www.nerdrage.pro/public/ ?

You have some problem maybe because you have "public" in URL it's not best practices for use Contentify

(do you understand me ? Sorry my english is bad.. Im french ^^)

[2017-01-21 12:56] nrRudiak commented on #129
Yes that is correct, we had to put a redirect in the name wasnt sure how to move from /public. And yes its standard webhosting without ssh. If i was to move to the recommended vps is it still posibble to have all our custom emails? As I am more then happy to move to the recommended so can use the site properly, I havent been able to disable modules in the standard hodting either so its a little la

[2017-01-21 13:01] krysennn commented on #129
Oh yes i understand, Contentify is CMS developped with Laravel Framework and Laravel recommand using hosting with SSH access.

If you can order VPS i can help(not this week-end, im not in my home) you for get database and files for migrate to VPS with all good settings and inject your database and files for no lost users and data.

[2017-01-22 13:47] Samaoneill commented on #128
Hi,

Clearing the cache files/folders did the trick, thanks!

I'm looking to hide the offline streams sidebar, I think it's the streamswidget.php. If I change this line

`$streams = Stream::orderBy('online', 'DESC')->orderBy('viewers', 'DESC')->take($limit)->get();`

to something like

`$streams = Stream::isOnline(true)->orderBy('online', 'DESC')->orderBy('viewers', 'DESC')->take($limit)->get();`

[2017-01-22 17:55] Samaoneill commented on #129
Hi, just a quick note. My website is running on digital ocean and I've also noticed the news article dates resetting to the current date/time randomly.

[2017-01-22 21:42] chriskonnertz commented on #52
Notice: For other topics than bugs or problems with the installation, please use the v2.1 issue: https://github.com/Contentify/Contentify/issues/113

[2017-01-23 06:25] acamilleri commented on #129
Ok @maxbrood i will check this ASAP.

[2017-01-23 06:36] acamilleri commented on #125
Hi @vlaad23,

Your website is with HTTPS ? can you add this:

 in your

Like that:
[code]

If it's not working test with

[2017-01-23 17:48] Samaoneill commented on #129
@krysennn
Thanks, I believe I've found the cause of the issue, If I view a news entry in the admin backend it has the correct created date, however on the front end it displays a different date. I believe this date may be the last time it was viewed as it seems to update when I click it and go into the article itself. It is also being sorted by this date.

[2017-01-23 19:28] chriskonnertz commented on #129
Hm I cannot see why/where the CMS tries to update the created_at timestamp (=attribute that saves the time when a news was created). Have to investigate more...

[2017-01-23 19:57] acamilleri commented on #129
@chriskonnertz i search too and i nothing found, i will created news around 6pm and i will check tomorrow if datetime change.

[2017-01-24 10:17] PureLoneWolf opened #131 "Just installed - Can't access Modules"
#Hi there

I have just installed, from fresh and everything went great.  I was looking at the backend and getting used to everything when I clicked on the Modules option under Website.  At that point, I get an error:

`ErrorException in Collection.php line 1187:
Undefined index: enabled`

I searched, but only found one question about this but no solution.  If someone could help that would be great

[2017-01-24 20:24] acamilleri commented on #129
I understood ^^

When you are in `/news/1/test` it's :

when you are in `/` its :

So @chriskonnertz what do you prefer ? maybe updated_at it's more interessant when admin updated news and maybe in show.blade.php we can add `updated at {{ $news->updated_at }}` ?

[2017-01-24 20:56] lolbob181 commented on #129
The owner of the topic. I have my VPS setup with contentify and custom emails instal vestacp there is a tutorial on the forum of digitalocean :) Or ask me :)

[2017-01-24 21:39] chriskonnertz commented on #128
Sorry, please try this instead:

`$streams = Stream::whereIsOnline(true)->orderBy('online', 'DESC')->orderBy('viewers', 'DESC')->take($limit)->get();`

[2017-01-24 21:40] chriskonnertz commented on #131
Hi,

thanks for reporting his problem, because this actually is a bug. Or _was_. Because it's fixed now: https://github.com/Contentify/Contentify/commit/28cc07780ca773afd3a5f738c8abcb70f3d605f1

Thanks!

[2017-01-24 21:41] acamilleri commented on #129
@lolbob181 What is the relationship with the issue ?

[2017-01-24 21:52] chriskonnertz commented on #129
Haha that's a nice inconsistency! ;) I changed it: https://github.com/Contentify/Contentify/commit/a8fdce63629c5a9725df4ef37be73b68e6be9777 and https://github.com/Contentify/Contentify/commit/afea5b6e605b2debddb0bc65a039ed30d4ea446e

[2017-01-25 00:39] Samaoneill commented on #129
I'd rather have my news order by created_by, I've updated the files and the created date is now displayed, but its still being sorted by updated_by, where can I change this?

Thanks.

[2017-01-25 07:14] PureLoneWolf commented on #131
Excellent - That's working now - Thank you :)

[2017-01-25 07:14] #131 closed, assigned to chriskonnertz

[2017-01-25 20:45] chriskonnertz commented on #129
Fast, easy, ugly way:
With a text editor that is capable of doing "search & replace" in directories, search "updated_at" and replace it with "created_at" in the directory `app/Modules/News` (and all of its sub directories).

---

[2017-01-25 20:47] chriskonnertz commented on #131
No problem.

[2017-01-25 20:58] Samaoneill commented on #129
Thanks, just for note the ordering was dealt with in NewsController.php in the app/modules/news/http/controllers

[2017-01-25 20:59] Samaoneill commented on #128
Sorry still no luck!

[2017-01-27 18:16] jcggraca commented on #126
ok thx

[2017-01-27 18:16] #126 closed

[2017-02-03 22:17] EquanimityEu commented on #127
Sorry to ask on a closed thread. Following this guide with no issues until the "mv contentify2_0 contentify". It does not seem to do anything?

Please can you advise what my silly mistake is?

[2017-02-04 17:02] EquanimityEu opened #132 "Fatal Error Exception in Migrator.php line 335"
Good afternoon

Please could anybody help me out with this code at all?

Thanks for your time.

![16466389_1639424789685897_41921693_o](https://cloud.githubusercontent.com/assets/25538914/22620086/9dd37d9c-eafb-11e6-8ddb-12707f82efef.png)

[2017-02-04 17:55] chriskonnertz commented on #132
Hi,

this is coumented here: https://github.com/Contentify/Contentify/wiki/Troubleshooting#installation-error-message-fatalerrorexception-in-migratorphp

Please leave a message if you have any question regarding this issue.

PS:
I got another email notficiation from you, a question about the installation, did you manage to solve that problem?

[2017-02-04 18:10] EquanimityEu commented on #132
![16491418_1639457029682673_1851481262_o](https://cloud.githubusercontent.com/assets/25538914/22620485/f9459cba-eb04-11e6-9998-ec57ef6bd275.png)
![16492334_1639457046349338_843427323_o](https://cloud.githubusercontent.com/assets/25538914/22620489/fc8b4514-eb04-11e6-8152-62c37c75ad33.png)

Hello, thank you for taking the time to respond. We have got past that one and are now given this?

Kind regar

[2017-02-04 18:13] EquanimityEu commented on #132
Hello sorry but it seems a friend has fixed it. it's now asking for us to create the super admin user. I believe this is the end of installation!

Thanks you so much :)

[2017-02-04 18:15] #132 closed, assigned to nobody

[2017-02-04 18:24] EquanimityEu opened #133 "How to take out of development mode?"
Good afternoon

Thanks so much for your assistance and making this Cms.

We are all installed however the final step is the following:

"Preparation For Production

Per default, Contentify is prepared for development. To prepare it for a production environment, disable the debug mode. Also ensure that the application key (you will find it in config/app.php) has been set to a random string. The dia

[2017-02-04 19:58] #133 closed, assigned to nobody

[2017-02-15 20:28] fabiantomischka opened #134 "Community / forum help"
Hey Chris!
I saw that you're about to create a community and a forum for all the stuff happening around Contentify. I found no way to contact you privately, though I wanted to let you know I want to participate in any way I can.

We and a few colleagues from the esport community are actively using your CMS which does really hell alot of work. So we want to contribute back if this is possible in an

[2017-02-15 22:05] chriskonnertz commented on #134
Hi Astinox,

Yes, that's the plan but I do not know when this will happen. I guess it will take ~two months or so to realize that. Unfortunately I am extremly busy these days but I hope that this will hange after the upcoming weekend.

You can write a message to the Contentify account on Facebook / Twitter. Another way is to send an email to one of the email addresses, for example contentifycms [

[2017-02-17 03:41] CaptainRafael opened #135 "I can't install Contentify on my website"
Please check the link bellow , I cant install
http://corse-esports.tk/v1/public/install?step=4

[2017-02-17 05:34] acamilleri commented on #135
Hi,

Your webhosting is not compatible with Contentify.
Error:
"set_time_limit() has been disabled for security reasons"

For get maximum compatibility with Contentify you need to buy VPS or dedicated server.
You can get this here: digitalocean.com, scaleway.com or ovh.com

[2017-02-17 06:59] acamilleri commented on #125
Hello @vlaad23 it's ok now ?

[2017-02-17 16:40] CaptainRafael opened #136 "Some questions about Contentify"
Hello ,
I changed to OVH and I was wondering how can I change the logo
http://corse-esports.eu/v1/public
and put more themes in there and also the footer
I also have a problem to log with steam , and I want to put psn and xbox live loggin option

[2017-02-17 18:22] CaptainRafael opened #137 "Create new maps"
When I create new maps I got this error : FatalThrowableError in ModelHandler.php line 392:
Call to undefined method Contentify\ModelHandler::getControllerName()
How can I fix?

[2017-02-17 18:39] CaptainRafael commented on #125
It doesnt work for me I get another error ErrorException in helpers.php line 747:
Object of class Invisnik\LaravelSteamAuth\SteamInfo could not be converted to string

[2017-02-19 11:04] chriskonnertz commented on #137
Hello,

which version of Contentifx do you use? 1 or 2?

When I create a new map in v2 this error does not occur. I tried some variations  as well: with uploading an image and without and editing an existing map. No error.

[2017-02-19 11:09] #129 closed

[2017-02-19 11:11] chriskonnertz commented on #136
Hello,

the logo files are these:

[code]

Just replace them with new images.

[2017-02-19 11:14] chriskonnertz commented on #136
=> https://github.com/Contentify/Contentify/issues/125

Currently these login options are not available out-of-the-box. To be honest I doubt that there are third-party solutions available that can be used with few effort. :(

[2017-02-19 11:14] chriskonnertz commented on #125
Okay seems like we have to fix a bug here...

[2017-02-19 11:20] chriskonnertz commented on #135
@Corse-eSports

Suggestions:

1. Talk to you hoster and ask for help. The problem is the configuration of your server. The server does not allow PHP (and Contentify) to change the PHP setting "max_execution_time". However, most likely your hoster will not change that restriction.
2. Dirty hack: Open `contentify/Controllers/InstallController.php` with a text editor, go to line 291, and delete this

[2017-02-19 11:22] chriskonnertz commented on #133
If you have any questions about this topic just create a new issue :)

[2017-02-19 11:24] chriskonnertz commented on #121
Closed for now. Please comment or create a new issue if you have any questions.

[2017-02-19 11:24] #121 closed

[2017-02-19 11:24] #123 closed

[2017-02-19 11:29] chriskonnertz commented on #128
My bad, I had no time to test the code that I posted. Here is the correct and tested solution:

`$streams = Stream::whereOnline(true)->orderBy('online', 'DESC')->orderBy('viewers', 'DESC')->take($limit)->get();`

Sorry for the inconvenience!

[2017-02-19 11:30] #128 closed

[2017-02-19 11:42] chriskonnertz commented on #135
Thanks to your feedback @Corse-eSports I added another check if the use of the `set_time_limit()` function is allowed. The installer will only try to call this function if it is allowed to do so.
https://github.com/Contentify/Contentify/commit/1e55c7e8ed0dba54148a5a6d54579b092a3c90c9

[2017-02-19 11:42] #135 closed, assigned to chriskonnertz

[2017-02-19 11:44] chriskonnertz commented on #132
Great!

[2017-02-19 18:56] #134 closed, assigned to chriskonnertz

[2017-02-20 11:38] Pekenito opened #138 "Routes problem on backend?"
I install all and its fine but, when i change the apache rootpage to public, my backend send me to "/contentify/public/admin" when the real route is "/admin"

i have something wrong but i can't find it :S

[2017-02-21 00:50] Pekenito commented on #138
SOLVED

URL problems: Sometimes the navigation links in the admin backend do not work. Solution: If you experience this bug, clear the cache (delete all folders in storage/framework/cache). This forces the CMS to generate the navigation links properly.

[2017-02-21 00:50] #138 closed, assigned to nobody

[2017-02-21 06:38] eodclan commented on #52
ja das meinte ich chris.

Ich habe nun komischerweise ein neuen fehler gefunden:

SQLSTATE[HY000]: General error: 1030 Got error -1 from storage engine (SQL: insert into `visits` (`ip`, `user_agents`, `visited_at`) values (91.20.58.xxx, 1, 2017-02-21))

[2017-02-21 13:30] pinoylancers opened #139 "how to edit the frontend template in Contentify 2.0"
how to edit frontend Contentify 2.0?

![screen shot 2017-02-21 at 9 26 56 pm](https://cloud.githubusercontent.com/assets/7369034/23166771/db6783c2-f87c-11e6-9f92-4762bee486f2.png)

[2017-02-21 17:25] acamilleri commented on #139
Hi,

You have two template in Contentify, (MorpheusTheme and PhobosTheme) and you can add new template with same structure.

Template are in modules folder (app/modules/xxxTheme).
You are able to edit theses template in views folder of the template and you will need to edit .less files in assets folder of template for edit the stylesheet.

When you change the theme in backend the less file are gen

[2017-02-22 10:31] pinoylancers commented on #139
Hi thank you very much for the clarification.. appreciate it.. :)

[2017-02-22 10:31] #139 closed, assigned to nobody

[2017-02-23 02:48] pinoylancers opened #140 "How can I view the advertisements on the frontend that I created on the Admin Panel?"
How can I view the advertisements on the frontend that I created on the Admin Panel?

[2017-02-23 19:00] chriskonnertz commented on #140
Hi,

good question. To be honest, they are not implemented out-of-the box. What kind of ads (for example: image with a link) do you want to include and what size (width and height in pixels) would they have?

[2017-02-23 19:01] chriskonnertz commented on #139
Hi,

there is an article in our wiki that you might find helpful: https://github.com/Contentify/Contentify/wiki/Themes

[2017-02-23 19:03] chriskonnertz commented on #139
PS: The `resources/views` folder contains these general frontend templates that are not a) part of a module or b) part of a theme.

[2017-02-23 19:07] chriskonnertz commented on #52
@eodclan Hast du dazu noch mehr Infos? Wo tritt der Fehler auf bzw. wie kann man ihn erzeugen?

[2017-02-26 16:53] Erezey opened #141 "Error NotFoundHttpException in Handler.php line 103: / ErrorModelNotFoundException in Builder.php line 303:"
Hey guys, help me please to fix everything.
I have a couple problems,

NotFoundHttpException in Handler.php line 103:
No query results for model [App\Modules\Pages\CustomPage].
at Handler->render(object(Request), object(ModelNotFoundException)) in Handler.php line 58
at Handler->render(object(Request), object(ModelNotFoundException)) in Pipeline.php line 80
at Pipeline->handleException(object(Requ

[2017-02-26 22:06] Erezey opened #142 "Stream isn't work."
Hello guys. Can u help me to fix a module stream.
I put everything, and when im going to live, on the website still saying im offline.

![stream](https://cloud.githubusercontent.com/assets/26022239/23344183/ec3ee874-fc88-11e6-9b00-ca1d8d14a4fd.png)

[2017-02-27 06:28] pinoylancers commented on #140
Hi I noticed there is a Advertisement option on the Admin-Backend - is that the one that is not fully implemented? I cant seem to view what I add in there. Thank you

![screen shot 2017-02-27 at 2 27 38 pm](https://cloud.githubusercontent.com/assets/7369034/23350930/ef052242-fcf8-11e6-820f-001a45df1387.png)

[2017-02-27 12:13] uberartist opened #143 "Installing on Bluehost shared hosting."
I have uploaded the contentify zip , extracted and changed the permissions of directeries etc.
I have access to SSH and other stuff.
When I open the url _domain/public/install.php_ it works fine... all the requirements are green except 1: **Vendor libraries installed:	No - please run "composer install"!**
I am testing on subdomain so the folder whereI have uploaded is **public_html/contentify**
Wh

[2017-02-28 16:17] batafly5 commented on #141
I have same problem with custom pages and stream page

[2017-02-28 16:18] Erezey commented on #141
Yeah, nobody is a life here.

[2017-02-28 18:51] batafly5 opened #144 "Question about instal (root)"
**Hello all, i have a some questions about this fantastic CMS instal.**

Ok lets go:

1. I upload all files from _contentify2_0_ folder to server _public_html_ folder.

2. Next i chmod all files who needet.

3. Then i instal this CMS

**QUESTION:**
When i must upload files to receive normal adress: http://myweb.com. Now i recive: http://myweb.com/public ???

[2017-03-02 19:52] chriskonnertz commented on #144
Hey,

yes. The cms folder contains a folder called `public`. This is the... well the public folder :p This is the *only* folder that is meant to be accessible from the outside of your server. So what you should do is to configure your server so that it only delivers this folder. You have to configure your application's document / web root to the public directory. Details: stackoverflow.com/questio

[2017-03-02 19:57] chriskonnertz commented on #141
Hi,

no worries, I am alive :p

What excatly did you do before the exception appeared? Which version of Contentify do you use?

I did some testing and there was no exception so you need to help me here. I cannot fix a bug that I cannot see. ;)

[2017-03-02 19:58] Erezey commented on #144
Hello, can u give me any your contacts? I have so many questions

[2017-03-02 19:59] chriskonnertz commented on #143
Hi,

well, just follow the instruction: 'please run "composer install"'

1. Connect to your server via SSH
2. Switch to the Contentify directory
3. Run: `php composer.phar install`

[2017-03-02 19:59] Erezey commented on #141
@chriskonnertz Hello, can u give me any your contacts? I have so many questions

[2017-03-02 20:10] chriskonnertz commented on #140
Hi,

it is fully implemented from the point of coding. So there is a working widget that can display ads. However, this widget is not used in the themes.

Here is what you can do:
1. Open the main template of the active theme, for example `app/Modules/MorpheusTheme/Resources/Views/layout.blade.php`
2. Find a place where you want to display ads.  For example, if you want to display them at the top

[2017-03-02 20:20] batafly5 commented on #144
If i upload just public folder to public_html i have normal site?

[2017-03-02 20:53] batafly5 commented on #144
**chriskonnertz** ty man!!!

But just create txt file, then i wtite this:

_RewriteEngine on
RewriteCond %{HTTP_HOST} ^domain-name.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.domain-name.com$
RewriteCond %{REQUEST_URI} !folder/
RewriteRule (.*) /folder/$1 [L]_

In the above lines you should replace the following 2 strings:

domain-name.com - Type your own domain name
folder - Type the name of the s

[2017-03-03 19:20] chriskonnertz commented on #142
Hi,

please take a look at the "Streams" section of this wiki page: https://github.com/Contentify/Contentify/wiki/Built-In-Modules#streams

Did you follow these instructions?

[2017-03-03 19:22] chriskonnertz commented on #141
@Erezey
Please write me a private message on Twitter ( https://twitter.com/ContentifyCMS ) or Facebook ( https://www.facebook.com/contentifycms/ ) or an email to _contact [ at ] contentify [ dot ] org_

[2017-03-03 19:23] chriskonnertz commented on #144
@Erezey Done.

[2017-03-03 19:23] chriskonnertz commented on #144
Well... no. :p

Great! =)

[2017-03-03 19:59] chriskonnertz opened #145 "Bug: Word break not forced in comments"
ToDo: Add this CSS to the div with the text of the post : word-wrap:break-word;`

[2017-03-04 06:55] EquanimityEu opened #146 "Dates constantly change."
Good morning

We are having an issue with the published date not showing up on our articles. Instead it simply changes to the current date (From what we can tell).  Has anybody else had such issues before and know of a fix?

Kindest regards

[2017-03-04 08:43] psych0path1337 commented on #125
@chriskonnertz can you help me with my problem please? [https://github.com/invisnik/laravel-steam-auth/issues/48](url)

[2017-03-07 15:53] Samaoneill commented on #146
I had a similar problem with my page, have a look at this closed ticket. [https://github.com/Contentify/Contentify/issues/129](https://github.com/Contentify/Contentify/issues/129)

[2017-03-13 03:02] EquanimityEu commented on #146
It does, thank you. What program did you use to search and replace it all? Loads to do manually!

[2017-03-13 22:43] bitbot-marina commented on #125
I'd like to mention that I'm having a similar issue to what @Corse-eSports is seeing. I've made a few attempts to fix the issue of the _SteamInfo_ not being converted to a string properly, but no luck so far?

By all means, feel free to attempt a login via Steam on my site:
http://107.170.242.209/

[2017-03-13 22:49] bitbot-marina opened #147 "Feature Suggestion: Alternative Contact Fields"
Some contact fields, such as Skype, are considered outdated by the majority of the gaming community. It would be nice to have the option to easily add fields via the back-end, or disable/remove fields if they are irrelevant.

I ended up just going in and changing the user module myself to replace the "Skype" field with Discord, but it also required manually editing the database - not something tha

[2017-03-13 23:03] bitbot-marina opened #148 "Twitch works, but peview images are blank"
I am seeing the following issue with the connected Twitch streams on my site:

<img width="1260" alt="screen shot 2017-03-13 at 3 58 41 pm" src="https://cloud.githubusercontent.com/assets/15271348/23878691/23686a72-0806-11e7-9d8d-a9412fc59443.png">

Streams appear to be working normally, though the lack of a preview image seems unappealing. Will I have to manually add a preview image or are Twitch

[2017-03-13 23:08] bitbot-marina commented on #146
@EquanimityEu if you use Sublime Text editor you can pretty easily search and replace across all files on your site. Alternatively, I think other text editors like Atom can do the same thing.

[2017-03-14 21:23] chriskonnertz commented on #125
Yeah I can see the exception. :(

[2017-03-14 22:02] chriskonnertz commented on #125
@psych0path1337 @matt-marek

The steam auth libary made some changes that were not compatible with the code of Contentify.

Bug(s) fixed: https://github.com/Contentify/Contentify/commit/e2ecfb87fe65947bcc649ac94d05e1cc206e554a

[2017-03-14 22:07] chriskonnertz commented on #147
Yeah this might be a good idea. The big question is: What would be best way to implemnt this? Where (in wich database table) and how do we store a) the structural data (_which_ fields do we have) and the content data (_what_ is the data of these fields).

[2017-03-14 22:09] chriskonnertz commented on #148
Yes, they are supposed to have some sort of "auto-generated" preview image.

Did you read the notes here https://github.com/Contentify/Contentify/wiki/Built-In-Modules#streams in the "Streams" section?

[2017-03-14 22:15] bitbot-marina commented on #125
Can confirm that the issue has been resolved after applying the bug fix!

[2017-03-14 22:16] bitbot-marina commented on #148
Ah, I see that the framework doesn't include the necessary cronjob by default. Just out of curiosity, is there a particular reason for this? I'm not too familiar with setting up cronjobs so if you can point me in the right direction for how I would go about doing this, I'd greatly appreciate it!

[2017-03-14 22:22] bitbot-marina commented on #147
I'm not super savvy with databases, so this is a front-end guy tackling a back-end problem but...

This is how I would go about it, if I wanted the site user to be able to set up three custom fields of their choice. I've seen this on some forums, such as GBATemp and GameBanana, where they allow users to add in their own fields to their profile:

1. Add six custom fields, under the "user" table. Th

[2017-03-14 23:03] bitbot-marina commented on #148
After doing some digging, I've got it set up so that cron-job.org is firing every minute (is this overkill?) targeting http://107.170.242.209/jobs.

When I access that page, I get the response "1" - but I'm still not seeing the thumbnail or view count updates. I have a "test stream" that's one of Twitch's marathons, and it's streaming 24/7 so it should be working, right?

![screen shot 2017-03-14

[2017-03-15 09:10] chriskonnertz commented on #137
Closed. I cannot help you without more information. If you post more infos I will reopen this issue.

[2017-03-15 09:10] #137 closed, assigned to chriskonnertz

[2017-03-15 09:11] #142 closed, assigned to nobody

[2017-03-15 09:12] chriskonnertz commented on #142
Closed for now.

[2017-03-15 09:13] #143 closed, assigned to nobody

[2017-03-15 09:14] #136 closed, assigned to chriskonnertz

[2017-03-15 09:15] chriskonnertz commented on #141
Closed. I am not able to write a bugfix for a bug that I cannot reproduce. Please provide more information about the bug, then I will repoen this issue.

[2017-03-15 09:15] #141 closed, assigned to nobody

[2017-03-15 09:17] #140 closed, assigned to chriskonnertz

[2017-03-15 09:19] chriskonnertz opened #149 "Place ads widget in theme main layouts"
=> https://github.com/Contentify/Contentify/issues/140

There is a widget that is able to display ads, but it is never called in the theme templates.

[2017-03-15 09:30] chriskonnertz commented on #148
Well... basically a cronjob is just an entry in the cronjob table of your OS (Linux). Adding such an entry is not a task of the CMS. That's kinda like asking "I bought a new car but now I see that it is not shipped with a garage. Is there a particular reason for this?" ;)

From the readme file of the `Jobs` package:

The console command to add a cron job (if your OS is Linux) is: `crontab -e`

I t

[2017-03-15 19:20] bitbot-marina commented on #148
I have the API key in, that's not the issue (as far as I can tell).

-SOMETHING- is preventing the streams from being updated. Do I need to make any edits to the jobs.php?

`<?php

namespace App\Jobs;

use Illuminate\Bus\Queueable;

abstract class Job
{
    /*
    |--------------------------------------------------------------------------
    | Queueable Jobs
    |---------------------------------

[2017-03-15 19:44] chriskonnertz commented on #148
Did you took a look at the error log(s)?
CMS log: backend -> website -> "Configuration" -> "Log File" (you can click on the entries of the log to expand them)
Apache log (in case the website runs on Apache) - position of the apache error log differs so you have to find it on your own

No, that's perfect.

[2017-03-16 17:17] bitbot-marina commented on #148
Sorry for the delayed response,

I cleared the log and accessed the /jobs page, and got this in the log as a result:

[2017-03-16 17:34] bitbot-marina commented on #148
Update! It seems cURL was missing? Or rather, an extension of it?
Using SSH and "sudo apt-get install curl libcurl3 libcurl3-dev;" followed by a server restart _seemed_ to fix the issue. I want to make sure all the streams are updating though before I consider it fixed, but I'm pretty sure I'll be good.

[2017-03-17 18:50] #125 closed

[2017-03-17 18:50] chriskonnertz commented on #148
@matt-marek Did it help? :)

[2017-03-17 19:01] bitbot-marina commented on #148
Yes! I needed to give thorough testing before I could say for certain, but our test stream (Twitch's 24/7 Power Ranger Marathon) has been updating regularly, and when my team was streaming last night everything was loading in fine so I think this can be considered closed.

To recap, the order of things I did to fix the issue:

1. Made sure Twitch API key was accurate
2. Created a cronjob via cron-

[2017-03-20 18:39] chriskonnertz commented on #147
To be honest I might follow your suggestion. It's really simple and implementation should be done in a few minutes. So why not...

[2017-03-20 18:42] chriskonnertz commented on #148
I reponed this issue (as a reminder for me), because I believe some of the problems you faced should be handled in a better way by the CMS. For example it might be a good idea if the CMS checks if cURL is installed and if it is not it should notify the owner.

[2017-03-20 18:46] bitbot-marina commented on #148
Would it be possible to have an overall dependency checker implemented? I thought there was one during setup (it did miss cURL) but for non-devs, it might be useful.

[2017-03-20 18:53] chriskonnertz commented on #148
Yes, there is a "pre-installer" before the actual setup  that does some checking but it does not check for cURL: https://github.com/Contentify/Contentify/blob/2.0/public/install.php#L69

What would be the difference between the current checker and a checker that implements your idea? I did not get it yet...

[2017-03-20 18:57] chriskonnertz commented on #148
Created a pull request for the cURL-check. https://github.com/Contentify/Contentify/pull/150
(I cannot test it right now.)

[2017-03-20 19:24] bitbot-marina commented on #148
I would think something along the lines of what is currently there during the install, but accessible from the CMS back-end under configuration - maybe alongside PHP info/optimize database.

It could provided a simple output of the installed dependencies, if they're outdated, missing, etc.

[2017-03-21 22:53] EquanimityEu commented on #146
Sorry for the late reply and thanks. Struggling to figure out how I connect sublime to it? The guy who helped fix most of the issues with the site is no longer with us. Struggling aha!

[2017-03-21 23:08] bitbot-marina commented on #146
If you've install Sublime, you can drag your entire folder for your site onto Sublime to open the entire website as a project. Then you should be able to do search and replace across all the files in the project.

[2017-03-22 00:05] bitbot-marina opened #151 "Hide Blank Profile Fields"
Is it possible to make it so any profile fields that are "NULL" can be set to hidden?

[2017-03-22 00:42] Samaoneill commented on #146
I didn't do a find/replace on the entire solution or even a subset of folders, I've had too many bad experiences when doing such on code I'm not 100% familiar with. I went through each of the news component files and find/replaced them one by one using Notepad++, there really isn't that many to change.

I can't recall what I specifically changed but looking through the app/modules/news folder I ca

[2017-03-22 11:05] Pekenito commented on #148
can u add default image background? for at least see a default twitch image instead a blank space.

[2017-03-22 14:30] bitbot-marina commented on #148
There already is a default image that shows. See the screenshot, for streams that have gone online at least once, the purple Twitch picture shows. For streams that aren't properly linked up or haven't been online once yet, you get a blank icon.

<img width="745" alt="screen shot 2017-03-22 at 7 28 41 am" src="https://cloud.githubusercontent.com/assets/15271348/24202895/6d756008-0ed1-11e7-80ca-1a02

[2017-03-22 16:19] SAVAGEGG opened #152 "News not appearing, events not appearing, pages, advertisements"
Non is showing up when i create new ones. the news SOMETIMES appears but after a refresh of the page it disappears again. I may have installed an old version or installed incorrectly. I installed it on a web host anyway i can get help? Maybe a fresh reinstall of the cms on my host by you guys.

[2017-03-22 18:55] chriskonnertz commented on #152
I think I will write a little PHP script that gathers some info about the problem and should help me to nail down the issue. The problem is that I cannot reproduce the issue (yet) so I hope this will help me. Ill try to write the code tomorrow.

[2017-03-22 19:43] SAVAGEGG commented on #152
i saw in the 2.1 release under special the paid services. since ive found this cms ive changed minds of 4 website owners to leave the provider they all have and get this script  myself and the other 4 website owners are eager to pay someone to get things up for us all. Know when you will be offering such services? i feel like the instal i did i didnt do correctly would love for someone who actuall

[2017-03-23 01:48] bitbot-marina commented on #141
Worth noting in case this comes up again - I had the same exact issue as the original issue author. This occurred when I didn't have "published" checked in the back-end for the page in question.

If "published" is supposed to mean "live and view-able," perhaps a clearer description on the back-end is needed.

[2017-03-24 19:33] amirgee007 opened #153 "home page issue"
hi, i have installed this app on local for my own purpose and after downloading composer installation etc I got this screen is there any problem I have 3-4 hours to configure it on my local but it gives me this error.can you define please thanks
![problem](https://cloud.githubusercontent.com/assets/16411441/24310581/461713e4-10f2-11e7-8d5c-1b600f43a5b7.JPG)

[2017-03-24 22:19] chriskonnertz commented on #153
Hello,

are you sure there is an error? You need to add content to your website to make it look like the demo website. For example: Add an image to the slider, write a news, create teams, upload images (and  add them to a gallery)...

[2017-03-24 22:23] chriskonnertz commented on #151
Well yeah, that is possible. You can try to do that on your own. You have to open this file: `https://github.com/Contentify/Contentify/blob/2.0/app/Modules/Users/Resources/Views/show.blade.php` It containts a table with `<tr>` entries for the different fields. You have to wrap them with a condition, for example:

**Old**:

[code]

**New**:

[code]

(Once you have added all the conditions that you

[2017-03-24 22:31] chriskonnertz opened #154 "Demoserver, Editor: Insert template button does not work"
Demoserver, Editor: Insert template button does not work - seems to be a backend error.

[2017-03-25 06:53] amirgee007 commented on #153
thanks for your help.

[2017-03-25 06:53] amirgee007 commented on #153
i have successfully added all the things that you mentioned problem solved <3 love you bro

[2017-03-25 08:49] amirgee007 commented on #153
sir more thing i have added so many nesw in backend and when i visit my home page its shows nothing here how can i fix it please help i am trying to do from 3-4 hours but have stucked...

[2017-03-25 09:54] amirgee007 commented on #153
![right widget on home page](https://cloud.githubusercontent.com/assets/16411441/24321300/e2e69a1e-116a-11e7-9d47-bcbe994f00ef.JPG)

also i want to remove these advertisements from home page left widget partner,team etc from which page i get the code of these widgets thank for your precious time

[2017-03-25 10:15] chriskonnertz commented on #144
@batafly5 I copied your hint to the official readme. Thanks again!

=> https://github.com/Contentify/Contentify/wiki/Troubleshooting#installation-what-to-do-with-the-public-folder

(Is everything okay there?)

[2017-03-25 10:15] #144 closed, assigned to nobody

[2017-03-25 10:34] chriskonnertz commented on #152
I have seen it on my own website now. That is a good thing, because now I will be able to debug it. :)

[2017-03-25 10:44] chriskonnertz commented on #145
Bug fixed: https://github.com/Contentify/Contentify/commit/4f3a013996daf507a70ae5c2f9eac03a44ea02cd

[2017-03-25 10:44] #145 closed, assigned to chriskonnertz

[2017-03-25 11:31] chriskonnertz commented on #152
Bugfix: https://github.com/Contentify/Contentify/commit/6c3058f933c171b257bc7c08c7176f06d5c86af2

[2017-03-25 11:32] chriskonnertz commented on #152
I understand that you are eager to get extended support. But to be honest I have no idea when  this is going to happen. Maybe soon, maybe not.

[2017-03-25 11:32] #152 closed, assigned to chriskonnertz

[2017-03-25 12:32] chriskonnertz commented on #104
The code is now in the repo so I close this issue.

[2017-03-25 12:32] #104 closed

[2017-03-25 12:33] chriskonnertz commented on #149
The ad widget/placement also needs a little rework, because the current implementation is detected by ad blockers so it does not make much sense to use it.

[2017-03-25 12:38] chriskonnertz commented on #154
False alert, acutally it **does** work.

[2017-03-25 12:38] #154 closed, assigned to chriskonnertz

[2017-03-25 12:41] chriskonnertz commented on #153
This was bug. Here is a bugfix:

https://github.com/Contentify/Contentify/commit/9128d94247997a7f5698bd13cc76d77e91113482

[2017-03-25 12:43] chriskonnertz commented on #153
It depends on the theme you have chosen. Example for morpheus theme:

1. Open this file `app/Modules/MorpheusTheme/Resources/Views/layout.blade.php` with a text editor.
2. Remove the widget that you do not like. For example to remove the matches and the gallery, remove this code:

[code]

Warning: These changes might be overwritten by updates in the future so you should backup the template with yo

[2017-03-25 13:09] chriskonnertz commented on #146
Thank you!

[2017-03-25 13:09] #146 closed, assigned to nobody

[2017-03-25 16:05] amirgee007 commented on #153
ok thanks you very much sir you are great you saved my time a lot of time.

[2017-03-25 16:05] #153 closed, assigned to chriskonnertz

[2017-03-25 16:07] chriskonnertz commented on #141
Yeah, that is what it is supposed to mean.

[2017-03-26 13:19] batafly5 commented on #144
Yes all ok @chriskonnertz

[2017-03-26 23:53] bitbot-marina commented on #151
Thanks, I've found one small error:

[code]

Should be:

[code]

At least, that's what I had to do on my build?

And yes, I have my own repo for my project and have been updating things manually to avoid breaking anything. 👍

[2017-03-27 18:55] chriskonnertz commented on #151
Oh yes, `->` not `::`. :)

[2017-03-27 18:55] #151 closed, assigned to chriskonnertz

[2017-03-29 00:06] bitbot-marina opened #155 "[Question] Hide Slider on all but Home Page"
I feel as though the slider is something that should only be viewable on the home page.

I haven't had any luck using this:

[code]
Because it targets multiple pages... How would I get it to target just the home page?

[2017-04-01 09:19] chriskonnertz commented on #155
Hello,

this will work:

[code]

You could also include other pages if you want to:
[code]

[2017-04-01 09:21] #155 closed, assigned to chriskonnertz

[2017-04-01 09:22] #148 closed, assigned to nobody

[2017-04-01 09:34] mobbdeep opened #156 "Few Bugs"
Hello,

Here is a list of bugs I have noticed..

- Creating a news article; once you press submit, the following error appears. The article is created, but when you click on the preview to access the article, the following errors appears. Also, same error when deleting the article.

- Suggestions:

1. Ability to remove sidebar content if not being used: Eg. Lastest Matches, Cups, etc.
2. Ability t

[2017-04-01 10:19] chriskonnertz commented on #156
Hello,

Maybe a PHP extension is missing, take a look at this post for more details and a proposal for a solution: http://stackoverflow.com/questions/35223926/class-simplexmlelement-not-found-on-puphpet-php-5-6#answers-header

Just hiding it would be okay as a solution?

_Adding_: This will on my list as well, will be implemented in the future.
_Removing_: This is not possible and never will be. M

[2017-04-01 10:26] mobbdeep commented on #156
Hi Chris,

Thank you for the first solution to resolving the news article posting. I am indeed using Ubuntu with PHP7 therefore I needed the XML extension added. All is working well with that!

Yes, perfect. I didn't mean removing it permanently, more or so the ability to hide/show sections that may not get used.

Yes, this is correct. Just a simple show/hide and the ability to add your own naviga

[2017-04-01 18:21] bitbot-marina commented on #155
Thanks, this worked!

[2017-04-05 23:14] mix2002 opened #157 "News Page Problem"
Hello i have this problem, i need to put it to Europe/Lisbon. I changed php.ini date to Europe/Lisbon but keep not working :/

![screenshot_2](https://cloud.githubusercontent.com/assets/8055275/24730814/da38f00a-1a5d-11e7-8ca6-4fa7ca70dcf7.png)

[2017-04-05 23:53] bitbot-marina opened #158 "News pagination bug"
It would seem that when the pagination for the news occurs (or whatever you want to call it when it loads in chunk by chunk) it duplicates the previous chunk of news. The result is that it keeps showing the same 6 news articles, in succession:

For reference of the issue, you can see it here:
http://googiegang.com/

Scroll down, and you'll notice the same 6 news items repeat.

[2017-04-06 14:53] chriskonnertz commented on #158
Hi,

please take a look at the "Time / date problems" section on the troubleshooting page in the wiki: https://github.com/Contentify/Contentify/wiki/Troubleshooting#time--date-problems

This *might* solve this problem.

[2017-04-06 17:14] bitbot-marina commented on #158
<img width="658" alt="screen shot 2017-04-06 at 10 13 32 am" src="https://cloud.githubusercontent.com/assets/15271348/24766862/cecf36d0-1ab1-11e7-93bd-f8f5d9742c8a.png">
I've verified that they do in-fact match, though changing this did not solve the issue.

[2017-04-08 16:53] mix2002 commented on #158
I make a issue with the same and anyone answers.... How to change the cms timezone? its default UTC...

[2017-04-08 18:28] bitbot-marina commented on #158
@mix2002 probably should open your own issue for your question, but...

The first one (for Contentify) is here, where `%BASEPROJECTDIRECTORY%` is where you main folders for your site are located:
`%BASEPROJECTDIRECTORY%/config/app.php`
and here, in the /etc/ folder for your droplet:
`/php5/apache2/php.ini
`
Just do a search for "timezone" when you have those files open.

[2017-04-09 08:13] mix2002 commented on #158
I have done it :)
https://github.com/Contentify/Contentify/issues/157
![screenshot_2](https://cloud.githubusercontent.com/assets/8055275/24835842/b9688382-1d04-11e7-8032-f01b35dab55c.png)

[2017-04-25 14:12] Shakir86 commented on #52
Ich habe dasselbe Problem wie eodclan.
Wenn ich im Backend auf Module klicke, haut er mir folgende Meldung um die Ohren:

`ErrorException in Collection.php line 1187: Undefined index: enabled

    in Collection.php line 1187
    at HandleExceptions->handleError('8', 'Undefined index: enabled', '/var/www/vhosts/******.net/esl.*******.net/vendor/laravel/framework/src/Illuminate/Support/Collection.ph

[2017-04-26 19:18] bitbot-marina commented on #158
@chriskonnertz have we made any headway on this?

[2017-04-30 16:40] tjoecs opened #159 "[Question] How to change amount of items displayed per page"
Hi,
I am not a coder at all but I am able to manage some customization editing templates and stuff.
But of course, there is a point where I need help as I don't know where to look for the things I need.
In this case I'm talking of the **_videos_** index page.
By Default there are 10 videos per page. This value should be editable..shouldnt it? But where? Which file do I have to edit for this?

URL

[2017-04-30 21:32] chriskonnertz commented on #159
Hi,

this line of code is responsible: https://github.com/Contentify/Contentify/blob/2.0/app/Modules/Videos/Http/Controllers/VideosController.php#L17

You can change it to something like `$perPage = 20;`.

[2017-04-30 21:39] tjoecs commented on #159
Thanks.  Are there any plans of including a field for changing the $perpage variable in the admin backend? Just for comfort reasons... O:-)

[2017-05-06 17:39] ARYX01 opened #160 "Adding a descripion of the site in the homepage"
When you are in the reset password page the captcha img is missing...

[2017-05-07 08:36] chriskonnertz commented on #160
Hi,

which version of Contentify do you use?

Here on the demo server of version 2.0 it seems to work: http://46.101.169.158/auth/restore

[2017-05-07 18:22] ARYX01 commented on #160
i have fixed it, but how i can add some text in the homepage?

[2017-05-08 16:30] chriskonnertz commented on #160
_Where_ do you want to add text?

[2017-05-08 16:44] ARYX01 commented on #160
In between the slider and the news

[2017-05-09 16:57] Astoric opened #161 "ErrorException in FormBuilder.php line 490:"
Tried to create a new match score and got this error:
Please create at least one "LeftTeam" before you continue. (View: C:\xampp\htdocs\app\Modules\Matches\Resources\Views\admin_form.blade.php)
`

    in FormBuilder.php line 490
    at CompilerEngine->handleViewException(object(MsgException), '1') in PhpEngine.php line 44
    at PhpEngine->evaluatePath('C:\xampp\htdocs\storage\framework\views/4e5f

[2017-05-10 16:52] chriskonnertz commented on #161
Hey yes, but that is not really a classical error message, it is just a helpful message to you. Every match has two participating teams. The "left team" is the home team, the "right team" is the guest team. So before you can create a match you have to create a home team aka a team that belongs to your organisation. Go to the backend, then in the left navigation click on "Website" -> "Teams" then c

[2017-05-10 16:52] #161 closed, assigned to chriskonnertz

[2017-05-10 17:09] chriskonnertz commented on #160
Well you would have to modify the template.

If you use the Morpheus theme, you should be able to add the text here:
https://github.com/Contentify/Contentify/blob/2.0/app/Modules/MorpheusTheme/Resources/Views/layout.blade.php#L76

If you use the Phobos theme, you should be able to add the text here:
https://github.com/Contentify/Contentify/blob/2.0/app/Modules/PhobosTheme/Resources/Views/layout.bl

[2017-05-10 17:10] chriskonnertz commented on #159
Well not on a per-page-base, that would be too much.

[2017-05-10 17:10] #159 closed, assigned to chriskonnertz

[2017-05-10 18:35] ARYX01 commented on #160
Thank you so mutch for the help, but if I wanted the text only on the news(home) page

[2017-05-11 07:56] SlavenTV opened #162 "User löschen"
Meine Frage konnte ich selbst beantworten :)

[2017-05-11 09:13] #162 closed, assigned to chriskonnertz

[2017-05-11 16:26] chriskonnertz commented on #160
Then you have to add the text in this tempalte file: `app/Modules/News/Resources/Views/show_overview.blade.php` (Try to add it right at its top.)

[2017-05-11 16:35] chriskonnertz commented on #162
Alles klar, dennoch kurz die Info. Das Löschen von Usern ist nicht vorgesehen. Du kannst es sicherlich einbauen, würdest dir damit aber über kurz oder lang dein System zerschießen, da stets davon ausgegangen wird, dass zu einer User-ID auch ein User existiert. Rufst du einen Kommentar von einem gelöschten User auf -> es knallt. Rufst du einen Forum-Post von einem gelöschten User auf -> es knallt.

[2017-05-11 16:39] SlavenTV commented on #162
Alles klar danke für diese Info.
Ich bin leider noch neu in dieser Materie. Versuche mich aktuell an einem eigenen Theme xD Aber das klappt schon nicht beim Anlegen vom Module
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 11.05.17, 18:35, Chris Konnertz <notifications@github.com> schrieb:
Alles klar, dennoch kurz die Info. Das Löschen von Usern ist nicht vorg

[2017-05-11 16:45] chriskonnertz commented on #162
Was klappt denn nicht?

[2017-05-11 16:48] SlavenTV commented on #162
also ich kann das theme auswählen im Admincenter. Wenn ich das mache bekomm ich einen Error.
Http://www.team-flash.eu
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 11.05.17, 18:45, Chris Konnertz <notifications@github.com> schrieb:
Was klappt denn nicht?

—You are receiving this because you modified the open/close state.Reply to this email directly, view it o

[2017-05-11 17:48] ARYX01 commented on #160
I added the text there, but nothing appeared on the site so I added the text in show_stream.blade.php and worked, thanks anywhay!

[2017-05-12 05:36] SlavenTV commented on #162
Morgen
Um nochma auf das Löschen eines Users zurück zu kommen. Ich hab einfach ma den Test gemacht und in der datenbank struktur die Teile auf On cascade gesetzt.
Dann kam zwar kein Fehler mehr beim löschen aber er hat dann den kompletten Thread mit gelöscht obwohl dieser nicht vom user angelegt wurde
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 11.05.17, 18

[2017-05-13 14:27] chriskonnertz commented on #162
Dann kam zwar kein Fehler mehr beim löschen aber er hat dann den kompletten Thread mit gelöscht obwohl dieser nicht vom user angelegt wurde

Wie gesagt das Löschen von Usern ist nicht vorgesehen, das kann sonst was für unvorhersehbare Konsequenzen haben.

Was denn für einen? Eventuell ein Problem mit Schreibrechten. Eventuell mal den gesamten public-Ordner mit CHMOD 777 versehen.

[2017-05-18 12:27] ESKiK opened #164 "Error after pressing "Launch Installer""
Hello everyone.

When I try to install Contentify, I get this error from the webpage:

`The requested URL /Contentify/public/install was not found on this server.`

All the things in the `install.php` are green, how can I fix this?

Thank You very much

[2017-05-18 14:52] chriskonnertz commented on #164
Hello,

do you use Apache and if you do so, is mod_rewrite enabled?

[2017-05-18 18:41] ESKiK commented on #164
Yes, I use Apache2, I already done `sudo a2enmod rewrite`, and I got the same problem
I have mySQL installed.

[2017-05-19 16:27] ARYX01 opened #165 "delete"

[2017-05-19 16:43] #165 closed, assigned to nobody

[2017-05-19 20:09] chriskonnertz commented on #164
Okay. On your webspace, is there this file? `public/.htaccess` It should be there.

[2017-05-20 09:37] chriskonnertz commented on #158
Nope. But I will try to fix the problems mentioned in the currently open issue soon.

[2017-05-20 21:01] ARYX01 opened #166 "Matches adding home team"
Where is the file for changing the matches widget? I wanted to add HOME TEAM next to the visiting team in the table. Is this possible?
It would look something like this:
![matches](https://cloud.githubusercontent.com/assets/13236949/26279298/12a7cd38-3db0-11e7-9bb3-474f52c2dc87.PNG)

[2017-05-21 09:31] chriskonnertz commented on #166
Hi,

this is possible, just copy this code to the file `MatchesController.php` (take a look at the linked page to see the full path): https://gist.github.com/chriskonnertz/8e45a2bd8d923bc34fb98b685bca8b55

[2017-05-21 11:42] ARYX01 commented on #166
OK! Thanks for the help!

[2017-05-23 19:44] ESKiK commented on #164
Yes, it is @chriskonnertz, sorry for the delay.

[2017-05-24 10:43] #166 closed, assigned to chriskonnertz

[2017-05-25 23:23] XtremeFighters opened #167 "Error after db install (step6)"
A have this error:
ErrorException in InstallController.php line 1171:
file_get_contents(): http:// wrapper is disabled in the server configuration by allow_url_fopen=0

What can i do?

[2017-05-26 07:06] acamilleri commented on #167
Hello,

You need to open php.ini of your webhosting and edit allow_url_fopen=0 to allow_url_fopen=1

[2017-05-26 16:36] itsomarawad commented on #164
I am having the exact same problem. For some reason it works when i try it out locally via XAMPP but not if i do the exact same steps on the webserver.

[2017-05-27 17:45] ARYX01 opened #168 "VS TEAMS"
In the matches setup admin menu is there any way to put against 2 visiting teams without adding one to the main team?

[2017-05-28 13:30] chriskonnertz commented on #168
Hi,

no, that is not possible in normal matches. (It is possible in cup matches, though.)

And I believe there is no easy way to make this possible.

[2017-05-28 13:30] #168 closed, assigned to nobody

[2017-05-28 13:50] chriskonnertz commented on #164
I do not know how I can help you guys, I have no idea what is going wrong.

[2017-05-28 16:40] itsomarawad commented on #164
Well i was wrong for me it says : ../public/index.php was not found on this server. When i open up the index.php directly on my webbrowser it throws the following error page:

I also noticed that if you try to open up the index.php directly it redirects to the install.php by appending it. So it opens up a URL like that: /public/index.php/install.php - i think this might be the reason it can't be f

[2017-05-30 19:17] purwolf opened #169 "ErrorException dans DatabaseManager.php ligne 167"
bonjour
je ne trouve pas comment faire pour régler ce souci
voici l'erreur

http://www.pur-esport.fr/public/install?step=4

ErrorException dans DatabaseManager.php ligne 167 :
Indice indéfini: pilote
Dans DatabaseManager.php ligne 167
À HandleExceptions -> handleError ('8', 'Indice indéfini: driver', '/htdocs/vendor/laravel/framework/src/Illuminate/Database/DatabaseManager.php', '167', array ('nam

[2017-05-30 19:24] acamilleri commented on #169
Hi,

Can you copy paste your app/config/database.php
I think the default driver database is not set.

---------
Bonjour,

Je pense que le driver de base de données n'est pas indiqué dans le fichier database.php
Peux-tu copier coller ton fichier app/config/database.php

[2017-05-30 19:43] purwolf commented on #169
![capture](https://cloud.githubusercontent.com/assets/29071614/26601650/f2074576-4580-11e7-8675-7d42381b6863.PNG)

<?php

return [

	/*
	|--------------------------------------------------------------------------
	| PDO Fetch Style
	|--------------------------------------------------------------------------
	|
	| By default, database results will be returned as instances of the PHP
	| stdClass obj

[2017-05-30 19:46] purwolf commented on #169
<?php

return [

	/*
	|--------------------------------------------------------------------------
	| PDO Fetch Style
	|--------------------------------------------------------------------------
	|
	| By default, database results will be returned as instances of the PHP
	| stdClass object; however, you may desire to retrieve records in an
	| array format for simplicity. Here you can tweak the fetch

[2017-05-30 19:53] acamilleri commented on #169
Your file looks good, maybe you haven't get installed the php mysql client ?
-> apt-get install php-mysql

---
Le fichier à l'air correct, le client mysql php est-il installé ?
Il est possible de l'installer avec cette commande:  -> apt-get install php-mysql

[2017-05-30 20:19] purwolf commented on #169
je doit l'installer ou  apt-get install php-mysql

[2017-05-30 20:20] purwolf commented on #169
seriez vous me l'installez le cms ?
et peux ton le modifié le Template après

[2017-05-30 20:39] acamilleri commented on #169
For using apt-get you need ssh access.
For using Contentify, requirement is dedicated server or vps with ssh access.
You can find it in Scaleway or Online.net.
Yes you can make everything you want if you know php and laravel.

-----
Pour l'utilisation d'apt get il faut un accès ssh.
Afin de pouvoir utiliser Contentify dans de bonne condition je vous recommande l'utilisation d'un serveur dédié ou u

[2017-05-30 20:44] purwolf commented on #169
je suis ici .lws.fr  heberger

[2017-05-31 17:18] acamilleri commented on #169
What type of plan you have subscribe at lws ?
I think it's hosting problem and not CMS problem :/

---
Quel plan as-tu souscrit chez lws ?
Je pense que le problème provient de ton offre et non du cms :/

[2017-06-04 14:18] zubairfazal opened #170 "Issue when going on modules"
When I click on modules I get this error

ErrorException in Collection.php line 1187:
Undefined index: enabled
in Collection.php line 1187
at HandleExceptions->handleError('8', 'Undefined index: enabled', '/home/nbkclan/public_html/vendor/laravel/framework/src/Illuminate/Support/Collection.php', '1187', array('key' => 'enabled')) in Collection.php line 1187
at Collection->offsetGet('enabled') in L

[2017-06-04 22:26] EazYKevin commented on #170
i get the same error any help ?

[2017-06-05 17:07] EazYKevin commented on #158
i made my work by typing ETC in the app.php file

[2017-06-05 17:31] EazYKevin opened #171 "Avatar/Portrait Picture not working"
i meen the little picture beside my account name

i have this little bug, ist maybe just me doing something wrong

it seems like when i have no Avatar/Portrait set to my profile, it registers like theres is one

and when i add a Avatar/Portrait it comes up whit the defualt img saying no Avatar/Portrait

[2017-06-05 18:03] zubairfazal commented on #170
Now it says

ERROR
Sorry, something bad happened. Our website has crashed.
Don't worry, we will handle this. In the meantime, make a cup of coffee. And stop crushing our website!
WEBSITE

[2017-06-05 19:52] chriskonnertz commented on #170
Hi,

these should fix the bug:
1. https://github.com/Contentify/Contentify/commit/b0762efe5d363211cb2d1ff10eda27f3e42fc7ce
2. https://github.com/Contentify/Contentify/commit/0142b012e17a27fed633879d1b89670987db1179

[2017-06-05 19:55] chriskonnertz commented on #171
Hi,

if you try to upload one of these images, does it appear in this directory? `public/uploads/users`
If not then it might be a problem with permissions.

[2017-06-08 07:16] EazYKevin commented on #171
Hi Chris

Yes it dows apear in the public/uploads/users location i have 2 files called 2_avater.jpg and 2_image.jpg

ist like the code show the no avatar std image, when theres an image uploaded, an when you dont have an image uploaded it tries to load the picture that arent there

best regrads
EazY(eShooting.dk)

[2017-06-08 07:22] EazYKevin commented on #171
when picture is uploaded it load this
background-image: url(http://test.eshooting.dk/public/img/default/no_user.png)

when no picture uploaded it loads this
background-image: url(http://test.eshooting.dk/public/uploads/users/80/)

[2017-06-08 16:26] chriskonnertz commented on #171
Ok you are right, this is a bug.

1. Open `Contentify/app/Modules/PhobosTheme/Resources/Views/layout.blade.php` with a text editor.
2. Swap line 63 ( https://github.com/Contentify/Contentify/blob/2.0/app/Modules/PhobosTheme/Resources/Views/layout.blade.php#L63 ) with line 65 ( https://github.com/Contentify/Contentify/blob/2.0/app/Modules/PhobosTheme/Resources/Views/layout.blade.php#L65 )

Does it

[2017-06-08 17:38] EazYKevin commented on #171
jep thats works

i thougt it was that of a little adjustment, but i couldent find out what files i should look ing :)

thanks for the help
EazY (eShooting.dk)

[2017-06-10 17:11] EazYKevin opened #172 "The impressum page ERROR"
Hello, i have this problem when i try to load the impressum page i think.

what is the page used for ?, and it aint for anything how to i delete the link on the front page ?

this is the error i get

best regrads EazY (eShooting.dk)

see the error here too
http://eshooting.dk/impressum

Sorry, the page you are looking for could not be found.

2/2
NotFoundHttpException in Handler.php line 103:
No q

[2017-06-11 00:27] chriskonnertz commented on #172
Hello,

you may delete the link by removing this line:
https://github.com/Contentify/Contentify/blob/2.0/app/Modules/PhobosTheme/Resources/Views/layout.blade.php#L187

(This change will be overwirtten if you update to a new version in the future.)

[2017-06-11 17:23] EazYKevin commented on #172
Thanks :) but is it used for any special thing ?

[2017-06-11 17:27] EazYKevin opened #173 "Steam Login Error"
Hello Again :)

im trying to login whit steam and i get this error.

ErrorException in helpers.php line 747:
Object of class Invisnik\LaravelSteamAuth\SteamInfo could not be converted to string
in helpers.php line 747
at HandleExceptions->handleError('4096', 'Object of class Invisnik\LaravelSteamAuth\SteamInfo could not be converted to string', '/var/www/eshooting.dk/public_html/vendor/laravel/fra

[2017-06-12 16:38] chriskonnertz commented on #173
Hey,

try this:
1) Make a backup from the `composer.json` and `composer.lock` files and the `vendor` folder.
2) Open a console terminal or connect via SSH to your server
3) Go to the directory of Contentify (`cd /path/to/direcotry`)
4) Execute this command: `php composer.phar update`

I do not know if this will have any effect but you should give it a try.

[2017-06-12 16:48] chriskonnertz commented on #172
Well when clicking on this link the impressum page is supposed to be opened.

I guess that is not a very suprising answer. ;)
I don't understand what the point is?

[2017-06-12 16:51] Roldhave commented on #170
i dont seem to work for me dont know why

[2017-06-12 17:23] Roldhave commented on #171
what if you use morpheusTheme

[2017-06-12 17:25] EazYKevin commented on #173
Hey Chris.

i found the error my self

the error occurs, when i try to login whit my steam user, and because i made a user called EazY at the installation, ist not posibel to login whit my steam, becuase my steam name is ✪ EazY✔  , then it tries to make my slug to eazy aswell, just like the main user.

beuase i cant make 2 users whit the same slug.

i dont know what the slug is used for, but ist t

[2017-06-13 23:37] ghost opened #174 "Get this error trying to do the install using DigitalOcean"
Whoops, looks like something went wrong.

1/1
PDOException in Connector.php line 55:
SQLSTATE[HY000] [2002] Connection refused
in Connector.php line 55
at PDO->__construct('mysql:host=123.123.123.123;dbname=contentify2', 'root', '1ffbd05j----------------f3f186', array('0', '2', '0', false, false)) in Connector.php line 55
at Connector->createConnection('mysql:host=104.131.134.241;dbname=contentify

[2017-06-15 15:39] shoostar commented on #174
I would first try changing the dbhost to 'localhost' in your config, rather than your droplet's IP (assuming you have MySQL on the same droplet).

[2017-06-15 16:59] ghost commented on #174
Okay after that what should i do

[2017-06-15 17:03] #174 closed, assigned to chriskonnertz

[2017-06-15 17:35] itsomarawad commented on #174
JacZGaming when posting error logs on the internet please watch out to remove your personal credentials. I could easily retrieve your ip, your account name and your password for your database from this log. Which would enable me to access your database and do some damage there. You should edit this issue and definitely change your access credentials for your database.

[2017-06-15 20:26] chriskonnertz commented on #174
Thank you for paying attention, I edited the post.

[2017-06-15 20:29] chriskonnertz commented on #174
Here in the log it says:

SQLSTATE[HY000] [2002] Connection refused
in Connector.php line 55

The CMS cannot connect to the database.  Open this file with a text editor and make sure the connection details are correct: `storage/app/database.ini`

I hope that I will be able to run a test tomorrow to make sure the installation still is working on DigitalOcean servers.

[2017-06-15 20:55] shoostar commented on #174
@chriskonnertz it still works on DigitalOcean; I tried this afternoon to verify whether the explicit IP or just 'localhost' needed to be set here: https://jrs86.com/contentify/public/

My apologies for not pointing out the credential info warning; I was amidst working on another project, and figured I'd reply here since I recognized the error/solution. That was just poor form on my part; thankfull

[2017-06-16 02:39] ghost commented on #174
@shoostar  so should i like Message some one?

[2017-06-16 02:39] ghost commented on #174
Also this is a old droplet

[2017-06-16 02:46] JacZGaming commented on #174
@shoostar  @chriskonnertz  I do not see any file other than .gitignore

[2017-06-16 03:34] ghost opened #175 "Issue after signing in"
When typing my Email and Password i click login then it says the website refused to connect.

Any help would be great

[2017-06-16 03:49] #175 closed, assigned to nobody

[2017-06-16 06:22] ghost commented on #170
I'm now getting this issue when trying them fix's by @chriskonnertz

[2017-06-16 12:40] shoostar commented on #174
@JacZGaming ...message someone about...? Do you not have access to the file you need to change? We've given you just about everything you need to know to at least get you started on fixing the problem you're running into. Could you post the results of what happened when you tried editing the settings in `storage/app/database.ini`? Also, have you made sure you created your database properly?

I'm a

[2017-06-16 12:46] shoostar commented on #175
Have you managed to fix your database connection issue from https://github.com/Contentify/Contentify/issues/174? Until you can connect to your site's database, you're not going to be able to log in, register, or do anything within the backend of the site.

Also, unless you've closed it for a specific reason, I'd advise against closing your own issues before they're resolved (or at least, wait unti

[2017-06-16 17:29] ghost commented on #175
it was closed for a reason

[2017-06-17 16:59] chriskonnertz commented on #173
Hey EazYKevin,

thank you for the feedback. I will try to investigate and look for a solution for the problem.

[2017-06-17 17:01] chriskonnertz commented on #171
It does not have this bug, because it does not display the user picture in the frontend. :)

[2017-06-17 17:03] chriskonnertz commented on #171
Bug fixed, issue closed.

Thank you for your feedback, @EazYKevin

[2017-06-17 17:03] #171 closed, assigned to chriskonnertz

[2017-06-17 17:28] chriskonnertz commented on #175
A mysterious reason. ;)

Well it's okay, if you were able to solve the issue then closing it is legitimate.

[2017-06-17 22:07] EazYKevin opened #176 "News Date Issue"
Hello Again

I Think i found a new bug of some kind.

but some times some of my news, gets their updated date changed, when even not have updated any one of them.

maybe an easy fix would be to sort the news at the front page after, published_at date, the the bug maybe not happen, but i cant seem to find the file to change it in my self ?

you know anything to this bug ?

and is there supposed to

[2017-06-18 06:29] ghost commented on #175
Yeah i fixed the issue, but i have been running into a lot of problems aka Modules not working news not working so i'll make a post with all my issue

[2017-06-18 17:29] chriskonnertz opened #177 "Bug in sendMessage method"
Potential bug in `User`model, `sendMessage` method:
Var `$sentBySystrem` is unused - that has to be a mistake.

[2017-06-18 18:56] Edaniel91 opened #178 "Comments report idea for future"
Hi. First one, this CMS is verry easy and verry nice! Thanks for creating one. Second, i have a nice idea. Now we have forum reports, can we have also comments report in future? And can we have another module like: Website offline, please come back later? In admin CP u can shut down a website for a while. :) Thanks!

[2017-06-22 20:10] EazYKevin commented on #176
you anything about this issue ?

[2017-06-22 20:38] Shootify opened #179 "installation"
Hello guys, i have a vps on interservers where i got all my websites, server specs are more than the requirements for contentify needs, however how to is the install process when you storage more sites on your vps? also where can i get themes/templates for it
thank you

[2017-06-22 21:13] acamilleri commented on #179
Hello,

You need to create virtualhost on your webserver to point on public folder of your Contentify folder.

Let's Run the installer on your ip or domain name

[2017-06-22 21:36] Shootify commented on #179
how to do that?

[2017-06-22 21:43] acamilleri commented on #179
1- Create folder in /var/www with name "contentify" and put all file of Contentify in this folder.
2- run "composer install" in folder of Contentify (/var/www/contentify)
3- make virtualhost on your webserver (search on Google how to do that)
4- run installer

[2017-06-22 22:28] Shootify commented on #179
do i need to use putty? or just through the ftp?

[2017-06-23 04:50] acamilleri commented on #179
Oh yes you need putty ;)

[2017-06-26 20:52] Shootify commented on #179
will you please install this on my vps, i have multiples websites running on my server, so i have put all contentify content in a folder call "contentify" on my my public_html

[2017-06-29 20:48] caylorme opened #180 "Dockerfile for deployments"
Hey,

just came across your project. Was thinking of deploying this myself and thought it would be nice to have a docker file to ensure a consistent environment across deployments.
I'll create one for you, just creating this issue for tracking progress. I'll update this ticket once I have a PR up.

[2017-06-30 16:33] chriskonnertz commented on #180
Hey,

awesome! I habve not worked with Docker yet but I like the idea. Thanks!

[2017-07-07 23:22] khalifaone opened #181 "Instalerror"
Hello, i try to use this CMS, i think is best choice for me!! But i have a problem at instalation. At step 4 i have an error.

ErrorException in InstallController.php line 291:
set_time_limit() has been disabled for security reasons

https://ibb.co/e9d2ua

[2017-07-08 16:10] Kazuto opened #182 "How to create own module?"
I'm trying to create a module called "Informations" and duplicated the Partners module and changed every
"partner" to "information"
"Partner" to "Information"
"partners" to "informations"
"Partners" to "Informations".

And i've created a new table "informations".
[https://pastebin.com/0bzHcthC](url)

But this does not seem to work.

Does someone have a proper guide on how to create a module?

[2017-07-09 08:51] Kazuto opened #183 "How to embed navigation widget with certain ID?"
I've tried everything now but can't seem to get any other navigation to show than the first one created in the backend.

That's what I've tried to far:
@widget('Navigations::Navigation',(3))
@widget('Navigations::Navigation',('3'))
@widget('Navigations::Navigation',[3])
@widget('Navigations::Navigation',['3'])
@widget('Navigations::Navigation','id::3')
@widget('Navigations::Navigation','id=3')
 an

[2017-07-09 16:26] chriskonnertz commented on #183
Hi,

here is a general "guide":
- Try to locate the PHP script of the widget. The general module directory is `app/Modules` so in this case we have to go to `app/Modules/Navigation` . The PHP script of a widget is always in the `Http/Controllers` (sub) directory of a module. So in this case open this file (with a text editor): `app/Modules/Navigation/Http/Controllers/NavigationWidget.php`
- In the

[2017-07-09 16:28] chriskonnertz commented on #182
Hi,

your pastebin link does not seem to work?

If your module is no secret, please upload it somewhere then I will test it.

[2017-07-09 16:30] chriskonnertz commented on #181
Hello,

I made a change in the code that should avoid this error: https://github.com/Contentify/Contentify/commit/60b0163ace6d2f993fa950cb3856a8b62c4ba212 Please copy the change to your code (open  contentify/Controllers/InstallController.php with a texteditor, then copy and paste the change, it is in the green line)

Please let me know if the code change solved the problem. :)

[2017-07-09 16:32] Kazuto commented on #183
Thanks for the answer but this does not seem to work.

`FatalErrorException in 16e04378815612ce66c156bc130a5f950b7a1bc4.php line 113:
syntax error, unexpected '']); ?>' (T_CONSTANT_ENCAPSED_STRING), expecting ']'`

[2017-07-09 16:34] chriskonnertz commented on #178
Hi,

Thank you! :)

Yes, that is a very good idea.

We do not have such a module atm, but the CMS/framework has an offline-mode already. This is a feature that comes from the framework that we use, Laravel. You can read more about it here: https://laravel.com/docs/5.2/configuration#maintenance-mode

You have to execute this command via a console / terminal (SSH).

It is not available via the admin

[2017-07-09 16:38] chriskonnertz commented on #183
Sorry, my bad. Try this one:

`@widget('Navigations::Navigation', ['id' => 3])`

I accidentally added a useless `'`.

[2017-07-09 16:58] #183 closed, assigned to chriskonnertz

[2017-07-09 16:58] Kazuto commented on #183
Thanks :)

[2017-07-09 17:12] Kazuto commented on #182
I've uploaded it to my cloud. https://cloud.kazuto.de/index.php/s/N02kxyoHDfI4zuK

[2017-07-10 12:05] khalifaone commented on #181
Hello, thank you for email and help, i change that line of code and now
i have new error, maybe the problem is my hosting reseller. Recomand me
a good server to ret some spate to upload Contentify files.

So, you don't answer my if you are interesed to do something changes for
my in this platform. I need some changes at some points.

PS: check attach.

--

Cu respect,
CRISTIAN NICULAE
_FOUNDER_
E:

[2017-07-12 01:32] MLGBeta opened #184 "Installation Errors"
I am running into various installation errors. Could anyone set this up on my server for me for a little bit of paypal money? if so shoot me an email mlgbetacod@gmail.com

[2017-07-16 18:37] chriskonnertz opened #185 "Create an awards template"
Currently there is no awards template, the HTML code for the awards is part of the teams "show" template.

Maybe it makes sense to move this code to its own file.

[2017-07-17 12:21] Kazuto opened #186 "My thoughs and feedback"
I'm using Contentify for a few weeks now and as I frontend designer I had some problems with it. Here are my thoughts on making Contentify easier to use and customize to own needs:

- A seperate file for the main content/index page that extends the layout.blade.php instead of having it's content inside it.
   - Widgets would just be displayed were needed instead of extended on each page
   - Creat

[2017-07-17 20:29] chriskonnertz commented on #186
Hello,

thank you for you feedback!

The current template/layout/theme implementation is not the best, for sure. It is not very flexible. I have noticed some drawbacks as well. I believe sooner or later the tempalte system will change.

I am not sure if I understand what you are up to. Why does it make sense to have members of a team (on the team page) have an image that differs from their user po

[2017-07-18 06:44] Kazuto commented on #186
This way team members don't have to register and everything will be up to the admin. Team members can change quickly and therefore it's easier and faster to change the single team members than deleting and registering a complete new user. Especially if you want to have a team overview you don't just have rectangular images but complete portraits.

You can basically decide what to display, but both

[2017-07-18 17:02] caylorme commented on #180
@chriskonnertz, does the application currently support environment variables for most configuration parameters? If I have most appropriate environment variables set, is there a way to skip the install.php script?
For schema changes, does this happen automatically?

[2017-07-18 17:46] Kazuto commented on #186
I've just tried to use the editor for custom pages and it removes every class from HTML elements. Therefore it's not practicable.

[2017-07-19 10:10] SlavenTV opened #187 "Coverages"
Ich würde gerne Coverages a la 99Damage auf unserer Homepage anzeigen bzw. umsetzen.

In wie weit wäre dies momentan schon machbar bzw. wie groß wäre der Aufwand um so etwas umzusetzen?

99Damage Coverages: [https://csgo.99damage.de/de/coverages/](https://csgo.99damage.de/de/coverages/)
Natürlich mit den Unterseiten zu den einzelnen Coverages

[2017-07-21 14:27] NapalmEsports opened #188 "ErrorException in ProcessUtils.php line 74:"
We are getting the following error while installing Contentify on a shared host at step 4 in the installation process

## **ErrorException in ProcessUtils.php line 74:
escapeshellarg() has been disabled for security reasons**

Here are some [screenshots](https://www.dropbox.com/sh/omhyr273ooits90/AABZY6ZDPbquYPWDA0xHejTCa?dl=0)

[2017-07-21 18:07] chriskonnertz commented on #188
Hello,

this *might* have been fixed in versin 2.1 (still in development state): https://github.com/Contentify/Contentify/tree/2.1-dev

But I do not rebember for sure.

[2017-07-21 23:21] NapalmEsports opened #189 "PDOException in Connector.php line 55:"
Tried installing the Dev 2.1 version of contentify on shared hosting and got the following error at step 4 of the installation process.

**## PDOException in Connector.php line 55:**
SQLSTATE[HY000] [2002] No such file or directory

here are the screenshots of this [error](https://www.dropbox.com/sh/1fmglw54vsti4yg/AADah3vWfu7PC4VriPKERRoVa?dl=0)

[2017-07-22 07:02] chriskonnertz commented on #189
Hi,

as a fast workaround I will figure out how you can fix the issue https://github.com/Contentify/Contentify/issues/188 without having to install v2.1.

[2017-07-24 08:49] SlavenTV opened #190 "Anzeigefehler Backend News"
Hallo

Mir ist gerade aufgefallen das ich einen Anzeigefehler im Adminbackend bei dem News Module habe.
Ich weiß leider nicht wie ich das beheben kann.
Fehlerbild: [http://team-flash.eu/fehler.png](url)

Vll hat jemand eine Idee was das Problem ist.

[2017-07-25 17:28] chriskonnertz commented on #188
Sorry for the silence.

I have to retract my statement. There is no "bugfix" for the problem.

This is becasue I cannot write a bugfix. The use of escapeshellarg() happens outside of the direct code of Contentify. Contentify uses a lot of third party code (vendor code) such as components from Symfony. You might have heard of Symfony, it is very popular amongst PHP developers. Unfortunately this me

[2017-07-25 17:35] chriskonnertz commented on #189
I had no luck with a workaround, take a look at my comment on the other issue.

It is difficult to help here. Using shared hosting environments is a challenge for a more advanced web application such as Contentify. This problem is not known to me so all I can do is using Google. :P

Please take a look at this link: https://stackoverflow.com/questions/20723803/pdoexception-sqlstatehy000-2002-no-suc

[2017-07-25 20:59] chriskonnertz commented on #190
Hallo,

sehr merkwürdig. Die Farben wurden ja offenbar angepasst, sicher, dass da nicht einfach versehentlich die Textfarbe (`color`) für `select` / `option`-Elemente auf `transparent` oder einen Grauton geändert wurde?

[2017-07-27 09:09] khalifaone opened #191 "Show cups on Homepage"
Hello, finaly i finish to set all things at this CMS. Now i want to show on homepage CUPS sections, in bottom of slider i want to put that section with incoming events. I search for this code line in all files but i didn;t find. i will attach a screen here!

And second thing is: Can i HIDE video from homepage, and it remain only articles? Now i have all video and articles in homepage, or set a lim

[2017-07-28 18:17] chriskonnertz commented on #191
Hello,

1) there are two widgets for cups. First is the "Featured Cup" widget: `App\Modules\Cups\Http\Controllers\FeaturedCupWidget` that displays short infos and a link for alll published cups that are marked as "featured". Second is the "CupsControlWidget" (in the same directory) that allows users to manage their cups. You include a widget in a template with this code (example): `@widget('Cups::

[2017-07-28 18:30] chriskonnertz commented on #190
Nachtrag: Habe das nochmal nachgeschaut, also das ist mit recht hoher Wahrscheinlichkeit irgend ein Problem das dir durch Veränderung des Stylings aufgetreten ist. Insofern schwer zu sagen was da los ist, dazu müsste ich Zugang zur LESS/CSS-Datei haben.

[2017-07-28 18:34] SlavenTV commented on #190
ich habe aber die original backend.css auch versucht. vll liegt es an der geänderten frontend.css
Hatte die Tage wenig zeit zum nachgucken
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 28.07.17, 20:30, Chris Konnertz <notifications@github.com> schrieb:
NAchtrag: Habe das nochmal nachgeschaut, also das ist mit recht hoher Wahrscheinlichkeit irgend ein Problem

[2017-07-28 18:40] chriskonnertz commented on #187
Hallo,

out-of-the-box geht das derzeit nicht.

Beziehst du dich nur auf die verlinkte Seite? Wenn ja: Der Aufwand das einzubauen wäre aber relativ gering.

*Ich* könnte das wahrscheinlich in weniger als einer Stunde einbauen. Wenn ihr das selber machen wollt werdet ihr wohl länger benötigen. :P Allerdings bei Fragen würde ich euch natürlich helfen.

Von Vorgehen würde ich Coverages als "Kategorie

[2017-07-28 18:45] SlavenTV commented on #187
Ne es muss nicht so wie auf der 99Damage seite sein, bin für alternativen offen.

Aber diese Lösung würde mir für den Anhang genügen wenn der Aufwand nicht so hoch wäre.

--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 28.07.17, 20:40, Chris Konnertz <notifications@github.com> schrieb:
Hallo,
out-of-the-box geht das derzeit nicht.
Beziehst du dich nur auf die v

[2017-07-28 18:51] chriskonnertz commented on #180
I hink I miss the point here. So it is difficult for me to give you an appropriate answer. All I can say is that Contentify does not introduce environment variables. Only Laravel, the framework, does. Maybe this link helps you out: https://laravel.com/docs/5.4/configuration#environment-configuration

Yes, you can skip the `install.php` script and directly call for example `http://localhost/content

[2017-07-28 18:54] chriskonnertz commented on #184
Hello,

sorry for the delay. I your request still up to date?

[2017-07-28 20:13] MLGBeta commented on #184
Yes please email me at devinthompson@me.com

[2017-07-29 17:42] chriskonnertz commented on #184
Done.

[2017-07-29 17:42] #184 closed, assigned to chriskonnertz

[2017-07-29 17:46] chriskonnertz commented on #190
Hm, die frontend.css kommt im Backend nicht zum Tragen, die wird da gar nicht eingebunden: Da gibt's eine ziemliche strenge Trennung, um genau solche Probleme zu vermeiden. Klingt so als hättest du ausschließlich die CSS-Datei(en) verändert, ansonsten hätte ich gesagt, ein Blick in die `resource/assets/less/shared.less` könnte nicht schaden aber so ist das wohl eher nicht zielführend. Von daher wä

[2017-07-29 17:59] chriskonnertz commented on #186
Okay, got it.

I understand your desire for this feature know. However, I believe that this feature is something that would rather be a customization for a special use case than something that should be part of the CMS in general. So, following the 80/20 rule ( https://en.wikipedia.org/wiki/Pareto_principle :D ) to me it seems to be too much afford in comparison to the value.

---

Despite of that

[2017-07-29 17:59] chriskonnertz commented on #18
More ideas: https://github.com/Contentify/Contentify/issues/186

[2017-07-29 18:13] chriskonnertz commented on #190
PS: Welche Version von Contentify nutzt du überhaupt?

[2017-07-29 18:15] SlavenTV commented on #190
Ich nutze die 2.1-dev Version.

Werd dir die css hochladen schnell mom

 

Gesendet: Samstag, 29. Juli 2017 um 20:13 Uhr
Von: "Chris Konnertz" <notifications@github.com>
An: Contentify/Contentify <Contentify@noreply.github.com>
Cc: Slaven27 <Hopperjr@web.de>, Author <author@noreply.github.com>
Betreff: Re: [Contentify/Contentify] Anzeigefehler Backend News (#190)

PS: Welche Version von Contentify

[2017-07-29 18:22] SlavenTV commented on #190
https://gist.github.com/anonymous/e0af114f1eab5d03edc3e4931786bee7

[2017-07-29 18:37] #179 closed, assigned to nobody

[2017-07-29 18:38] chriskonnertz commented on #179
I have closed this issue since it is very old and seems to be no longer active.

However, iIf it is still current you can still add posts here. Or just create a new issue.

[2017-07-29 18:40] #172 closed, assigned to chriskonnertz

[2017-07-29 18:40] chriskonnertz commented on #172
Closed, since this issue seems to be no longer active.

[2017-07-30 11:33] Mrciller opened #192 "VServer"
How can i install it on a Vserver?

[2017-07-30 15:14] chriskonnertz commented on #190
Okay, die backend.css hat bei mir keine Auswirkung (Opera, Firefox).

![screenshot_color](https://user-images.githubusercontent.com/4319323/28754680-87443448-754a-11e7-9964-ce6c1f2ce255.jpg)

Also an der liegt es nicht. Du kannst aber theoretisch auch selber nachschauen:
![bild_devtools](https://user-images.githubusercontent.com/4319323/28754697-17415b2a-754b-11e7-9ebd-e038f844fae9.png)
Entwickler

[2017-07-30 15:25] chriskonnertz commented on #192
Hello,

your question is not very precise. :P

Read more about the installation *in general* here: https://github.com/Contentify/Contentify/wiki/Installation

[2017-07-30 15:45] chriskonnertz commented on #182
Did you delete this file at least once after you created your module? `storage/app/modules.json` This file is a cache file  with infos about the modules and it needs to be refreshed. When you delete it, it will be re-generated automatically.

Also I had to clear the cache to see the new entry in the navigation of the backend. The easiest way is to delete all files / folöders in `storage/framework/

[2017-07-30 15:51] chriskonnertz commented on #182
Btw, thank you for your feedback, I have added a new section to the wiki that describes the process of installing a new module. https://github.com/Contentify/Contentify/wiki/Modules#installing-new-modules

[2017-07-30 16:17] chriskonnertz commented on #177
Fixed by https://github.com/Contentify/Contentify/commit/9c6af1ed29545322f6f5355bb60743bf42f1039e

[2017-07-30 16:17] #177 closed, assigned to chriskonnertz

[2017-07-30 16:18] #181 closed, assigned to chriskonnertz

[2017-07-30 16:18] chriskonnertz commented on #169
Closed, since this issue is inactive.

[2017-07-30 16:19] #169 closed, assigned to acamilleri

[2017-07-30 16:20] chriskonnertz commented on #170
Delete this file `storage/app/modules.json`
This file is a cache file with infos about the modules and it needs to be refreshed. When you delete it, it will be re-generated automatically.

[2017-07-30 16:20] #170 closed, assigned to nobody

[2017-07-30 16:20] chriskonnertz commented on #187
Ok ich denke darüber nach.

[2017-07-30 16:21] #167 closed, assigned to nobody

[2017-07-30 16:21] chriskonnertz commented on #167
Closed since this issue is very old and inactive.

[2017-07-30 16:22] chriskonnertz commented on #164
Hello, well sorry, your post did not help me. :/ Is this issue still up to date?

[2017-07-30 16:25] chriskonnertz commented on #157
Hello,

open `config/app.php` with a text editor. At line 89 (or close to it) I expect this code: `'timezone' => 'UTC'`
Try to change it to your time zone. I don't know it it helps but this idea jsut came to my mind. I guess it overwrites the value in the php.ini. I have also changed the code so that it should display the right value now: https://github.com/Contentify/Contentify/commit/c59fa5859a2

[2017-07-30 16:32] #157 closed, assigned to nobody

[2017-07-31 15:30] khalifaone commented on #191
Thank you! It works! have a nice day!

[2017-07-31 16:16] chriskonnertz commented on #176
Hello,

Unfortunately I do not know anything about this bug. :/

No, that is not on the roadmap.

However, it should not be that hard to implement. Add the pagination HTML code and add apgination to the news controller.

[2017-07-31 16:18] #191 closed, assigned to chriskonnertz

[2017-07-31 16:18] chriskonnertz commented on #191
Great! Have a nice day as well.

[2017-07-31 17:38] chriskonnertz commented on #173
I have created a bugfix for this, it will now ensure that a unique slug is created.

https://github.com/Contentify/Contentify/commit/d87f8f4303c113368d13a769bf8dff33466a4eec

[2017-07-31 17:38] #173 closed, assigned to chriskonnertz

[2017-08-01 14:51] SlavenTV commented on #190
Also ich habe denke ich das Problem gefunden jetzt. Weiß aber nicht wie es beheben kann.

Es liegt daran das der Text also der Autor nicht an die Auswahlbox übergeben wird. Es wird nur die ID als Value übergeben.  Wenn ich die Zeile über die Entwicklertools anpasse, erscheint der Text direkt in der Box. Siehe Screen

![fehler2](https://user-images.githubusercontent.com/28620056/28831325-8c841514-7

[2017-08-01 16:08] chriskonnertz commented on #149
Done: https://github.com/Contentify/Contentify/commit/e6c2590f62ab7de7fd86822c48842377e43c67ec

[2017-08-01 16:08] #149 closed, assigned to chriskonnertz

[2017-08-01 16:38] chriskonnertz commented on #185
Won't create an award template since there is an autogenerated awards index page and the awards on the teams page really belong to the teams, not to the awards.

But I have added an awards widget: https://github.com/Contentify/Contentify/commit/89a2ee6822eaed7126958bfe4c12c8a80ad80949

[2017-08-01 16:38] #185 closed, assigned to chriskonnertz

[2017-08-01 16:38] chriskonnertz commented on #186
I have added an awards widget: 89a2ee6

[2017-08-01 16:41] chriskonnertz commented on #190
Sehr merkwürdig.

- Hast du etwas am PHP-Code geändert, dass damit irgendwie, und sei es nur ganz entfernt, zu tun haben könnte?
- Es gibt mehr als 2 registrierte User, richtig? Haben alle User einen Usernamen?
- Du nutzt ein Standardsetup mit einer MySQL-Datenbank (kein Postgre oder so etwas) und einem Apache-Webserver (kein Nginx)?
- Haben sich User über die Steam-Login-Funktion eingeloggt?
- Ha

[2017-08-01 16:58] SlavenTV commented on #190
Eig hab ich nix bewusst entfernt
Vorallem nicht im Backend

Da hab ich nur die Farben geändert

Ja habe mehrere User die haben alle einen usernamen
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 01.08.17, 18:41, Chris Konnertz <notifications@github.com> schrieb:
Sehr merkwürdig.

Hast du etwas am PHP-Code geändert, dass damit irgendwie, und sei es nur ganz ent

[2017-08-02 09:02] khalifaone opened #194 "Date & Time"
How can i change timezone for Bucharest, Romania? I find some topics but nothing corectly.

[2017-08-02 19:12] chriskonnertz commented on #194
Hello,

did you change it in the `php.ini` and in `config/app.php`?

[2017-08-03 06:28] MohsinAhmedShaikh opened #195 "Twitch Stream Screenshot"
Hello,
Sir i would like to know how to get twitch stream screen shot.

1. I already set cronjob for https://pakfraggers.pk/jobs  on every 5 minutes.
2. I already insert the twitch api key in admin panel.
3. I run the command for update vendors . php compose.phar install or update.
4. Folder permissions is set on 777.

still i could not get the screenshot for twitch streams, Please Help me.

i woul

[2017-08-03 06:46] MohsinAhmedShaikh commented on #195
It has been fixed by adding new twitch stream i dont know how . Thanks anyway

[2017-08-03 18:08] chriskonnertz commented on #195
Good idea. Server on/offline is pretty easy, but detecting how many palyers are playing is not, because this would need an API that makes it possible to ask the server for such information. To much of a challenge right now. :P

[2017-08-04 07:09] MohsinAhmedShaikh commented on #195
for csgo server query you can use this script but it needs to be update every minute to get the current status of server and other details,

    $ip = "216.52.148.47";
    $port = "27015";

    $socket = socket_create(AF_INET, SOCK_DGRAM, 0);
    $result = socket_connect($socket, $ip, $port);

    if($result < 0)
        echo "connect() failed.\nReason: ($result) \n";

    $data = "\xFF\xFF\xFF\xF

[2017-08-05 20:26] exelv1 commented on #119
sry I was typing via cell phone what I wanted to say is would you consider ever having a match making type implementation like faceit.com?

[2017-08-05 20:27] exelv1 opened #196 "sry was useing phone last time"
sry I was typing via cell phone what I wanted to say is would you consider ever having a match making type implementation like faceit.com?
--

[2017-08-06 11:53] MohsinAhmedShaikh commented on #105
Where is bracket feature in contentify 2.1 ?

[2017-08-06 17:32] chriskonnertz commented on #105
Hi,

well the feature that krysennn has implemented is not yet in the v.21 branch, because it is not yet ready.

However, the _module_ is located here: https://github.com/Contentify/Contentify/tree/2.1/app/Modules/Cups

[2017-08-06 17:35] chriskonnertz commented on #119
At the moment there is no plan to enhace the cup/tournament system. (At least not from my point of view. Of course, there is a chance that someone else will provide new stuff,)

[2017-08-06 18:07] Laxeer0 opened #197 "Update fail"
When I try to update, the terminal comes out written: PHP Parse error:  syntax error, unexpected 'print' (T_PRINT), expecting identifier (T_STRING) in /var/www/vhosts/k2gaming.it/httpdocs/public/update.php on line 242

[2017-08-06 20:31] chriskonnertz commented on #197
Hi,

what PHP version does your server use?

[2017-08-06 20:34] chriskonnertz commented on #197
Guess naming a method "print" was not a smart move. :/

[2017-08-06 20:39] chriskonnertz commented on #197
Does this help? https://github.com/Contentify/Contentify/commit/98187776a92ea13d8eb36caaa8d0e2f71480395e

[2017-08-06 21:00] Laxeer0 commented on #197
more error incoming

[2017-08-06 21:00] Laxeer0 commented on #197
https://pastebin.com/2LCG07U9

[2017-08-07 16:56] Laxeer0 commented on #197
@chriskonnertz some solution?

[2017-08-07 16:58] acamilleri commented on #197
Hi,

what PHP version does your server use?

[2017-08-07 16:59] acamilleri commented on #196
Not it's not in the roadmap but you can add that in the project if you want ;)

[2017-08-07 18:54] Laxeer0 commented on #197
i try with php 5.6.30 and 7.1.7

[2017-08-08 15:16] AznoYT opened #198 "HTTP ERROR 500 before launch install"
Hello everyone, in advance sorry for my english because I am French, I come to see you today because I find myself with the following problem: when I click launch install it shows me "HTTP ERROR 500" Look at a may have had the same problem as me and I try to fix them but without success, so thank you in advance for your help

[2017-08-08 17:54] chriskonnertz commented on #196
Yep!

[2017-08-08 17:54] #196 closed, assigned to nobody

[2017-08-08 18:02] chriskonnertz commented on #197
@Laxeer0 So the error message says that there is not file in "/var/www/vhosts/k2gaming.it/httpdocs/public/../AppBridge.php" which is the same as "/var/www/vhosts/k2gaming.it/httpdocs/AppBridge.php"

Please tell me if this file exists? If it exists, maybe there is a problem with missing permissions?

[2017-08-08 18:03] Laxeer0 commented on #197
@chriskonnertz don't exist

[2017-08-08 18:09] chriskonnertz commented on #197
Okay that is really strange, it should exist as you can see here:
https://github.com/Contentify/Contentify/ or here: https://github.com/Contentify/Contentify/blob/2.1/AppBridge.php
I am suprised that you have the `public/update.php` file but not the `AppBridge.php` file?

[2017-08-08 18:14] chriskonnertz commented on #198
Hello AznoYT

- When / before you clicked on the "launch install" button, was everything green or something red?
- Are you able to take a look at the error log? It is this file: `storage/logs/laravel.log`

[2017-08-08 18:15] Laxeer0 commented on #197
i resolve

[2017-08-08 18:15] #197 closed, assigned to chriskonnertz

[2017-08-08 18:16] chriskonnertz commented on #197
Ok great!

[2017-08-08 18:17] chriskonnertz commented on #195
I will take a look at it soon. :)

[2017-08-08 19:41] AznoYT commented on #198
yes everything is green and i have this in the log https://pastebin.com/7ZwBfzHy

[2017-08-10 17:21] chriskonnertz commented on #198
Did you download it right here from GitHub by cloning the repository / downlaoding the (pure) source code? If so, did you run the `php composer.phar install` command? If yes, can you runit again please?

The error log contains some error messages about missing files. This is the first time that I see this problem.  I do not know why the mentioned files would be missing, for example this file: `con

[2017-08-12 12:57] chriskonnertz opened #199 "[Official]Contentify 2.2"
**Contentify v2.2**

_Release branch_: https://github.com/Contentify/Contentify/tree/2.2

**Schedule**

Out now: https://github.com/Contentify/Contentify/releases/tag/v2.2

**Features**

- Update the framework, Laravel, to v5.3. Finally!
- Incorporate (at least some) ideas from the community
- Fix bugs
- Maybe some improvements to the updater
- Maybe at some stuff from the older roadmaps

So, no b

[2017-08-14 15:10] itsomarawad commented on #164
Sorry for not getting back to you earlier (i was on vacation). I just did a fresh reinstall just to be sure, but the error persists. It must be a routing problem or something but i can't get the hang of it why it claims that index.php doesn't exist at this location when its clearly there,

[2017-08-15 11:22] ARYX01 opened #200 "News limit and older news"
1) How to increase news limit in homepage?
2) How to add a button at the end that load older news?

[2017-08-15 11:43] ARYX01 commented on #200
2.1 if is too hard to do that how to add another news page with previous news with img, description etc.
I tried to do that
![main_page1](https://user-images.githubusercontent.com/13236949/29314706-8351a164-81bf-11e7-91ee-920102ab2835.png)
and when I click the 2 nd page botton:
![page2](https://user-images.githubusercontent.com/13236949/29314727-9a55739a-81bf-11e7-87f7-1d75c0ba55f5.png)

[2017-08-20 02:33] Shaneajm opened #201 "News Articles Cause Query Errors"
Hello! I'm running Contentify 2.1 on Windows (hosted locally using XAMPP to demo it) and when I click on published news articles in the admin panel I get these two errors.

No query results for model [App\Modules\News\News].

No query results for model [App\Modules\News\News].

I also don't see any published articles on the home page, I'm assuming it's because of this issue.

Thanks!

[2017-08-20 16:17] chriskonnertz opened #203 "Forum permission check bug"
In the `ThreadsController` there are undefined vars. It does not seem to be a security issue since the evaluation of the undefined var would always result in null -> false and that would not be a problem.

Has to be fixed in v2.0, v2.1 and v2.1-dev, maybe even in v1.2.

[2017-08-20 17:37] chriskonnertz opened #204 "TODO: Laravel 5.3 test"
Removed all `Route::controller()` calls and replaced them by explicit routes according to the Laravel 5.3 update guide:

https://github.com/Contentify/Contentify/commit/270c5cf98af60ccd153fdf6a67c85238635bfe03

These new routes have to be tested!!

[2017-08-21 16:21] chriskonnertz commented on #201
Hello,

I have tested it and on my installation it works fine.

Is there anything "special" about your installation? Did you change or add any code? Did you upgrade from v2.0 or did you install a fresh copy of v2.1? Did you use `git clone` to download it? Do you use an Apache server with a MySQL database or maybe something else, something more exotic? May you please post your error log? It is in `

[2017-08-22 10:08] khalifaone opened #205 "Points system"
Hello!
Its possible to put a point system?
When a player / team win a cup earn 10 points. its posible to add this feature? Maybe an option wich i can set personal their winings. Like a deposit & withdraw points.

[2017-08-23 04:00] Shaneajm commented on #201
I cloned a fresh install directly from GitKraken into my XAMPP install directory. I do use apache2 with MySQL and PhpMyAdmin. I attached my log file below.

[larvel-log.txt](https://github.com/Contentify/Contentify/files/1244095/larvel-log.txt)

[2017-08-24 19:11] chriskonnertz commented on #204
Also check if the "Modules" module still works since Coffeinated added the "Module" alias while there also is a "Module" model.

[2017-08-24 19:20] chriskonnertz commented on #204
This code has been remove from the `BaseController` class: `$this->middleware('csrf');`
CSRF protection should be enabled by default. But this has to be tested.

[2017-08-24 20:46] chriskonnertz commented on #205
Hi,

well yes it is *possible*. Is this a feature request? Or do you want to implement this on your own?

[2017-08-24 20:47] chriskonnertz commented on #204
The file `.env.example` is outdated and needs to be updated.

[2017-08-24 20:54] chriskonnertz commented on #201
Interesting: The exceptions are not mentioned in the log file. Instead there are a lot of issues with the database. Are you sure that Contentify can connect to the database? The last error is: `SQLSTATE[HY000] [1045] Access denied for user 'root'@'localhost' (using password: NO)`

[2017-08-24 20:58] chriskonnertz commented on #200
Can you please post the code that you have added to display the paginator?

[2017-08-24 20:59] chriskonnertz opened #206 "Fix paginator colors"
The colors (style) of the paginator on the news index page seem to be wrong:
https://user-images.githubusercontent.com/13236949/29314727-9a55739a-81bf-11e7-87f7-1d75c0ba55f5.png

[2017-08-24 21:00] chriskonnertz commented on #200
Ok I guess I know how you added it.

[2017-08-24 21:01] ARYX01 commented on #200
Its the same of the back-end i think, because i copyed the URL from there

[2017-08-24 21:07] chriskonnertz commented on #200
Ok. Hmm... I cannot test it right now. :/

You would have to modify the `showOverview` method in the `app/Modules/News/Http/Controllers/NewsController.php` file so that it uses pagination.
This is the official documentation about pagination: https://laravel.com/docs/5.2/pagination
Maybe it is enough to add `->paginate(10)` to the query builder...

And you would have to change the `index` method to

[2017-08-24 21:29] ARYX01 commented on #200
So,  have changed the NewsController.php
And added this to Controllers.php:

namespace App\Http\Controllers;

use DB;
use App\Http\Controllers\Controller;

class UserController extends Controller
{
    /**
     * Show all of the users for the application.
     *
     * @return Response
     */
    public function index()
    {
        $users = DB::table('users')->paginate(10);

        return view

[2017-08-25 05:39] MohsinAhmedShaikh commented on #205
Its a nice idea, it should be in contentify next update that would be good as you can see there are other esports websites we found this function in there ... and i also think it will be good if those points make a clan ranking system from these point system from overall tournaments and cups etc, for example check www.gosugamers.net we can see the matches and on going matches live stream and i als

[2017-08-27 09:44] chriskonnertz commented on #205
Ok. What I can do is this:

Alright. This one should be easy.

[2017-08-27 14:48] chriskonnertz commented on #205
I have added the cup points calculation.
- Users / teams get points for winning a cup
- You can set the amout of points in the admin backend in the cups section, default is 10, minimum is 1
- Points will be displayed on the user and the team profiles (if a user/team has more than 0 points)
- Currently there is no direct way to edit the points. However, you can edit them in the database via PHP or

[2017-08-27 15:35] #160 closed, assigned to nobody

[2017-08-27 15:49] chriskonnertz commented on #200
Hah sorry you got me wrong. :p

I followed my own guide and it works with one little difference.
Here are all the steps I did:

1. I opened  `app/Modules/News/Resources/Views/show_overview.blade.php` and added this line at the end: `{{ $newsCollection->links() }}` This will render the paginator. You should replace your code with mine if your differs.

2. I opened `app/Modules/News/Http/Controllers

[2017-08-27 16:33] ARYX01 commented on #200
It didn't render
![image](https://user-images.githubusercontent.com/13236949/29752000-177fc754-8b56-11e7-8cc4-5c4e668e7616.png)
I did all the steps, I deleted my <12> buttons, but it didn't render the paginator buttons

[2017-08-27 16:36] ARYX01 commented on #200
I have tryed to replace by buttons(they were in show_stream.blade.php) with {{ $newsCollection->links() }} but then it says: Undefined variable: newsCollection (View: /var/www/html/app/Modules/News/Resources/Views/show_stream.blade.php)

[2017-08-27 17:02] chriskonnertz commented on #200
I assumed you are in show_overview.blade.php

[2017-08-27 17:05] chriskonnertz commented on #200
In `show_stream.blade.php` it is `$streamItems` instead of `$newsCollection` but it will not work I guess.

I suggest not to use show_stream but show_overview instead. In `app/Http/routes.php` line 22 search for "showStream" and repalce it with "searchOverview".

[2017-08-27 17:13] ARYX01 commented on #200
aaaa ok thanks searchOverview or showOverview? I guess showOverview works

[2017-08-27 17:31] chriskonnertz commented on #206
Fixed: https://github.com/Contentify/Contentify/commit/17827514cab73dc712e7771d67b166316c70b3e8

[2017-08-27 17:31] #206 closed, assigned to chriskonnertz

[2017-08-27 18:10] chriskonnertz opened #207 "Use mailables"
It might make sense to use mailables ( https://laravel.com/docs/5.3/mail#generating-mailables ) in v2.2 since using `Mail::send()` is "deprecated". It will no longer work in Laravel 5.4.

[2017-08-28 07:18] khalifaone commented on #205
Hello, yes i want to put this on our esports website.
Tank you for answers and help with new updates.

[2017-08-28 15:58] SN4RX opened #208 "Problem with page"
Hi, at first I would like to apologize for my English - everything was translated using Google Translate. When on my page in the menu I will select for example: "Partners" and hit back on logo, color # cc3e26 remains on "Partners" and should move to "Home". In addition, the news page is too much on the header, you can see it on the screen: http://imgur.com/mNk7vbP

[2017-08-29 19:41] SN4RX commented on #208
What do I do with it?

[2017-08-30 18:28] chriskonnertz commented on #208
Hello

Strictly speaking, that's not a _bug_. I know that it looks odd but the reason is that you did not add any slider items. If you take a look at the demo page http://demo.contentify.org there you can see that between the main navigation and the content section of the page (which includes the news section) there is a slider.

But I agree that it *looks* like a bug.

Yes, this is a bug. The CMS

[2017-08-30 18:36] chriskonnertz opened #209 "Use PHP code to set navigation item as active"
The JS code implementation does not work very well, see https://github.com/Contentify/Contentify/issues/208#issue-253375619

JS does not seem to be the right choice here so we have to bite the bullet and use PHP code instead.

[2017-08-30 19:22] snarxcsgo commented on #208
And how do I get this slider to add?

[2017-08-30 20:36] SN4RX opened #210 "Modules and Impressum"
How to remove "forum" from homepage or Impressum? - because when I enter in Impressum this is displayed http://imgur.com/YIU3b2f

[2017-08-30 21:26] valtro-one opened #211 "installation"
Hello,

I've read a few other tickets here and i've tried following the setup guide but i can't fathom out how to get this installed correctly.

I've uploaded all the contents of contentify to my directory. I've created my .htaccess file which is fine. The issue that i'm having is trying to launch the composer install. I haven't a clue how to do this via my webhost i'm not technically abled to ful

[2017-08-31 09:17] chriskonnertz commented on #211
Hello,

I recommend that you download this archive: https://github.com/Contentify/Contentify/releases/download/v2.1/contentify_2_1.zip
It does include the vendor libraries so you do not have to run the `composer install`command.

[2017-08-31 09:55] SN4RX commented on #211
Hello, and if we are talking about installation - why when I install version 2.1 on a website (not VPS) - is the main site after installation is in xxx.xx/public ?

[2017-08-31 10:49] valtro-one commented on #211
Hi Chris,

thanks for that it seemed to have worked. My only issue now when i run the installer is that i have the following error: http://prntscr.com/gfbx2y

[2017-08-31 10:54] valtro-one commented on #211
Sorry ignore the above it came down to my .htaccess file that i setup so that fixed the above error.

however when i ran the setup this happened: http://prntscr.com/gfc09d http://prntscr.com/gfc0iu

[2017-08-31 11:31] khalifaone opened #212 "Spam register"
I have a problem with account registration, i think is a spam.  How can i solve this?
![34242342](https://user-images.githubusercontent.com/29990653/29921081-067edf48-8e59-11e7-984e-a011f7a55d6c.JPG)

[2017-08-31 13:27] SN4RX opened #213 "Problem after installation.."
Hello, I have a purchased web page at home.pl - and when I upload Contentify via FTP, i go to: esportgo.pro/public/install.php - I install Contentify (everything is successfully installed) and redirected me to esportgo.pro/public, should not be so that the home page is located on esportgo.pro instead of esportgo.pro/public?

[2017-08-31 15:14] valtro-one opened #214 "Bug / Enhancement"
Hello,
Is there anyway to increase the character space for the team name from 15 to something greater? http://prntscr.com/gffowq

[2017-08-31 16:54] chriskonnertz commented on #205
No problem.

[2017-08-31 16:54] #205 closed, assigned to chriskonnertz

[2017-08-31 17:02] chriskonnertz commented on #211
@snarxcsgo

Technical answer: The idea is to totally hide all internal files from the outside. So you have to configure your web hosting environment so that only the content of the `public` directory is exposed to the outside (= to the web).

Here is a guide how to use a `.htaccess` file if your hosting environment does not allow you to change the document root: https://github.com/Contentify/Conte

[2017-08-31 17:08] chriskonnertz commented on #211
@Sphinxx-uk Most likely not a problem with the CMS bu with you server (configuration).
You have a MySQL server up & running? You are sure you entered correct connection details?

Google has some suggestion, for example:

From: https://stackoverflow.com/questions/1676688/php-mysql-connection-not-working-2002-no-such-file-or-directory

It is hard to tell what exactly causes this issue.

[2017-08-31 17:09] chriskonnertz commented on #213
--> https://github.com/Contentify/Contentify/issues/211#issuecomment-326359575

[2017-08-31 17:10] valtro-one commented on #211
@chriskonnertz i'll have another look through the code.

Weirdly when i refreshed the site came live but when i went to create a custom page the same error cropped up. I'll do some more digging and let you know of my findings.

[2017-08-31 17:13] chriskonnertz commented on #212
Hello,

yeah, that looks a lot like a spam bot.

My suggestion is that you use Google ReCAPTCHA. Contentify is prepared for it but you have to do some changes on your own. Here is a step-by-step guide: https://github.com/Contentify/Contentify/wiki/FAQ#how-can-i-use-google-recaptcha-instead-of-the-default-captcha

[2017-08-31 17:17] chriskonnertz commented on #210
Hello,

where exactly do you want to remove it? I believe it would help me a lot if you upload a screenshot.

[2017-08-31 17:19] chriskonnertz commented on #200
Yep, `showOverview`.

[2017-08-31 17:19] #200 closed, assigned to chriskonnertz

[2017-08-31 17:31] SN4RX commented on #211
@chriskonnertz

And if I want to https:// how do I have what I have to change?
Do I have to do it after installation or before?

[2017-08-31 18:10] SN4RX commented on #210
Hello,

I'm more specific about it:

before - http://imgur.com/6rCuKHX

after - http://imgur.com/aPPPNlE

And it's at the bottom of the main page:

SEARCH, SERVERS, GALLERIES, AWARDS, EVENTS, DOWNLOADS

Is there a way to remove these Impressum?

Thank you.

[2017-08-31 19:23] SlavenTV commented on #214
Hi,
u can edit this :)

Take a look in this file:
../app/Modules/Cups/Team.php

at Line 18:
        **'title'  => 'required|min:3|max:15'**

Change this to:
         **'title'  => 'required|min:3|max:50'**

The Field in the Database is from Typ Varchar(70).

[2017-09-01 08:00] valtro-one opened #215 "Php Error"
Hello,

When i've gone to open the Impressum page i get the following error: http://prntscr.com/gfpmuw http://prntscr.com/gfpn8a

[2017-09-01 09:36] SN4RX commented on #210
Can you help?

[2017-09-01 16:49] SN4RX opened #216 "How to delete Steam login?"
Hello, i have question. How to delete Steam login?

[2017-09-01 17:09] valtro-one commented on #215
@chriskonnertz just an FYI this seems to happen when i create a custom page too.

[2017-09-01 17:57] #213 closed, assigned to chriskonnertz

[2017-09-01 20:12] chriskonnertz commented on #210
Hello,

I had no time to take a closer look yet. I will try to catch up on it tomorrow.

[2017-09-01 20:14] chriskonnertz opened #217 "Fully integrate Google ReCAPTCHA"
Contentify is prepared but it might make sense to fully integrate it so website owners do not have to change code.

[2017-09-01 20:15] chriskonnertz commented on #212
I have created a new issue to remind me to fully integrate Google ReCAPTCHA. Unfortunately I have no idea when I will be able to implement this.

https://github.com/Contentify/Contentify/issues/217

[2017-09-01 20:48] SN4RX commented on #210
No problem, I will be quietly waiting - besides, I sent a message on the contact email Contentify, can you reply?

[2017-09-01 20:48] #208 closed, assigned to chriskonnertz

[2017-09-02 16:14] SN4RX opened #218 "Captcha does not work"
A few days ago it worked, today it does not work.

Screenshot: https://imgur.com/yEAYqsg

[2017-09-03 19:56] khalifaone commented on #212
I solve this problem :D, thank you again!

[2017-09-03 21:25] chriskonnertz commented on #214
Hi,

yep @Slaven27 you are right. That's it. Fun fact: I experienced the same issue a week and decided to raise the limit to 20.

It is in the deveomplent branch of the next version, 2.2:

https://github.com/Contentify/Contentify/blob/2.2-dev/app/Modules/Cups/Team.php#L18

[2017-09-03 21:25] #214 closed, assigned to nobody

[2017-09-03 21:27] chriskonnertz commented on #212
Great! :)

[2017-09-03 21:27] #212 closed, assigned to chriskonnertz

[2017-09-03 21:31] chriskonnertz opened #219 "Better wording in dashboard"
In the admin/backend dashboard, change "visitors" to "visits".

[2017-09-04 08:22] Bambutscha1337 commented on #201
I have the same issue and I also get the same last error. how can i solve it. The install.php in the public server worked fine.

I can also not open the impressum Site. It will give me the same issue with handler.php 103

How can i solve the Problem?

[2017-09-04 09:03] Bambutscha1337 commented on #215
i think it is the same problem that i have.

https://github.com/Contentify/Contentify/issues/201

i think it has something to do with this

[2017-09-04 09:57] chriskonnertz commented on #215
The problem is that if I follow your steps I do *not* see that error.

[2017-09-04 10:37] Bambutscha1337 commented on #215
The install.php worked fine, so i thought it couldn't be an SQL Problem. I also have the Tables in my MYSQL Database. I added my log file.
[laravel.txt](https://github.com/Contentify/Contentify/files/1274392/laravel.txt)

In another post you reply with:

The Website ist http://swit.heliohost.org/swit.heliohost.org/swit/public/  if you want to look at it.

Edit: I used the zip file on this hosting

[2017-09-10 15:14] tjoecs opened #220 "Change Max. File Size for Download-Module"
Moin,
an welcher Stelle kann ich denn die maximale Dateigröße anpassen? Aktuell scheinbar 4MB. Wenn ich eine Datei wähle, die größer ist, wird sie einfach nicht hochgeladen... kommt also kein Fehler. Aber die Datei existiert nachher einfach nicht (der Eintrag jedoch schon in der Download-Sektion).. #

Regards :)

[2017-09-10 15:42] chriskonnertz commented on #220
Hallo,

in der `php.ini`. Wo die genau liegt hängt von dem Webserver ab, bspw. in `etc/php7/apache2/php.ini`.

Zu ändern sind die Werte `upload_max_filesize` und `post_max_size`, die würde ich dann beide z. B. auf `20M`setzen.

[2017-09-10 16:48] tjoecs commented on #220
danke dir! schaue ich mal nach!

[2017-09-11 09:52] FumieSanto opened #221 "Install Problems with Webhosting"
Hello, in advance apologize for my bad English.

I have the following problem. As soon as I want to install the CMS on my webhost the following error message comes

`ErrorException in BaseEncrypter.php line 38: base64_decode() has been disabled for security reasons

    in BaseEncrypter.php line 38
    at HandleExceptions->handleError('2', 'base64_decode() has been disabled for security reasons',

[2017-09-11 10:19] SlavenTV commented on #221
Your server has disabled the base64_decode function in the php.ini File. You should ask your host to enable this function.

[2017-09-11 10:24] FumieSanto commented on #221
@Slaven27 Thanks for your realy fast answer :)

[2017-09-11 10:24] #221 closed, assigned to chriskonnertz

[2017-09-11 13:17] SN4RX commented on #216
Can you answer this question and others? @chriskonnertz

[2017-09-11 14:11] chriskonnertz commented on #216
Hello,

What exactly do you want to achieve? Is it enough to hide the login button?

[2017-09-11 14:16] SN4RX commented on #216
I just delete the button, can you add me on Skype? - a few days ago I wrote an email to you @chriskonnertz

[2017-09-11 16:01] chriskonnertz commented on #218
Hello,

I do not know why the captcha is not displayed. This bug is new.
If I will see the bug I will try to fix it but currently I have no idea when it appears.

[2017-09-11 16:09] SlavenTV commented on #216
HI,

u can delete the Button on the Frontpage in the Login Section.

[code]
Next

[code]

I hope i can help u

[2017-09-11 16:18] SlavenTV commented on #218
Pls add Recaptcha Captcha and its fine :) see section in wiki

[2017-09-11 16:20] SN4RX commented on #216
Sorry, but the Steam login appears on the page.

[2017-09-11 16:23] SlavenTV commented on #216
No it work fine for me..
Can u send me the Link

[2017-09-11 16:23] SN4RX opened #222 "I can not log into my account."
For a few days I can not log in to my account, I do not know what is wrong - I add that as I type the mail and password, there is no information whether the password is incorrect.

Link website:

https://esportgo.pro/auth/login

[2017-09-11 16:24] SN4RX commented on #216
https://esportgo.pro

[2017-09-11 16:26] chriskonnertz commented on #216
Well but what Slaven27 wrote seems to be right.

[2017-09-11 16:34] SlavenTV commented on #222
This seems like a bug in the Auth Controller. The Redirect after Login is broken.

[2017-09-11 16:39] SN4RX commented on #222
May I ask you to give Skype or something like that? - I have a lot of questions and problems, Chris does not reply I do not know why: /

[2017-09-11 16:42] SlavenTV commented on #222
u can add me in Steam and tell me your Probs. I try to helo u
Sacrifice666
--

[2017-09-11 17:55] SlavenTV commented on #216
It was a Line with the Steambutton in the Phobos Theme Layout.php :)

[code]

Delete and its fine :)

[2017-09-11 18:32] SlavenTV commented on #222
i think this can be closed :)

[2017-09-11 18:49] #222 closed, assigned to nobody

[2017-09-11 18:49] #218 closed, assigned to chriskonnertz

[2017-09-11 18:49] #216 closed, assigned to chriskonnertz

[2017-09-11 18:50] #210 closed, assigned to chriskonnertz

[2017-09-11 19:51] chriskonnertz commented on #210
Did you manage to solve the problem?

[2017-09-11 20:17] SN4RX commented on #210
Yes, I did

[2017-09-11 20:24] SN4RX opened #223 "/public folder and https://"
Hello,

I have a problem with SSL security - I would like to add to .htaccess so that after entering the page it was https://esportgo.pro/ instead of esportgo.pro

My .htaccess file looks like this:

RewriteEngine on
RewriteCond %{HTTP_HOST} ^esportgo.pro$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.esportgo.pro$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

What should I add to t

[2017-09-11 21:39] chriskonnertz commented on #222
If there is a bug please let me know.

[2017-09-12 06:55] chriskonnertz opened #224 "Auto-disable STEAM login"
Do not show the STEAM login if no API key has been set.

[2017-09-12 11:12] tjoecs commented on #187
Da ich das hier gerade sehe, weiterer Gedankenansatz: Kann nicht nur für externe Coverages interessant sein, sondern auch zum begleiten der eigenen Saison (99LIGA oder sonst. Liga-Event, welches auch gecovert werden soll auf der eigenen Website). Wäre tatsächlich ein sehr geiles Feature.

[2017-09-12 11:14] SlavenTV commented on #187
Klar was man damit dann anzeigt ist egal ob das externe oder interne Dinge sind :)

[2017-09-12 12:24] tjoecs commented on #220
Hat übrigens wunderbar geklappt, danke für den Hinweis!

[2017-09-12 16:02] chriskonnertz commented on #220
Super, freut mich!

[2017-09-12 16:02] #220 closed, assigned to chriskonnertz

[2017-09-12 16:46] SN4RX opened #225 "Problem with Polish characters"
Hello, when changing in for example: /app/Modules/Users/Resources/Lang/en

When I want to change Gender to Płeć unfortunately but nothing displays because it does not read Polish characters how to fix it?

Screenshot: https://imgur.com/ctxJg8o

[2017-09-13 13:04] SN4RX commented on #223
@chriskonnertz

[2017-09-13 13:04] SN4RX commented on #225
@chriskonnertz

[2017-09-13 16:59] chriskonnertz commented on #225
Hi,

you said you tried to change "Gender" to "Płeć" but on your screenshot I cannot see "Płeć".

But yep I can see the charset problems. But I do not have them:
http://abload.de/img/gender_translationhysm2.jpg

Are you sure that this is a problem that is caused by the CMS? Maybe the editor you used to do the translations has a problem with unicode characters?

[2017-09-13 17:17] SN4RX commented on #225
I edited it through Notepad ++

[2017-09-13 17:24] chriskonnertz commented on #225
Please upload the `app/Modules/Users/Resources/Lang/pl/main.php` language file so I can take a look at it.

[2017-09-13 17:36] SN4RX commented on #225
[main.zip](https://github.com/Contentify/Contentify/files/1300271/main.zip)

[2017-09-13 18:55] SN4RX commented on #225
Everything is fixed, just translated that main.php from the downloaded Contentify to my.

[2017-09-13 18:55] #225 closed, assigned to chriskonnertz

[2017-09-13 20:27] chriskonnertz commented on #225
Ok.

[2017-09-14 07:05] MohsinAhmedShaikh opened #226 "Advertisement Error"
Hello,
i could not make an advertisement got website error . What to do ?
and Advert Panel also not showing on main page side panel but advert blade is added in phobos theme please help.

another request is in admin/downloads creation can you add outer link to add file also with upload so we can link outer file url in it and  when we edit a file link in downloads its not showing which file is atta

[2017-09-15 14:24] khalifaone opened #227 "Contentify update 2.1"
Hello, i saw your update and i want to make that update for may website. How can i make this update? just replacing the old files with new files?

[2017-09-15 21:05] AbstraktGaming opened #228 "News / Pages / Navigation & More Wont Populate"
When I create:

News
Pages
Navigations

They don't populate on the website at all.

Also, When I create a Team, I don't have the option to choose what country they are from Defaulting all of my teams to the European Union. I am however able to choose a country for Opponents?

I'm Also unsure how to edit the Footer menu & Top menu?

[2017-09-15 21:08] AbstraktGaming commented on #228
http://www.teamabstrakt.com

[2017-09-16 06:56] tjoecs opened #229 "Editing/Expanding Quick-Access Flags in Text-Editor"
Mahlzeit,
gibt es eine einfache Option, dem System zu sagen, welche Flaggen es beim Klick auf das Flaggen-Icon in der Texteditor-Leiste anzeigen soll? Ich würde die Auswahl gern etwas anpassen!

![flagquickaccess](https://user-images.githubusercontent.com/28227128/30510017-e1a33a46-9abc-11e7-8334-52aac70588f1.jpg)

Gruß

[2017-09-16 12:13] SN4RX commented on #223
@chriskonnertz refresh

[2017-09-16 18:23] chriskonnertz commented on #223
Hi,

so basically what you is:

- Someone navigates to http://esportgo.pro
- There is an automatic redirect to https://esportgo.pro

If that is what you want then I have good news, I think its a good idea to add that and I think I have done this before for a website so I can just re-use that code.

[2017-09-16 18:29] chriskonnertz commented on #228
Hello,

So on http://www.teamabstrakt.com you have added some news, right? And you did check the "published" checkbox? ( Just asking the "welcome to our support" questions. :P )

This is not built-in. So you have teams from more than one country and you want add flags to them? I guess I can implement that.

You have to edit the main template of the chosen theme. For example, open this file:
`Conte

[2017-09-16 18:33] chriskonnertz commented on #229
Hallo,

ich würde sagen; Ja die gibt es. Es handelt sich dabei ja um ein Plugin für den CKEditor. Das JS-Script für dieses Plugin liegt hier: `Contentify/public/vendor/ckeditor/plugins/flags/plugin.js`

Hier werden die Flaggen definiert: https://github.com/Contentify/Contentify/blob/2.1/public/vendor/ckeditor/plugins/flags/plugin.js#L14

Das kannst du anpassen.

[2017-09-16 18:35] chriskonnertz commented on #227
Hello,

here is a short guide: https://github.com/Contentify/Contentify#update

**Do not forget to make a backup from all the files before you update!**

[2017-09-16 18:39] chriskonnertz commented on #226
Hello,

Please send me the error log file. You can send it via email if it does contain any confidential stuff such as passwords. The log is located at `store/logs/Laravel.log`.

I will take a look at you other points soon.

[2017-09-17 14:06] tjoecs commented on #229
Hi, danke!
Klappt wunderbar.

Für alle, die auch Interesse haben: Im Anschluss ggf. einmal den Browser Cache leeren, dann sind die Flaggen auch aktuell!

[2017-09-17 18:02] SN4RX opened #230 "Mapveto CS:GO"
Hello, I have a suggestion - what do you want to add in the latest version of Contentify - mapveto CS:GO? I'm more specific about this: http://mapvote.16mb.com/

I would like to get it because it creates a sports league on Contentify and needs it.

[2017-09-17 18:51] tjoecs commented on #229
Direkt mal noch ergänzend: Ich habe auch die styles.js gefunden und probiert, einen vordefinierten Style einzufügen. Jedoch war danach das Feld im Editor ausgegraut und nicht mehr zu öffnen.. wie kann ich denn eigene Styles oder CSS-Klassen irgendwie für eine komfortable Schnellauswahl einfügen?

Weil: Schreibe ich für eine div oder einen Absatz die class="" in den Code, und speichere den Post, ve

[2017-09-18 07:40] MohsinAhmedShaikh commented on #226
somehow it made the advertisement but not showing on main page but i tried to make another advertisment so i got error making it then i read the log it says duplicate entry so i tried to delete the first advertisement then it start error again and i cant make a single advert after that , will send you logs on email

[2017-09-18 17:51] AbstraktGaming commented on #228
News:
Yes It's published. I have also noticed that when my cache is cleared, and first visit the website, the news shows. Once it's clicked, it disappears and is no longer accessible.

Pages & Navigations:
This wasn't mentioned in your reply, but when I create pages or navigation, none of which populate at all.

Team Flags:
yes it would be nice to implement. Even if it's not implemented, it defaul

[2017-09-20 11:03] sNakiex opened #231 "No hint path defined for [THEMENAME]"
I have created a copy of the Morpheus theme and put it in a new folder, changed the module.json to reflect the name.

After removing all the cache files and the modules.json
i get the following error:

No hint path defined for [THEMENAME]

[2017-09-20 11:59] chriskonnertz commented on #231
Hello,

that means the CMS does not know the path (directory) of the theme where it stores its templates.

If the copy of the original code does not include any secrest stuff would mind to upload it somewhere so I can download it and test it?

[2017-09-20 12:09] sNakiex commented on #231
Hi, i forgot to change the ThemeServiceProvider to reflect the new name.
My fault!

[2017-09-20 12:09] #231 closed, assigned to chriskonnertz

[2017-09-20 12:25] chriskonnertz commented on #231
Ok :D

[2017-09-20 21:33] LDierolf opened #232 "Non-secure Login form"
First of all Gday! I really appreciate your work!

So when I installed my Lets Encrypt Certificates everything works like a charm via HTTPS.
But I noticed that the Login Form gets flagged as unsecure. I managed to findout why:

The URL in the Login Form where it POSTs the Form to is still http. Did i miss something troughout the installation?

Any help is greatly appreciated
![bildschirmfoto-2017-

[2017-09-20 21:43] LDierolf commented on #232
Okay i Found the Problem, you have to activate the HTTPS option in the Settings Panel.

[2017-09-20 21:43] #232 closed, assigned to nobody

[2017-09-21 03:18] ryan9mm commented on #228
@AbstraktGaming  I figured out how to get to the custom pages assuming you are running LAMP stack with PHP 7.0:

First note the Page ID from the admin side.
Your URL to type into your browser will be yoursite.com/pages/1 <-- the number of the page ID. These pages are generated via the Contentify script and pulled from the database. No actual file is created.

As for the navigation it does not work

[2017-09-21 12:46] sNakiex opened #233 "Discord Server in server list."
Would it not make sense to allow people to add their discord servers to the server list?
See https://blog.discordapp.com/add-the-discord-widget-to-your-site-d45ffcd718c6

[2017-09-22 09:56] sNakiex commented on #229
Would it be doable to also implement the WYSIWYG editor into the forum/comments?

[2017-09-22 12:28] chriskonnertz commented on #229
Yes. Just adding it is easy.

But the editor creates HTML code. You would also have to care about what users are or are not allowed to do. How would you prevent them from posting this: `</div></div></div></div></div></div></div></div></div></div></div></div>` This closes all HTML `<div>` tags and probably would destroy the layout of the page.

I have no real solution for these problems so I do not

[2017-09-22 12:52] sNakiex commented on #229
please switch to like https://www.sceditor.com/ it's easier and can output bbcode ;-) ckeditor does have a config flag that turns `<div>` into `<p>` (  CKEDITOR.config.allowedContent = false;  )
See also https://docs.ckeditor.com/#!/guide/dev_advanced_content_filter

[2017-09-22 21:29] chriskonnertz commented on #229
That is not an option at the moment. In generally I am open for suggestions but this one I have to reject. I think it would be a fundamental change and I do not want to make that change.

However, there is nothing holding you back from implementing SCEditor on your website.

[2017-09-25 20:11] khalifaone commented on #227
I follow that guide and look what it happen.

![erorupdate](https://user-images.githubusercontent.com/29990653/30828594-d2537efc-a246-11e7-8cb1-83be9d6276cd.JPG)

[2017-09-26 12:13] chriskonnertz commented on #227
Hey,

please open  `storage/app/databse.ini` and update the database connection details there.

[2017-09-27 09:27] chriskonnertz commented on #233
Hi,

how would you integrate this into Contentify? I understand it is basically HTML code that is auto-generated and that you copy and paste in the HTML code of the website. So what do you think would be the best way to make it easy for website owners to add it to their websites?

[2017-09-27 09:33] chriskonnertz commented on #226
Hey,

thank you for the log file, I think I now understand the problem and I am working on a bug fix.

[2017-09-27 09:40] sNakiex commented on #233
Hi, you could use the discord API: https://discordapp.com/developers/docs/resources/guild#get-guild

This way you can make it seem part of the website instead of using the generic discord HTML widget.

You should the server name, amount of members and the region and that's it. 👍

[2017-09-27 09:56] chriskonnertz commented on #232
Yes, that is true.

[2017-09-27 09:57] chriskonnertz commented on #226
Fixed the bug by https://github.com/Contentify/Contentify/commit/25a8bb3ddd3b4d218cd64feed326833c73261842

The bug happens during the setup. Since you have an existing installation you either have to reinstall the CMS or you have to edit the database table "adverts" and delete the attribute "slug".

[2017-09-27 10:30] chriskonnertz commented on #230
Hello,

thank you for your proposal. To be honest this seems to be a pretty individual requirement.
Here is the thing: The cup system of Contentify is a solid base but it is not perfect. It is very minimalistic. I have some experience with CMS made for leagues and there is almost endless space for ideas and improvements. This is why it has been decided to keep things simple at Contentify's cup sys

[2017-09-27 10:30] #230 closed, assigned to chriskonnertz

[2017-09-27 10:32] chriskonnertz opened #234 "[Old] Contentify 3"
Feature List:

- New image system (hashed paths etc.)
- Use markdown in comments and forum posts (_maybe_)
- Laravel 5.5 (requires PHP 7, has LTS)
- Bootstrap 4
- Full support of PHP 7 (type etc.)
- Color adjustment? # 32c5d2 / # 13b1cd ...
- Form builder? (Text area with/without  WYSIWYG, simple text fields, check/radioboxes, file upload)

_Note: There is no schedule. Conentify 3 will definitely

[2017-09-27 10:43] chriskonnertz commented on #229
@tjoecs

Ich habe dein Vorgehen nachgespielt und bei mir klappt das.

1. Die Datei `public/vendor/ckeditor/styles.js` mit einem Texteditor geöffnet
2. Eigenen Style eingefügt der die Klasse "contentify-test" zuweisen soll:
![Image of Yaktocat](http://abload.de/img/style_js_screenshotxkjxu.png)
3. Er steht dann im Editor zur Verfügung, wenn ich Text markiere und den Style zuweise, speicher und neu

[2017-09-27 10:51] chriskonnertz commented on #216
There will be an easier way in version 2.2: It only displays the STEAM login button if the STEAM API key has been set

https://github.com/Contentify/Contentify/commit/2f7379b913567659210130963ae052b9b902bdf5

[2017-09-27 10:52] chriskonnertz commented on #224
Done: https://github.com/Contentify/Contentify/commit/2f7379b913567659210130963ae052b9b902bdf5

[2017-09-27 10:52] #224 closed, assigned to chriskonnertz

[2017-09-27 11:00] #226 closed, assigned to chriskonnertz

[2017-09-27 11:47] chriskonnertz commented on #223
Hi,

implemented these changes. If the HTTPS support is enabled and someone navigates to the landing page via HTTP there will be a redirect to the same page but with HTTPS.

Commit: https://github.com/Contentify/Contentify/commit/b834e70bd7a6c0b2bb416b04f1b8437eae93ffd8

[2017-09-27 11:58] #223 closed, assigned to chriskonnertz

[2017-09-28 13:11] Fatal1tyOfficial commented on #234
In Contentify 3, could you add a new ladder?

Could you model this ladder?

https://i.imgur.com/aJdKUJE.png

[2017-09-29 12:50] jwstv opened #235 "Database Issue"
I’m having an issue after creating my database, the error that comes up is:

FatalThrowableError in Migrator.php line 335:
Class 'MigrationCartalystSentinel' not found

I’m 99% sure the database is correct

[2017-09-29 12:50] chriskonnertz commented on #234
This is not a ladder. It's a tournament system. It should work the same way Contentify's cup module does.

[2017-09-29 12:53] chriskonnertz commented on #235
Hello,

this issue is covered by a section in the troubleshooting chapter of the wiki:
https://github.com/Contentify/Contentify/wiki/Troubleshooting#installation-error-message-fatalerrorexception-in-migratorphp

[2017-09-29 13:00] jwstv commented on #235
Thanks for the quick response. I have tried deleting migrations, then databases. Neither had worked, still continue to get the same error.

[2017-09-29 13:11] jwstv commented on #235
@chriskonnertz So I have redone it and now get this error:

PDOException in Connector.php line 55:
SQLSTATE[HY000] [1045] Access denied for user 'root'@'localhost' (using password: NO)

The migration error happens when I go back and try to redo the database.

[2017-09-30 02:30] ryan9mm commented on #235
@jwstv Where you running your install at? Digital Ocean? Linode?

[2017-09-30 04:20] jwstv commented on #235
@ryan9mm I'm running it on a web host.. Currently I'm just using ElHostingServices since I had a free chance too. Later, once I got to mess around with Contentify I was going to upgrade to a better host.

[2017-09-30 09:27] chriskonnertz commented on #235
So basically you are just testing it? If this really is just a test you might post the URL of your website here so we can take a look.

This means Contentify tries to connect to the database with invalid credentials. They are saved in this file: `storage/app/database.ini`

[2017-09-30 10:27] tjoecs commented on #229
Okay, dann probiere ich es nachher nochmal. Das würde mir die Arbeit erheblich vereinfachen.

Gibt es eigentlich einen Grund dafür, dass manuell in der Code-Ansicht eingetippte Klassenzuweisungen einfach weg sind nach Klick auf speichern? Also er nimmt sie, weil die fertige News ja korrekt aussieht, aber würde ich direkt nochmal auf speichern klicken, wären die Zuweisungen weg.

[2017-09-30 11:26] tjoecs commented on #229
perfekt! Funktioniert super. Habe ich wohl einen kleinen Fehler gemacht letztes Mal.
Top!

[2017-09-30 12:02] chriskonnertz commented on #229
Schön zu hören!

Klingt erst mal nicht als sollte das so sein, ich schau mir das bei Gelegenheit mal an.

[2017-10-01 08:33] tjoecs opened #236 "MatchScore Colors in Filter View"
Mahlzeit,

gibt es eine Möglichkeit, in der Filteransicht der Matches das Ergebnis auch in der definierten Farbe anzeigen zu lassen? Standardmäßig sind die Ergebnisse ja einfach in Standard-Schriftfarbe, und ignorieren die Colorcodes. Ich fände es schöner, wenn die Ansicht auch auf die Farben zugreifen würde.

Weiterhin: In der Team-Detail Ansicht werden ja die zugehören Awards und Matches aufgeli

[2017-10-02 16:14] jwstv commented on #235
TrueRespect.gg

[2017-10-02 17:48] CardiactV opened #238 "Replaced all Images but Header is still not changing"
I replaced all images such as favicon and header_logo.png in public/img
but there is still the default contentify header and footer.
How can I change this?
I'm using the Morpheus Theme currently if this is helping.

[2017-10-02 17:48] CardiactV commented on #238
Oh grade gesehen das du ja Deutscher bist :)

[2017-10-03 15:43] chriskonnertz commented on #238
Hallo,

ja das stimmt. :)

Bist du zu 100% sicher, dass dein Browser da nichts altes mehr im Cache hat? Drück mal Shift (Umschalt) + F5 um echten Fresh zu erzwingen.

Ansonsten mal Rechtsklick auf ein Bild und dort müsste was stehen wie ungefähr "Bild in neuem Tab öffnen" oder "Bild-Adresse kopieren". Damit kommst du an die URL des Bildes, die einem echten Dateipfad entspricht und somit kannst du

[2017-10-03 15:47] CardiactV commented on #238
oh danke umschalt f5 hat geholfen vielen dank! hatte bisher immer nur f5 versucht ^^
Auf jeden Fall Probs für Contentify! Ist ein wirklich gelungenes CMS :)

[2017-10-04 22:10] #235 closed, assigned to chriskonnertz

[2017-10-06 14:00] Mrciler opened #239 "Vserver installation"
I have a vserver from another hoster but i cant install it there or hwo do i install it there ?

[2017-10-06 14:23] FumieSanto opened #240 "Account creation failed after Install"
Hello everyone.
I would have a small problem. And I was able to install everything so far, but I get the following error message after the Account creation

`ErrorException in InstallController.php line 1178: file_get_contents(): http:// wrapper is disabled in the server configuration by allow_url_fopen=0

    in InstallController.php line 1178
    at HandleExceptions->handleError('2', 'file_get_c

[2017-10-09 01:09] markovvv commented on #234
Is there a list of all the new/fixed features that will come with v3 ?

[2017-10-10 19:02] chriskonnertz commented on #240
Hi,

okay, yeah I know what this one is about. Please open `Contentify/Controllers/InstallController.php`with a text editor, go to line 1178 and change it to this: `#file_get_contents($url);`

This will simply stop this function from being called, which is okay.

I will try to find a general solution for this error.

[2017-10-10 19:04] chriskonnertz opened #241 "ToDo: Check if file_get_contents can be called on a remote target"
`Contentify/Controllers/InstallController.php`, line 1178:  `file_get_contents($url);`

See: https://github.com/Contentify/Contentify/issues/240

[2017-10-10 19:06] chriskonnertz commented on #239
Hello,

if you have a VServer this is great, because it should allow you to configure it exactly in a way so that it meets all requirements.

What is the problem? What went wrong?

[2017-10-10 19:17] chriskonnertz commented on #234
@markovvv Well, the initial post in this issue... is the list. :D This issue is meant as a reminder. There is not a real plan yet.

[2017-10-10 19:17] chriskonnertz commented on #238
Danke dir! :)

[2017-10-10 19:17] #238 closed, assigned to chriskonnertz

[2017-10-11 08:10] Mrciler commented on #239
i dont realy know how to install it and need a link for vserver installation

Am 10.10.2017 21:09 schrieb "Chris Konnertz" <notifications@github.com>:

[2017-10-11 15:25] FumieSanto commented on #240
Thanks for your help :)
Could you please keep me posted?

[2017-10-11 15:56] chriskonnertz commented on #239
Okay, here are some resources:

https://github.com/Contentify/Contentify/issues/58
This is a condensed how-to. It is more meant as an overview than a detailed step-by-step guide.

https://github.com/Contentify/Contentify/wiki/Installation
Wiki chapter about the installation, especially take a look at the "Installation" section: https://github.com/Contentify/Contentify/wiki/Installation#installatio

[2017-10-12 08:19] tjoecs commented on #236
Da du es als Bug geflagged hast, nehme ich mal an, meinst du die Sortierung der Items in der Team Detail Ansicht? Kann ich das irgendwie per Workaround beheben bis es mal gefixt wird? :) dann kann ich nämlich die Anzahl der angezeigten Matches wieder reduzieren, hab die aktuell auf 20 bzw 30 damit ich alle sehe...

[2017-10-14 20:16] khunerable opened #242 "BUG IN UPLOAD IMAGES MEMBER"
I found bug in upload images member..

please reply.. thnks

[2017-10-14 21:03] chriskonnertz commented on #242
Hello,

I need more information.

[2017-10-15 14:08] chriskonnertz commented on #240
Ok. :)

[2017-10-15 15:41] ARYX01 commented on #242
http://zone-h.org/archive/notifier=mirav
firewallgaming.eu/a.html and dotexe.eu/a.html

[2017-10-15 15:54] Gicminos commented on #242
In my website somebody ran a PHP file (_edited_).

[2017-10-19 09:36] tjoecs commented on #234
Vielleicht das Implementieren von Font Awesome Symbolen von Haus aus? Anstelle der Sonderzeiten-Funktion jetzt, oder zusätzlich.

[2017-10-23 08:41] Mrciller opened #243 "User verification"
How can i make a bot who sends a Email to the User to verificate his Account

[2017-10-23 09:17] Mrciller commented on #243
+how can i put adsense on the site

[2017-10-23 16:16] chriskonnertz commented on #243
Hello,

have you tried setting the constant value here https://github.com/Contentify/Contentify/blob/2.1/app/Modules/Auth/Http/Controllers/RegistrationController.php#L13 to false?

I have never used Google AdSense so far. Does it provide you codes for each banner integration? If this is true, you can create new advertisement items and copy+paste that code to the "code" field.

[2017-10-24 06:07] Mrciller commented on #243
ok i did it to false but now an admin must aktivate them manually. i asked if there is a bot what send an email with an activation code/link

[2017-10-24 08:21] Mrciller commented on #243
+ how do i make the cup start? (set matches and so on)

[2017-10-26 19:51] sNakiex commented on #242
Can confirm.. (_edited_)

[2017-10-26 20:08] sNakiex commented on #234
Please make sure you check file uploads, for mime type and limit it to png,jpg,jpeg,gif for avatar/user pic upload.

An option to delete users would be great aswell, maybe a ip banning option?

[2017-10-26 20:22] chriskonnertz commented on #242
Thank you for pointing this out, I will try to create a fix for this security issue asap.

[2017-10-26 20:31] chriskonnertz commented on #242
Quick and dirty solution: https://github.com/Contentify/Contentify/commit/2be90ae029be878fb010a981b29ef473cbba5c18

I will take a closer look soon.

[2017-10-27 07:48] Mrciller opened #244 "reinstalled the server and cant use contentify"
wie kann ich einstellen dass ein user wenn er sich registrirt eine email mit einen bestätigungslink bekommt

[2017-10-27 08:46] MtechnikX opened #245 "Sidebar Control"
I would like to take away the side bar from the forums as I would like to have it in full display. I was searching for the codes to delete the sidebar function but I couldnt find it anywhere. Thanks in advance.

[2017-10-27 17:14] chriskonnertz commented on #245
Hello,

two ways, one is to disable the sidebar via CSS and resize the rest of the page and here is another way:
1. Open the main template file of the theme you use, for example `app/Modules/PhobosTheme/Resources/Views/layout.blade.php` with a text editor.
2. Remove this: `<aside id="sidebar" class="col-md-4">...</aside>` (and every lines that are inside)
3. Change this `<div id="content" class="c

[2017-10-27 17:18] chriskonnertz commented on #244
Hallo,

Das hat sich wohl erledigt?

Derzeit ist das so wohl nicht möglich, das müsste programmiert werden. Ist kein Hexenwerk, aber man muss es halt machen:
- User bei Registrierung nicht automatisch aktivieren
- Mail raus mit Aktivierungslink in dem die User-ID sowie ein Aktivierungs-Token enthalten ist, den man halt irgendwo speichern muss (z. B. in der `users` Tabelle in der Datenbank
- Wird d

[2017-10-29 17:54] Mrciler opened #246 "Cup Undefined variable: firstMatch"
Ich bekomme den fehler wenn ich bei einen cup eingeben möchte wer gegen wen spielt oder wird das automatisch nach ner zeit gemacht?

[2017-10-29 21:52] Ariuw opened #247 "News not showing on Homepage"
Hello,

I've created a new post but it doesn't show on the Main page, what can I do to fix it?

[2017-10-30 06:50] Mrciller commented on #247
you must klick at the intern button and featured button

[2017-10-30 13:32] Ariuw commented on #247
I did already, it doesn't work @Mrciller

[2017-10-30 16:07] chriskonnertz commented on #247
Hello,

please check the "https://github.com/Contentify/Contentify/wiki/Troubleshooting#time--date-problems" section here: https://github.com/Contentify/Contentify/wiki/Troubleshooting#time--date-problems

[2017-10-30 16:18] chriskonnertz commented on #246
Hallo,

vorab: Hier ist eine Mini-Dokumentation des Cup-Systems, falls du die noch nicht kennst: https://github.com/Contentify/Contentify/blob/2.1/app/Modules/Cups/Readme.md

Also wenn du einen neuen Cup angelegt hast und es Teilnehmer gibt dann musst du manuell auf den Seeding-Button klicken (in der Hauptübersicht der Cups im Admin-Bereich der dritte Button von links). Dann werden die Teilnehmer

[2017-10-30 16:19] chriskonnertz commented on #246
Die Meldung "Undefined variable: firstMatch" sollte nicht erscheinen. Wie genau hast du die erzeugt?

[2017-10-30 16:51] Mrciler commented on #246
Wird nacher auch der gameserver angezeigt

Am 30.10.2017 17:18 schrieb "Chris Konnertz" <notifications@github.com>:

[2017-10-31 14:06] #219 closed, assigned to chriskonnertz

[2017-10-31 14:09] chriskonnertz commented on #246
Hallo,

wie meinst du das? Das Cup-System hat keine explizite Unterstützung von Gameservern.

[2017-10-31 14:10] Mrciler commented on #246
ich meine dass wenn ich einen cup starte dass da ein mapvoting oder die
serverip dasteht

Am 31.10.2017 15:09 schrieb "Chris Konnertz" <notifications@github.com>:

[2017-10-31 14:13] chriskonnertz commented on #246
Nein, das ist nicht der Fall. Das ist zu spezifisch für Spiele bei denen Mapvoting gängig ist, außerdem ist mir kein System bekannt mit dem man Server den Matches zuordnen könnte ohne dass es da irgendeine API-Anbindung für gibt. Für Runde 1 mag das ja gehen in dem man einfach einen festen Pool an Servern hat, die zufällig auf die Matches verteilt werden.  Aber ab Runde 2 geht das nicht mehr, Pass

[2017-11-01 10:53] chriskonnertz commented on #243
No, that is not possible out-of-the-box.

The cup will start automatically at the start time. (You do not have to press a "start" button.)

[2017-11-01 10:56] chriskonnertz opened #248 "Make cup readme more accessible"
There is a README.md file for the cup module with a lot of useful information, but it is not very accessible. Change that: Display or link it somehwere in the dmin backend cup page.

[2017-11-01 15:10] LincePlays opened #249 "Updating Website!"
Hi!

I change theme color, and favicons, but i dont see any change on the website!

What i need to do to make the changes visual?

And how i can change to spanish?

[2017-11-01 17:29] MtechnikX commented on #245
Ok, thanks @chriskonnertz I will give this a try and let you know the out come of it.

[2017-11-02 15:40] MtechnikX commented on #245
Thank youl @chriskonnertz this worked for both themes :) Exactly what Im looking for. May there should be in the future to have this as an option on the admin settings/configuration. Again thank you.

[2017-11-04 14:33] SN4RX commented on #249
ctrl + f5

[2017-11-05 16:50] chriskonnertz commented on #249
@LincePlays

That depends on the browser that you use. Your browser caches some data form the website, so you have to tell it that it is time to refresh the cache.

http://refreshyourcache.com/en/cache/

Spanish is not available.

[2017-11-05 16:52] chriskonnertz commented on #245
Good idea. :)

[2017-11-07 08:35] tjoecs opened #250 "Opponent Shorthandle"
Hallo,
ich wollte gestern das Limit des Gegner-Shorthandles von 6 auf 10 erhöhen. Die Stelle in der opponents.php habe ich auch gefunden, Er schmeisst auch korrekte Fehler wenn ich z.B. 11 Zeichen setze, dass das Limit 10 sei.

Allerdings kürzt das Eingabefeld im Admin Panel den Wert weiterhin bei 6 Zeichen, wenn ich 7-10 Zeichen eintippe. Muss ich irgendwo noch einen Wert anpassen? Ist die Feldlä

[2017-11-07 16:55] chriskonnertz commented on #250
Hallo,

das ist soweit richtig, zusätzlich musst du noch (z. B. mit phpMyAdmin) in der MySQL-Datenbank in der Tabelle "opponents" für das Attribut / die Spalte "short" die Länge des Datentyps VARCHAR von 6 auf 10 erhöhen.

Wenn du kein phpMyAdmin o. ä. hast gehst das auch anders aber das besprechen wir dann.

[2017-11-07 20:54] tjoecs commented on #250
phpmyadmin ist mir bestens bekannt, werde ich morgen umsetzen - danke dir!

[2017-11-08 07:53] tjoecs commented on #250
So, Änderung vorgenommen.
Funktioniert leider noch nicht, Cache der Website in  storage/framework/cache hatte ich einmal geleert, Browsercache auch. Kürzt immernoch von 10 auf 6.

Nehme an muss den MySQL Server neustarten, oder? Wenn nicht an anderen Stellen noch Änderungen nötig sind, bleibt fast nichts anderes mehr übrig.

[2017-11-10 10:04] Mrciller opened #251 "Mail"
I need help with the mail funktion every time someone wants to reset´s hi´s passwort there is an error (time out)

[2017-11-10 10:04] Mrciller commented on #251
kannst auch gerne in deutsch antworten

[2017-11-12 14:31] chriskonnertz commented on #251
Hallo,

bist du sicher, dass die Mail-Einstellungen stimmen? Ich würde erst mal auf ein Probleme mit dem Server bzw. dessen Konfiguration tippen. Der Server muss logischerweise in der Lage sein Mails aus PHP heraus verschicken zu können. Ist _sendmail_ installiert?

Ggf. wäre noch interessant welche Contentify-Version du nutzt, 2.1?

[2017-11-13 06:55] Mrciller commented on #251
ja ist. Kann es sein dass das Problem daran liegt dass ich den mailserver auf einen anderen server habe?

[2017-11-13 20:46] chriskonnertz commented on #251
Achso, ja das kann sein. Öffne bitte mal diese Datei: `config/mail.php`
Dort befinden sich die Einstellungen für den Email-Versand. Hier musst du die Daten deines Mailservers angeben, also wahrscheinlich so etwas wie "host", "port", "username" und "password". Ggf. hilft auch die Doku von Laravel (Contentify baut auf dem Framework Laravel auf) weiter: https://laravel.com/docs/5.5/mail

[2017-11-15 13:39] digloz opened #252 "Error Message übersetzen / Problem mit Links im Admininterface"
Hallo,

ich würde gerne wissen, in welcher Datei ich die Fehler Message "ERROR
Sorry, something bad happened. Our website has crashed. Don't worry, we will handle this. In the meantime, make a cup of coffee. And stop crushing our website!" auf Deutsch übersetzen kann.

Außerdem habe ich noch folgendes Problem. Ich habe die Seite zuerst auf einer Subdomain laufen lassen, habe Sie dann verschoben au

[2017-11-16 15:09] digloz opened #253 "Fehler beim News Datum"
Wenn man eine News anschaut aktualisiert sich (zumindest bei uns) das Datum auf das aktuelle - d.h. das Erstellungsdatum wird täglich angepasst und ist somit nicht dem Ursprung entsprechend.

@chriskonnertz

[2017-11-16 16:58] chriskonnertz commented on #252
Hallo,

Ja, das ist in der Tat nicht übersetzt. Der Text steht in dieser Datei: `resources/views/error.blade.php` ( https://github.com/Contentify/Contentify/blob/2.1/resources/views/error.blade.php )
Das einfachste ist, wenn du ihn dort einfach änderst. Bei einem Update auf eine neuere Version von Contentify würde diese Datei allerdings möglicherweise überschrieben und du müsstest sie erneut änder

[2017-11-16 17:05] chriskonnertz opened #254 "Add missing translations"
(This task is linked to https://github.com/Contentify/Contentify/issues/252 )

- Add translation for the error page
- Add translation for the "not logged in" page
- Add translation files for Laravel's default texts ( https://github.com/caouecs/Laravel-lang/tree/master/src/de )

[2017-11-16 17:06] chriskonnertz commented on #253
Von diesem Problem habe ich schon gehört, habe aber Probleme es zu reproduzieren. Derzeit ist mir daher auch keine Lösung bekannt.

[2017-11-16 19:03] LikeLuc opened #255 "/public/install not found [GER]"
![404](https://user-images.githubusercontent.com/31854058/32910087-9b4ae5ea-cb08-11e7-95ad-2bacd4b3d26b.PNG)

Hey,
after the install script has finished I opend my hompage goes to /public/install.php
clicked next and got the Error 404, what can I do.

best regards
LikeLuc

[2017-11-16 22:28] digloz commented on #252
Hat super geklappt. Übrigens noch ein Punkt wo es nicht übersetzt ist: Die Fehlermeldung, dass man nicht angemeldet ist ;-)

[2017-11-17 10:38] LikeLuc commented on #255
Okay, it was my bad... sorry

[2017-11-17 17:57] chriskonnertz commented on #255
No problem. :)

[2017-11-17 17:57] #255 closed, assigned to nobody

[2017-11-21 10:04] Mrciller opened #256 "More Brackets"
Könntest du vielleicht eine Brackett Auswahl machen wie zum beispiel Schweizersystem oder ein System wie 99Damage hat?

[2017-11-25 10:13] chriskonnertz commented on #256
Hallo,

ehrlich gesagt, im Moment nicht. So ein Turnier/Liga/Ladder-System ist eine ziemlich große Nummer, daher wollte ich es erst gar nicht einbauen weil klar war, man damit nicht die Wünsche aller erfüllen ohne dass man permanent daran arbeitet und es immer mehr und mehr erweitert, was aber den Rahmen eines CMS sprengen würde. Daher gilt für diesen Bereich, dass ich dort keine neuen Features ei

[2017-11-25 10:13] #256 closed, assigned to chriskonnertz

[2017-11-27 21:21] daZiton opened #257 "Vendor folder and .installed script missing"
Hey chriskonnertz,

in my opinion the vendor folder is missing in the main directrory and also
the .installed script in the /storage/app directory?

I fixed the problem with the vendor folder but when i try to launch the install, it bring me to /puplic/install.
This directory doesn't exist?!

Thanks in advanced!

Kannst mir natürlich auch in deutsch antworten :-D

[2017-11-28 10:10] Mrciller commented on #257
hast du es über den Installer oder über Zip download geholt?

[2017-11-28 16:27] daZiton commented on #257
Ich hab das Repository per zip heruntergeladen, direkt ausm git.

Das die .installed fehlt ist korrekt habe ich mittlerweile auch verstanden, weil über die wird geprüft ob bereits installiert wurde.

Dennoch lande ich über den Button "Launch installer" bei public/install. Das Verzeichnis gibt es einfach nicht.

[2017-11-28 16:27] #257 closed, assigned to nobody

[2017-11-28 17:00] chriskonnertz commented on #257
Hallo,

Kurzantwort: Es gibt einmal das was von GitHub kommt, das ist (absichtlich) ohne den vendor-Ordner - der muss dann mit Composer  https://getcomposer.org/ herunter geladen werden - und einmal das, was als "fertiger" Download über die Website heruntergeladen werden kann.

[2017-12-04 18:07] SalomanKane opened #258 "Installation Webhosting ohne vollen Server Zugriff"
Vor Weg ein Klasse System Hut ab.

Auf meinem Webhosting Vertrag scheitere ich immer an der Installation. Kann ich irgendwo nachprüfen ob mein Webhosting Provider alle Voraussetzung erfüllt? Bzw. Gibt es direkt bei der Contentify-Installation eine genauere Prüfung als die Abfrage am Anfang der Installation?

[2017-12-05 12:04] Mrciller opened #259 "steam login"
der Steam login funktioniert zurzeit nicht. Wenn ein user Beim Steam Login sich registrieren will und er nach der Steamsseite zurückgeleitet wird  kommt eine fehlermeldung dass der User nicht erstellt werden konnte. Bitte um hilfe :smile: :+1:

[2017-12-05 16:53] chriskonnertz commented on #259
Hallo,

danke für den Hinweis. Schaue ich mir umgehend an.

Einen API-Key hast du eingetragen? https://github.com/Contentify/Contentify/blob/2.1/config/steam-auth.php#L12

Ansonsten kannst du die STEAM-API-Library die Contentify nutzt aktualisieren:
- `composer.json` mit einem Texteditor öffnen -> https://github.com/Contentify/Contentify/blob/2.1/composer.json#L18
- ` "invisnik/laravel-steam-auth"

[2017-12-05 17:17] chriskonnertz commented on #258
Hallo,

Danke für das Lob. :)

Du könntest einen Link zu dem Webhosting-Paket, das du nutzt, posten, sofern du das öffentlich bekanntmachen kannst. Dann schaue ich mir das mal an, vielleicht kann ich dann direkt was dazu sagen.

Nein, gibt es nicht. Die Überprüfungen können/sollen noch etwas ausgebaut werden, aber leider sind dem in der Praxis Grenzen gesetzt. Einfach weil es verschiedene mögliche

[2017-12-05 20:07] SalomanKane commented on #258
Die Idee mit dem Error Log im Storage Verzeichnis ist gut, hatte ich garnicht aufm Schirm.

Hosting-Produkt wäre dieses: https://www.netcup.de/bestellen/produkt.php?produkt=1288

[2017-12-06 17:31] chriskonnertz commented on #258
Ich habe mir die Infos zu dem Hosting-Paket angeschaut. Ich habe nichts gefunden das ein Problem wäre, aber leider heißt das ja nicht, dass es dennoch - dort nicht dokumentierte - Einschränkungen gibt.

Du könntest bei deinem Hoster nachfragen ob das Hosting-Paket das PHP-Framework Laravel unterstützt. Wenn das der Fall ist, funktioniert Contentify, da Contentify auf Laravel aufbaut.

[2017-12-06 17:49] chriskonnertz commented on #258
Hab noch mal was ergänzt. Um das zu übernehmen, die Datei `public/install.php` auf diesen Stand aktualisieren: https://github.com/Contentify/Contentify/blob/2.2-dev/public/install.php

(Sollte es eine zuvor nicht dagewesene Meldung bezüglich der PHP-Version geben, so kann sie ignoriert werden.)

[2017-12-06 18:48] chriskonnertz commented on #259
Ich kann heute leider nichts weiter dazu herausfinden, da ich mich erst um ein paar andere Probleme kümmern muss.

[2017-12-07 04:24] SalomanKane commented on #258
Habe die install.php wie angegeben geändert und sah auf den ersten Blick gut aus
https://prnt.sc/hk5miq

Danach kam aber der Fehler **PDOException in Connector.php line 55: SQLSTATE[HY000] [2002] No such file or directory** https://prnt.sc/hk5o8mIch bin mir nicht ganz Sicher, aber könnte es damit zusammmenhängen das der mySQL Server und Webspace auf unterschiedlichen Servern liegen. Mit localhost

[2017-12-07 16:49] chriskonnertz commented on #258
Kurz und knapp: Ja. Da du ja "localhost" nutzt und nicht die IP des DB-Servers.

Ja, das ist richtig, da die Angabe in den meisten Fällen nicht notwendig ist.
Lösung: Bitte die Datei `config/database.ini` mit einem Texteditor öffnen. In Zeile 58 müsste stehen: `'port'      => env('DB_PORT', '3306'),` Das bitte ändern in `'port'      => 12345,`, nur statt 12345 dann den passenden Port.

[2017-12-07 16:56] chriskonnertz commented on #259
Bei mir funktioniert der STEAM-Login einwandfrei.

[2017-12-07 17:21] SalomanKane commented on #258
Das ich localhost genutzt hätte ist niht ganz korrekt Chris, ich hatte im Install die Felder mit IP, Name, User und PW gefüllt. In der Fehlermeldung stehen aber die Default Werte. Ist das normal?

in der `config/database.php` ist kein Eintrag `env('DB_PORT', '3306'),`
Die existierenden env Einträge sind im Code auch alle ausgeklammert

Lediglich am ende bei den Einträgen für Redis DB ist eine Port

[2017-12-11 08:41] Mrciller commented on #259
bei mir funktioniert es leider immer noch nicht D:

[2017-12-11 17:16] chriskonnertz commented on #259
Einen API-Key hast du eingetragen? https://github.com/Contentify/Contentify/blob/2.1/config/steam-auth.php#L12

[2017-12-11 17:28] Mrciller commented on #259
Ja

Am 11.12.2017 18:16 schrieb "Chris Konnertz" <notifications@github.com>:

[2017-12-11 19:20] SalomanKane commented on #258
Kann geschlossen werden. Habs mit dem Webspace aufgegeben und jetzt mit nem eigenen Server für Contentify^^

[2017-12-11 19:20] #258 closed, assigned to chriskonnertz

[2017-12-11 19:35] SalomanKane commented on #234
Hätte auch ein paar Vorschläge für zukünftige Versionen

- WYSIWYG Editor für Textbereiche (im Newseditor ja bereits vorhanden)
- Bei der Serverübersicht ein Optionales Textfeld für Infos oder Serverbanner.
- Integrierte TS ³ Schnittstelle für einen Viewer wie z.B. bei DZCP
- Navigationspunkte im Backend verwalten
- Lightbox-Ansicht bei den Galeriebildern
- Galerienavigation - Pfeile nach Links un

[2017-12-12 11:21] SalomanKane opened #260 "Cant delete News"
Beim löschen von News kommt die Fehlermeldung
[code]
Die News ansich werden trotzdem gelöscht, die Frage ist nur wo die Fehlermeldung ihren Ursprung hat
https://prnt.sc/hmeusk

[2017-12-12 16:58] chriskonnertz commented on #260
Hallo,

welche Version von Contentify hast du dabei verwendet?

[2017-12-12 17:21] SalomanKane commented on #260
Die Version 2.1 die Zum Download angeboten wird

[2017-12-12 17:22] chriskonnertz commented on #260
Derzeit kann ich den Fehler nicht reproduzieren. Da die 2.2er-Version bald erscheinen wird werde ich das Problem bis dahin erst mal ruhen lassen da es dort vielleicht schon behoben wurde.

[2017-12-12 17:26] SalomanKane commented on #260
Alles klar^^

[2017-12-12 17:26] chriskonnertz commented on #259
Besteht die Möglichkeit, dass ich direkten Zugang zu dem Server bekomme? Anders fällt mir kein effizienter Weg ein wie ich das Problem weiter untersuchen könnte da es bei mir nicht auftritt.

Falls ja, bitte ich um eine Email an contact@contentify.org dann können wir auf diesem Weg alles weitere besprechen.

[2017-12-12 17:44] chriskonnertz commented on #234
Wie genau meinst du das?

Gute Idee, wird in v2.2 enthalten sein ( https://github.com/Contentify/Contentify/commit/19d1379eb3e139c96c8ee516e82fc8c749d21727 ).

[2017-12-12 17:47] chriskonnertz commented on #258
Okay. Hast du schon einen angemietet? Ansonsten teste ich gerade einen sehr günstigen VServer. Schaut bislang sehr gut aus damit und ich denke den werde ich zukünftig als allgemeine Empfehlung angeben.

[2017-12-12 17:58] SalomanKane commented on #258
Ich hatte noch einen VServer der mich 1,99€ im Monat kostet. der lief leer und jetzt eben mit contentify. Wollte aber erst wissen ob es beim Webhosting von netcup geht. Beim Server onhne Probleme wie es aussieht

[2017-12-12 18:04] SalomanKane commented on #234
WYSIWYG nutzt du ja bereit beim Newserstellen (Müsste der CKEditor sein) Den Editor auch für z.B. das Forum. Mit BB-Codes können die meisten nicht mehr umgehen^^

PS: Hab meinen Ideen noch was hinzugefügt, weiß aber das dass nicht so einfach ist^^

[2017-12-13 07:04] Mrciller commented on #259
habe dir eine email geschickt

[2017-12-13 17:21] chriskonnertz commented on #258
Ok, verstehe.

[2017-12-16 09:40] nowahhh opened #261 "install no found??"
Hi everyone, I have an unusual problem.

I unpacked everything in my host, put the folder permissions at 7777

launching

http://provaproleague.altervista.org/public/install.php

all green

I press launches and can not find the page !!

How do I solve?

[2017-12-16 17:32] SalomanKane commented on #261
check for missing files. Maybe some Background libs are not supportet by altervista. I Got this message only when files are missing.

[2017-12-16 17:52] nowahhh commented on #261
in the zip folder there is no "install" folder! just install.php in folder PUBBLIC
maybe it's my host that is not good .. do you know a free host to try this cms?

I also have a paid host, where my site is now hosted, it's called OVH, do you know if it works on this HOST?

[2017-12-18 17:08] chriskonnertz commented on #261
Hello nowahhh,

this is a routing problem. "install" is not a real folder, it is a route (a virtual folder). Do you have Apache? Then you have to enable the mod_rewrite module.

https://github.com/Contentify/Contentify/wiki/Installation

[2017-12-18 21:51] ArianaDulac opened #262 "PDOException in Connector.php line 55:"
I am trying to install the newest version of contentify, and I get this error after I reach the create super admin step when I click next it gives me this error.

[2017-12-18 22:04] chriskonnertz commented on #262
Hello,

I assume that this is only the title of the error message ? Would you mind to copy & paste the Wohle Message Description? (Make sure it does not contain the database password as plain text.)

[2017-12-18 22:06] ArianaDulac commented on #262
in Connector.php line 55
    at PDO->__construct('mysql:host=2607:5300:0060:72B7:0000:0000:0000:002C;dbname=mysql', 'root', 'passwordhere', array('0', '2', '0', false, false)) in Connector.php line 55
    at Connector->createConnection('mysql:host=2607:5300:0060:72B7:0000:0000:0000:002C;dbname=mysql', array('driver' => 'mysql', 'charset' => 'utf8', 'collation' => 'utf8_unicode_ci', 'prefix' => '',

[2017-12-19 01:38] Shootify opened #263 "question"
Hello, what are the requirements to install this cms?
i have a VPS

CPU | Common KVM processor \| Cores: 1
-- | --
Operating system | Ubuntu 16.04 (64-Bit)
Web server | Apache/2.4.18 (Ubuntu)
PHP version | 7.0.22-0ubuntu0.16.04.1
MySQL version | 5.5.5-10.0.31-MariaDB-0ubuntu0.16.04.2
FTP server | ProFTPD 1.3.5a
Database administration | phpMyAdmin 4.7.5

should be ok?

[2017-12-19 16:56] chriskonnertz commented on #263
Hello,

yes, these specifications that you have listed fullfil the requirements of Contentify.

However, there are more requirements, for example PHP extensions: https://github.com/Contentify/Contentify/wiki/Installation#server-requirements

Since you have a VPS this is not a big thing, because if one of these extensions is missing you are able to install it.

[2017-12-21 13:45] nowahhh commented on #261
i have Apache and the module active.

this is my htaccess

**<IfModule mod_rewrite.c>
<IfModule mod_negotiation.c>
Options -MultiViews
</IfModule>

RewriteEngine On
RewriteBase /pubblic/

# Redirect Trailing Slashes...
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
</IfModule>

# #

[2017-12-21 17:53] chriskonnertz commented on #261
Maybe my post was ambiguous: This is most likely not a bug of the CMS but an issue with your Apache configuration. Therefore it is not a bug we can fix.

In general I consider configuration issues "beyond the border" of our support. It is impossible to support all the possible hosting environments so this is more or less a problem that you have to solve on your own or with the help of your server

[2017-12-21 17:53] #261 closed, assigned to chriskonnertz

[2017-12-23 18:19] nowahhh commented on #261
I saw the demo and if it works well I could also pay for this CMS, I thank you for your reply!

Only one question my host is OVH, do you know if it works there?

Do you know a free host where are you sure it works?

[2017-12-23 18:29] nowahhh commented on #261
another question and I swear then I will pay someone to do it! the .htaccess file what should it contain? do you have a test .htaccess to show me?

[2017-12-23 20:01] SalomanKane commented on #261
For Example my htaccess file
`<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
`
I dont think

[2017-12-24 10:45] chriskonnertz opened #264 "[Official] Contentify 2.4"
## Contentify 2.4

**Schedule:**
Start of development: 12th of March (2018)
Release: End of April (2018)

**ToDo:**
* ✔ Theme (CSS) compiling has to work without a JS task runner. This change should have high priority!
* ~Allow markdown in comments and forum posts. Also add a minimalistic markdown editor?~ Yes - but not in v2.4 - maybe in 2.5, maybe.
* ~New, modern layout for the matches overview

[2017-12-24 13:11] #199 closed, assigned to chriskonnertz

[2017-12-24 15:18] chriskonnertz commented on #261
I plan to create a solution that offers web hosting for a very low price. This is one of the solutions that I mentioned in my previous comment. I am aware that the hosting / installtion thing is too difficult. But I do not know any way to make it more accessible.

I you men a **vs** / **vps** (viirtual [private] server) / **cloud** server hosted by OVH? Then yes, that should work: https://github.c

[2017-12-26 23:32] Shootify commented on #263
How to install on vps when it got websites running already? mean, on the publichtml folder, how to redirect the installation to the contentify folder, i have vps running ubuntu. sorry noob question
PS:  I sent you  an email!

[2017-12-27 22:01] SalomanKane opened #265 "Ein paar Fragen / A few Questions"
DE:
- Im Backend gibt es die Möglichkeit eine Navigation zu erstellen, mit welchem Code lässt sie sich im Layout nutzen? Das selbe bei erstelltem Custom Content
- Gibt es eine Funktion Blockeinträge im Layout als Liste auszugeben?
- ist es Möglich den Editor von den News ins Forum zu übernehmen für etwas mehr Komfort?

ENG: (Sry, iam not a nativ Speaker/writer)
- At the Backend can i see the possi

[2017-12-28 07:22] Mrciller opened #266 "Error beim updaten"
php update.php

Contentify Update

Welcome to the new version 2.1 of Contentify.
We recommend to make a database update before you continue.

Update now?
Please confirm: Update [y/n]y
Updating the database...PHP Notice:  Undefined variable: result in /var/www/html/public/update.php on line 147
Could not execute the database query: Duplicate entry 'app.theme_christmas' for key 'PRIMARY'Error: Code

[2017-12-28 07:43] Mrciller commented on #266
ich bitte um hilfe

[2017-12-28 08:02] Mrciller commented on #266
bin draufgekommen das mein Programm beim uploud die Dateien falsch hochgeladen hat

[2017-12-28 08:07] SalomanKane commented on #253
Den Fehler habe ich ebenfalls, mit einer ganz frischen Contentify installation

[2017-12-28 08:21] Mrciller commented on #266
so neuer error
![unbenannt](https://user-images.githubusercontent.com/30408715/34404886-7a983870-ebb0-11e7-8ff0-b640fd20ca32.PNG)
![ednnt](https://user-images.githubusercontent.com/30408715/34404888-7ab41f4a-ebb0-11e7-88fb-5ee698cad658.PNG)
![hgannt](https://user-images.githubusercontent.com/30408715/34404889-7acaac92-ebb0-11e7-8bc5-11629034a1bb.PNG)
![llt](https://user-images.githubusercontent.co

[2017-12-28 11:55] Mrciller commented on #266
das php update geht doch noch nicht

[2017-12-28 12:01] Mrciller commented on #266
root@5825c732c828f5 public $ php update.php y

Contentify Update

Welcome to the new version 2.2 of Contentify.
We recommend to make a database update before you continue.

Update now?
Please confirm: Update [y/n]y
Updating the database...Could not execute the database query: Duplicate column name 'cup_points'Error: Code 42S21

[2017-12-28 12:09] SlavenTV commented on #266
Das Datenbankfeld ist schon da, deswegen meckert er das an.
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 28.12.17, 13:01, Mrciller <notifications@github.com> schrieb:
root@5825c732c828f5 public $ php update.php y
Contentify Update
Welcome to the new version 2.2 of Contentify.
We recommend to make a database update before you continue.
Update now?
Please conf

[2017-12-28 12:10] Mrciller commented on #266
icons wurden von selbst gefixed nach ein paar versuchen kann aber noch immer nicht auf pages und dashboard zugreifen und forum melden

[2017-12-28 12:10] Mrciller commented on #266
ok aber das war nur bei cup_points und bei den anderen?

[2017-12-28 12:11] SlavenTV commented on #266
Kommen noch mehr fehler?

Ansonsten müsste er die dir auch anzeigen normal

 

Gesendet: Donnerstag, 28. Dezember 2017 um 13:10 Uhr
Von: Mrciller <notifications@github.com>
An: Contentify/Contentify <Contentify@noreply.github.com>
Cc: Slaven27 <Hopperjr@web.de>, Comment <comment@noreply.github.com>
Betreff: Re: [Contentify/Contentify] Error beim updaten (#266)

ok aber das war nur bei cup_points u

[2017-12-28 12:13] Mrciller commented on #266
Ich hab cup auskommentiert und am ende kommt dann

PHP Warning:  Invalid argument supplied for foreach() in /var/www/html/public/update.php on line 171
Contentify updated

Done! Welcome to version 2.2 of Contentify!
For security reasons, delete this file:
/var/www/html/public/update.php

[2017-12-28 12:15] SlavenTV commented on #266
Dann ist wohl alles gut :)
 

Gesendet: Donnerstag, 28. Dezember 2017 um 13:13 Uhr
Von: Mrciller <notifications@github.com>
An: Contentify/Contentify <Contentify@noreply.github.com>
Cc: Slaven27 <Hopperjr@web.de>, Comment <comment@noreply.github.com>
Betreff: Re: [Contentify/Contentify] Error beim updaten (#266)

Ich hab cup auskommentiert und am ende kommt dann

PHP Warning: Invalid argument supp

[2017-12-28 12:16] Mrciller commented on #266
kann aber nicht die pages editieren forum meldungen sehen und auf dem dashboard auf dashboard klicken XD

[2017-12-28 21:09] chriskonnertz commented on #265
Hallo,

Habe dazu kurz eben geschrieben: https://github.com/Contentify/Contentify/wiki/Built-In-Modules#navigations

Probier mal das selbe wie oben aber als Code das hier: `@widget('Pages::Fragment', ['id' => 123])`

Bin mir nicht ganz sicher was du meinst, denke aber die Antwort lautet: Nein, nicht nativ. Lässt sich eventuell aber einfach machen.

Theoretisch ja, definitiv. Praktisch ist das "von

[2017-12-28 21:17] chriskonnertz commented on #266
Sieht nach einem älteren Stand aus, weil in Zeile 147 ist nichts: https://github.com/Contentify/Contentify/blob/2.2/public/update.php#L147 Und da ist auch keine $result-Variable in unmittelbarer Nähe, nur etwas weiter weg aber die kann es eigentlich nicht sein.

Das könnte das von oben erklären. Damit könnte deine Installation natürlich korrumpiert oder auf Gutdeutsch kaputt sein. Ich hoffe, du ha

[2017-12-28 21:26] chriskonnertz commented on #266
Behoben: https://github.com/Contentify/Contentify/commit/3857e668be074bcbebec1678fb87b8eef65c7778

Danke für den Hinweis!

[2017-12-28 21:28] chriskonnertz commented on #266
Bei mir klappt's. Wie genau / was genau rufst du auf?

[2017-12-28 21:40] chriskonnertz commented on #266
Ja, das habe ich auch. Scheint ein Problem zu sein durch den Umstieg auf Laravel 5.3. https://github.com/laravel/framework/issues/14997

[2017-12-28 21:53] chriskonnertz commented on #266
Hässlicher Workaround: `config/database.php` öffnen und in Zeile 62 den striken Modus für SQL deaktivieren durch ersetzen von "true" mit "false" ( https://github.com/Contentify/Contentify/blob/2.2/config/database.php#L62 ).

Bei mir gibt es danach einen anderen Fehler. Ist das nur bei mir so?

[2017-12-28 21:56] chriskonnertz commented on #263
So you want to have two websites running on your Apache? (It's possible :) )

[2017-12-28 21:59] chriskonnertz commented on #262
Hello,

this bug should be fixed now. Please use the latest release of version 2.2 of Contentify: It includes several bug fixes for issues that occur during the installation.

[2017-12-28 21:59] #262 closed, assigned to chriskonnertz

[2017-12-28 23:07] SalomanKane commented on #265
Auch wenn die Frage etwas blöd ist, wieso ist im Forum so ein Altbackender Editor verbaut wenn für News, Blogs und Custom Content ein Editor verbaut ist der modernsten Ansprüchen gerecht wird.

Auf die schnelle fällt mir selbst nur ein CMS ein das ebenfalls einen alten BBCode Editor nutzt und das ist Webspell. Da reden wir aber auch von einem gut 10 Jahre altem Sourcecode. Mit "von offizieller Sei

[2017-12-29 01:08] Shootify commented on #263
Well i have a Vps that i use to run my websites (2 joomla cms), so each
website has its own folder, so wondering how to install it, would you
install it for me?

On Thu, Dec 28, 2017 at 1:56 PM, Chris Konnertz <notifications@github.com>
wrote:

[2017-12-29 08:03] Mrciller commented on #266
bei mir ist dann Pagecat not found

[2017-12-29 08:04] Mrciller commented on #266
nachdem kann ich aber wieder in Forum meldungen

[2017-12-29 14:45] SalomanKane commented on #265
Ist es normal das bei der Benutzerverwaltung im Backend keine Möglichkeit zum löschen sondern nur zum editieren gegeben ist?

[2017-12-29 14:48] SlavenTV commented on #265
Das ist so gewollt.
Durch löschen von benutzern kann es zu Salat kommen
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 29.12.17, 15:45, SalomanKane <notifications@github.com> schrieb:
Ist es normal das bei der Benutzerverwaltung im Backend keine Möglichkeit zum löschen sondern nur zum editieren gegeben ist?

—You are receiving this because you are subscribed t

[2017-12-29 15:33] SalomanKane opened #267 "Error: Code 42000"
Bekomme beim Update den Fehlercode
https://prnt.sc/htuayy

Muss in der Datenbank was von Hand geändert werden?

[2017-12-29 16:19] eodclan opened #268 "Admin pages modul"
See here the error:

`FatalErrorException in BaseModel.php line 395:
Class 'App\Modules\Pages\Pagecat' not found`

[2017-12-29 16:26] eodclan commented on #268
the next error:

`NotFoundHttpException in Handler.php line 113:
No query results for model [App\Modules\Pages\CustomPage].`

[2017-12-30 18:04] chriskonnertz commented on #268
This commit should solve the problem: https://github.com/Contentify/Contentify/commit/4e8198290123f5f7ee5ca25efbc9fb59a1adcb32

[2017-12-30 18:08] chriskonnertz commented on #267
Beim Update von Version 2.1 auf 2.2?

Nein.

Probier bitte mal das hier https://github.com/Contentify/Contentify/commit/d82a1c78967d96c7aa1ff23fe6e6b81791dbe7d1 und lass mich wissen ob es geholfen hat.

[2017-12-30 18:18] chriskonnertz commented on #266
Das sollte helfen:
https://github.com/Contentify/Contentify/commit/4e8198290123f5f7ee5ca25efbc9fb59a1adcb32

[2017-12-30 18:27] chriskonnertz commented on #263
Kinda, but not these days. I want to create a general solution, not an individual.

Well, first thing, this is not a question of installation I believe but of the server configuration.
So just upload it somewhere to your server and then you have to create a new vhost entry in your Apache config file for the new website.

https://www.digitalocean.com/community/questions/is-it-possible-to-install-la

[2017-12-30 18:28] chriskonnertz commented on #253
Läuft bei euch vermutlich auf einem Linux?

[2017-12-30 18:30] Shootify commented on #263
im not a servers savy, i know how to install regular websites cms and
stuff, but this one is kinda confusing, also i dont have digital ocean... i
would like to use contentify... would be cool if you can make the
installation kinda user friendly or something that will help a lot... thank
you for replying

On Sat, Dec 30, 2017 at 10:27 AM, Chris Konnertz <notifications@github.com>
wrote:

[2017-12-30 18:43] chriskonnertz commented on #265
Also kurz gesagt du hast recht, das ist nicht optimal derzeit. Ich hab das mal in die neue ToDo-Liste aufgenommen: https://github.com/Contentify/Contentify/issues/264

Vor ein paar Jahren gab es nicht so wirkliche Alternativen zu BBCode. Erst seit relativ kurzem hat sich Markdown https://de.wikipedia.org/wiki/Markdown ja ansatzwesie durchgesetzt. Was halt wichtig war (und immer noch nicht ganz unw

[2017-12-30 19:16] SalomanKane commented on #267
Soweit hat es geholfen, jetzt meckert er natürlich wegen den bereits erstellten Datenbankeinträgen. Wird mich morgen mal genauer ransetzen

[2017-12-30 19:19] SalomanKane commented on #265
Als ich nach Beispielen gefragt hatte wie sie es den gut finden haben sie einfach auf unsere aktuelle Gildenseite verwiesen.
Dort läuft TinyMCE, ergo wollen die Leute was zum klicken^^ Von 130 Rückmeldung waren nur 2 für BB Codes zu begeistern. ist ein etwas magerer schnitt. Die Menschen sind halt sehr verwöhnt da es nahezu überall vollwertige WYSIWYG Editoren gibt. Der CKeditor den du nutzt haben

[2017-12-31 11:00] chriskonnertz commented on #211
After installation.

[2017-12-31 11:00] #211 closed, assigned to chriskonnertz

[2017-12-31 11:03] #229 closed, assigned to chriskonnertz

[2017-12-31 11:04] chriskonnertz commented on #164
Closed this issue. Please try to install the latest version of Contentify, 2.2
If this does not work as well please create a new issue.

[2017-12-31 11:04] #164 closed, assigned to chriskonnertz

[2017-12-31 12:15] itsomarawad opened #269 "NotFoundHttpException in RouteCollection.php line 161"
Hello! This is a continuation of #164 . I tried it out with 2.2 now as well, but the error still persists. At least the error message has become smaller :). I installed all vendor libraries and the web server should support mod rewrite and everything else. When i open up the install.php everything is green but when i click on launch install it says /public/index.php was not found on this server. B

[2018-01-01 17:57] Mrciller commented on #266
Register funktioniert nicht mehr XD

[2018-01-01 17:58] Mrciller commented on #266
Sorry, the page you are looking for could not be found.
1/1
NotFoundHttpException in RouteCollection.php line 161:
in RouteCollection.php line 161
at RouteCollection->match(object(Request)) in Router.php line 766
at Router->findRoute(object(Request)) in Router.php line 621
at Router->dispatchToRoute(object(Request)) in Router.php line 607
at Router->dispatch(object(Request)) in Kernel.php line 268

[2018-01-02 06:53] Mrciller commented on #269
i got the same Error but when someone wants to register himself

[2018-01-02 16:23] chriskonnertz commented on #263
I work on a solution.

[2018-01-02 16:24] chriskonnertz commented on #267
Ok, hoffe es klappt!

[2018-01-02 16:27] #268 closed

[2018-01-02 16:31] chriskonnertz commented on #265
Habe das mal eingebaut. https://github.com/Contentify/Contentify/commit/b6e0fdbd8de362faf601e9021969a0b6da223096

Das löscht den User-Account nicht aber vielleicht verhindert es, dass immer wieder diese Frage auftaucht. Wenn man darauf klickt wird der User deaktiviert & gebannt und sein Profil geleert sowie seine Bilder gelöscht, außerdem sein Passwort geändert und noch ein paar Dinge zurückgesetz

[2018-01-02 16:31] chriskonnertz commented on #265
Ok danke für das Feedback. Es ist schon möglich so was einzubauen.

[2018-01-02 17:04] SalomanKane commented on #253
Jup, Ubuntu 16.04
Auf deiner Demoseite ist das Datum auch immer tagesaktuell^^

[2018-01-02 17:07] SalomanKane commented on #267
Kann ich bisher nicht sagen, habs Zeitlich noch nicht geschafft die schon aktualisierten Datenbankeinträge zu entfernen.

[2018-01-05 22:31] wuast94 opened #270 "after Launch installer error page not found"
Hey :)

wenn ich die Install.php auf mache ist alles grün und wenn ich dann auf Launch Installer klicke kommt folgende page:

The requested URL /public/install was not found on this server.

verstehe nicht warum der button auf /public/install gelinked ist obwohl es das nicht gibt .. habe dann mal in der php nachgeguckt und dort ist das aber auch gelinked:

echo '</table><a **href="./install**" sty

[2018-01-06 12:05] chriskonnertz commented on #218
PS This might help to fix the bug: https://github.com/Contentify/Contentify/wiki/Troubleshooting#captcha-image-not-displayed

[2018-01-06 12:07] chriskonnertz commented on #270
Hello,

I just added a section to the wiki that covers this issue: https://github.com/Contentify/Contentify/wiki/FAQ#i-cannot-find-the-publicinstall-directory

[2018-01-06 12:18] chriskonnertz commented on #269
Thank you! Please try out this bugfix:
https://github.com/Contentify/Contentify/commit/35c138a58bb87502cbe37427356e042983d3b625

[2018-01-06 12:22] chriskonnertz commented on #269
Okay I will try to install it on  a fresh Linux server, maybe I will be able to see the error message then.

[2018-01-07 08:42] #270 closed, assigned to chriskonnertz

[2018-01-07 09:15] wuast94 opened #271 "Pages not working"
when i click on "Seiten" in backend it return this:

1/2:
PDOException in Connection.php line 333:
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'test1.page_cats' doesn't exist

2/2:
QueryException in Connection.php line 770:
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'test1.page_cats' doesn't exist (SQL: select * from `page_cats` where `page_cats`.`id` = 2 and `page_cat

[2018-01-07 09:19] wuast94 opened #272 "can´t create Forum"
wenn ich im backend versuche ein neues forum zu erstellen kommt die ganze zeit folgende meldung:
forum id muss eine ganze Zahl sein.

im anhang was ich eingetragen habe
<img width="717" alt="unbenannt" src="https://user-images.githubusercontent.com/16965460/34648138-3481473c-f394-11e7-8635-e95e8f863989.PNG">

[2018-01-07 09:24] wuast94 commented on #271
Aus der Log datei
[2018-01-07 09:15:09] production.ERROR: PDOException: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'test1.page_cats' doesn't exist in /var/www/html/vendor/laravel/framework/src/Illuminate/Database/Connection.php:333

[2018-01-07 16:45] chriskonnertz commented on #271
Hallo,

bitte das hier übernehmen: https://github.com/Contentify/Contentify/commit/6bf1694f6c35a5dc881a77d45be9b09473d71b48

[2018-01-08 04:49] DennioWhite commented on #272
i have the same issue. What can we do?

[2018-01-11 19:05] Nordrir commented on #269
I'm getting the same issue from trying to use the Dashboard in the admin-page. I didn't have it with the clean install of 2.1, but after update to 2.2 I'm getting the exact same error. If I go to /admin, no issue, but /admin/dashboard and it has an aneurysm.

[2018-01-12 13:54] DennioWhite commented on #272
gibbet schon ein update?

[2018-01-14 22:14] itsomarawad commented on #269
Hey! I wanted to inform you that i finally was able to circumvent this issue by adjusting the RewriteBase in the .htaccess from `RewriteBase /` to `RewriteBase /public`

EDIT: War etwas voreilig, Installation geht, aber hab jetzt das gleiche Problem wie Nordrir

------
Randnotiz:
Erstmal sorry, dass ich dich solange mit nem Problem beschäftigt hab, wo du dir vermutlich eh die ganze Zeit gedacht ha

[2018-01-17 07:07] Mrciller commented on #264
Liver Chatraum oder Liver Freundeschat :D?

[2018-01-17 08:16] Mrciller opened #273 "Edit Cup settings"
Wie kann ich den Code umändern dass es zu einen Schweizersystem wird?
Für die  die nicht Wissen:
Schweizersystem ist jeder spielt gegen jeden einmal und der mit den Meisten Wins am Ende gewinnt :D

[2018-01-17 08:58] Mrciller commented on #273
entweder dass oder double elimination beides würde für mich sehr Hilfreich seien ;D

[2018-01-17 13:54] jonatant opened #274 "Modal box then using STEAM auth"
Hello. Nice CMS! But i have 1 problem, i try todo if user registering via STEAM he need set username first after saving profile to db.

Example: I press login with steam, i come back from steam website, and in my website has popup window: Choose your username:

Can u do that? THANKS!

[2018-01-18 07:57] jonatant commented on #274
Why this need? Becouse if steam user has nickname like: $#%^$%GDSSDF$#^ % $#. Its not verry good... Thanks!

[2018-01-19 18:02] marcelkuhla opened #275 "Can't save a Custom Site"
Hey Guys, it looks like Contentify can't save Custom Pages with the german translation activated, because if I want the save the Site, it will crash with an QueryException

LOG:
https://gist.github.com/TechPandaIT/0150408c852cd752615c38405d6091f0

To replicate:

- Change the Interface Language to German
- Create a new page at the backend
- save it

I also found 2 Major Bugs on the setup, but i wan

[2018-01-19 18:51] marcelkuhla opened #276 "News Module is igonoring "Publish at""
Error:

The News Module is ignoring the "Publish at" set in the Backend. It gets save because if you edit the news afterward it will show it, but both the front- & backend don't show it right.

To replicate:
- Create a new news or edit an old one
- change the "Publish at"
- save the news
- check the front- or backend afterward

[2018-01-20 10:03] nobi13 opened #278 "Can't find a install.php ?!"
Why i cant find install.php ?

[2018-01-20 12:39] marcelkuhla commented on #278
https://github.com/Contentify/Contentify/wiki/Installation#installation

Please watch that Part of the Installation Process again. As Contentify is based on Laravel, everything needs to go over the /public folder, so if you don't adjust your apache.conf or folder on a shared web space, you always need to navigate to your page like that: http://example.com/public/

[2018-01-20 18:08] jonatant commented on #274
This is really important and useful! Can somebody make this thing? I'm not good coder..

[2018-01-21 15:22] YourGuyArcher opened #279 "I get: QueryException in Connection.php line 770: when trying to install."
Does anyone know how I can fix this issue?

QueryException in Connection.php line 770:
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'temp.countries' doesn't exist (SQL: INSERT INTO countries(title, code, icon, creator_id, updater_id) VALUES
("European Union", "eu", "eu.png", 1, 1),
("Argentina", "ar", "ar.png", 1, 1),
and then more of these countries lol.

anyone know a fix?

[2018-01-22 13:05] ghost opened #280 "Digital Ocean Installer doesn't work"
Hey, recently I purchased a digital ocean droplet and trying to use the installer for digital ocean doesn't work. I have tried multiple times and I am running the Ubuntu 16.04 LAMP install, so idk why it wouldn't work.

[2018-01-22 17:54] chriskonnertz commented on #280
Hello,

there has to be some kind of an error message, right?

Just a guess - take a look at this file: `storage/app/database.ini`
It should look like this but with you database credentials: https://github.com/Contentify/Contentify/blob/2.2/storage/app/database.ini

[2018-01-22 18:00] chriskonnertz commented on #279
Hello,

that's a new one. I have no idea what may cause such an exception.

Did you try to install it again? Delete all tables, *then* try to install it again?

The exception says that it cannot add new rows into the "countries" table, because it does not exists. But this table should exist: https://github.com/Contentify/Contentify/blob/2.2/contentify/Controllers/InstallController.php#L346

[2018-01-22 18:01] chriskonnertz commented on #278
Yes. Most likely this is a problem with the configuration of the server or to be more precise with the URL / URL rewriting.

[2018-01-22 18:07] chriskonnertz commented on #276
Hello,

I will follow your guide and try to reproduce this bug.

[2018-01-22 18:08] chriskonnertz commented on #274
Hello,

I will consider implementing this feature. It seems to be a legit feature.

[2018-01-22 18:15] chriskonnertz commented on #273
Hallo,

ich will dich nicht demotivieren, fürchte aber, das ist nicht mal eben so getan. Das klingt für mich im ersten Moment schon nach ziemlich großen Umbaumaßnahmen. Ich kann dir da derzeit nicht wirklich weiter helfen, das würde meiner Einschätzung nach den Rahmen sprengen.

Mir ist klar, das ist keine schöne Antwort. Aber das Cup-System war immer nur als einfaches, minimalistisches System ged

[2018-01-22 20:39] ghost commented on #280
Well um there is no error, nothing even installs? I go to the ip and nothing is there at all, just "The requested URL / was not found on this server." so I am not sure what is going on.

[2018-01-22 20:40] ghost commented on #280
There is no database.ini file to edit....

[2018-01-23 13:56] 1Tobi opened #281 "URL /install wurde nicht gefunden | requested URL /install was not found"
Hallo erstmal!

Ich habe da ein Problem mit der Weiterleitung beim Installer
Ich habe jetzt schon vieles Ausprobiert um den Fehler zu finden ich habe auch rewrite aktiviert wie es im FAQ steht
Nun steh ich auf dem Schlauch und weiß nicht mehr weiter wäre Cool wenn man eine Lösung findet

[2018-01-23 17:50] marcelkuhla commented on #281
Scheint mir das gleiche "Problem" wie hier zu sein:

#278

Sollte es nicht so sein, dann wäre die Apache/Nginx oder Laravel Logs interessant. #

[2018-01-23 17:58] marcelkuhla commented on #253
Auf dem Demoseite liegt es aber, daran dass sich die Datenbank alle 30min neu baut, denke ich.

[2018-01-23 18:16] 1Tobi commented on #281
Ich finde den Install.php ich habe in der Apache Config DocumentRoot /var/www/html/public eingetragen nur ich werde nicht Weitergeleitet

IP: Tactical-Fighters.de
Ich gehe auf Launch Install und dann kommt halt The requested URL /install was not found on this server.

[2018-01-23 18:23] chriskonnertz commented on #281
Den Apache hast du nach den Änderungen mal neu gestartet?

[2018-01-23 18:25] 1Tobi commented on #281
Ja, habe ich

[2018-01-23 18:26] marcelkuhla commented on #281
Dann sende uns doch mal deine apache log, bzw. aktiviere sie und versuche es erneut

[2018-01-23 18:28] chriskonnertz commented on #281
Hab mal noch die Überprüfung ob - wenn man Apache nutzt - mod_rewrite aktiviert wurde in den Pre-Installer eingebaut: https://github.com/Contentify/Contentify/commit/d30507ef9be9289e7b43650e552fa30737c1b2de

[2018-01-23 18:30] marcelkuhla commented on #253
Habe gerade erst bemerkt, dass es auf meiner Seite das selbe ist :)

Ich denke fast, dass es irgendwie mit dieser Funktion zu tun hat:

https://github.com/Contentify/Contentify/blob/d30507ef9be9289e7b43650e552fa30737c1b2de/app/Modules/News/News.php#L62-L71

Weil ich habe mir das News Module mal genauer angesehen und das ist in diesem Fall eig. die einzige Frontend Datei, die auf die News zugreift

[2018-01-23 18:31] 1Tobi commented on #281
Error Log: https://hastebin.com/sayoyenute.sql

[2018-01-23 18:32] chriskonnertz commented on #281
Das ganze ist merkwürdig, wenn du sagst du hast mod_rewrite aktiviert dann sollte das eigentlich funktionieren. Was man noch schauen könnte wäre aus dem FAQ das hier:

Hast du deine Apache-Einstellungen dahingehend überprüft?
Dieser .htaccess https://github.com/Contentify/Contentify/blob/2.2/public/.htaccess muss erlaubt sein ihren Voodoo-Zauber durchzuführen. ;)

https://askubuntu.com/questions/4

[2018-01-23 18:37] 1Tobi commented on #281
Jetzt kommt Diese Seite funktioniert nicht
tactical-fighters.de kann diese Anfrage momentan nicht verarbeiten.

[2018-01-23 18:38] marcelkuhla commented on #281
`[Tue Jan 23 19:24:26.137541 2018] [:error] [pid 17989] [client 176.199.67.32:60072] PHP Fatal error:  Uncaught UnexpectedValueException: The stream or file "/var/www/html/storage/logs/laravel.log" could not be opened: failed to open stream: Permission denied in /var/www/html/vendor/monolog/monolog/src/Monolog/Handler/StreamHandler.php:107\nStack trace:\n#0 /var/www/html/vendor/monolog/monolog/src

[2018-01-23 18:40] 1Tobi commented on #281
Ja, Composer ist drauf nur wie meinst du das mit durchlaufen lassen ?

Ich habe Composer install gemacht und es wurde am Ende kein Fehler angezeigt

[2018-01-23 18:48] marcelkuhla commented on #281
Also:

ich gehe anhand der Error Logs davon aus, dass du zwar Apache/PHP mässig alle Anforderungen erfüllst, aber composer beim autoload etwas falsch oder garnicht gemacht hat und es daher ein Problem mit  Laravel selber gibt.

Dieses bekommen wir aber nicht ausgegeben, weil Monolog wie oben im Errorlog zu sehen ist nicht richtig initialisiert werden konnte.

Versuch also mal bitte den vendor Ordn

[2018-01-23 19:13] 1Tobi commented on #281
So hab es nun Hochgeladen und composer update eingegeben jetzt sagt er aber immernoch

Diese Seite funktioniert nicht
tactical-fighters.de kann diese Anfrage momentan nicht verarbeiten.
HTTP ERROR 500

[2018-01-23 19:17] 1Tobi commented on #281
Ich habe mal im Error Log nachgeschaut und dies hier Gefunden :  https://hastebin.com/ecopawekuj.tex

[2018-01-23 19:45] 1Tobi commented on #281
Ich habe auch nochmal nach dem Fehler Google benutzt und es wurde gesagt das ich Rechte geben soll, nur die Datei garnicht Existiert (/var/www/html/storage/logs/laravel.log')
Was kann ich tun ?

[2018-01-23 19:53] 1Tobi commented on #281
Ich habs Geschafft, hab folgenden Command eingegeben: chmod -R 777 storage (REchte an den Storage ordner xd)

[2018-01-24 10:30] Mrciller commented on #280
you must go to your.domain/public/install

[2018-01-24 12:03] ghost commented on #280
Doesnt work

[2018-01-24 12:21] Mrciller commented on #280
do your folder have permission 777? i mean the public folder?

[2018-01-24 18:15] PureLoneWolf opened #283 "Lost access to Admin"
Hi all

I just installed and was messing around with some settings to see how things worked, I added myself to a Team and instantly lost access to the Admin Backend.

Presumably I can fix this in MySQL - The question is what and where?

Many thanks :)