[2018-01-24 21:37] chriskonnertz commented on #283
Hello,

yes, you can fix this via MySQL.

The table is "role_users". Example query:

[code]

[2018-01-24 22:07] PureLoneWolf commented on #283
That sorted it - Many thanks

[2018-01-24 22:07] #283 closed, assigned to chriskonnertz

[2018-01-25 03:42] ghost commented on #280
Yeah

[2018-01-26 10:37] Mrciller commented on #280
go toetc apache2 and look in the sites avalible config is there you html folder linked?

[2018-01-27 09:43] 1Tobi opened #284 "Custom Page doenst work"
Hallo, ich habe da ein Bug gefunden bzw. einen Fehler

Wenn ich eine Custom Seite Erstellen möchte kommen 2 Fehler:
1: https://hastebin.com/xihawowexi.vbs

2: https://hastebin.com/vurowoxaxe.vbs

Kennt wer eine Möglichkeit dies zu beheben?

[2018-01-31 20:12] jonatant commented on #274
Any news? :)

[2018-02-01 14:12] #284 closed, assigned to chriskonnertz

[2018-02-01 14:15] 1Tobi opened #285 "Error on vendor/autoload.php German"
Hallo ich habe einen Fehler gefunden und weiß nicht wie ich diesen beheben kann
Fehler: https://hastebin.com/bujamonudo.rb

Bitte um Hilfe

[2018-02-02 18:28] FerixHD opened #286 "Installations Fehler"
Hi ich habe das Problem wenn ich bei meiner adresse die install.php aufrufe testet er den server und sagt es ist alle ok wenn ich nun auf launch installer gehe kommt dieser fehler Not Found
The requested URL /kunden/549969_78579/public/index.php was not found on this server.

Additionally, a 404 Not Found error was encountered while trying to use an ErrorDocument to handle the request.

Apache/2.4

[2018-02-05 09:52] imanolGOMI opened #287 "Error with links"
HI!

After install all works but now the links fails...

(the link point to public/admin/news for example and this route don't work but if change to admin/news all work.)

I think that is apache configuration but i don't known...

Thanks

[2018-02-05 16:50] imanolGOMI opened #288 "Allow create users from Admin."
When i want fill the teams i need that the users exist in BBDD to link to the team. I think that when you have a big club the best option is that web admin create all users to link to the team.

[2018-02-05 16:50] imanolGOMI opened #289 "Allow change logo-header"
How i can change the logo-header from Admin views?

thanks.

[2018-02-06 12:54] Mrciller commented on #286
schonmal ip/install probiert?

[2018-02-06 21:08] chriskonnertz commented on #286
Hallo,

ist `/kunden/549969_78579/public/index.php` denn eine korrekte URL?

Eigentlich sollte die Installation automatisch aufgerufen. Trotzdem, ja, es kann nicht schaden, sie mal manuell aufzurufen.

[2018-02-08 02:13] Bensilver86 opened #290 "NotFoundHttpException in RouteCollection.php line 161:"
Hallo,

ich habe folgendes problem. Kann dort jemand helfen?

<img width="963" alt="bildschirmfoto 2018-02-08 um 03 12 23" src="https://user-images.githubusercontent.com/36249643/35951973-0ca07258-0c7e-11e8-86e8-7ebb98f6e83c.png">

Mit freundlichen Grüßen

[2018-02-13 11:37] Mrciller commented on #290
welche Seite probierst du zu öffnen?

[2018-02-13 11:44] Bensilver86 commented on #290
Hi das Dashboard

Von meinem iPhone gesendet

[2018-02-14 14:02] Mrciller commented on #290
i had the problem too but i fixed it on its own so i cant rly helP D:

[2018-02-14 16:03] TheHotz opened #291 "DigitalOcean install.sh Problem"
Mooin,
Habe ein Problem wenn den Installer für DigitalOcean nutzen möchte.
Funktioniert alles bis zur Datenbank wenn ich es richtig sehe. Dort muss ich dann ein ewig langes Passwort eingeben, woraufhin diese Meldungen kommen:

`mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)
mysql:

[2018-02-14 19:18] chriskonnertz commented on #291
Hallo,

ja, das ist wahrscheinlich ein Bug im Skript. Die MySQL-Verbindungsdaten werden nicht korrekt in der Datei `storage/app/database.ini` gespeichert. Öffne die bitte mal mit einem Texteditor. bearbeite sie, sodass sie so aussieht nur mit deinen Daten: https://github.com/Contentify/Contentify/blob/2.2/storage/app/database.ini

Danach sollte es klappen. Das `install.sh` Skript musst du übrigens

[2018-02-14 19:20] chriskonnertz commented on #290
Du kannst mal den Cache löschen, dazu alle Order & Dateien in `storage/framework` entfernen.
Außerdem schau mal ob in `config/app.php`  der Pfad zur Website richtig gesetzt ist ( https://github.com/Contentify/Contentify/blob/2.2/config/app.php#L63 )

[2018-02-14 22:27] TheHotz commented on #291
Erstmal Danke für die schnelle Antwort!

Wenn ich die Datei mit dem Command `sudo nano storage/app/database.ini` die Textdatei aufrufen möchte, um diese wie angewiesen zu bearbeiten, dann ist das Verzeichnis nicht verfügbar. Abspeichern ist somit natürlich auch nicht möglich.

Mir wird beim ausführen der install.sh ebenfalls das hier angezeigt:
`--2018-02-15 10:57:09--  http://contentify.org/share

[2018-02-16 20:14] chriskonnertz commented on #291
Da ist leider ein Fehler unterlaufen beim Veröffentlichen von Version 2.2. Das ist ein nicht gerade trivialer Prozess und dabei ist ein Schritt übersehen worden. Daher war der Download der Version 2.2 nicht direkt von contentify.org möglich, was das Skript aber voraussetzt.

Jetzt sollte es funktionieren. Bitte versuche es nochmal von vorne.

[2018-02-17 19:47] Shootify commented on #263
any new solution chris? thanks

[2018-02-21 18:43] chriskonnertz commented on #263
Unfortunately I am not able to give you an update on this topic. I feel like GabeN talking about Half Life 3. :/

[2018-02-21 20:26] Shootify commented on #263
haha, would you help me installing it?

On Wed, Feb 21, 2018 at 10:43 AM, Chris Konnertz <notifications@github.com>
wrote:

[2018-02-23 19:53] chriskonnertz commented on #264
@Mrciller Die Shoutbox ist dir bekannt? Ist quasi ein Live-Chatraum. :)

https://github.com/Contentify/Contentify/tree/2.2/app/Modules/Shouts

[2018-02-23 20:01] chriskonnertz commented on #274
@jonatant

Sorry for the delay.

This feature is scheduled for the next version of Contentify, v2.3 ( https://github.com/Contentify/Contentify/issues/264 )

[2018-02-23 20:44] MrcillerYT commented on #264
wie funkt das?

[2018-02-26 16:24] khalifaone opened #292 "Register error"
Hello, i updated at v2.2 and i gave this error
![reg22](https://user-images.githubusercontent.com/29990653/36681800-47e0dee0-1b22-11e8-94cd-216661784b7c.JPG)

[2018-02-28 12:11] lukasmk87 opened #293 "FontIcon"
Hi,

erstmal meinen Dank für das tolle CMS.

Habe vor drei Tagen ein Update von 2.1 auf 2.2 durchgeführt.
Seit dem fehlen mir die FontIcon's.

Habe schon hier und da geschaut aber nicht gefunden, was mir helfen würden.

Würde mich auf Hilfe freuen.

Danke.

P.S.: https://bastnerds.de

[2018-02-28 12:53] lukasmk87 commented on #293
Hab das Layout.blade editiert und gespeicht.

Geht wieder.

[2018-02-28 12:53] #293 closed, assigned to chriskonnertz

[2018-02-28 12:54] lukasmk87 commented on #264
würde ich auch gerne Wissen.

[2018-02-28 20:54] chriskonnertz commented on #293
Hallo,

sehr schön :)

Allerdings, war das jetzt ein Fehler des CMS? Wenn ja, magst du die Lösung teilen?

[2018-02-28 20:56] chriskonnertz commented on #292
Hi,

do you know how to use git? My recommendation is to update your installation to the latest state of Contentify by using git -> https://github.com/Contentify/Contentify

[2018-02-28 21:00] chriskonnertz commented on #264
Im Prinzip sehr einfach. Es gibt dazu ein Widget, das ihr einbinden müsst: https://github.com/Contentify/Contentify/blob/2.2/app/Modules/Shouts/Http/Controllers/ShoutsWidget.php

Einbindung via `@widget('Shouts::Shouts')` in ein Template, z. B. in das Main-Template des aktiven Themes, also beispielsweise das hier: https://github.com/Contentify/Contentify/blob/2.2/app/Modules/MorpheusTheme/Resource

[2018-02-28 21:26] chriskonnertz commented on #289
Hello,

try to change the URL of the image here: https://github.com/Contentify/Contentify/blob/2.2/resources/views/backend/layout_main.blade.php#L53

( `img/default/header_logo.png` is the image URL)

[2018-02-28 21:28] chriskonnertz commented on #288
Hello,

thank you for your feedback! I agree.

Tihs feature might be implemented in the future.

[2018-02-28 21:28] #288 closed, assigned to chriskonnertz

[2018-02-28 21:29] chriskonnertz commented on #287
Hello,

sorry for not responding earlier. Could you solve the issue?

[2018-02-28 21:31] imanolGOMI commented on #287
i have been away and i couldnt see this

[2018-02-28 21:35] chriskonnertz commented on #285
Hallo,

bitte entschuldige, dass ich erst jetzt antworte.

Kurz gesagt, dir fehlen Fremdbibliotheken. Du musst diese installieren. Das musst du nicht von Hand tun, dafür gibt es ein Tool, das sich darum kümmert: Composer.

Das kannst du hier herunterladen: https://getcomposer.org/composer.phar
Die Datei dann bitte direkt in den Contentify-Ordner legen.
Dann per Konsole dieses Kommando ausführen: `

[2018-03-03 00:02] ArianaDulac opened #294 "Admin Login and Register doesn't work."
When I try to login using the login created during installation it gives me no error, just doesn't login, and when I try to register I get the below. But Steam login works, and an account can be made.

NotFoundHttpException in RouteCollection.php line 161:

    in RouteCollection.php line 161
    at RouteCollection->match(object(Request)) in Router.php line 766
    at Router->findRoute(object(Requ

[2018-03-03 00:18] ArianaDulac commented on #294
Also, I am on the newest version of contentify.

[2018-03-03 17:27] chriskonnertz commented on #294
Hello,

I have no idea what is going wrong, to be honest. Routing issues of your Apache, maybe a result of miscongifuration? URL rewriting (mod_reqrite) is enabled?

[2018-03-05 20:23] kamohy opened #295 "ich bin buggy, ich bin buggy, ich bin buggy....."
Hab gerade mal eine Parodie gesungen zu dem CMS...
Nach stunden.... haben zwei leute es installiert bekommen....
Login, geht nur ohne Https... (http)
Registrieren geht garnicht 👎
Forum: Kann nicht angelegt werden, grund: Forum ID muss eine zahl sein
Problem dabei: man kann keine forum-id angeben -.-*
Foren-Report funktioniert nicht....

das ist übrigens nur ein kurzer report nach dem ersten drüber

[2018-03-05 20:50] chriskonnertz commented on #295
Hallo,

jeder hat irgendwo Talente, manche sind besonders gute Sänger, andere besonders gut im Einrichten von Webanwendungen...

Deine (zwischen den Zeilen herauszulesende) Kritik an der Installation kann ich nachvollziehen und ist vermutlich auch berechtigt. Wenn du **konkrete** Verbesserungsvorschläge hast, dann bitte her damit. Kurz zur Einordnung: Die Installation ist komplex, a) weil das CMS

[2018-03-05 21:53] kamohy commented on #295
Moin

Inzwischen würde ich es in 10 min hinbekommen....
Es ist nicht das erste CMS das ich und ein freund nutzen...
Ich konnte es sogar installieren ohne nen root nutzen zu müssen... etwas tricky aber geht...

kann man dazu müsste man sich aber einlogen können... und dann auf https umstellen... funktionierte nur nicht und https funktioniert sonst ja auch bei uns... (wie gesagt nicht das erste cms.

[2018-03-05 22:00] kamohy commented on #290
haben wir

Außerdem schau mal ob in config/app.php der Pfad zur Website richtig gesetzt ist ( https://github.com/Contentify/Contentify/blob/2.2/config/app.php#L63 )

hatten wir auch gemacht brachte nichts... problem bestand weiterhin...

die idee: adminnavigation überarbeiten und statt admin/dashboard
einfach den link auf admin/ setzen...

wir suchen noch nach dem menü...

[2018-03-06 00:11] kamohy commented on #295
weil ich besonders viel langeweile hatte, hab ich mal alles runter geworfen, neu aufm space geschmissen.
die frechheit des hardcodet root zugangs umgeschrieben und er installiert nun scheinbar sauberer...

der schein trügt... saubere install... rannte alles durch, install ohne probleme.

Fehler wie oben geschrieben haben weiterhin bestand...

werde nun komplett ausrasten während ich eine ältere ve

[2018-03-06 00:59] Pega16 commented on #295
Guten Abend, @chriskonnertz , Guten Abend @kamohy ...

Kurz vorweg: Das CMS ist bombig, hat aber seine Macken, auf die man ggfs. auch gemeinsam Lösungen finden könnte...

ich werde mal chronologisch auf die Probleme eingehen...

1.)
Das große Problem ist, dass wenn man NORMALE Datenbankdaten nutzt, er in den Fehler rennt, er könne root@localhost OHNE PASSWORT nicht nutzen... dass dieses nicht funk

[2018-03-06 01:11] kamohy commented on #295
Guten Morgen.... -.-*

5te install-einheit...
Wenn du dir soviel Arbeit machst, alles zu berichtigen, dann verpack es doch auch richtig...
bsp.: PageCat.php -> Pagecat.php...
(übrigens impressum immernoch nicht abrugfbar obwohl angeblich vorhanden)

[2018-03-06 07:23] kamohy commented on #295
Happy fucking Morning....

Ja ich sitz schon wieder dran...
hab mich jetzt mit dem github beschriebenen änderungen befasst....
müll... ganz viel davon...
Wozu soll ich eine beschreibung berichtigen?
oder gänzlich auskommentierte bereiche?
Auskommentiert bedeutet: wird nicht gelesen....

Ich mein Hey ich hab es installiert aber wenn da soviel defekt ist... was soll ich da noch machen ? ich dreh am

[2018-03-06 08:02] kamohy commented on #272
Also ich hab auch schon nachgesehen, nichts gefunden....
bin die phpdatein durch gegangen und find den fehler nicht, ich denke mal
das er die ID's automatisch setzen sollte, aber aus irgendeinem grund geht das nicht....
also wär möglichkeit zwei, es hardcodet einzufügen im modul, das er eine ID eintragen lassen kann vom user (admin) würde bedeuten neue spalte mit dem wert forumsid
aber was weiss i

[2018-03-06 08:16] kamohy commented on #295
-register gefixed... lange gesucht aber gefunden. [35c138a](https://github.com/Contentify/Contentify/commit/35c138a58bb87502cbe37427356e042983d3b625)

ich forste hier gerade alles durch bei dir, nervig....

[2018-03-06 10:06] kamohy commented on #294
problem fixed... @chriskonnertz ... -> [FIXE !](https://github.com/Contentify/Contentify/commit/35c138a58bb87502cbe37427356e042983d3b625) Think -> Post -> Perfect

It's your fix, you should know that!

Register works, ariana follow the link
work on the instructions and it will work

[2018-03-06 11:03] khalifaone opened #296 "Errors"
Sorry for post again, but i have big problems after update at 2.2. I search all github first after post this as you tell me.

I update at 2.2 from 2.0 and i have register step errors after this i found more erros in admin panel ( pages, modules and categories from news) i decide to put my old backup 2.0 back on server because i really need to work this website.

After succefully transfer my 2.0 ba

[2018-03-06 14:01] kamohy commented on #295
Guten Tag, ich hab mal einige nicht ganz so nette posts gelöscht...
aber dennoch bin ich nunmal ich und gebe mein senf (jedoch mal im ruhigerem ton) von mir

**Report:**

Mehrfache install, hinter mir (hardcode-root umgeschrieben ect.)
Install ausgeführt

Login ging noch immer nicht bzw. registrierung

Habs aufgegeben nach 15 Stunden

Dein Issues durchforstet

Fehler:
Register Fixed: [35c138a](htt

[2018-03-06 16:10] khalifaone commented on #296
I solved this problem with fresh install and same database, it works. But now i have another problem at user register in first step i solved with https://github.com/Contentify/Contentify/commit/35c138a58bb87502cbe37427356e042983d3b625

But now i have another error at registration step.

SQLSTATE[HY000]: General error: 1364 Field 'slug' doesn't have a default value (SQL: insert into `users` (`email

[2018-03-06 17:37] Pega16 commented on #295
Hallo @chriskonnertz ,
danke erstmal für Deine oben verlinkten Bugfixes... die haben einiges an Fehlern schon mal behoben...

Allerdings taucht nun ein beim Adden eines Nutzers in einem Team ein { Error: Request failed. Code: 500. Message: "Internal Server Error" } auf, wenn man den Nutzer direkt versucht einem Team beizufügen... Dieser Fehler ist allerdings mit "low priority" einzustufen, da die

[2018-03-06 18:24] chriskonnertz commented on #295
@kamohy

Das war nicht beabsichtigt. Ich wollte einen ebenfalls lockeren Ton anschlagen. Das ist wohl nach hinten losgegangen.

Das hast du, allerdings nur hier, per Email wurden sie mir dennoch zugestellt und ich habe sie gelesen.

Zu deinen Ausführungen da und zu einigen deiner anderen Aussagen sei gesagt: Contentify ist ein kostenloses, 100% frei zugängliches CMS. Niemand zwingt dich es zu nutz

[2018-03-06 19:07] chriskonnertz commented on #295
@Pega16

Hallo.

Danke.

Ich denke auch, dass es das irgendwo ein Problem gibt, da der Fehler so wie du ihn beschreibst für mich nicht nachvollziehbar ist. Ich weiß nicht genau wie du in dem Kontext "hardgecoded" meinst, aber die Zugangsdaten für die Datenbank sind nicht im Code hardgecodet sondern liegen in einer seperaten Konfigurationsdatei, `storage/app/database.ini`. Dort können sie nach Beli

[2018-03-06 19:21] chriskonnertz commented on #294
I close this since https://github.com/Contentify/Contentify/commit/35c138a58bb87502cbe37427356e042983d3b625 seems to be the solution. @ArianaDulac If it does not work, please let me know.

[2018-03-06 19:21] #294 closed, assigned to chriskonnertz

[2018-03-06 19:48] kamohy commented on #295
als erstes könnte ich dir sagen warum servers nicht funktioniern... es ist so fuc*** simpel...
ernsthaft ich dreh durch....

Wir befassen uns solang mit etwas bis wir es verstehen, und eigene Module (addons) bauen können
Wir Designen Webseiten, überarbeiten sie und das hauptsächlich weil wir spaß daran haben, lernen ect.

Wir suchen Bugs und beheben sie.... wie z.b. dir sagen das unter **server**

[2018-03-06 19:53] kamohy commented on #295
achja @chriskonnertz sieh es als einsicht und guten willen, das ich es zumindest öffentlich gelöscht habe.
ich neige durch einige störungen, sehr emotional und impulsiv zu reagieren.
Wenn ick mich dann beruhigt habe und nochmal nachdenke, kommt dann meistens auch sowas wie eine art entschuldigung quasi... also irwie... sry wegen den posts....

**nachtrag** werde jetzt nachsehen warum pages nur im

[2018-03-06 23:41] Pega16 commented on #295
Guten Abend @chriskonnertz ,
erst einmal danke, dass Du Dich bei dem Open-Source-Projekt dennoch engagierst, auf Kommentare, etc. einzugehen... :) findet man leider nicht oft...! Oftmals wird man eher nieder gemacht...

Was mich angeht, so war ich mal als Internet-Service-Provider recht erfolgreich im Karlsruher Raum, was aber alles mit der Trennung und Scheidung damals und auch der Zahlungsmoral

[2018-03-07 11:57] kamohy commented on #295
@Pega16

Unser Baby Ö.Ö

server funktionieren, in der DB fehlt ja nur unter Server Description

Aktuell sind noch folgende Bugs:
Forum (id-fehler)
Pages gehen nur wenn man auf Englisch arbeitet (das durchforste ich heute um zu sehen wo der fehler sein könnte)
Ein weiteren fehler habe ich, wenn ich Mobil im ACP bin, und dann wieder auf die seite will.
(bsp. ich bin auf dem Handy -> ACP -> Server, w

[2018-03-07 17:11] khalifaone commented on #296
Problem solved. Create an new slug alter table and import in phpmyadmin

[2018-03-07 17:32] kamohy commented on #295
Bitte editiere doch die config/app.php so:
Von:
`'url' => env('APP_URL', 'http://localhost/contentify'),`
In:
`'url' => env('APP_URL', $_SERVER['HTTP_HOST']),`

dadurch wird im ACP unter Configuration -> Diagnostics auch die richtige URL ausgegeben.
Gefunden durch @Pega16

[2018-03-07 17:47] Pega16 commented on #295
Eventuelle Abhängigkeiten sind hier (mir) noch nicht bekannt... falls es diese geben sollte, habe ich absichtlich den Code entsprechend so geändert... funktioniert...

[2018-03-07 20:49] chriskonnertz commented on #295
@kamohy

Ja danke, das hilft mir.

Dazu muss nur der STEAM API Key in den allgemeinen CMS-Einstellungen eingetragen werden.

@Pega16

Könnte für dich beim Thema Hosting auch irgendwann allgemein mal interessant sein, es gibt schon Hoster die das anbieten.

Ich werde versuchen dir da am Wochenende mal nicht-öffentlich was zu zu schreiben. :)

[2018-03-07 21:03] Pega16 commented on #295
Guten Abend @chriskonnertz ,

auf Deinen letzten Satz bezugnehmend habe ich mir erlaubt, Dir eine kurze E-Mail, von meiner privaten Mailadresse aus, zu schreiben und Dich zusätzlich über das Portal mit dem zweifarbig versetzten X (ich mache generell keine ungefragte Werbung!) als Kontakt geaddet, um Dir Wahlmöglichkeiten des Kontaktaufnahmeweges zu bieten... :)

LG
Sascha

[2018-03-07 21:57] kamohy commented on #295
@chriskonnertz

Hat geklappt, besten dank.

Nun leider aber zu dem Forum problem, das wir nicht lösen können.
um es nachvollziehen zu können würden wir gern wissen, wie und wo die forum / thread / post id erzeugt wird.

Wir wollen ja nicht nur helfen, natürlich steckt da auch eigennutz drin.
Ich bin eher der Foren-mensch (nix gegen chat-systeme aber foren find ich besser)

Ich würd mich freuen wen

[2018-03-08 18:49] kamohy commented on #253
geht mal in die config/app.php

dort könnt ihr UTC suchen
Zeile: 89

Setzt da mal stattdessen CET ein

UTC ist der Nullpunkt *quasi*
CET steht für europe-berlin

Dann sollten die zeiten eigentlich stimmen.

[2018-03-08 18:53] chriskonnertz commented on #295
@Pega16
Habe angenommen, danke.

[2018-03-09 13:52] kamohy commented on #264
mich interessiert, die beta von der version 2.3 :D wie bekommt man die? :D

[2018-03-09 16:32] kamohy opened #297 "Bug List"
moin @chriskonnertz & @Pega16

Ich wollte mal ne kleine liste der bugfixes machen

**Forum ID**: _Priorität: hoch_
Forum id wird nicht erzeugt ich gehe von einem Fehler im Code aus inzwischen
(in version 2 geht dies noch)

**Pages:** _Priorität: Hinnehmbar_
Nur in Englisch erstellbar

**Servers:** _Prio: Hoch_
DB Fehler (Datenbank überarbeiten damit sie vollständig ist (discription fehlt dort))

*

[2018-03-09 18:36] MrcillerYT commented on #264
man kann nichts senden ihm chat und er wird auch net angezeigt

[2018-03-10 00:20] kamohy commented on #297
Weiterer Bug:
**Shoutbox** Prio: niedrig
Ohne Funktion, wird aber angezeigt.

[2018-03-10 09:39] chriskonnertz commented on #297
Hallo,

danke für die Liste.

**Forum-ID** wird hier durch behoben: https://github.com/Contentify/Contentify/commit/cd28397f4bbf8fa449972e590bb02e7d90bb9ca6#diff-6f79ee731fc813e57f81d0c58b66c142
Da hat sich seit einem Update von Laravel eine Funktionalität geändert, was leider bislang unbemerkt geblieben ist.

**Servers** wird hiermit behoben: https://github.com/Contentify/Contentify/commit/0ff750

[2018-03-10 09:48] chriskonnertz commented on #297
**Debug Modus aktiv** ist ja in dem Sinne kein Bug.

Vorschlag:
Es gibt ja einen Unterschied zwischen dem Stand direkt hier auf GitHub (das ist quasi die Developer-Konfiguration von Contentify) und dem des Downloads (auf GitHub in der Release-Sektion oder von externen Quellen), der quasi die Produktiv-Konfiguration darstellt. Z. B. müssen bei letzteren nicht die Bibliotheken von Dritten installier

[2018-03-10 10:08] kamohy commented on #297
HeyHo und guten Morgen
Forum ist gefixt :D Sehr gut, danke auf jedenfall für das Update.

**Debug Modus Aktiv**
Deswegen als Bug deklariert, weil viele damit nichts anfangen können.
Natürlich ist der gut für Leute wie @Pega16 dich und einigen andere, sowie mir.
Aber für Leute die ein gutes CMS nutzen wollen und kaum ahnung haben, ist dies unvorteilhaft, da sie mit der fehler-meldung eh nichts anfa

[2018-03-10 10:15] chriskonnertz commented on #32
@shoostar

You were right back in 2016. Finally decided to give Gitter a try:

https://gitter.im/Contentify/

[2018-03-10 11:22] kamohy commented on #297
Nächster Bug:
ACP-> Team Mitglieder -> hinzufügen:
`Fehler: Anfrage fehlgeschlagen. Code: 500. Nachricht: "Internal Server Error" `

[2018-03-10 17:22] chriskonnertz commented on #297
**Shoutbox**: Hier gibt es einen Bugfix: https://github.com/Contentify/Contentify/commit/29e422b49a3fd55835442cf47db1d056577c0a3d
Hier hat es einfach einen Tippfehler gegeben der einen Fehler im JavaScript-Code verursachte und dafür sorgte, dass das Versenden von Nachrichten nicht mehr funktionierte.
Anmerkung: Die Shoutbox hat kein wirkliches CSS-Styling,

Bitte. Gut dass das jetzt wieder geht.

[2018-03-10 18:18] kamohy commented on #297
Danke, allerdings is weißer text mit weißem hintergrund ist witzig :D
das such ich dann noch raus.

ist schon fast fertig

Sehr gut danke.

Selbstverständlich.
Ich hab auch eine nette Lösung für dich.
Ich trage Contentify als Partner mit ein ;-)
(auf allen unserer Seiten selbstverständlich)

Ich habe übrigens, einmal als Ordner das komplette CMS mit allen aktuellen bugfixes auf dem Rechner, dürfen

[2018-03-10 20:41] chriskonnertz commented on #296
Hello,

sorry for the inconvenience. I am glad to here that you were able to solve the problems.

A new release is going to come very soon and will fix some bugs.

[2018-03-10 20:41] #296 closed, assigned to chriskonnertz

[2018-03-10 20:44] chriskonnertz commented on #297
Ich gebe dir die einstweilige Erlaubnis, final kann ich sie dir aber erst geben, wenn ich mir das angeschaut habe. Wäre daher super, wenn du dann einen Link dazu hier posten könntest.

Btw, ich habe heute auch noch einige andere, kleinere Bugs gefixt.

[2018-03-10 20:47] kamohy commented on #297
Oh, Bugs? Zeig her, was hast du gefixt

[2018-03-10 20:51] chriskonnertz commented on #297
Ist teilweise zusammen mit sehr viel anderem Zeug daher kann ich das nicht einzeln auflisten, aber z. B. habe ich mich jetzt mal wenigstens ein bisschen um das Hitbox.tv-Problem gekümmert. Hitbox war ja ein Streaming-Dienst (wie Twitch), wurde aber aufgekauft und umbenannt sodass der Support für deren Streams nicht mehr klappt, das ist jetzt halb gelöst. https://github.com/Contentify/Contentify/co

[2018-03-10 20:52] kamohy commented on #297
Klar bekommst du nen Link, wir veröffentlichen sie auch nicht unter unserem Namen sondern wir verweisen explizit auf dich.

[2018-03-10 20:52] chriskonnertz commented on #264
@MrcillerYT  Der Bug beim Senden ist behoben: https://github.com/Contentify/Contentify/commit/29e422b49a3fd55835442cf47db1d056577c0a3d

[2018-03-10 20:53] chriskonnertz commented on #264
@kamohy Derzeit noch gar nicht, da ist auch noch nicht all zu viel

[2018-03-10 20:54] chriskonnertz commented on #272
Bug fixed: https://github.com/Contentify/Contentify/commit/cd28397f4bbf8fa449972e590bb02e7d90bb9ca6#diff-6f79ee731fc813e57f81d0c58b66c142

[2018-03-10 20:54] #272 closed, assigned to chriskonnertz

[2018-03-10 20:55] chriskonnertz commented on #287
Hm, I do not understand.

[2018-03-10 21:10] kamohy commented on #297
für die zukünftigen suchenden der shoutbox
öffnet bitte folgende datei:
app/Modules/Shouts/Resources/Views/widget.blade.php
und überarbeitet anhand unseres beispiels bitte den code:

Zeile 14: `<input type="text" name="shout_text" style="color:#999; background:#333; width:315px; " <?php if (! user()) echo 'readonly="readonly"' ?> >`
color: schriftfarbe
background: hintergrundfarbe
width: breite de

[2018-03-10 21:56] kamohy commented on #297
hallo @chriskonnertz wir werden es nicht hier veröffentlichen (contentify), aber solangsam geht es voran.
Man sieht nicht viel, da das meiste im HG passiert. Aber wenn du lust hast, komm rüber: [DeathKings](http://deathkings.de)

zumal wir an gefühlten 100 projekten arbeiten, okay werden wohl nur 10 sein aber genug zu tun haben wir. :D

[2018-03-11 00:35] #285 closed, assigned to chriskonnertz

[2018-03-11 00:35] #286 closed, assigned to chriskonnertz

[2018-03-11 00:36] #273 closed, assigned to chriskonnertz

[2018-03-11 00:36] #278 closed, assigned to chriskonnertz

[2018-03-11 00:37] #267 closed, assigned to chriskonnertz

[2018-03-11 00:38] #260 closed, assigned to chriskonnertz

[2018-03-11 00:38] #247 closed, assigned to chriskonnertz

[2018-03-11 00:38] #246 closed, assigned to chriskonnertz

[2018-03-11 00:39] #243 closed, assigned to chriskonnertz

[2018-03-11 00:39] #242 closed, assigned to chriskonnertz

[2018-03-11 00:40] #239 closed, assigned to chriskonnertz

[2018-03-11 00:40] #227 closed, assigned to chriskonnertz

[2018-03-11 00:41] #215 closed, assigned to chriskonnertz

[2018-03-11 00:42] chriskonnertz commented on #207
Will be implemented when moving to Laravel 5.4.

[2018-03-11 00:42] #207 closed, assigned to chriskonnertz

[2018-03-11 00:43] #204 closed, assigned to chriskonnertz

[2018-03-11 00:43] chriskonnertz commented on #203
Fixed.

[2018-03-11 00:43] #203 closed, assigned to chriskonnertz

[2018-03-11 00:44] #198 closed, assigned to chriskonnertz

[2018-03-11 00:45] #192 closed, assigned to chriskonnertz

[2018-03-11 00:46] #182 closed, assigned to chriskonnertz

[2018-03-11 00:49] chriskonnertz commented on #180
I assume that the time has come to close this issue?

[2018-03-11 00:51] chriskonnertz commented on #190
Ist dieses Problem noch von Bedeutung?

[2018-03-11 00:55] #249 closed, assigned to chriskonnertz

[2018-03-11 09:33] chriskonnertz commented on #297
**Pages**: Wird hiermit behoben: https://github.com/Contentify/Contentify/commit/c7697399ea91109dcfb6a0199bc2fa62d9fd8bfa#diff-c06c189092fc323aef8c9245bccb67b6
Ein Vertippter bei einer Eigenschaft die Page-Objekten sagt welche Datum-Eigenschaften sie besitzen.

[2018-03-11 09:52] chriskonnertz commented on #264
Habe hier mal aufgeräumt und aus 2.3 -> 2.4 gemacht.

[2018-03-11 09:53] #289 closed, assigned to chriskonnertz

[2018-03-11 10:24] kamohy commented on #297
Ein wohl schon eine Weile bestehnerder Bug:
**Forum Reports** _Prio: hinnehmbar_
Wird nicht angezeigt

Danke *däumchen hoch* :-)

[2018-03-11 10:40] kamohy commented on #297
Zusammenfassung bisher:
**Forum ID:** fixed
**Pages:** fixed
**Hover:** fixed
**Hitbox:** teilweise fixed
**Shoutbox:** fixed
**Servers:** fixed
**News-Bug:** fixed
**URL Angabe:** fixed
**Debugmod:** fixed

**Forum Report:** offen
**Teammitglieder hinzufügen:** offen

Das nenn ich mal ne gute leistung :-)

[2018-03-11 10:41] kamohy commented on #295
Meines erachtens können wir diesen Thread schließen.

[2018-03-11 11:06] kamohy commented on #264
ich bin gespannt. Ö.ö

[2018-03-11 11:51] chriskonnertz commented on #295
Okay, es geht dann in https://github.com/Contentify/Contentify/issues/297 weiter.

[2018-03-11 11:51] #295 closed, assigned to chriskonnertz

[2018-03-11 12:02] chriskonnertz commented on #297
Aus dem anderen issue:

Hierzu gibt es nun einen Bugfix:
https://github.com/Contentify/Contentify/commit/afed108a334638013112ac0365f99f4ac47bf578
Sollte danach ein anderes Problem auftreten, bitte Bescheid sagen. Bei mir war das gerade so, aber ich hoffe das ist bei euch nicht der Fall.

Achtung: Ich habe einen neuen Branch erstellt.

[2018-03-11 13:03] Pega16 commented on #297
@chriskonnertz Mail angekommen?

LG
Sascha

[2018-03-11 14:45] chriskonnertz commented on #297
**Forum Report**: Hier gab es mehrere Probleme, die hiermit behoben wurden: https://github.com/Contentify/Contentify/commit/e336d962891ed636f2977222812f42b568403909
Seit Contentify 2.2 ist MySQL per Default im Strikt-Modus und einige Queries machen seitdem Probleme, so auch zwei hier beteiligte. Die muss man dann umschreiben. Außerdem gab es noch ein Problem mit einem falschen Route-Name.

[2018-03-11 14:51] chriskonnertz commented on #297
**Teammitglieder hinzuf+gen**: Bugfix hier: https://github.com/Contentify/Contentify/commit/9522ace0232abc7aec8ff3bcd75d8401d6ac9e6c
Grund waren fehlerhafte Routen, wohl einfach Flüchtigkeitsfehler die sich in v2.2 eingeschlichen haben.

[2018-03-11 14:54] chriskonnertz commented on #297
@Pega16 Nein sieht nicht so aus, hängt vielleicht noch fest. Ich schick dir bei XING nochmal eine andere Mailadresse.

[2018-03-11 16:21] kamohy commented on #297
Grund waren fehlerhafte Routen, wohl einfach Flüchtigkeitsfehler die sich in v2.2 eingeschlichen haben.

geht nicht :-/ aber eine fehlermeldung kommt nicht mehr.
ein team kann man aber schonmal aussuchen, doch passieren tut nix.

[2018-03-11 17:23] kamohy commented on #297
Forum Report geht

[2018-03-11 17:43] kamohy commented on #297
Shoutbox bug:
Bist du auf der Hauptseite und klickst auf einen Nick in der Shoutbox, so gelangst du auf das Profil (so soll es sein)
Bist du aber nun im Forum unterwegs oder in den News ect. versucht er folgendes aufzurufen:
Beispiel ich habe gerade News gelesen: http://URL/news/3/users/3
Selbe halt unter Forum / team usw.

[2018-03-11 17:52] kamohy commented on #297
Neuer Bug
Forum Report: Meldung löschen nicht möglich

[2018-03-11 17:56] kamohy commented on #287
have you flaged our side to public?
Normal: url/public/news..
Flaged: url/news...

please use ure FTP: /storage/framework/chache/ -clean it-

[2018-03-11 20:35] #291 closed, assigned to chriskonnertz

[2018-03-12 08:15] kamohy commented on #297
Noch ein kleiner Bug, relativ unwichtig aber er is da.
Unter Slider (ACP) geht nur eine Kategorie, man kann zwar mehrere anlegen, genutzt wird aber nur die erste.
Was schade ist wenn man etwas sortieren möchte, jedoch wenn man es weiss ist es nur halb so schlimm.

[2018-03-12 10:46] imanolGOMI commented on #287
fix with last version.

[2018-03-12 10:46] #287 closed, assigned to chriskonnertz

[2018-03-12 11:59] lukasmk87 opened #298 "Update 2.2 to 2.3"
Moin,

trotz der vielen händischen Bugfixes am Wochenende, dachte ich mir ich mache einfach ein Update auf die 2.3

Nach dem kopieren, habe ich dann das Update Skript ausgeführt. Folgende Fehler Meldung habe ich bekommen:

Updating the database...Could not execute the database query: Duplicate column name 'cup_points'Error: Code 42S21

[2018-03-12 12:09] lukasmk87 commented on #298
Update.php muss noch ersetzt werden.

[2018-03-12 12:09] #298 closed, assigned to chriskonnertz

[2018-03-12 17:49] chriskonnertz commented on #297
**Shoutbox Bug**: Behoben durch https://github.com/Contentify/Contentify/commit/f47b5a729fd798ea4e52c26916a4dc999bcfba40
Hier fehlte einfach der Aufruf der Funktion die aus relativen URLs absolute macht.

[2018-03-12 18:09] chriskonnertz commented on #297
Unter Slider (ACP) geht nur eine Kategorie, man kann zwar mehrere anlegen, genutzt wird aber nur die erste.
Was schade ist wenn man etwas sortieren möchte, jedoch wenn man es weiss ist es nur halb so schlimm.

Das ist kein Bug. Die Kategorie dient hier nicht der Sortierung sondern damit wird festgelegt, welche Slides ein Slider anzeigen soll. Per Default hat man zwar nur den einen großen Slider ab

[2018-03-12 18:10] chriskonnertz commented on #297
Stimmt. Tatsächlich fehlt da die komplette Lösch-Logik hinter. Die muss noch gebaut werden. Werde ich vermutlich morgen angehen.

[2018-03-12 18:12] chriskonnertz commented on #298
Ja klingt als hättest du den Updater von 2.1 auf 2.2 ausgeführt.

[2018-03-12 18:15] kamohy commented on #297
Moin @chriskonnertz schön das es mal wieder so schnell geht

für die berichtigung sind wir sehr dankbar, dadurch können wir nun auch ein Avatar davor setzen :-D
Was ich und Sascha gern wollen, dient einfach dem aussehen :D

Bitte gerne, gefunden :D noch besser wenn es irgendwann funktioniert, ist jedoch kein vorrangiges problem.

Ah okay verstanden, okay das is clever :-) auch hier danke für den h

[2018-03-12 18:43] chriskonnertz commented on #297
**Forum Reports löschen**: Habe ich nun doch noch eben eingebaut: https://github.com/Contentify/Contentify/commit/0c3d6e384be0f6a063d2e13262d6a9b517a37581
(Entscheidend sind die Änderungen in `app/Modules/Forums/Http/Controllers/AdminReportsController.php` und ` app/Modules/Forums/ForumReportCase.php`)

Danke! Es ist immer gut wenn diejenigen, die das CMS benutzen, einem auch wirklich *mitteilen*

[2018-03-12 18:46] chriskonnertz commented on #297
Das steht definitiv auf der Liste der Dinge die man mal einbauen *könnte* aber das hat für mich jetzt nicht so die allergrößte Priorität. Ihr könnt es gerne selber einbauen. Ist jetzt aber nicht in 5 Minuten gemacht, schätze, dafür würdet ihr möglicherweise schon einige Stunden benötigen.

[2018-03-12 18:48] kamohy commented on #297
ich bin nicht gut im englisch reden und schreiben, verstehen beim lesen klappt aber zu 80 %

Wie gesagt wir können helfen :-) und tun dies auch gern sofern uns auch geholfen wird. :-)

eine Frage anbei, dies bezieht sich auf den Post:

Grund waren fehlerhafte Routen, wohl einfach Flüchtigkeitsfehler die sich in v2.2 eingeschlichen haben.

Antwort:

ein team kann man aber schonmal aussuchen, doch p

[2018-03-12 18:48] chriskonnertz commented on #268
Schau mal bitte  in die Datei `app\Modules\Pages\Pagecat.php`.
1. Schreibt die sich genau so? (Groß-/Kleinschreibung)
2. In der Datei steht: `class Pagecat extends BaseModel` Passt auch hier die Groß-/Kleinschreibung?

[2018-03-12 19:11] lukasmk87 commented on #298
Bei der update Datei war die alte oder keine dabei. Hab sie direkt aus dem Git

[2018-03-12 21:40] Pega16 commented on #297
Das stimmt wohl... allerdings mach ich es zum Beispiel so, dass ich Worte, wenn sie mir auf Englisch partout nicht einfallen, sie so zu schreiben: "blabla Satz.... (don't know the right Phrase for it... in German: Das Wort/der Satz)"... so kannst auch Du dann verstehen, was der/die von Dir will und ggfs. direkt auf englisch antworten... :-D

was den Rest an geht... Danke, dass Du Dich da stets so

[2018-03-12 21:44] Pega16 commented on #297
ich hatte das Problem bereits im vorhergehenden Thread angesprochen... dieses allerdings als LOW PRIORITY deklariert, da man PROBLEMLOS unter "User bearbeiten" die Teams anwählen kann und der User damit dann den Teams zugefügt wird... von daher weiterhin low priority meiner Ansicht nach... ;)

[2018-03-14 17:06] chriskonnertz commented on #292
Hello,

yes this was a bug but the bug is fixed in v2.3. (I think it is this commit: https://github.com/Contentify/Contentify/commit/afed108a334638013112ac0365f99f4ac47bf578 )

[2018-03-14 17:06] #292 closed, assigned to chriskonnertz

[2018-03-14 17:08] chriskonnertz commented on #290
Hm, das ist eine mögliche, aber keine optimale Lösung... Besser wäre dem Problem an sich auf die Spur zu kommen. Leider weiß ich nicht wie ich das tun kann, da ich das Problem derzeit nirgendwo habe.

[2018-03-14 17:10] chriskonnertz commented on #275
Hello,

thank you for reporting this bug. It has been fixed in Version 2.3.

[2018-03-14 17:10] #275 closed, assigned to chriskonnertz

[2018-03-14 17:40] chriskonnertz commented on #298
Ok danke für die Info, die Datei fehlte tatsächlich in der .zip, habe sie ergänzt.

[2018-03-14 18:18] chriskonnertz commented on #297
Hm, also ich kann das Problem mit dem Hinzufügen von Team-Membern nicht nachvollziehen. Ich hab zwar noch mal kurz was ergänzt ( https://github.com/Contentify/Contentify/commit/a888e0e2fdb8a6bd1b213d88eeb71b7374edcc96 ) aber das ist nur ein Hinweis der kommt wenn kein Team zum Joinen verfügbar ist. Ansonsten klappt es bei mir.

Euren Browser-Cache habt ihr auch korrekt geleert? Umschalt + F5 gedrü

[2018-03-14 19:13] Pega16 commented on #297
Hallo @chriskonnertz ,

ja, haben wir... ich zumindest, bei Basti gehe ich von aus, weiß es aber nicht sicher... habe sogar den Cache der Seite geleert... hierfür habe ich inzwischen ein Script geschrieben, das die Aufgabe übernimmt... ;)

Das interessante dabei ist, dass über "User editieren" (Users) das Hinzufügen/Entfernen von Teams problemlos möglich ist, jedoch auf der "Teamseite" (Team-Membe

[2018-03-15 11:56] kamohy commented on #297
Moin Mädels :-D

Also jede änderung dich vornehme, besteht am ende aus Cache leeren, sowohl für die webseite als auch bei mir im Browser.

Dein nachträglichen Bugfix werd ich später übernehmen und nochmal den code bei uns überprüfen.
Dannach kommt ein neuer Bericht dazu.

Aber erst nachdem ich die Wohnung wochenend kindersicher gemacht habe :D

@chriskonnertz Ich würd mich freuen, wenn du uns mal

[2018-03-15 16:58] chriskonnertz commented on #281
Freut mich, dass es geklappt hat!

Frage an dich: Das steht so auch in der Doku: https://github.com/Contentify/Contentify/wiki/Installation#installation
Offensichtlich hast du das (zumindest zunächst) nicht gesehen.
Woran könnte das liegen?
Wäre für mich interessant zu wissen um herauszufinden, wie man in Zukunft verhindern kann, das andere das Problem auch haben. :)

[2018-03-15 17:00] chriskonnertz commented on #279
I close this issue, because there has been no acitivity. If you still need help, please reopen this issue or create a new one.

[2018-03-15 17:00] #279 closed, assigned to chriskonnertz

[2018-03-15 17:03] #271 closed, assigned to chriskonnertz

[2018-03-15 17:05] chriskonnertz commented on #276
Bitte hier das hier mal probieren /
Please thy this proposal:

https://github.com/Contentify/Contentify/issues/253#issuecomment-371585147

[2018-03-15 17:19] chriskonnertz commented on #295
Von:
'url' => env('APP_URL', 'http://localhost/contentify'),
In:
'url' => env('APP_URL', $_SERVER['HTTP_HOST']),
dadurch wird im ACP unter Configuration -> Diagnostics auch die richtige URL ausgegeben.

Das werde ich so erst mal nicht übernehmen. Diese URL ist für Konsolen-Kommandos gedacht. Genau dort wird das aber nicht funktionieren sondern liefert `null`zurück. Derzeit wüsste ich keinen Weg um

[2018-03-15 17:21] chriskonnertz commented on #269
Kein Problem und danke für das Feedback. Ich mache hier erst mal zu um etwas aufzuräumen, das Issue ist über die Suche nach wie vor zu finden.

[2018-03-15 17:21] #269 closed, assigned to chriskonnertz

[2018-03-15 17:22] chriskonnertz commented on #252
Danke für den Hinweis! Wurde aufgenommen.

[2018-03-15 17:22] #252 closed, assigned to chriskonnertz

[2018-03-15 17:23] chriskonnertz commented on #266
Dieser Bug wurde mit Version 2.3 behoben.

=> https://github.com/Contentify/Contentify/releases/tag/v2.3

[2018-03-15 17:23] #266 closed, assigned to chriskonnertz

[2018-03-15 17:40] chriskonnertz commented on #201
Probably fixed in Contentify 2.

=> https://github.com/Contentify/Contentify/releases/tag/v2.3

If the issues are still up-to-date with v2.3 please let me know.

[2018-03-15 17:40] #201 closed, assigned to chriskonnertz

[2018-03-16 10:26] nikeddy opened #299 "League Feature"
it would be a great function enter the management of a league, where inserted players automatically creates the game calendar, where users can enter the result and automatically update the statistics.

[2018-03-16 16:55] caylorme commented on #180
If you choose.
I remember running into problems getting the application to work during local development. Long story short, I could never get it to run using your instructions on the wiki.
If you'd like for me to give it another go, and you have a way for me to contact you directly (Slack/IRC?), let me know.

[2018-03-17 12:09] chriskonnertz commented on #297
=> https://github.com/Contentify/Contentify/wiki/Themes

[2018-03-17 12:10] chriskonnertz commented on #297
=> https://github.com/Contentify/Contentify/wiki/Modules

[2018-03-17 12:15] chriskonnertz commented on #297
Frage nochmal zu HTTPS:
Könnt ihr mir Beispiele nennen wo noch HTTP statt HTTPS genutzt wird?
Das wäre sehr hilfreich.
Ich schaue mir das gerade an und das sollten eigentlich theoretisch hoffentlich (...) nur Ausnahmen sein.

[2018-03-18 15:48] chriskonnertz commented on #299
Hello,

I do not understand that one :P

This is covered by the current implementation.

[2018-03-18 16:20] chriskonnertz commented on #180
Thank you for commiting your Docker files!

[2018-03-18 16:23] kamohy commented on #297
sooo, nach dem ich eines unserer hauptprojekte heute fertig gestellt habe vorerst
kann ich mich mal wieder dem hier widmen :D
@chriskonnertz danke für die links, schau ich mir heut abend ma an
http:// wird leider von allen unwissenden noch genutzt... es ist mehr als man denkt, nehmen wir die ganzen möchtegern-webmaster die mal ebend was bauen möchten und dann sowas dummes wie php-fusion nutzen. ec

[2018-03-19 20:46] khalifaone opened #301 "Admin broken after change domain"
Hello, i change domain for my contentify, frontend work great but i have a problem in the backend. The dashboard horizontal widgets works, but if i acces from left menu for example: Esports Content -> Cups redirect me to old website address, this is the problem for all links admin menus. Maybe i miss to change some links somewhere?

[2018-03-19 21:32] chriskonnertz commented on #301
Hello,

the menu is not always created dynamically but it is kept in the cache for increased performance. So what you have to do is to clear the cache. Delete the files in the app/storage/framework directory or run the artisan cache clear console command.

[2018-03-20 15:31] kamohy commented on #297
So da eines der andere Hauptprojekte gerade (für mich vorerst) fertig ist, habe ich sämtlichen bugfixes der letzten zwei wochen geprüft und eingesetzt.

Team: geht ! -war wohl nen fehler bei mir-
Shouts: geht !
Forum-Report: report löschen: geht !
Hitbox: wird aktuell bei uns nicht genutzt, wird später gemacht :D

[2018-03-20 17:15] chriskonnertz opened #302 "Add clear cache command via backend"

[2018-03-20 21:53] kamohy commented on #302
Darf ich noch ein zwei sachen hizufügen ?
so als Anreiz: Clankasse, Teamspeak-plugin, picture watermark (für bilder die hochgeladen wurden mit dem watermark quasi versehen wenn der admin es aktiviert, so is der diebstahl an bilder nicht ganz so hoch) letzteres kann man allerdings auch via grafikprogramme selber machen

[2018-03-22 15:33] kamohy opened #303 "tipps und tricks"
Wir basteln ja fleißig auch und probieren rum...
Nun wollten wir unserer Shoubox, etwas gutes tun und ein Avatar der user mit einsetzen...
Schwierig aber nicht unlösbar.
erstma bild mit einfügen das zeitgleich mit als Link für das profil fungiert:
öffnet: app/Modules/Shouts/Resources/Views/widget.blade.php
ersetzt Zeile 6 mit:
`<a class="user" href="{{ url('users/'.$shout->creator->id) }}"><img cl

[2018-03-22 16:56] chriskonnertz commented on #303
Sehr schön, danke fürs Teilen! :)

[2018-03-22 17:02] chriskonnertz opened #304 "[Official] Contentify 2.5"
## Contentify 2.5

**Schedule:**
Start of development: Early May (2018)
Release: Summer (2018)

**ToDo:**
* Allow BBCode in forum signatures ( https://github.com/Contentify/Contentify/issues/304 )
* Update jQuery to version 3.x
* Add game server API ( https://github.com/Austinb/GameQ/blob/v3/src/GameQ/Protocol.php )
* Add more logins (FB, Twitch?)
* Replace RSS feed library?
* Move the translation

[2018-03-22 17:08] kamohy commented on #303
immer wieder gern

[2018-03-22 19:04] chriskonnertz commented on #302
Done / fertig:
https://github.com/Contentify/Contentify/commit/7b01e3a1551f8ec4cb612585d3ebd1c414a8cddb

[2018-03-22 19:04] #302 closed, assigned to chriskonnertz

[2018-03-22 19:05] kamohy commented on #302
wow das ging fix :o

[2018-03-23 10:45] johanbosman opened #305 "Installation Issues"
Hi Im desprettly trying to install contentify and are very close to giving up.

I first installed 2.2 after lots of things broken and again fixed on my whm server with 60 client domains.
I managed to get it installed. I logged in and it is just error on error.

I deleted everything and downloaded 2.3, now I just can't install it at all, first when I go to the public folder it gave green on everyth

[2018-03-23 11:29] #305 closed, assigned to chriskonnertz

[2018-03-23 14:22] johanbosman opened #306 "Pubg tournaments"
Is there a way to setup a pubg tournament.

100 players in either solo, duo or teams of 4 players.

1 match, for instance, will then either have 100 solo players or 50 duo teams or 25 x 4 player squads.

Points are normally calculated per player for solos or per team for duos and squads.

Points will be awarded for your position that you or your team is eliminated. as well as points awarded for th

[2018-03-23 17:13] chriskonnertz commented on #305
Hello,

the setup + configuration can be a real challenge. A lot of persons have trouble to setup Contentify. Therefore we plan to create a service that helps with the hosting part.

Did you manage to setup it?

[2018-03-23 17:32] chriskonnertz commented on #306
Hello,

A match has two participantss (usually two players _or_ two teams). That's it. More than two is not possible.

[2018-03-23 21:32] khalifaone opened #307 "Icons lost"
Hello! I lost my all icons from website. After update from 2.0 at 2.2. I attach some screens. I search in widget_cups_control.blade.php for example and there are for cups a "crosshair" icon but on front is not displayed.
 Social links from header & footer, Add friend, PM and Events Crosshair
![events](https://user-images.githubusercontent.com/29990653/37854158-6345ff24-2ef2-11e8-8db0-5bb647a9fab7.

[2018-03-24 07:17] johanbosman commented on #305
Hi Chris,

Yeah at long last I did manage to set it up. I must tell you I really battled. But I also learned a lot. haha

[2018-03-24 07:19] johanbosman commented on #306
Do you think a plugin like this is possible? If I hire someone to make it?

[2018-03-24 14:32] chriskonnertz commented on #307
Hello,

please take a look at the HTML code of the page (in your borwser, go to the main brwoser menu, then go to "page" or "developer", then go to "sho source" or something similar).  Starting in line 21 (or close to this line) there should be code similar to this:

[code]

Then click on This URL (it should be higlighted): `http://localhost/contentify2/public/vendor/font-awesome/css/fontawesome-a

[2018-03-24 14:38] chriskonnertz commented on #307
Thank you for reporting this bug! Bugfix: https://github.com/Contentify/Contentify/commit/5902aa418253f2e9f6c865a28c6e8b376b2b0298

(I assume the easy way for you to apply this bug fix is by just copy + paste the change manually. But pay attention, your file might look a bit different - only apply the change, do not change something else!)

[2018-03-24 16:28] khalifaone commented on #307
Thank you @chriskonnertz i solved problem with Reset Password. Im working at FontAwesome Icons to fix.

[2018-03-24 18:34] chriskonnertz commented on #297
Nur zur Info, hier wurde ein Fehler beim Wiederherstellen des Passworts gefixt: https://github.com/Contentify/Contentify/commit/5902aa418253f2e9f6c865a28c6e8b376b2b0298

[2018-03-24 18:45] chriskonnertz commented on #297
Außerdem habe ich beschlossen, dass der Debug-Modus ab Version 2.4 doch auch wieder in der Produktiv-Variante aktiv sein wird. Allerdings wird es bei der Warnmeldung nun einen Link zu einem How-To, wie man den Debug-Modus deaktiviert, geben.

[2018-03-24 18:49] kamohy commented on #297
schon gesehen :-)
werde ich fixxen sofern ich dazu zeit habe muss mich gerade für die zeit ohne internet vorbereiten.
da ich ja ab nächsten Monat wieder nur sehr eingeschrenkt netz habe (übrigens danke für die PHP daten vom XAMPP :-D ) hab mir da jetzt auch fakedomains angelegt, so muss ick nich jeden ordner selbst übern browser aufrufen :D contentify läuft lokal nu über contentify.me :D

[2018-03-24 19:50] chriskonnertz commented on #297
Ah ja das kenne ich. Eigentlich sollte ich das auch mal wieder einrichten :D Denn praktisch ist das auf jeden Fall, einfacher als sowas wie `http://localhost/contentify2/public/` immer aufrufen zu müssen.

[2018-03-24 19:51] chriskonnertz commented on #305
Okay fine, I'm glad you made it!

[2018-03-24 19:54] kamohy commented on #297
ohja, zumal ich ja auch noch templates in meiner offlinezeit erstellen will...
und da jetzt jedesmal diese adresse eingeben, wird etwas viel xD
zumal ich ja mehrere projekte dort steuer (noch zumindest)
demnächst kommt nen android-tablet ins haus, dort wird de server von sascha nachgebaut drauf (also debian ect.) und das wird dann der homewebserver :-D
einfach fürs locale netzwerk, damit ich das s

[2018-03-24 19:56] chriskonnertz commented on #307
Nice!

PS: You are still using FontAwesome 4 right? FontAwesome 5 has removed and renamed a lot of icons so this could be a problem but in this case not all of the icons should appear, only some of them... So I guess this is not the problem. However, I want to mention it, just in case.

[2018-03-25 00:23] chriskonnertz opened #308 "Ensure multibyte compatibility"

[2018-03-25 15:48] kamohy commented on #297
beim update über dein download auf 2.4 dev (2.3 ging)
auch der versuch es neu zu installieren ging nicht

[laravel.log](https://github.com/Contentify/Contentify/files/1845489/laravel.log)

[2018-03-25 19:01] chriskonnertz commented on #297
Ja da musst du einmal `php composer.phar install` ausführen.

[2018-03-26 08:57] khalifaone commented on #307
Hello! Sorry for posting again.. But problem is still there.. I check my font-awesome css from vendor. File are there and i updated with your last version 5.0.1. I attach some screens from Chrome Console..
![nowshow](https://user-images.githubusercontent.com/29990653/37896582-c878972a-30ec-11e8-8e67-2067a92c6f2e.JPG)
![snip11](https://user-images.githubusercontent.com/29990653/37896583-c8991e0a-30

[2018-03-26 13:24] khalifaone commented on #304
#HYPE!

[2018-03-26 13:40] MrcillerYT opened #309 "cant login"
Ich kann mich nicht auf der Website einloggen seit dem update

[2018-03-26 18:24] chriskonnertz commented on #309
Hallo,

Update auf 2.3? Eigentlich sollte es seitdem wieder gehen :)

Schau mal bitte ob die Datei `Contentify/app/Modules/Auth/Http/web.php` diesem Stand hier entspricht:
https://github.com/Contentify/Contentify/blob/2.4-dev/app/Modules/Auth/Http/web.php

[2018-03-26 18:30] chriskonnertz commented on #307
When I go to your website, I can see all the icons:

![screenshot_website](https://user-images.githubusercontent.com/4319323/37925180-3d2bf426-3134-11e8-91f2-18945662cea1.jpg)

(I did hide some parts of the website since I do not know if this website is ready for launch.)

Are you sure it is not a caching problem of your browser? Please visit the website with Microsoft Internet Explorer / Edge to

[2018-03-26 18:58] chriskonnertz commented on #297
Hab mal was an den Konfigurationseinstellungen geändert, damit sollte eine Session nun einen Tag dauern, d. h. man sollte nicht mehr so schnell ausgeloggt werden. Wird eventuell erst nach dem nächsten Login oder Cache leeren wirksam.

https://github.com/Contentify/Contentify/commit/134fdd55008629592352cb026abd041ac96149ee

[2018-03-26 19:02] MrcillerYT commented on #309
ok bei 2.3 kann ich install.php nicht ausführen D: da es mich zu install immer umleitet

[2018-03-26 19:24] MrcillerYT commented on #309
so gefixed nur jetzt kommt dass
(1/1) ErrorException
is_executable(): open_basedir restriction in effect. File(/opt/plesk/php/7.0/bin/php) is not within the allowed path(s): (/var/www/vhosts/esportcillerian.eu/:/tmp/)

[2018-03-26 21:03] khalifaone commented on #307
Sorry. i forgot to annouce you! I made an update at v2.3 and are all good now!Thank you and one again sorry for not posting new updates!

[2018-03-27 16:29] chriskonnertz commented on #307
Okay, great!

[2018-03-27 16:29] #307 closed, assigned to chriskonnertz

[2018-03-28 06:20] kamohy commented on #297
noch nen Bug gefunden, Werbung (adverts) es wird nur der description-text ausgegeben.

[2018-03-28 06:23] kamohy commented on #297
moin @chriskonnertz  ich hab das selbe problem auf contentify.kamohy.de
hab das update gemacht auf 2.4 dev und nur noch eine weiße seite.
es lässt sich nichts mehr aufrufen. sofern ich die möglichkeit habe werde ich gucken welche datei da zuständig ist. (ist etwas schwierig wegen internet)

[contentify.kamohy.de/public/](http://contentify.kamohy.de/public/)

[2018-03-28 16:47] khalifaone opened #310 "Rank / Level user ribbon"
Is possible to make an options for users to have an ribbon? Me as admin i want to give an "CUP" for players how win my events. Is possbile to improve this? I need to select and attrib manualy this option only for event winners.

Thank you!

[2018-03-29 03:46] Cook93v commented on #23
Hello i french user and i need to add french language how to do

[2018-03-29 14:58] MrcillerYT commented on #309
so jetzt habe ich einen neuen error beim installieren
ErrorException in Migrator.php line 252:
Undefined index: 2014_07_02_230147_migration_cartalyst_sentinel

[2018-03-30 10:23] chriskonnertz commented on #309
Das hier gesehen / probiert? https://github.com/Contentify/Contentify/wiki/Troubleshooting#installation-error-message-fatalerrorexception-in-migratorphp

[2018-03-30 10:40] chriskonnertz commented on #23
Hello,

French ist included by default.  You do not need to install or enable it. What yo u might want to do is log in and then go to your account settings and ensure that your interface language is set to French.

[2018-03-30 10:41] chriskonnertz commented on #297
Ad-Blocker aus? Kann sonst sein dass der das wegblockt.

[2018-03-30 10:42] chriskonnertz commented on #297
Ok, schau  auf jeden Fall mal in die Log-Datei oder schicke sie mir. Vermutlich musst du `php composer.phar install` ausführen.

[2018-03-30 10:49] kamohy commented on #297
Hallo Chris, schön das du selbst Karfreitag noch was machst, hab ich nicht erwartet.

Ja deaktiviert, ich musste tatsache nachsehen :D aber ja ist deaktiviert.

öhm Ö.ö wie soll ich die ausführen ? sascha is für serverinterner zuständig :-o
zudem ich hatte dir auch die logdatei aus meinem XAMPP mit reingepackt.
und auch da is der composer schon installiert
(erklärs bitte ma für doofe gerade :D)

[2018-03-30 11:58] MrcillerYT commented on #309
ok ich habe es jetzt auf einen neuen Server installiert da es beim alten Server zu viel Probleme gibt ich bekomme diesen Fehler

Please enable the debug mode

[2018-03-30 12:48] chriskonnertz commented on #309
Ok, öffne bitte die Datei `config/app.php` mit einem Texteditor: https://github.com/Contentify/Contentify/blob/2.3/config/app.php#L39
In Zeile 39 kannst du den Debug-Modus anschalten in dem du `false` durch `true` ersetzt.

[2018-03-30 13:40] MrcillerYT commented on #309
so auf meinen VServer gehts aber auf meinen Webspace nicht XD danke für die Hilfe

[2018-03-30 15:23] MrcillerYT commented on #309
ok mir ist auch noch aufgefallen hin und wieder werde ich auf meine Server ip geleitet und nicht auf die Domain

[2018-03-30 15:59] Cook93v commented on #23
Thanks you i have a another question, I would like to add a radio to the
cms how can I do?

2018-03-30 12:40 GMT+02:00 Chris Konnertz <notifications@github.com>:

[2018-03-30 17:45] Gicminos opened #311 "Show streams only if they are live [enhancement]"
Do you have in project to code a feature for show particular streams only if they are live?

Reagards

[2018-03-30 20:11] Cook93v commented on #23
I would like replace the forum for xenforo how can i do ?

2018-03-30 17:59 GMT+02:00 Max Demoon <aizencook@gmail.com>:

[2018-04-01 10:27] kamohy opened #312 "Custom Page"
Hallo Chris, deine anleitungen sind leider nicht immer aufschlussreich.
Das ist schade, denn du bietest in einigen fällen unterschiedliche dinge an.
genauer gemeint sind Pages/Seiten
okay normale Seite -> pages/(id)
Blogs -> article
Custom Content -> ???? folgendes ergebniss habe ich nun
bei Custom Content, sind wohl direckt die überschriften, allerdings sehe ich dann nur eine Weiße Seite
(auch ke

[2018-04-01 13:40] chriskonnertz commented on #312
Hallo,

eine Page vom Typ "Custom Content" hast du ja erstellt, dann geh mal in den Editor und klick auf "Insert Template":

![editor_templates](https://user-images.githubusercontent.com/4319323/38173678-ddcf96a2-35c2-11e8-8219-6894e66cc37b.png)

"Custom Content" sind Snippets die man als Editor-Vorlagen nutzen kann.

Womit du leider recht hast ist, dass solche an sich nützlichen Infos nirgendwo k

[2018-04-01 13:44] chriskonnertz commented on #311
Hello,

I do not understand. :/

Please tell me in more detail what change you are suggesting?

The streams widget already prioritises streams that are online over those that are offline.

[2018-04-01 13:48] chriskonnertz commented on #309
Hm, hat das jetzt eher was mit der Server-Config zu tun oder mit dem CMS?

[2018-04-01 13:49] MrcillerYT commented on #309
Weiß es nicht .-.

Chris Konnertz <notifications@github.com> schrieb am So., 1. Apr. 2018,
15:48:

[2018-04-01 13:50] chriskonnertz commented on #297
Könnte das noch mal genauer erklären aber das war auch nur Spekulation meinerseits.
Ohne Log ist alles Spekulation.

Jetzt musst du mir was für Doofe erklären - wo hast du den reingepackt? Und wieso sollte das Log aus dem XAMPP den gleichen Fehler beinhalten wie der vom Server? Kann ich gerade nicht verstehen...

[2018-04-01 13:51] chriskonnertz commented on #309
Hast du denn Beispiele wann du auf die IP umgeleitet wirst? (Zum Beispiel sowas wie beim Login)

[2018-04-01 13:53] chriskonnertz commented on #310
Hello,

well yes it is possible to code this. I will try to keep it in mind. However, to be honest, it does not have a very high priority right now.

[2018-04-01 13:53] #310 closed, assigned to chriskonnertz

[2018-04-01 13:54] chriskonnertz commented on #306
Yes, definetly. :)

[2018-04-01 13:54] MrcillerYT commented on #309
Wenn ich ihm adminmenü bin oder wenn ich ca 10 min immer auf verschiedene
seiten gehe

Chris Konnertz <notifications@github.com> schrieb am So., 1. Apr. 2018,
15:51:

[2018-04-01 13:58] chriskonnertz commented on #309
Hast du mal den Cache gelöscht? Das Admin-Menü wird nich bei jedem Aufruf neu erzeugt sondern es wird gecacht, du könntest daher einen alten Stand haben. Lösch mal die (Unter-)Ordner in `app/storage/framework/cache`.

[2018-04-01 13:59] kamohy commented on #312
sehr gut ich danke.

[2018-04-01 14:03] kamohy commented on #312
gemacht, dann steht da die überschrift als auswahl und die seite bleibt weiß... was nun ?

[2018-04-01 14:13] chriskonnertz commented on #312
Drauf klicken :D Dann wird der Inhalt in den Editor eingefügt. Dazu muss natürlich Inhalt zum Einfügen vorhanden sein,

Wobei ich gerade sehe, das ist etwas ungünstig, es dauert bei mir recht lang mit dem Einfügen und dann klickt man doppelt... und hat es doppelt drin... denke das werde ich mir mal anschauen.

Halbe Lösung dafür: Habe es ins Wiki mit aufgenommen. Weiß nicht ob das da irgend jemand

[2018-04-01 14:16] kamohy commented on #297
ähm. schau mal weiter oben:

auch der versuch es neu zu installieren ging nicht

such danach is ein paar bereiche weiter oben (5-8 absätze)

da steht: laravel.log  (kannste drauf klicken)
weil das auf dem server genau das selbe prob ist, denke ich

[2018-04-01 14:29] chriskonnertz commented on #312
https://github.com/Contentify/Contentify/commit/ad8e005719603c68798a8cd62233b433670ee541#diff-a0e32cc903087aaddef1b9444fdd06d1

[2018-04-01 18:01] Gicminos commented on #311
Yes, I'm propousing to totally hide the offline streams from the widget, or make an option to do that.

[2018-04-01 18:02] #251 closed, assigned to chriskonnertz

[2018-04-01 18:08] chriskonnertz commented on #250
Hallo,

leider habe ich das hier aus den Augen verloren.

Die Lösung ist, dass es doch noch eine Stelle gibt die geändert werden muss:
https://github.com/Contentify/Contentify/blob/2.3/app/Modules/Opponents/Opponent.php#L22

Dort wird die Maximallänge festgelegt.

[2018-04-01 18:08] #250 closed, assigned to chriskonnertz

[2018-04-01 18:11] #189 closed, assigned to chriskonnertz

[2018-04-02 16:41] chriskonnertz commented on #297
Die Clankasse ist als Module nun doch hinzugekommen. :D

[2018-04-02 20:48] kamohy commented on #297
haha ok, bin ma gespannt, konntest du den log auslesen bzw. fehler finden?

[2018-04-03 09:46] Mrciller commented on #299
I think he means that the Players can make a date when the match ist.

Ich glaube dass er meint dass die Spieler selber ein Datum aussuchen können wann sie ihr match spielen wollen und es dann angezeigt wir.

So habe ich es verstanden

[2018-04-03 20:30] chriskonnertz commented on #297
Ja. Ich glaube das Problem hatte ich auch. Wie hatte ich das noch gleich gelöst? Ich weiß es nicht mehr genau... Workaround: Nimm meinen `vendor` Order, ich lad ihn dir hoch:

[vendor.zip](https://github.com/Contentify/Contentify/files/1873239/vendor.zip)

[2018-04-04 06:30] kamohy commented on #297
Also ich hab den Vendor mal hochgeladen, passiert ist allerdings nichts :-/
http://contentify.kamohy.de
setz ich die datein von 2.3 wieder drauf geht es ja aber 2.4 ebend nicht :-/

[2018-04-04 15:03] khalifaone opened #313 "Reset Password Error"
Hi, i found another error, i fix first error at Reset Password after you who me the bug fix. But now i found this. After i enter the email and confirm code it show me this.
![error-reset](https://user-images.githubusercontent.com/29990653/38316060-81e4dbaa-3832-11e8-829d-5a54e4ffe843.JPG)

[2018-04-04 17:54] chriskonnertz commented on #234
@markovvv

Now there is a small list. This list only contains the "big" changes that definetly will not be made in 2.x. More will be added in the next months.

The reason why there is no bigger list is that 3.0 is *not* the next version, the next version is 2.4 maybe followed by 2.5. Both of them will add new features so some ideas might be implemented in these versions, some might be scheduled fo

[2018-04-04 17:59] chriskonnertz commented on #234
@SalomanKane

Für v2.4 geplant.

Ich weiß was du meinst und sehe es auch so dass in die Richtung was eingebaut werden sollte. Ich weiß aber noch nicht konkret wie das aussehen wird.

Klingt sinnvoll.

Dazu sage ich nicht nein, das wurde außer von dir auch von einigen anderen gewünscht. Irgendwann kann das bestimmt kommen - es hat aber derzeit keine hohe Priorität. Es gibt halt eine lange Liste von

[2018-04-04 21:12] chriskonnertz commented on #313
Hello,

Thank you for reporting this bug. I assume I can fix it tomorrow.

[2018-04-04 22:55] okonstantinyuk opened #314 "I can not install ,help"
Not Found
The requested URL /install.php was not found on this server.

Apache/2.4.7 (Ubuntu) Server at 185.43.7.4 Port 80

[2018-04-04 23:41] okonstantinyuk commented on #314
Wed Apr 04 19:35:06.975463 2018] [:error] [pid 8441] [client 188.120.252.89:36644] PHP Fatal error: require(): Failed opening required '/var/www/html/bootstrap/../vendor/autoload.php' (include_path='.:/usr/share/php:/usr/share/pear') in /var/www/html/bootstrap/autoload.php on line 17, referer: http://185.43.7.4/public/install.php
Error in logs

[2018-04-06 06:14] kamohy opened #315 "CSS wird nicht übernommen"
Ich habe sämtliche grunddaten aus dem Template übernommen.
Jedoch, ist es egal ob ich etwas in die .css oder .less schreibe (auch beides),
sie werden nicht übernommen.
Die ordnerstrucktur wurde genauestens übernommen.
Ich habe das Template in die .json eingetragen, auch den cache unter storage, habe ich gelöscht.
Hast du da nen Tipp für mich ? ich würd gerne aus meinem Rohling ein Template machen.

[2018-04-08 03:32] MagnanQC commented on #264
Multilanguage ?

[2018-04-08 09:18] chriskonnertz commented on #315
Hallo,

- also du hast ein eigenes Theme gebaut in einem eigenen Unter-Ordner in `app/Modules`?
- bist du auf v2.3 oder auf 2.4? Hier unterscheidet sich wie CSS-Dateien gebaut werden.

Also der "Königsweg" ist eine .LESS-Datei zu schreiben. Muss man natürlich nicht aber LESS bringt eine Menge Vorteile mit sich und es ist insofern leicht damit einzusteigen, weil jede CSS-Datei auch eine LESS-Datei

[2018-04-08 13:45] kamohy commented on #315
ich mach noch alles von hand :D
jedoch bekommen wir bei uns 2.4 nicht zum laufen sonst würde es wohl leichter sein...
wir haben immer noch eine weiße seite unter contentify.kamohy.de/public/
deine Vendor hat leider auch nicht geholfen :-/

[2018-04-09 20:09] chriskonnertz commented on #311
Okay, got it. For now, you can use CSS to hide the offline streams:

[code]

[2018-04-09 20:09] #311 closed, assigned to chriskonnertz

[2018-04-09 23:46] Aderionis opened #316 "QueryException in Connection.php line 770:"
Whoops, looks like something went wrong.
2/2 QueryException in Connection.php line 770: SQLSTATE[HY000] [1045] Access denied for user 'contentify18'@'localhost' (using password: YES) (SQL: SHOW TABLES LIKE "migrations")

    in Connection.php line 770
    at Connection->runQueryCallback('SHOW TABLES LIKE "migrations"', array(), object(Closure)) in Connection.php line 726
    at Connection->run('SH

[2018-04-10 07:38] tbe opened #317 "Support for other databases"
Hi,

as Laravel supports other database types then MySQL/MariaDB, would it possible to support at least PostgreSQL for Contentify?

As a DBA i don't like MySQL for multiple reasons:
- Crash safety
- Syntax
- Missing Optimization Options
- Bad, really bad, Query Planner
- ....

[2018-04-10 10:24] khalifaone commented on #313
Any news? :D

[2018-04-10 11:27] kamohy commented on #297
also aufm testserver ging das mit dem vendor allerdings is da kein php5 drauf... wir gucken noch wie wir das hinbekommen testweise probiere ich es gerade nochmal aufm hauptserver, durch meine inetdrosswlung dauert das aber leider ewig...

[2018-04-10 18:22] chriskonnertz commented on #314
Hello,

it seems you do not have the vendor libraries in `<contentify-path>/vendor` installed.

a) Install them via console: `php composer.phar install`
b) Download the production package and use it or copy the vendor directory https://github.com/Contentify/Contentify/releases/download/v2.3/contentify_2_3.zip

[2018-04-10 18:25] chriskonnertz commented on #317
Hello,

uhm... I don't know. Your arguments are reasonable. However, (re-)adding support for Postgre might take a lot of affort. Right now this has not a very high priority.

[2018-04-10 18:27] chriskonnertz commented on #316
Hallo,

was hast du denn versucht? Hast du bereits geprüft, ob die Datenbank-Verbindungsdaten in der Datei `storage/app/database.ini` korrekt  sind?

[2018-04-10 18:29] chriskonnertz commented on #315
Wahrscheinlich fehlt dir auch was in der Datenbank aber das dürfte eigentlich nicht kritisch sein. Würde es dir helfen wenn ich dir komplett mal meinen Ordner mit allen Dateien plus die Datenbank gebe?

[2018-04-10 18:30] chriskonnertz commented on #297
Okay, ich hoffe das funktioniert.

[2018-04-10 18:34] chriskonnertz commented on #313
Hello,

I totally forgot this issue. :/

Well, here is the bug fix: https://github.com/Contentify/Contentify/commit/e1a7201d0aea8bb7a032185c8636ee070e0d3183

[2018-04-10 18:53] Aderionis commented on #316
; Autogenerated file with database connection settings.
; See config/database.php for more settings.

host = localhost
database = contentify
username = contentify18
password = kJm4x72

Die Daten sind komplett korrekt. Hatte versucht die Tables zu clearen, leider ist aber in der Datenbank nicht ein Table zu finden. Habe mir hier auch durch die Fehler gewuselt aber keine Antwort gefunden.

[2018-04-10 19:40] andakawa opened #318 "Morpheus Module LESS Compile"
Hi, erst einmal vielen Dank für dieses großartige CMS!

Ich habe Contentify auf einem Webspace installieren können und möchte jetzt gerne die Grundfarbe vom Morpheus-Theme ändern.

Meine Webentwicklungs-Kenntnisse hören bereits bei den Grundlagen auf, ich habe jedoch kappiert, dass man eine Less-Datei schreibt, da man mit wenigen Zeilen eine komplexere Verhaltensweise in CSS beschreiben kann.Nun h

[2018-04-10 20:47] chriskonnertz commented on #318
Hallo,

Bitte. Danke. Oder so. ;)

Ja genau das trifft es ganz gut.

Die Idee ist gut, die hatte ich auch. Aber ich fürchte sie funktioniert leider nicht, weil die `frontend.less` bzw. `backend.less` via `@import` andere LESS-Dateien einbindet. Die wiederum andere einbinden... Und genau dieser Satz an LESS-Dateien fehlt dann. Hierzu könnte dieser Kommentar hilfreich sein: https://github.com/Conten

[2018-04-11 06:14] kamohy commented on #316
moin @Aderionis bitte, veröffentliche niemals deine DB-Zugangsdaten.

Okay nun step by Step, hast du alle Rechte verteilt an die ordner ?
die database.ini ist die, die du bearbeiten solltest findest du unter `storage/app/database.ini`
in deinem Hauptverzeichnis des spaces
vllt. reicht das ja schon. :-)

[2018-04-11 06:16] Aderionis commented on #316
Moin @kamohy ,

ja habe ich alles Step by Step befolgt und auch das Repo installiert. sowie die Database.ini die du oben siehts.

Weiß leider nicht weiter. Habe auch nochmal ein komplett Clean Install angestrebt, aber wieder das selbe Ergebniss erhalten.

[2018-04-11 06:21] kamohy commented on #316
leider ist mein internet echt schwach, bis zum WE sonst hätte ich dir gesagt, wir setzen uns zusammen hin.
Ich habe Contentify auf mehreren Spaces, wie du sicher mitbekommen hast und sogar auf einem home-server.
hast du php 5.6 am laufen oder höher?
Leider gibt es viele fehlermeldungen, wenn du nur php 7 laufen lässt. (hallo @chriskonnertz das is ma nen anreiz, wie lang würde es dauern eine php 7

[2018-04-11 06:25] Aderionis commented on #316
Ich habe PHP 7.0.28 in der CGI-Anwendung am laufen auf einem V-Server von Host Europe.

Alles gut, das hat Zeit. Im Endeffekt will ich ein paar Templates dafür basteln und es an der ein oder anderen Stelle erweitern :)

Wäre echt nett von dir!

[2018-04-11 06:33] kamohy commented on #316
Gut, dann zum WE richte doch bitte einen gastzugang im FTP ein und so weiter.
(gastzugang deswegen da ich keine persönliches daten möchte)
leider lässt sich das mit dem DBzugang nicht vermeiden den muss ich dann trotzdem haben.

Vllt. bekommen wir das ja am Samstag zum laufen dann. :-)
MFG: S.Holtz

[2018-04-11 06:39] kamohy commented on #297
@chriskonnertz meinst du nicht, es wird praktischer sein, wenn man es auf PHP 7 komplett umschreibt?
dieser Switch zwischen beiden versionen auf einem Server, ist echt blöd gemacht.
aber ohne php 5 meckert er rum, da er sich auf das beruft, hab gestern ja aufm test-server bei mir daheim alles zum laufen bekommen soweit, jedoch hier der hacken, solang kein php5 aktiv, schimpft er rum

`(1/1) ErrorE

[2018-04-11 11:59] kamohy commented on #264
so unter 2.4 einige bugs :-/ configuration nicht speicherbar (admin/config...)
(er macht so gut wie nix dort in dem bereich.)
News kann man nicht erstellen, es fehlt ne datei: admin_news_form
(auch hier nicht findbar :-( )
pages das selbe: admin_pages_form      fehlt
events... das selbe nur halt admin_event_form
gallerie das selbe... bilder kann deswegen nicht getestet werden
downloads auch...
sli

[2018-04-11 11:59] andakawa commented on #318
Hi,
danke für die Antwort :)

Den verlinkten Kommentar habe ich bereits vor meinem Posting hier studiert - leider hat Koala die Imports nicht lesen können, weshalb ich dann diese Online-Alternative nutzen musste.

Vermutlich reicht es nicht, die Less-Datei vom Desktop in Koala zu ziehen und man muss im gesamten Contentify-Verzeichnis arbeiten? Ich werd's versuchen :)

Ansonsten warte ich einfach a

[2018-04-11 13:55] smen8 opened #319 "Error Directory 'public': Not writable"
Hi, I have this problem, Directory 'public':	Not writable.
I would like to know why it happens. I'm trying to upload this to the cloud.

[2018-04-11 17:38] kamohy commented on #319
Hey guy, use you`re FTP-Ptrogram, connect with the server.
Click with right of the public-directory and go on rights
here set it on 777
the directory: storage
need this rights too

[2018-04-11 18:04] smen8 commented on #319
What happens is that I'm uploading this cms to the cloud, and I'm working with Google Cloud Engine. At the time of lifting the dispute to install it is that the sale this error.

[2018-04-11 18:05] smen8 commented on #319
it's more when I work locally everything works fine.

[2018-04-11 19:45] chriskonnertz commented on #274
Hello @jonatant ,

please excuse the delay (again). You requested an important change that did deserve a higher priority than it actually got.

Here it is, finally:
https://github.com/Contentify/Contentify/commit/1248ee9cdc902e5b2f2c4a648a5125494521840b

After leaving the Steam website behind, users will land on a new page where they have to confirm or adjust their username and their email address

[2018-04-11 19:47] #274 closed, assigned to chriskonnertz

[2018-04-11 19:53] chriskonnertz commented on #319
Hello,

well, I guess that you are working locally on a Windows system while the cloud space uses Linux. On Windows permissions are not a big thing so you do not really have to care about them. On Linux  however permissions are an important topic.  Therefore you have to tell the cloud to allow the CMS to write stuff into the `public` directory. It needs to do this when it uploads files, for exampl

[2018-04-11 20:01] chriskonnertz commented on #316
@Aderionis

Als Datenbank läuft aber MySQL oder Mardia DB und nicht so was wie Postgre? Es werden nur die beiden erstgenannten unterstützt.

Und prüf mal bitte, ob du vielleicht einen speziellen Port angeben musst. Wenn ja musst du den in der Config-Datei angeben: https://github.com/Contentify/Contentify/blob/2.3/config/database.php#L58

[2018-04-11 20:07] smen8 commented on #319
Locally I'm working on Linux and if you have the permissions that you ask for in the installation, that's why I told you that locally it works well. But I'll look for another way to do it.

[2018-04-12 05:49] kamohy commented on #315
ich glaube das könnte echt helfen, hab schon überlegt einfach ein vorhandenes Template zu überarbeiten.
Aber umgestalten ist schwerer, als neu schreiben.
Neu, weiss man wo alles steht, das macht es einfacher.

Wär also wirklich mal nett wenn du das teilen könntest.
(in der DB steht eigentlich nicht wirklich viel über Themes. Das, das ich erstellt habe wird ja im CMS selbst auch angezeigt nach dem

[2018-04-12 08:07] chriskonnertz opened #320 "Update Steam auth lib dependency"
Has to be updated to fix the http <-> https issue permanently

[2018-04-12 18:23] kamohy opened #321 "Startseite ändern"
Moin Moin oder nabend.
@chriskonnertz ich weiss ich kann echt nerven :D
Aber kann ich irgendwo die Startseite abändern?
Also statt News einen content laden oder so ?
Das wär echt gut :D

[2018-04-12 19:44] chriskonnertz commented on #321
Hallo,

ja kannst du aber das musst du dann direkt im Code machen und könnte durch künftige Updates wieder überschrieben werden.

Diese Zeile musst du ändern: https://github.com/Contentify/Contentify/blob/2.3/routes/web.php#L22
Genauer gesagt nur den Teil hinter 'uses'.

Wie genau hängt davon ab was du machen willst, per default wird ein Controller ( `App\Modules\News\Http\Controllers\NewsControll

[2018-04-13 07:46] kamohy commented on #321
ich danke dir :-)

Da ich inzwischen weiss, wie man kurzlinks setzt :D (hab einfach nachm Impressum gesucht wie bescheuert :D) kann ich das auch anders machen denke ich 🗡

Aber wie gesagt danke 👍

[2018-04-13 07:55] kamohy commented on #297
die grundinstall von 2.3 lässt sich nicht komplett ausführen, nur bis schritt drei.
Danach meckert er immer wegen der database.ini
egal wie man es macht, steht nichts drin und man gibt nur was ein, dann kommt (using passwort no)
steht was drin errorexeption database.ini on line 7 (passwort abfrage)
ich hab es auf verschieden wege probiert, geht aber nix. irgendwo scheint da ein fehler drin zu sein

[2018-04-13 08:48] kamohy commented on #297
Danach meckert er immer wegen der database.ini
egal wie man es macht, steht nichts drin und man gibt nur was ein, dann kommt (using passwort no)
steht was drin errorexeption database.ini on line 7 (passwort abfrage)
ich hab es auf verschieden wege probiert, geht aber nix. irgendwo scheint da ein fehler drin zu sein, das er einträge blockiert sobald das passwort drin steht.

hat sich erledigt... er

[2018-04-13 18:10] khalifaone commented on #313
Sorry for re-open this post, but now all works, but that form dont send the email with password reset link.. I try 3 times but i didn't revice anything.

Thank you!

[2018-04-13 22:25] okonstantinyuk commented on #314
how much does it cost to install this product from you ?

[2018-04-14 10:45] kamohy commented on #316
@Aderionis na wie sieht es aus ? brauchst du noch hilfe ?

[2018-04-14 10:47] Aderionis commented on #316
@kamohy Ja schon, nur ist es heute bei mir ultra schlecht. Muss heute noch jede menge machen. Ich melde mich bei zeiten nochmal wenn das okay ist!

[2018-04-14 13:26] khalifaone opened #322 "Error Admin"
When i try to delete an user:
![delete-user](https://user-images.githubusercontent.com/29990653/38768710-862c19d2-4000-11e8-956e-228c883da324.JPG)

[2018-04-14 20:02] kamohy commented on #321
Also geklappt hat es, wie ich es mir vorgestellt habe.
[code]
da ich es vorher auch als kurzlink eingefügt habe

so nu die preisfrage :D
Wie kann ich die News aber so verschachtelt wie sie dort warn aufrufen ? Ö.Ö
denn vom look her find ich sie cool :D und nicht so wie unter /news
dann :D

[2018-04-14 20:30] kamohy commented on #316
@Aderionis kein prob, jedoch kann ich nur am WE immer was machen, is son internet-ding bei mir :D

[2018-04-15 11:52] MrcillerYT opened #323 "Signatur"
Wie kann ich bei einer Signatur ein Bild/Gif einfügen

[2018-04-15 13:38] kamohy commented on #323
also ich vermute, wenn dann über bbcode's
ein standart davon währ: `[img]bild-url[/img]`
ansonsten weiss ich es auch gerade nicht.

[2018-04-15 13:42] MrcillerYT commented on #323
habe ich schon versucht geht leider nicht D:

[2018-04-15 13:48] kamohy commented on #303
**Kurzlinks erstellen.**

Ihr müsst 2 Datein erweitern.
Nummer 1:
app/Modules/Pages/Http/web.php
sucht zeile 18:
`ModuleRoute::get('impressum', ['as' => 'pages.showImpressum', 'uses' => 'CustomPagesController@showImpressum']);`
dadrunter setzt ihr als bsp.:
`ModuleRoute::get('gamingstats', ['as' => 'pages.showGamingstats', 'uses' => 'CustomPagesController@showGamingstats']);`
hier sagt ihr schon,

[2018-04-15 14:02] chriskonnertz commented on #322
Hello,

it seems that a field (attribute / column) in a table of your database is missing.

Please find out if the `cup_points` attribute exists in the `users` table in the database.

If it is missing, you may try this MySQL statement to add it:

[code]

(I did not test it)

[2018-04-15 14:38] chriskonnertz commented on #323
Hello,

in the current implementation the signature can only be  a plain text string.

- If you add HTML, the tags will pre printed as text, not as HTML
- If you add BBCode, the tags will be printed as text, not as BBCode

Allowing users to add HTML code to their ...
... warum schreib ich eigentlich auf Englisch? :D

Also kurz gesagt, HTML-Code erlauben ist keine Option -> unsicher.
Was man machen

[2018-04-15 14:55] MrcillerYT commented on #323
Ja

Chris Konnertz <notifications@github.com> schrieb am So., 15. Apr. 2018,
16:38:

[2018-04-15 15:00] kamohy commented on #323
Also meiner meinung nach würde ich BBCodes erlauben (aber im adminbereich auch deaktivierbar machen.
Gerade im Forum, finde ich es praktisch, vor allem aber auch für leute die, diese nicht kennen, irgendwie eine hilfe (inform eines editors, wie hier bei github in der comment-function)
Aber ich glaube wiederum nicht, das es eine hohe prio. hat.

[2018-04-15 15:11] #312 closed, assigned to chriskonnertz

[2018-04-15 15:12] #321 closed, assigned to chriskonnertz

[2018-04-15 15:13] MrcillerYT commented on #323
BBCodes wären perfect für mich 👍

[2018-04-15 15:16] kamohy commented on #323
@Pega16 und ich hatten das auch schonmal angeregt, jedoch wie gesagt, es ist nicht absolut notwendig (mein empfinden und das als forenuser.

[2018-04-15 16:24] chriskonnertz commented on #321
Hat sich das erledigt? Bin mir ansonsten nicht ganz sicher wie du das meinst.

[2018-04-15 16:25] chriskonnertz commented on #318
Hallo,

Gewisser maßen doch, das reicht, weil Koala die Importe selber lädt. Darum muss man sich nicht kümmern.

[2018-04-15 16:30] kamohy commented on #321
Ich hab die Willkommen seite erstellt, dies sollte die startseite werden.
dann hab ich mir ein beispiel am Impressum genommen, das du als kurzlink eingefügt hattest.
hab also aus /pages/2 einfach als Link /willkommen erstellt.
Dann hab ich dort wo du es mir gesagt hast gesucht. und den code eingefügt den ich oben geschrieben habe.

Nur eines find ich schade. das wenn ich jetzt domain.usw/news eing

[2018-04-15 17:53] chriskonnertz commented on #320
Done: https://github.com/Contentify/Contentify/commit/44d428eaf045766aa3d83d3bf2a4c5f0370eb898

[2018-04-15 17:53] #320 closed, assigned to chriskonnertz

[2018-04-16 11:22] kamohy commented on #297
minibug in 2.3: sobald man eine nachricht via kontakt hat `/contact` belibt auch nach dem löschen, die info man hätte eine neue nachricht im ACP (dashboard)

[2018-04-16 18:39] chriskonnertz commented on #323
Ok, wird (vermutlich zeitnah) eingebaut, vermutlich auch mit An/Abschalt-Option im Backend.

Ja das sollte eigentlich kommen aber ich hab dem erst mal eine niedrigere Prio gegeben. Weil es ein paar Fragen aufwirft und eher eine größere Aufgabe ist. Daher wird das erst mal verschoben und anderes vorgezogen.

PS: Issue bitte nicht schließen, dient mir als Reminder.

[2018-04-16 19:21] MrcillerYT commented on #323
ok danke 👍

[2018-04-17 02:10] Devilcraft1407 opened #324 "[BUG? 2.3]News werden nicht auf der Startseite sichtbar"
Version: 2.3

Hey,
ich wollte heute Contentify aufsetzen. Nach Stundenlangem studieren der issues habe ich bisher nichts darüber gefunden.
Ich habe test weise eine neue News erstellt doch diese wird unter "start" nicht angezeigt.
Entweder ich bin halt zu doof eine Option dafür zu finden oder dies wird wirklich nicht sichtbar.

Hoffe ihr könnt mir da ein wenig Beihilfe leisten.

MFG

[2018-04-17 07:04] kamohy commented on #324
Moin, darf ich mir die seite mal ansehen ?
Weil, eigentlich kann das nicht sein. Bei mir und @Pega16 laufen auf mindestens 3 seiten, contentify.
auch local mit einem server auf dem neuesten stand läuft con 2.3
deswegen kann ich mir das nur schwer erklären.

Vorweg: Alle rechte richtig gesetzt ?
News auch auf Veröffentlicht, gestellt ?
Am datum der News etwas geändert ?
News auch gespeichert? :D (k

[2018-04-17 12:45] Devilcraft1407 commented on #324
Aber natürlich...
Nur das ich halt noch nichts eingerichtet habe bisher weil ich die News nicht zum laufen bekomme.

Unsere Homepage läuft hier: http://rubin-esports.de/

Wenn nötig bin ich auch den ganzen tag über im TeamSpeak³ erreichbar.
185.223.28.64

Wenn noch etwas benötigt wird, zögere nicht zu fragen. Ich stehe hier halt wirklich auf den schlauch :P

[2018-04-17 15:06] kamohy commented on #324
ich hab mich mal registriert, einen kurzen zugang zum adminbereich wär nett

[2018-04-17 15:58] kamohy commented on #304
Wie siehts aus, Newsleter-funktion? Das wär etwas, was mir noch fehlt :D

[2018-04-17 16:22] Devilcraft1407 commented on #324
Habe dir die admin rechte zugewiesen.
Mfg

[2018-04-17 16:30] kamohy commented on #324
gut, was hast du alles abgeändert, in den datein selbst ?
denn eigentlich ist die install sauber (wie gesagt wir nutzen es selbst auf einigen seiten)
nun beginnt also die fehlersuche.
bitte nenn mir mal die dateien die du geändert hast.

[2018-04-17 16:35] Devilcraft1407 commented on #324
Ich habe lediglich die config/app datei bearbeitet...

[2018-04-17 16:36] kamohy commented on #324
kannst du mir kurz mal den code hier posten? (mein internet ist seeeehr langsam deswegen) einfach mal den abgeänderten code einfügen bitte

[2018-04-17 16:50] kamohy commented on #324
hast du den composer installiert? sry wenn ich frage aber diesen muss man zusätzlich installieren.
Weil nur damit alles funktioniert.

[2018-04-17 17:08] kamohy commented on #324
ich hab es glaub ich schon, bin mir aber nicht ganz sicher.
öffne: config/app.php
suche nacht CET und mach daraus bitte UTC
Dann sollten deine News auch auftauchen.

[2018-04-17 17:12] Pega16 commented on #324
bei UTC passt dann aber die Zeit nicht @kamohy

Ich empfehle Dir, lieber @Devilcraft1407 dort anstatt CET einfach "Europe/Berlin" einzutragen... das funktioniert in jedem Fall, da selbst der PHP-Core des Servers dies korrekt interpretiert...

...zumal CET die KURZSCHREIBWEISE für die eigentliche Langform "Europe/Berlin" ist.... ;)

Nähere Referenz gibts HIER: http://php.net/manual/de/timezones.php

[2018-04-17 17:14] kamohy commented on #324
CET steht drin Ö.ö und meine uhr aufm Lapi sagt  UTC
aufm lokalen-server: UTC und dort geht alles !
ansonsten bleibt echt nur der composer oder aber die rechte nicht richtig verteilt via FTP

![timestamp](https://user-images.githubusercontent.com/37085865/38885632-de1c3d82-4273-11e8-8ffb-9afd346cbdcc.PNG)

[2018-04-17 17:17] Pega16 commented on #324
@kamohy UTC (Coordinated Universal Time Zone) ist die Koordinierte Weltzeit; die Referenzzeit, von der die Ortszeiten in den verschiedenen Zeitzonen der Erde abgeleitet werden

wir sind hier aber in Deutschland und hier gilt nicht die UTC... ;) zumal das aufm lokalen Testserver nur dann korrekt angezeigt wird (also die Uhrzeit! hierbei gehts rein um die Uhrzeit!!!), wenn der Server denkt, er sei i

[2018-04-17 17:27] kamohy commented on #324
mhmm okay ^^
ich weiss das bei uns deswegen nix ging damals weil wir irwas nit geändert hatten.

dann wie gesagt gucken ob alle rechte via FTP richtig gesetzt wurden
[code]
Diese benötigen die rechte: 777

checke ob du den composer installiert hast und ja lass das CET drin, der mann hat recht, sry...

[2018-04-17 17:58] chriskonnertz commented on #324
Kann sein dass das jetzt obsolet ist aber ihr könntet noch mal im Backend -> Einstellungen -> bei "Diagnose" abgleichen, was bei "PHP.date.timezone" und "App.timezone" steht. Da sollte das gleiche stehen.

[2018-04-17 18:05] Devilcraft1407 commented on #324
Vielen dank für euren ganzen erklärungen.
Ich mich entschuldigen das ich jetzt erst antworte da ich in der fahrschule saß.
Ich werde mich gleich dran setzen und alle vorschläge checken.
Danke euch :)

[2018-04-17 18:16] Pega16 commented on #324
Guter Hint, dank Dir @chriskonnertz , An das hatte ich gar nicht mehr gedacht :D

[2018-04-17 18:27] Devilcraft1407 commented on #324
Hat schon mal die zeit richtig gesetzt.

Sind auf 777 habe es doppelt geprüft.

Composer habe ich über plesk machen lassen unter den "Anwendungen" diese wurden auch ohne fehler erfolgreich installiert. CET hatte ich drin und habe es jetzt zu "Europe/Berlin" gesetzt.

Hat es villeicht etwas mit dem "APP_KEY" zutun?
diesen habe ich bisher noch nicht geändert.

EDIT:
Habe da evtl. was gefunden.
Es sc

[2018-04-17 18:33] Pega16 commented on #324
Das sagt aber leider nicht zwangsläufig, dass es
a) der aktuelle Composer ist
b) das für Contentify tatsächlich funtional installiert wurde...

zu b)
Contentify bringt im Installationspaket bereits einen Composer mit und genau mit dem solltest Du auf SSH-Ebene arbeiten... diese ganzen Plesk-Geschichten KÖNNEN zwar funktionieren, aber meine persönliche Erfahrung sagt mir, dass die Pakete in den ISP

[2018-04-17 18:44] Devilcraft1407 commented on #324
@Pega16 Ich habe einen Webspace gemietet bei Zap-Hosting.
Somit habe ich leider keine möglichkeit per SSH zu arbeiten.
Mir steht lediglich das Plesk und der FTP zugriff zur verfügung.

@kamohy Ich bin wieder auf dem TS anzutreffen. Habe deinen anstubser gesehen.
War wie gesagt vorhin eben zur Fahrschule :/

[2018-04-18 04:31] kamohy commented on #324
Moin allerseits, sry ich bin gestern gegen 20 uhr eingepennt.
Liegt am Sonnenbrand überall. Vor allem auf meiner Glatze :-( ...

So, inzwischen scheint das problem ja gelöst, ich sehe News auf der Seite.
*Freude*
zu deinem spaceanbieter.. naja der scheint mist zu sein, aber wir wollen hier ja keine Werbung machen, also lassen wir das thema vorerst.

@Devilcraft1407 bitte bimm vorerst wieder den Ad

[2018-04-18 04:51] Pega16 commented on #324
@Devilcraft1407 Okay... derartige Anbiereinschränkungen sind immer so ne Sache... Ich mach Dir mal folgenden Vorschlag...:
Schreib mir ne Mail an Pega16@hpzone.de in der Du schreibst, was Du aktuell bei ZAP Hosting bezahlst und was genau Du dafür bekommst und ich schaue, obs bei nem vernünftigen Anbieter, z.B. mir, wie in den meisten Fällen mehr fürs Geld gibt... :D

Gerade bei Contentify glaube i

[2018-04-18 05:04] kamohy commented on #324
soviel zum thema werbung mein lieber :D @Pega16 du bist der geilste :D

[2018-04-18 06:33] Devilcraft1407 commented on #324
Diese habe ich auch gesehen. Nun sind diese wieder weg :P
Ich weiß auch echt nicht was des soll... ich klicke auf die News gerade und Schwupps weg sind die von der Startseite. >_>
Ich tipper mal ZAP an ob sie die Timezone fixxen können.

Der Webspace ist dass kleinste Problem.
Nur das er schon für 6 Monate gemietet ist.

[2018-04-18 09:59] Devilcraft1407 commented on #324
So ich habe den Fehler nun gefunden.
Für alle die das gleiche Problem haben und Plesk benutzen:

## Stellt sicher das euer Hostsystem und im Plesk die Zeitzonen gleich sind.
### Ist dies nicht der Fall so werden die News auf der Startseite nicht korrekt angezeigt.

@kamohy @Pega16
Ich habe die aktuelle Zeitzone überbrückt mit der aktuellen zeit des Hostsystems.
Jetzt funktioniert es so wie es soll

[2018-04-18 14:40] Pega16 commented on #324
@Devilcraft1407 auch das ist kein Problem... ;)

Es war an der Stelle ein Vorschlag, den kann man annehmen, oder eben nicht... und den kann man jetzt oder Später annehmen oder es ganz lassen... mir gings nur drum, mal Eckdaten zu haben, um zu sehen, ob ich da mithalten kann... und entsprechend dem, was Du mir per Mail gesandt hast, kann ich da sogar mithalten ;D

Wie gesagt, alles gut, ich freu mi

[2018-04-18 17:09] niclasreich opened #326 "Login doesn't work at all"
Hi,

when I try to login myself after the installation via /auth/login, the website just reloads, but I am not getting logged in. When I register a new account, it logs me in automatically, but even after logging out I am not able to log myself back in with the new account. Also tried [this (#309)](https://github.com/Contentify/Contentify/issues/309#issuecomment-376264358) fix.

I read in #295, th

[2018-04-18 17:22] niclasreich commented on #326
Managed to fix it by turning on `Automatic HTTPS Rewrites` in Cloudflare, so the form would load fully on HTTPS.

[2018-04-18 17:22] #326 closed, assigned to chriskonnertz

[2018-04-18 17:28] okonstantinyuk opened #327 "how to fix :Please enable the debug mode to start the installer."
Please enable the debug mode to start the installer. how to fix  ?

[2018-04-18 17:38] chriskonnertz opened #328 "LESS Refactoring: Unify Var Naming"
Step 1: Change the naming convention from all Contentify vars in `backend.less`to snake case.
(Done, will be committed soon)

Step 2: Since LESS uses kebap case, we should use kebap case as well so change the var names again.

[2018-04-18 17:40] chriskonnertz commented on #327
Hello,

this should answer your question: https://github.com/Contentify/Contentify/wiki/FAQ#how-can-i-disable-the-debug-mode

[ Of course, to _enable_ the debug mode you have to set the value to `true`, not to `false`. Just sayin. ;)  ]

[2018-04-18 17:40] #327 closed, assigned to chriskonnertz

[2018-04-18 17:44] chriskonnertz commented on #326
Glad to hear that it works now!

[2018-04-18 18:03] okonstantinyuk commented on #327
@chriskonnertz   where is this file located ?  config/app.php

[2018-04-18 18:04] okonstantinyuk commented on #327
@chriskonnertz found Sori

[2018-04-18 18:08] okonstantinyuk opened #329 "Can I edit the design"
Can I edit the design from the files if Yes in what design folder ?

[2018-04-18 19:14] chriskonnertz commented on #327
Great :)

[2018-04-18 19:19] chriskonnertz commented on #329
Hello,

yes you can edit the files from the design / theme.

They are in this folder: `<contentify>/app/Modules/<theme-name>/`
The LESS/CSS files are in:  `<contentify>/app/Modules/<theme-name>/Resources/Assets`
The template files are in:  `<contentify>/app/Modules/<theme-name>/Views`

To find out what design / theme is currently active, go to your wesite, log in, go to the backend, go to config (

[2018-04-18 22:05] niclasreich commented on #326
Yeah, but you definetly need to work on that!

[2018-04-19 01:19] Devilcraft1407 opened #330 "[2.3 | Frage]Modul Widget hinzufügen/laden"
Hey ich bin es nochmal :D
Ich habe da mal eine frage. Und zwar sehe ich da ganz viele tolle sachen in den Modulen.
z.B. das man die derzeitigen Online User anzeigen lassen kann und so.

in der `layout.blade.php` habe ich schon gesehen wie die Module geladen werden.
Doch wenn ich manch ein Modul laden möchte macht er es nicht.

Hier sieht man ja z.B. die Matches:

[code]
Nur wie bekomme ich jetzt g

[2018-04-19 05:51] kamohy commented on #330
Moin mein lieber.
abändern kannst du alles in der layout.blade.php das hast du richtig erkannt.
die shoutbox ist:
`<h3>
                        Shoutbox
                    </h3>
                    @widget('Shouts::Shouts')
					</br>`

Latest User uff, benutze ich garnicht und ist glaube ich auch nur fürs ACP (Admin-Backend)
das kann dir aber nur Chris sagen. oder einer der etwas alt eingesessen

[2018-04-19 13:08] Devilcraft1407 commented on #330
Vielen dank @kamohy :)
Ich sehe auch bei deiner Shoutbox das du die Avatare dazu hast.
Hast du das selber gemacht?
Wäre nett wenn es eine liste geben würde was für Module es gibt und mit welchen Code die aktiv werden. ^^

[2018-04-19 16:30] chriskonnertz commented on #328
Done. https://github.com/Contentify/Contentify/commit/8947859796420ff237a2306230f4cef6a9751653

[2018-04-19 16:30] #328 closed, assigned to chriskonnertz

[2018-04-19 16:48] chriskonnertz commented on #330
Hallo

Hast du das selber gemacht?

Ja hat er: https://github.com/Contentify/Contentify/issues/303

[2018-04-19 17:03] chriskonnertz commented on #330
z.B. das man die derzeitigen Online User anzeigen lassen kann und so.

Ja da fehlt ein wenig die Doku zu. Die anzulegen / zu verbessern ist ein Task der derzeit so neben bei mit läuft. Verweisen möchte ich an der Stelle auf das Kapitel dazu im Wiki: https://github.com/Contentify/Contentify/wiki/Modules Das ist aber sehr unfertig also lückenhaft.

Anmerkung: Das was du meinst sind die "Widgets". Wi

[2018-04-19 17:21] chriskonnertz commented on #330
Hab mal das Wiki entsprechend ergänzt: https://github.com/Contentify/Contentify/wiki/Modules#widgets

[2018-04-19 17:31] chriskonnertz commented on #330
Das User-Online-Widget ist derzeit noch arg minimalistisch. Verbesserungsvorschläge werden entgegengenommen. :)

[2018-04-19 17:31] kamohy commented on #330
Danke für die (likes) :D

Also man kann recht viel machen, was ich auch selbst immer wieder gut finde.
Das einzige was etwas zeitaufwendiger ist, ist tatsache ein design dafür schreiben
vor allem wenn man vorher nur CSS geschrieben hat und nie eine LESS  :-D

Was benutzt du zum editieren von datein ?
Ich empfehle Notepad++, dort kannst du ganze ordnerstruckturen rein laden.
Was die suche erleichte

[2018-04-19 17:32] kamohy commented on #330
Ach minmalistisch ist immer gut, um so mehr kann man selbst bestimmen :D

[2018-04-19 17:35] kamohy commented on #330
@Devilcraft1407

Auch wenn ich etwas nerve :P

Das ist meine Aufgabe hier :D bitte nicht klauen :-D
Du nervst nicht aber, ab und an mal gucken und suchen, das kann schon viel ausmachen.

[2018-04-19 18:23] chriskonnertz commented on #330
Ich habe das Random-User-Widget noch mal etwas angepasst.
- Nur nicht gebannte User auswählen, die schon mindestens ein mal eingeloggt waren
- Sollte kein entsprechender User gefunden werden, einfach nichts anzeigen

https://github.com/Contentify/Contentify/commit/06fcfd6ed69820e7e3e8ba178065f6eb9b16b9c6

[2018-04-19 18:24] Devilcraft1407 commented on #330
Ouha, danke jedenfalls für die ganzen Informationen!
Ich werde gerne weiter fragen stellen sobald was nicht klar ist. Auch sehe ich darin das dies anderen Leuten erspart bleibt eine neue gleich frage zu stellen.
@kamohy
Ich benutze Sublime Text 3 (https://www.sublimetext.com/) kann ich jedem nur weiterempfehlen.
Ist sogar meiner Meinung nach viel besser als Notepad ++ und übersichtlicher.
Zwar ner

[2018-04-19 18:24] chriskonnertz commented on #324
diesen habe ich bisher noch nicht geändert.

Nein. Den App-Key sollte man auf einen anderen Wert setzen. Das hat aber nichts mit dem Problem zu tun.

( Ist mir gerade nur noch mal so eingefallen. )

[2018-04-19 19:02] chriskonnertz commented on #318
Version 2.4 kommt so circa in 10 Tagen. Ich mache daher hier mal zu um aufzuräumen.

[2018-04-19 19:02] #318 closed, assigned to chriskonnertz

[2018-04-19 19:14] kamohy commented on #330
notepad ist kostenlos, hat nen FTP-plugin was will man mehr ? :D aber ich guck es mir gern mal an.
ich bin vllt. einfach nur oldshool :-) aber hey ick bin so alt, ick darf dat :D

[2018-04-20 06:20] niclasreich opened #332 "Password-Reset / E-Mail-Function"
When trying to reset my password (wanted to try if the SMTP-Sending works) I get the following error in the log:
`[2018-04-20 07:21:35] production.ERROR: exception 'Swift_TransportException' with message 'Cannot send message without a sender address' in /var/www/play/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/AbstractSmtpTransport.php:162
Stack trace:
#0 /var/www/play/vendor/swiftm

[2018-04-20 06:58] niclasreich opened #333 "Can't get the Twitch Module to work"
Hi, I have the same issues as described in #148 and #195 - I cannot get an preview of my Twitch Stream, even though I have set the cronjob `1 * * * * /usr/bin/php /var/www/play/artisan jobs`,  set up the API-key in the settings and set folder permissions.

I also have another idea you might consider to add: have you heard of google's invisible recaptcha?

[2018-04-20 07:04] niclasreich commented on #297
Sobald ich Videos hinzufüge, werden diese auf der Startseite angezeigt. Wir nutzen SSL, das Thumbnail wird aber leider per HTTP runtergeladen; der Server von YouTube wird also über `http://img.youtube.com/vi/<Video-ID>/mqdefault.jpg` angesteuert.

[2018-04-20 07:51] niclasreich commented on #194
Hello, same issue here. Set the timezone in php.ini to `Europe/Berlin` (also displayed in /admin/config/info in the interface) and in config/app.php to `'timezone' => 'Europe/Berlin',` but still, Contentify hangs one hour behind.

**Edit:** Was an issue with summer-/wintertime. Did `timedatectl set-ntp true` to synchronize the time of my machine with the internet and it is not set up correctly.

[2018-04-20 12:27] Pega16 commented on #297
Okay... @niclasreich und warum steuert ihr Youtube nicht via httpS an? -- Youtube selbst ist doch schon komplett auf https umgestellt... O.o

[2018-04-20 12:53] niclasreich commented on #297
Selbstverständlich ist der Link als HTTPS eingetragen. Contentify setzt diesen nur nicht als https-Link um

[2018-04-20 14:08] Pega16 commented on #297
ah okay, dann war das ein Missverständnis... tut mir Leid...

[2018-04-20 14:10] Pega16 commented on #297
@chriskonnertz
ne Idee, wie man den Path in Contentify erlaubt? -- weil normalerweise tritt der Fehler nicht auf... :o

[2018-04-20 16:43] okonstantinyuk opened #334 "Hello is there a translation"
Hello is there a translation to Russian language ? this engine

[2018-04-20 16:43] okonstantinyuk commented on #334
if not then how to translate where is the file with the text ?

[2018-04-20 16:48] Devilcraft1407 commented on #334
Hey,
take a look in `/resources/lang`  there are some files you can edit

[2018-04-20 17:26] okonstantinyuk commented on #334
@Devilcraft1407 where is the main page to find to change TEAMS home and so on ?

[2018-04-20 17:48] Devilcraft1407 commented on #334
in `app/Modules/THEMENAME/Resources/Views/layout.blade.php` you can see the main page

[2018-04-20 18:11] okonstantinyuk commented on #334
@Devilcraft1407 can I change the language of the homepage there ?

[2018-04-20 18:26] kamohy commented on #334
Hello @okostantinyuk
NO not there search the file:
`\resources\lang` create a new folder: ru
go on `eng` copy the files and paste it in `ru`
know u can translate it self in there files

[2018-04-20 18:33] okonstantinyuk commented on #334
@kamohy I have translated all page well master page not found

[2018-04-20 18:34] chriskonnertz commented on #334
Hello

No. I'd love to see more languages but well obviously some one needs to translate them and I do not know anyone who is a native Russian speaker.

As Devilcraft1407 said, most of the translations are in `/resources/lang`. However, some of the modules in `app/Modules` also have translation files. Example: [app/Modules/Matches/Resources/Lang](https://github.com/Contentify/Contentify/tree/v2.3/

[2018-04-20 18:36] okonstantinyuk commented on #334
@chriskonnertz I can translate since I'm a native Russian language

[2018-04-20 18:37] chriskonnertz commented on #334
Nice! :)

[2018-04-20 18:37] kamohy commented on #334
@chriskonnertz muss er die dann noch in ne .json reinschreiben ? wenn ja sollte man das auch mitteilen, weil themes musst du auch um sie anzuwählen in eine .json eintragen

[2018-04-20 18:48] kamohy commented on #330
@Devilcraft1407

öffne ma sublime text
geh auf Help, dann auf lizens und kopier mal das dort rein:

**_-- Ich hab das mal raus genommen... bin nicht sicher ob das zu posten den Richtlinien von GitHub entspricht. Chris --_**

wenn das getan, sag bitte bescheid

[2018-04-20 18:50] kamohy commented on #330
und wenn ich sublime mal auf deutsch eingestellt bekommen würde, würde ich auch gern ma ausreichender testen. so jedoch nunja... hab keine lust ewig funktionen zu suchen. :-)

bei 80 us $ finde ich sollte ein language-pack enthalten sein...

[2018-04-20 19:06] chriskonnertz commented on #297
Das kann gut sein. Sollte sich aber in 2.4 ändern. Wurde hier umgesetzt: https://github.com/Contentify/Contentify/commit/b6d52c56a684799182f3a06129524f65c236741d

[2018-04-20 19:08] chriskonnertz commented on #297
Nicht auf Anhieb. Ehrlich gesagt kann ich mir gerade nicht vorstellen was das überhaupt mit Contentify zu tun haben sollte  :D

[2018-04-20 19:33] niclasreich commented on #297
Noch ein kleiner Verbesserungsvorschlag @chriskonnertz: Die Textarea unter /contact würde ich vielleicht mit CSS mit `textarea{resize:vertical;}` versehen :)

Edit: ebenfalls empfehlenswert, im Forum bei Thread erstellen die beiden Felder mit dem Wert `required` zu versehen, damit das Formular nicht ohne abgeschickt werden kann (sonst kommt es zu einem Fehler). Würde in PR einreichen, weiß aber le

[2018-04-20 19:52] niclasreich opened #335 "Idea: FAQ-Page"
Maybe implement a FAQ-Page with [extendable Texts like here](https://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_collapsible)?

[2018-04-20 20:08] kamohy commented on #335
Kann man doch selbst anlegen ? Ö.Ö
Einfach unter pages anlegen und als kurzlink einfügen:
beschreibung für kurzlinks: #303

[2018-04-20 20:14] niclasreich commented on #335
Ich glaube, du hast den Sinn einer FAQ-Seite nicht verstanden. Ich möchte, dass möglichst viele Fragen auf einer Seite mit jeweils einem kurzen Text beantwortet werden, sodass sich der User bei mehreren Fragen nicht immer über verschiedene Seiten langhangeln muss, er aber auch nicht durch zu viel Text auf einer Seite erschlagen wird (deshalb ausklappbare Texte). [Beispielsweise wie hier](https://e

[2018-04-20 20:22] kamohy commented on #335
auch das kannst du doch selbst erstellen. (ich hab knapp 10 jahre erfahrung mit CMS ich denke ich weiss was eine FAQ ist)
Wer ein bisschen ahnung hat kann mit CSS und ein wenig HTML mehr machen als man denkt...
Das ist kein Teufelswerk... das liegt alles im rahmen der selbstgestalltung.
Entschuldigung aber nicht alles muss ein Baukastensystem meiner meinung nach beinhalten.
Dies ist ausserdem kein

[2018-04-20 20:27] kamohy commented on #335
https://t3n.de/news/html5-howto-aufklappboxen-ohne-javascript-337546/
sehr schönes beispiel...

[2018-04-20 20:30] niclasreich commented on #335
Hi @kamohy, ich habe dieses Issue extra mit "Idea" versehen, damit klar erkenntlich ist, dass es sich hierbei um eine Idee handelt. Ich denke, es gibt vielerlei Möglichkeiten, dieses Feature zu nutzen und wie ich oben bereits erklärt habe, könnte es genau dafür zu gebrauchen sein (vor allem für Leute wie mich, die nicht wie du bereits 10 Jahre mit CMS Erfahrung haben).

Ich finde es super, dass du

[2018-04-20 20:37] kamohy commented on #335
in deiner beschreibung, nennst du dich selbst developer im frontend-bereich....
dann müsstest du ja auch ein wenig ahnung von CSS haben, was bedeutet du kannst das ganze dennoch vom aussehen her bestimmen wie du möchtest.
Dieses Beispiel ist ja im endeffect nur ein Rohling und lässt sich ohne weiteres erweitern.
Ich hab deine beschreibung gelesen und dachte mir der wird also ein wenig ahnung haben

[2018-04-20 20:42] niclasreich commented on #335
dann müsstest du ja auch ein wenig ahnung von CSS haben, was bedeutet du kannst das ganze dennoch vom aussehen her bestimmen wie du möchtest.
Dieses Beispiel ist ja im endeffect nur ein Rohling und lässt sich ohne weitere erweitern.
Ich hab deine beschreibung gelesen und dachte mir der wird also ein weig ahnung haben... war wohl ein denkfehler meinerseits... sry... zumal das was ich dir gezeigt ha

[2018-04-20 20:47] kamohy commented on #335
Dein Server ist völlig egal, wenn du einen User hast der eine bescheidene Leitung hat wie ich zum beispiel im moment. Die Ladezeit hängt nicht vom Server allein ab, sondern auch vom endbenutzer.

Was machst du zum beispiel wenn du unterwegs bist (im urlaub in der eifel, ist das beste beispiel) hier is das hobby aller Smartphonenutzer: Such das netz.
Und nun sollst du kurz etwas aufrufen, je mehr j

[2018-04-20 21:53] okonstantinyuk commented on #334
@chriskonnertz  Translated text by 90%

[2018-04-20 22:30] Devilcraft1407 opened #336 "[2.3]Frage: User in eigenes Team einladen"
Hey,
I bims nochmal der nicht nervende nerv-bold :D
Ich wollte mal fragen wo die "Invite" "Join" funktion ist für die eigenen Teams fürs Cup Control.
Soweit haben wir alles eingestellt und nimmt Langsam Form an.
Wäre nett wenn mir da jemand nen tipp gibt.

PS:
Wenn dies nicht vorhanden ist, ist auch nicht schlimm.
So dringend wird diese Funktion nicht benötigt.
Sie wäre nur dazu da um Leute an den

[2018-04-21 08:59] chriskonnertz commented on #335
Ihr könnt aufhören zu diskutieren, das Modul FAQ wurde bereits vor zwei Wochen oder so umgesetzt. :sunglasses:

Es wird in v2.4 enthalten sein, 2.4 wiederum wird in Kürze final sein wenn weiterhin alles planmäßig läuft.

https://github.com/Contentify/Contentify/tree/2.4-dev/app/Modules/Questions

Ich werde mir anschauen ob ich das Auf- und Zuklappen einbaue. Zumindest werde ich sicherstellen, dass

[2018-04-21 09:00] chriskonnertz commented on #335
@niclasreich Jedenfalls danke für die Anregung.

[2018-04-21 09:06] #335 closed, assigned to chriskonnertz

[2018-04-21 09:33] niclasreich commented on #313
Hi @khalifaone - open up `<Contentify>/config/mail.php` and in line 19, set `'driver' => env('MAIL_DRIVER', 'mail'),`, so Conentitfy will send via the php-function. (by the way, would recommend that as a default setting @chriskonnertz)

[2018-04-21 09:42] chriskonnertz commented on #313
Is it not the default setting? Which version do you use?

https://github.com/Contentify/Contentify/blob/v2.3/config/mail.php#L19 (v2.3 release tag)

[2018-04-21 12:37] chriskonnertz commented on #335
An sich ja, wird aber leider vom Internet Explorer in allen Version einschließlich 11 sowie von Edge nicht unterstützt. Persönlich sehe ich das daher als nicht nutzbar an, auch wenn der typische Gamer eher nicht mit IE/Edge surft. Aber man weiß ja nie.

[2018-04-21 13:29] chriskonnertz commented on #335
Update: Auf/zuklappen gibt es erst mal nicht. Das ist ja an sich kein Hexenwerk aber passt gerade nicht mehr in den Zeitplan da ich festgestellt habe, ich muss erst mal die Auf/zuklapp-Funktion im BBCode in Foren-Posts und in Kommentaren fixen. Aber, es wird Kategorien für die Fragen geben. Die fehlten bis heute noch.

Wen die Anzeige der Kategorien stört der kann sie mit CSS Code einfach ausblend

[2018-04-21 17:22] Devilcraft1407 commented on #330
Habs gemacht...
Du hast es dir echt gekauft? Oo
Ich weiß garnicht wie ich dir dafür danken kann :o

[2018-04-21 20:59] chriskonnertz commented on #334
_(de)_ Nein, das ist nicht nötig, weil dafür kein eigenes neue Modul erstellt werden muss.
_(en)_ No, you do not have to create a .json file, because adding a new language does not require creating a new module.

[2018-04-21 20:59] chriskonnertz commented on #334
@okonstantinyuk I hope you will share the results :)

[2018-04-21 21:02] chriskonnertz commented on #332
Hello,

did you change the values in the `app/config/mail.php` file from `null` to a string?

https://github.com/Contentify/Contentify/blob/2.3/config/mail.php#L59

[2018-04-21 21:15] chriskonnertz commented on #297
@niclasreich Stimmt, ist sinnvoll. Eingebaut. https://github.com/Contentify/Contentify/commit/470c5d12f3852befb3333f8fb92848bd866a2fc1
Frage mich aber ob nicht **generell** textarea-Elemente mit dieser Styleangabe versehen werden sollten?

[2018-04-21 21:57] chriskonnertz commented on #297
Oh... ja da gab es gleich mehrere Fehler. Habe die nun wohl alle behoben:  https://github.com/Contentify/Contentify/commit/2a3ff8439aee15404899736802d0d4938bddeae4

Danke für den Hinweis. Ist mir bis jetzt nicht bekannt gewesen.

Ja das waren im Endeffekt mehrere Stellen die betroffen waren.

Einen PR zu machen ist an sich nicht sooo schwer und man kann auch nichts kaputt machen. Wenn du nur eine

[2018-04-21 21:59] chriskonnertz commented on #297
@kamohy

Für Contentify 3 eingeplant. Ich möchte aber dass PHP 7 dann "voll" unterstützt wird und dazu muss auch einiges am Code geändert werden. (Unter anderem) Daher erst mit Version 3.

[2018-04-21 23:55] okonstantinyuk opened #337 "modules to this cms ?"
and there are additional modules to this cms ?

[2018-04-22 07:08] niclasreich commented on #337
https://github.com/Contentify/Contentify/wiki/Modules

[2018-04-22 07:11] niclasreich commented on #332
Yes.

[code]

[2018-04-22 11:23] niclasreich commented on #18
- Add a (!) or a (1) depending on the number of unread messages ontop of the messsage button (or just as a counter behind it)
- Make colours of theme configurable in the backend so they won't get reset after every update when changed in the corresponding .css-file
- in `domain.example/cups/teams/overview/user-id` an option to search through all teams and join them via team-password
- in `domain.ex

[2018-04-22 15:13] chriskonnertz commented on #337
Hello,

the CMS (version 2.3) has these modules: https://github.com/Contentify/Contentify/tree/2.3/app/Modules

There aren't any other "official" modules at the moment.

However, every one _can_ create new, additional modules.

[2018-04-22 15:13] #337 closed, assigned to chriskonnertz

[2018-04-22 15:13] chriskonnertz commented on #337
If you miss a feature please let me know.

[2018-04-22 15:26] chriskonnertz commented on #326
I think the problem was that you did not activate the HTTPS support in the Contentify configuration.
Therefore the CMS tried to force the client to use HTTP.

I removed this piece of code since it did not work the way it should:
https://github.com/Contentify/Contentify/commit/7f4c39187aa608a6630d04281b8099b76a36688c#diff-f8797488503130f478d6934f54f556d9L5

[2018-04-22 15:34] chriskonnertz commented on #264
Danke für das Feedback, das liegt nicht an der Version an sich, habe nochmal alle Punkte von dir einzeln getestet. Das hat eine andere Ursache, naheliegend wäre natürlich irgend ein Problem beim Update von 2.3 auf 2.4. Ich werde das Update in den nächsten Tagen selber einmal durchspielen (also wirklich als Update) um genaueres zu erfahren.

[2018-04-22 15:38] chriskonnertz commented on #314
Currently we do not offer this service. :/

[2018-04-22 15:51] chriskonnertz commented on #336
Hallo

Diese Funktion gibt es derzeit nicht. Klingt aber sinnvoll. Sprich man kann einen User heraussuchen, und der bekommt dann den Invite, vorschlagsweise als Nachricht auf der Website und per Email, und darin ist dann ein Link mit dem er direkt in das Team joinen kann?

Hm, das musst du genauer erklären - wodurch käme diese Übersicht zu stande? Habe dazu gerade kein Bild im Kopf...

[2018-04-22 15:54] chriskonnertz commented on #332
Hallo,

denke das muss eher aussehen:

[code]

Was du gemacht hat geht von der Idee her auch - aber die `env`-Funktion erwartet den Default-Wert als _zweiten_ Parameter, nicht wie bei dir als ersten!

Beispiel aus deinem Code:
`env('MAIL_ENCRYPTION', 'tls')`
"MAIL_ENCRYPTION" ist hierbei der Name der Umgebungsvariablen. Wird diese nicht gefunden, wird als Wert "tls" verwendet.

[2018-04-22 15:59] chriskonnertz commented on #299
**(DE)** Das kann sein. Ist aber derzeit nicht sinnvoll, weil es hier um Cups geht die quasi an einem Stück herunter gespielt werden. Kenne das auch nur so. Ok vllt. hat man das Finale mal gesondert aber da ist das Datum dann sicher von den Veranstaltern festgelegt und nicht von den Spielern.

Datum festlegen ist ja eher etwas das man mit Ligen / Laddern verbindet und das hier ist definitiv keins

[2018-04-22 15:59] #299 closed, assigned to chriskonnertz

[2018-04-22 16:36] caglartufan opened #339 "500 Internal Server Error at Installation Step 4"
Hello everybody,
Everything is ok on my server without PHP Escapeshellarg function, but when i into go step 4 at database connection, everything fine. When i press button after put the DB infos it gives me back 500 Internal Server Error. Can you help me please?

[2018-04-22 17:12] justtam opened #340 "User Attribute hinzufügen/ändern"
Hi,

erstmal vielen Dank für das super CMS!

Ich würde gerne Attribute hinzufügen, bin mir aber nicht sicher in welchen Dateien ich das überall machen muss und wo ich diese finde. Wir wollen beispielsweise auch Events auf Konsole über die Webseite organisieren, da wäre eine Feld "PSN-ID" ja schon ein Pflichtfeld.
Danke schon mal im Voraus!

[2018-04-22 18:15] Devilcraft1407 commented on #336
Genauso hab ich mir das vorgestellt :D

Folgende Verhandlungen sind gerade im Gespräch das wir diese Funktion nutzen möchten um bei den verschiedenen Bomb-Cups z.B. die Mitglieder einsehen können die daran teilnehmen. Da bleibt uns dann das ganze Herumfragen in Whatsapp Gruppen erspart und jeder kann sich dann eintragen mit seinem jeweiligen Team. (Anders geht es ja net) Wenn es nur die Option gäb

[2018-04-22 18:29] Devilcraft1407 commented on #340
Schau mal unter `app/Modules/Users/Resources/Views` Dort findest du eine `show.blade.php` und eine `form.blade.php`

da kannst du unnötiges entfernen und auch hinzufügen.
Ich jedenfalls habe nur etwas entfernt.
Klappt ohne Probleme
Ich denke wenn du etwas neues hinzufügst musst du es auch in der Datenbank bei `users` nachtragen.

MFG

**_Wenn ich etwas falsches gesagt habe bitte korrigieren.
Dacht

[2018-04-22 18:34] chriskonnertz commented on #340
Hallo,

@Devilcraft1407  ja das stimmt schon, das sind die richtigen Templates und wie du auch richtig sagst, man muss in der DB eine neue Spalte in der `users` Tabelle hinzufügen.

Es fehlt noch, das man im User-Model erlauben muss, dass die neue Spalte vom Client modifiziert wird, in dem man den Namen der Spalte hier einträgt: https://github.com/Contentify/Contentify/blob/2.3/contentify/Models/U

[2018-04-22 18:36] chriskonnertz commented on #339
Hello,

no. :P

Because we are not able to guess what the actual problem is. "500 Internal server error" just tells us that there was an error when the server tried to do something, but we do not know what error. Mostl likely the server created a log file in the folder `Contentify/storage/logs/`. Take a look at this file, it should contain the error message. Then post it here (but be careful, thes

[2018-04-22 18:41] justtam commented on #340
Danke, das ist es gewesen. Ich gehe davon aus dass dies durch Updates wahrscheinlich überschrieben wird und ich vorher ne Kopie erstellen sollte?

[2018-04-22 19:37] caglartufan commented on #339
Only there is one file:
laravel.log
The file URL iş: https://drive.google.com/file/d/1VmJgzRIyFfFX_qs4Mbr0e2-vBqZyULFd/view?usp=drivesdk

[2018-04-23 09:55] okonstantinyuk opened #341 "When you press on the sowing with the Admin how to fix ?"
ERROR
Sorry, something bad happened. Our website has crashed.

Don't worry, we will handle this. In the meantime, make a cup of coffee. And stop crushing our website!

"When you press on the sowing with the Admin how to fix ?"

[2018-04-23 12:55] niclasreich commented on #332
Hi, ich habe `'from' ...` in das geändert, was du mir geschrieben hast. Leider funktioniert es immer noch nicht. In /var/log/mail.log findet sich folgendes wieder:
[code]

[2018-04-23 16:39] chriskonnertz commented on #341
Hello,

which module?

[2018-04-23 18:09] chriskonnertz commented on #339
Hello,

thanks. In your log file there is this error message:

[code]

`get_cfg_var()` is a function of PHP. In my opinion it is not an "evil" function so please let the PHP scripts use it. If your web space is managed by a service provider, please ask their support team to allow this function.

[2018-04-23 18:19] chriskonnertz commented on #340
Backups vor einem Update sollten sowieso grundsätzlich angelegt werden!

Aber ja, zumindest die Änderungen an Dateien werden überschrieben.

Um das zu vermeiden müsstest du ein eigenes Modul anlegen mit deinen Änderungen, wobei es aber nicht so einfach ist dann aus dem Modul in die Template etc. einzugreifen und dazu gibt es derzeit auch noch keine Doku, daher ist im Endeffekt der andere Weg leich

[2018-04-23 18:30] chriskonnertz commented on #332
Und die anderen Werte in der `app/config/mail.php` passen auch?
Bei `host`, `username`, `password` etc. hast du was eingetragen? In der Form:

[code]
Oder

[code]

?

[2018-04-23 20:35] niclasreich commented on #332
Habe alles andere wie mit der env-Variable (also wie oben gepostet) gelassen oder soll ich das alles wegändern?

[2018-04-23 21:19] okonstantinyuk commented on #341
@chriskonnertz  seeding Click on it and mistake

[2018-04-23 21:20] okonstantinyuk commented on #341
and also news is the same mistake

[2018-04-23 21:23] okonstantinyuk commented on #341
![default](https://user-images.githubusercontent.com/38087935/39154078-beda97fc-4755-11e8-9093-1c9a767d3d50.PNG)
here is a screen

[2018-04-24 21:52] okonstantinyuk commented on #341
@chriskonnertz ?

[2018-04-25 13:56] kamohy opened #342 "2.4 Beta Update probleme"
`Updating the database...Could not execute the database query: Duplicate column name 'country_id'`
`Error: Code 42S21`

Habe versucht von 2.3 auf 2.4 beta nen update zu machen, ging nur nicht :-/
Er sucht halt country_id und die existiert nicht, ich weiss nur leider nichteinmal wo, er die sucht :-/

[2018-04-25 13:57] kamohy commented on #330
Danke Chris wollt es gerade selbst raus nehmen :-)

[2018-04-25 13:58] kamohy commented on #330
Du hast es dir echt gekauft? Oo
Ich weiß garnicht wie ich dir dafür danken kann :o

Also ähm @Devilcraft1407 Chris hat es nicht umsonst entfernt :-)

Freu dich einfach das es geht :-D

[2018-04-25 14:55] Devilcraft1407 opened #343 "[2.3|SteamAuth] ErrorException Fehler"
Habe heute mal die Steam Login Funktion aktiviert und als Fehlermeldung kam da raus:

ErrorException in SteamAuth.php line 205:
Undefined offset: 1

[2018-04-26 17:22] chriskonnertz commented on #343
Hallo,

das ist vermutlich bekannt und wird vermutlich mit v2.4 behoben.
Der Fehler liegt nicht im Core-Code von Contentify sondern in der STEAM-Authentication-Bibliothek die wir nutzen.

Reich dir das als Antwort oder brauchst du eine schnelle Lösung des Problems?

[2018-04-26 17:25] chriskonnertz commented on #342
Hallo,

cool dass du es getestet hast, schade, dass es nicht ging... :/

https://github.com/Contentify/Contentify/blob/2.4-dev/public/update.php#L85

Hattest du schon zuvor mal das Update-Script aufgerufen? Es klingt für mich so als wäre dieser SQL-Query, der die Spalte `country_id` der Tabelle `teams` hinzufügt, irgendwann schon mal ausgeführt worden.

Naja jedenfalls du könntest ihn auskommentie

[2018-04-26 18:33] kamohy commented on #342
Hoi, nein.
War eine Frische saubere 2.3 install und dann das update auf 2.4 dev

Ich probiere es mal aus :-)

[2018-04-26 18:41] kamohy commented on #342
*zusatz* ich hab es gerade mal versucht, er will quasi fast alle mysql-befehle nicht ausführen

[2018-04-26 19:05] justtam opened #344 "Live Countdown bis Turnierstart/Check-In mit Javascript"
Hey,

ich würde gerne in das Featured-Cup Widget einen Countdown einfügen, der in Echtzeit bis zum (beispielsweise) Turnierstart runterzählt. Dies wollte ich mit Javascript in die View des Widgets implementieren, habe aber Probleme damit, dass Javascript das Laravel-Datum nicht akzeptiert und bekomme immer nur "NaN"-Meldungen.
Das ist zwar nicht unbedingt ein Contentify-spezifisches Problem, sonde

[2018-04-26 20:50] Devilcraft1407 commented on #343
@chriskonnertz Nein alles gut :)
Vielen dank.
Zurzeit hatte ich die Funktion eh ausgelassen wegen des Problems das mein Main Steam acc. gebannt war und ich keine neue SteamAPI key besorgen konnte.
Doch versuchen wollt ich das trotzdem mal :)

MFG

[2018-04-27 16:45] kamohy commented on #324
kann man das hier schließen ?

[2018-04-27 17:12] kamohy commented on #340
denkt auch daran eure datenbank zu erweitern.
Da die userdaten ja in der DB gespeichert werden müsst ihr die felder dort auch hinzufügen.
beispiel: DB-Name -> User -> (feldhinzufügen namen's psn_id)
Sonst wird ja nichts gespeichert :-)

[2018-04-27 17:16] kamohy commented on #342
Hast du schon ne 2.4 ohne update, fertig ?
also als eigenes CMS ? wenn ja würd ich das gern haben :D
Dann kann ich es vllt. auch testen. Denn wenn ich alle SQL daten rauswerfe, bringt mir das am ende auch nichts :-/

[2018-04-27 21:57] okonstantinyuk opened #345 "ERROR Sorry, something bad happened. Our website has crashed."
ERROR
Sorry, something bad happened. Our website has crashed.

Don't worry, we will handle this. In the meantime, make a cup of coffee. And stop crushing our website!

"When you press on the sowing with the Admin how to fix ?"
![39154078-beda97fc-4755-11e8-9093-1c9a767d3d50](https://user-images.githubusercontent.com/38087935/39386841-2b99d9d0-4a7f-11e8-810b-4c4929d5414a.png)

[2018-04-28 07:18] jonatant opened #346 "InvalidArgumentException"
Hello. Bug in admin panel: If i press "Create new" i getting error: View [admin_news_form] not found...
And thats for all pages.
View [admin_images_form] not found.
View [admin_images_form] not found.
View [admin_downloads_form] not found.

Any ideas? :)

[2018-04-28 08:23] niclasreich commented on #344
Verlinke mal @kamohy, vielleicht kann der uns auch weiterhelfen? :slightly_smiling_face:

[2018-04-28 08:28] niclasreich opened #347 "[Question] Where can I add Templates to the Cup-Rules and -Description Textboxes?"
There is this tiny option to paste in templates, but where can i set them up?

![image](https://user-images.githubusercontent.com/17802721/39394158-bf00a984-4ace-11e8-9c09-e293563c5c03.png)

[2018-04-28 08:33] niclasreich commented on #332
Perfekt, habe jetzt überall einfach mal testmäßig die env-Funktion entfernt und einfach getestet. Funktioniert, vielen Dank für die Hilfe.

[2018-04-28 08:33] #332 closed, assigned to chriskonnertz

[2018-04-28 12:08] kamohy commented on #344
uff Ö.ö also ich bin kein Programmierer, jedoch könntest du folgendes versuchen.
Erzeuge in Cups unter Admin-Backend (du musst das modul dazu passend ausseinander nehmen)
ein neues Feld, das du countdown nennst.
Statt ein Datum nimmst du einfach Stunden/Minuten/Sekunden.
(denk dran dann aber auch eine DB erweiterung zu machen unter Cups)
dann, suchst du die Datei, die als ausgabe auf der webseite

[2018-04-28 12:12] kamohy commented on #347
Ist ganz simpel, du nimmst nicht custom-page sondern Custom-Content
Diese schreibst du unter Quellcode am besten.
SPEICHERN nicht übernehmen (und sichere dir deinen Code auch in einer externen Datei (z.b.: text.txt) )
nach dem Speichern rufst du die Datei nicht mehr auf da der quellcode dann komischerweise überarbeitet wird.
Nun erzeugst du eine Custom-Page dann kannst du den Custom-Content dort h

[2018-04-28 12:18] kamohy commented on #346
version of contentify? 2.2 / 2.3 or 2.4 ?

[2018-04-28 12:19] kamohy commented on #345
steam-link ?

[2018-04-28 12:22] niclasreich commented on #347
Das hat perfekt funktioniert! Ich danke dir vielmals, @kamohy  :)

[2018-04-28 12:22] #347 closed, assigned to chriskonnertz

[2018-04-28 12:38] kamohy commented on #345
is that the same? #341
If so, then close one of them please.

[2018-04-28 12:42] kamohy commented on #340
ouha, chris hat das ja auch oben schon geschrieben, das habe ich irgendwie überlesen :-D
Sry also für die doppelte erklärung wegen der datenbank :-D

[2018-04-28 14:12] justtam opened #348 "User Attribute bei Team-Matches anzeigen"
Hey,

ich würde gerne in der Match Übersicht bestimmte User Attribute anzeigen. Bei Einzelspielerturnieren ist das kein Problem, dort kann ich ganz einfach $participant->attribut einfügen und das funktioniert auch wunderbar.
Bei Team-Matches wirds aber kritischer, dort steht ja hinter $participant erstmal kein User, und dann müsste man ja auch ein Array an User-Attributen (für jeden User im Team e

[2018-04-28 14:34] jonatant commented on #346
@kamohy 2.4

[2018-04-28 15:40] kamohy commented on #346
2.4 is a beta
Use 2.3
the beta, does not work bugfree #342 #297

[2018-04-28 18:08] kamohy commented on #347
sehr gut :-)

[2018-04-28 21:10] okonstantinyuk commented on #345
I need a solution, not a solution.

[2018-04-28 21:10] okonstantinyuk commented on #345
@kamohy I need a solution, not a solution.

[2018-04-28 21:22] kamohy commented on #345
okay open a editor.
edit: storage/app.php

`debug: false` to `debug: true`

post the error-text
after clicking on the link

[2018-04-29 07:37] okonstantinyuk commented on #345
storage/app.php such a there
There is a folderstorage
a file app.php no

[2018-04-29 07:37] okonstantinyuk commented on #345
@kamohy storage/app.php such a there
There is a folderstorage
a file app.php no

[2018-04-29 07:49] kamohy commented on #345
sry
`config/app.php`

[2018-04-29 07:58] okonstantinyuk commented on #345
@kamohy
new error
![default](https://user-images.githubusercontent.com/38087935/39404450-31db6f98-4b9c-11e8-8f54-988d372d24e9.PNG)

[2018-04-29 08:09] kamohy commented on #345
and know chris can take a look :-)

[2018-04-29 19:10] justtam commented on #344
@kamohy Danke für die Hilfe, das hätte aber mein Ursprungsproblem nicht behoben, da ich ja daran gescheitert bin die bereits vorhandene Laravel Variable zu nutzen. Einen Countdown bei dem man einfach die Werte eingibt habe ich schon auf anderen Seiten mit javascript hinbekommen, das wäre kein Problem gewesen. Nur dieses händische Eintragen wollte ich ja gerade "ersparen", da die Variable ja eigent

[2018-04-29 19:11] niclasreich commented on #344
Du kannst deine Issues in Github selbst schließen, @justtam :slightly_smiling_face:

[2018-04-29 19:12] #344 closed, assigned to chriskonnertz

[2018-04-29 20:40] chriskonnertz commented on #348
Hallo,

deine Überlegungen gehen schon in die richtige Richtung. Aber es ist nicht so schlimm wie du befürchtest.

Mit `@if ($cup->forTeams()) ... @else ... @endif` kannst du herausfinden ob das Match / der Cup für 1on1s oder Team-Matches ausgelegt ist und dementsprechend die Logik bauen.

Es stimmt, dass du bei Teams dann die einzelnen Mitglieder durch gehen musst. Das sollte so gehen:
`@foreach

[2018-04-29 20:46] chriskonnertz commented on #346
Hello @jonatant

Do you have the latest commits of the 2.4-dev branch? I made some changes that could cause this bug but then again newer changes should fix it...

[2018-04-29 20:50] chriskonnertz commented on #345
Hello @okonstantinyuk

Please take a screenshot of your cup's settiings page and post it, so that I can create this cup on my local system.

Example:
![screenshot_example](https://user-images.githubusercontent.com/4319323/39410900-c24a86f0-4bff-11e8-916c-404082893ab6.png)

[2018-04-29 20:52] chriskonnertz commented on #343
Ok :)

[2018-04-29 21:02] chriskonnertz commented on #344
Hallo @justtam

[code]

Ich frag zur Sicherheit mal nach, bist du sicher, dass du weißt, was das macht? `format(trans('app.date_format').' H:i')` wandelt den Zeitstempel in das lokale Datumsformat des Clients um. D. h. wenn die Sprache (locale) Deutsch ist, steht dort was anders als wenn sie Englisch ist. Falls das nicht ganz klar war solltest du mal in deinen User-Einstellungen die Sprache ändern

[2018-04-29 21:08] chriskonnertz commented on #332
Ok super. :)

[2018-04-29 21:10] chriskonnertz commented on #342
Ich werde vermutlich das Update morgen man selber probieren. Die 2.4 soll jetzt auch final werden. Von daher:

Nein aber kommt sehr bald.

[2018-04-29 21:11] chriskonnertz commented on #324
Gute Frage

[2018-04-30 04:50] justtam commented on #344
Guten Morgen Chris,
Wenn ich das Format vorher nicht definiere spuckt er die Stunden und Minuten nicht mit aus, macht also nur einen timestamp bis 00:00 am Tag, ->start_at->timestamp funktionierte beim Testen also nicht.
Deine Format Lösung wäre aber wahrscheinlich eleganter, ich habe in diesem Fall einfach die Variable aus der show-Datei rauskopiert wo das Datum bereits mit Minuten angezeigt wurd

[2018-04-30 07:15] jonatant commented on #346
@chriskonnertz thanks for replay. Yes i have latest 2.4-dev branch :) Bug still exist

[2018-04-30 07:40] jonatant opened #349 "How to get user STEAM_ID after signup?"
Hi. Does it imposible to get users STEAM_ID after sign up via STEAM? Example: I press login via STEAM button and after registration save user STEAM_ID in steam_id users table? Thanks and sorry for bad english :)

[2018-04-30 16:43] justtam commented on #348
Danke Chris, funktioniert einwandfrei! 👍

[2018-04-30 16:57] #348 closed, assigned to chriskonnertz

[2018-04-30 16:58] #340 closed, assigned to chriskonnertz

[2018-04-30 18:33] kamohy commented on #349
wait of the the update 2.4
t will be fixed

[2018-05-01 07:40] jonatant commented on #349
@kamohy it's not a bug

[2018-05-02 17:41] chriskonnertz commented on #349
Hello,

I think it is possible.

You would have to edit this file: `app/Modules/Auth/Http/Controllers/LoginController.php`.
I believe it's `$info->steamid`.

https://github.com/Contentify/Contentify/blob/2.3/app/Modules/Auth/Http/Controllers/LoginController.php#L58

[2018-05-02 17:46] kamohy commented on #342
Haste schon nen start-termin ?

[2018-05-02 22:51] okonstantinyuk commented on #345
@chriskonnertz
![default](https://user-images.githubusercontent.com/38087935/39553041-6f3ed944-4e74-11e8-8f50-ed556b0ce772.PNG)

[2018-05-03 13:06] kamohy commented on #324
ich denkeja @chriskonnertz

hey @Devilcraft1407 mach ma das issue zu bitte, außer du brauchst hier noch hilfe.

[2018-05-03 18:11] niclasreich commented on #264
Any ETA?

[2018-05-05 09:48] okonstantinyuk commented on #345
@chriskonnertz  ????

[2018-05-06 10:52] chriskonnertz opened #350 "Cache clear when updating"
Maybe clear the cache at the end of `update.php`?

[2018-05-06 11:13] chriskonnertz commented on #342
Heute.

[2018-05-06 11:13] chriskonnertz commented on #342
Heute.

[2018-05-07 07:53] Mrciller opened #351 "How to Download Beta Version"
Hello i wanted to ask how to download the Beta Version of Contentify

[2018-05-07 10:45] niclasreich opened #352 "Fehler beim Updaten "Duplicate column name 'country_id'""
Hi,

beim Updaten erhalte ich folgenden Fehler:
`Updating the database...Could not execute the database query: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''app.name', 'xxxxxxxx')' at line 1`

Refreshe ich die Seite dann, erhalte ich folgenden Fehler:

`Updating the database...Could not execute the database q

[2018-05-07 10:48] niclasreich commented on #352
Scheinbar duplicate of #342

[2018-05-07 17:17] chriskonnertz commented on #351
Hello,

you should download the version from yesterday (not in `beta` state): https://github.com/Contentify/Contentify/releases/download/v2.4/contentify_2_4.zip

If you really want the `beta` you may download it (with some small changes) here:
https://github.com/Contentify/Contentify/archive/2.4-dev.zip
This is the development version so you would have to run the `php composer install` command!

[2018-05-07 17:27] chriskonnertz commented on #352
Hallo,

1) Schau bitte mal nach ob deine Datei `public/update.php` diesem Stand hier entspricht: https://github.com/Contentify/Contentify/blob/1111e80eac4d3c68df3c69b53c569e747a2ab21f/public/update.php
Vergleichen kannst du diese Dateien auf die Schnelle hier: https://www.diffchecker.com/

Falls sie gleich sind: Weiter zu 2)
Falls nicht: Bitte den Unterschied posten. Plus, woher du deinen Stand ha

[2018-05-07 17:55] niclasreich commented on #352
Danke für die unglaublich schnelle Antwort. Ja, die Dateien waren identisch.

Leider weiß ich nicht ganz, was du mit

meinst. Soll ich den Befehl einfach in der MySQL-Datenbank-Konsole eingeben oder einfach im Updater  `"INSERT INTO {$prefix}config (name, value) VALUES ('app.name', '{$appName}');",` durch `INSERT INTO config (name, value) VALUES ('app.name', 'NameDerWebsite');` ersetzen (in genau

[2018-05-07 18:38] chriskonnertz commented on #345
Thanks! I get this error as well. I will investigate what causes this error.

[2018-05-07 18:41] chriskonnertz commented on #345
It seems this error occurs when you try to seed the cup without it having any participants.

The naive solution is to not allow seeding in this case: https://github.com/Contentify/Contentify/commit/91c445c6ca97b1aae87440009b0c3e2976db7004

I assume that this is not enough and the cup needs at least two participants. I will figure it out.

[2018-05-07 19:01] chriskonnertz commented on #345
**Update**:
- One participant is enough
- However, the participant has to be "checked in"

[2018-05-07 19:57] chriskonnertz commented on #352
Ähem ja... also so allgemein ist meine Reaktionszeit ja eher nicht so gut und 7 Stunden ist jetzt auch nicht so der Hammer :D

Ok schade, anders wäre es schöner gewesen.

Ja genau das

Kann es mal testen aber an für sich ist das kein Problem.

Sehr interessant. Vielleicht beim manuellen Leeren des Caches Ordner gelöscht, die nicht hätten gelöscht werden sollen? Ich glaube wenn man "Basis"-Cache-Or

[2018-05-07 20:27] niclasreich commented on #352
Ich habe nun, wie du gesagt hast, den entsprechenden Code in die config-Tabelle mittels des Befehls einfügen können.

Ich habe natürlich davor das alte, funktionierende Backup der DB eingespielt und die Update-Datei neugestartet. Jetzt erhalte ich den Fehler
`Updating the database...Could not execute the database query: Duplicate entry 'app.name' for key 'PRIMARY'
Error: Code 23000`

Die config-Ta

[2018-05-08 06:20] Mrciller commented on #351
Beim update ist ja BBC integriert oder

[2018-05-08 16:03] leetnooblet opened #353 "Debug mode comes up..."
I have all checks before hitting install...

But then I get this error...

Please enable the debug mode to start the installer.

[2018-05-08 16:23] chriskonnertz commented on #353
Hello,

this is not an error. It's a feature. But yes, a feature that turned out to be not one of our best ideas so with v2.4 we removed it. (You do use v2.3, right?)

To disable it open the file `config/app.php` with a text editor an change `false` to `true`:
https://github.com/Contentify/Contentify/blob/2.4/config/app.php#L41

[2018-05-08 16:29] chriskonnertz commented on #351
Wie meinst du das? BBC = BBCode, richtig? Aber was bedeutet das? Alle Versionen von Contentify seit 1.0 haben BBCode integriert. Überlegungen BBCode bspw. gegen Markdown auszutauschen gibt es aber umgesetzt wurde davon nichts in 2.4.

[2018-05-08 16:36] leetnooblet commented on #353
It should have been 2.4 i just followed the instructions on the wiki page. I am using a droplet and putty. How do I fix this issue.

[2018-05-08 16:49] chriskonnertz commented on #353
https://github.com/Contentify/Contentify/blob/2.4/config/app.php#L41

( Do not let you get confused by the link, there it is already set to `true`.)

[2018-05-08 17:00] leetnooblet commented on #353
But im not really sure how to transfer it to my droplet.

[2018-05-08 17:05] chriskonnertz commented on #353
For example with FileZilla, an FTP tool.

Another way is to connect with PuTTY. Then use the `cd` command to switch to the `<contentify>/config` folder. (Most likely the Contentify folder will live in `/var/www`. ) Then open the file with `nano app.php`. If Nano is not installed you have to install it with `apt-get install nano` or maybe `sudo apt-get install nano`. When in Nano, go to the line an

[2018-05-08 17:12] chriskonnertz commented on #346
I do not know how to help here. If this error would occur on my own PC / installation I would start to debug it.

If your Contentify installation does not include critical data you could create a .zip archive and a database dump and send both to me, so I can debug the error. You could clear the `password` column in the `users` table so I cannot access passwords. You should also remove any API keys

[2018-05-08 17:19] chriskonnertz commented on #18
Good ideas.

Yep, this is going to be implemented. Maybe in v2.5.

Possible via  `www.example.com/search` (=global search)

[2018-05-08 17:20] #329 closed, assigned to chriskonnertz

[2018-05-08 17:21] chriskonnertz commented on #341
=> https://github.com/Contentify/Contentify/issues/345

If you still have the issue with the news module, please create a new issue.

[2018-05-08 17:21] #341 closed, assigned to chriskonnertz

[2018-05-08 17:23] chriskonnertz commented on #304
Ja, fehlt noch. Mittel / langfristig durchaus geplant. An sich hat das keine so hohe Prio, aber es kann sein, dass das mal irgendwann dazwischen rutscht und "spontan" eingebaut wird. Also die Prio ist eher niedrig aber eher nicht so niedrig, dass es noch ewig dauert.

Die "Mal eben einfach gebaut"-Lösung wäre: Ein Formular wo man den Newsletter eintippen kann, ein "Senden"-Button und wenn man den

[2018-05-08 17:30] chriskonnertz commented on #323
In To-Do-Liste für v2.5 https://github.com/Contentify/Contentify/issues/304 aufgenommen, daher mache ich hier zu.

[2018-05-08 17:30] #323 closed, assigned to chriskonnertz

[2018-05-08 17:34] chriskonnertz commented on #321
Hm, ich dazu müsstest du glaube ich die Route ändern.

Du könntest ziemlich am Anfang der Datei `routes/web.php` einfügen:

`Route::get('/news', 'App\Modules\News\Http\Controllers\NewsController@showStream']);`

Wenn das nichts bewirkt ersetze das hier https://github.com/Contentify/Contentify/blob/2.4/app/Modules/News/Http/web.php#L21 mit der Zeile von oben.

[2018-05-08 17:45] leetnooblet commented on #353
Omg this was rough!!!! But you are the man this worked!

File path was /var/www/html/config

Was able to use filezilla.

[2018-05-08 17:55] #353 closed, assigned to chriskonnertz

[2018-05-09 13:18] #322 closed, assigned to chriskonnertz

[2018-05-10 14:57] kamohy opened #354 "Install failed"
install fehler:
sowohl auf dem server, sowie auf dem lokalen server, bekomme ich errors

`is_executable(): open_basedir restriction in effect. File(/opt/php-7.1/bin/php) is not within the allowed path(s): (/var/www/clients/client4/web24/web:/var/www/clients/client4/web24/private:/var/www/clients/client4/web24/tmp:/var/www/kamohy.de/web:/srv/www/kamohy.de/web:/usr/share/php5:/usr/share/php:/tmp:/us

[2018-05-10 15:09] kamohy commented on #354
auch der root-zugang geht nicht :-/

[2018-05-10 15:13] okonstantinyuk opened #355 "Sorry, something bad happened. Our website has crashed."
ERROR
Sorry, something bad happened. Our website has crashed.

Don't worry, we will handle this. In the meantime, make a cup of coffee. And stop crushing our website!

"When you press on the sowing with the Admin how to fix ?"

[2018-05-10 15:32] kamohy commented on #355
more information? website ? crash-link ?

[2018-05-11 07:05] niclasreich commented on #355
Duplicate of #345 - solution was already given by @chriskonnertz, @okonstantinyuk

[2018-05-11 07:07] niclasreich commented on #352
@kamohy Bist du vielleicht irgendwie um diesen Bug drumherum gekommen?

[2018-05-11 09:44] chriskonnertz commented on #352
@niclasreich Sollte es sich bei der DB um eine Datenbank nur zu Testzwecken handeln wäre es wohl das einfachste du schickst mir bspw. an  contact@contentify.org  einen Dump davon plus den gesamten Contentify-Order, dann schau ich das bei mir lokal an und kann es gleich debuggen.

[2018-05-11 09:46] chriskonnertz commented on #354
Klingt allerdings nicht nach einem Contentify-Problem :x

[2018-05-11 09:46] chriskonnertz commented on #353
Nice!

[2018-05-11 10:48] jonatant commented on #349
@chriskonnertz tried, but nothing... can u made example? thanks!

[2018-05-11 11:01] niclasreich commented on #352
Nein, ist eine Liveversion, aber schicke sie dir trotzdem später; schätze dich als Vertrauenswürdig ein und würde das echt gerne gefixt bekommen 👀

[2018-05-11 18:12] chriskonnertz commented on #352
Ok super, sensible Daten (also eigentlich vor allem Userpasswörter) kannst du ja vorher mit irgend einen Quatsch überschreiben (user-Tabelle).

[2018-05-11 18:18] chriskonnertz commented on #349
Well it depends on what you have in mind. Here is a very basic example (line 57/58) that just prints out the Steam ID when someone logs in via Steam:

https://text-share.com/view/eb4b2a7d

( Contentify/app/Modules/Auth/Http/Controllers/LoginController.php )

[2018-05-11 22:16] chriskonnertz commented on #355
Yes it seems to be a duplicate?

[2018-05-12 03:28] Schamus opened #356 "FatalErrorException in SimpleXMLElement.php"
Hey guys,

Successfully installed the script today but when playing with the admin dashboard i got a fatal error when trying to post news.

"FatalErrorException in SimpleXMLElement.php line 6:
Class 'SimpleXMLElement' not found"

Anyone able to help me with this?

Cheers

[2018-05-12 08:41] kamohy commented on #354
ähm wenn das auf zwei servern so ist ? woran könnte es sonst liegen ?

[2018-05-12 09:37] kamohy commented on #354
Diese Meldung habe ich auf dem localen server und auf dem hauptserver von hpzone.
Ich weiss nicht wa es sein soll, ich habe es mit verschiedenen zugängen probiert.

Es will einfach nicht.

`(1/1)                                         ErrorException                                                                          is_executable():  open_basedir restriction in effect. File(/opt/php-7.1/bin/

[2018-05-12 11:09] chriskonnertz commented on #356
Hello,

seems like a PHP extension is missing. However, documentation says it does not need to be installed:

http://php.net/manual/en/simplexml.installation.php

Try to run phpinfo() via script:

[code]

The output should contain a section "SimpleXML".

[2018-05-12 18:44] chriskonnertz commented on #354
Dort steht ja:
`File(/opt/php-7.1/bin/php) is not within the allowed path(s): `
Kommt mir halt nicht bekannt vor. Daher kann ich nicht wirklich viel dazu sagen.

Ich habe jetzt einfach mal Google befragt und das spuckt dann das hier aus:
https://stackoverflow.com/questions/1846882/open-basedir-restriction-in-effect-file-is-not-within-the-allowed-paths#answer-34980645

Hast du das oder so was in di

[2018-05-12 18:46] chriskonnertz commented on #354
Laravel-bezogen habe ich das gefunden:
https://laracasts.com/discuss/channels/laravel/is-dir-open-basedir-restriction-in-effect

Bitte probier das mal aus.

[2018-05-12 18:49] chriskonnertz commented on #354
Hier dürfte jemand das Problem auch haben aber eine Lösung gibt's dort leider nicht: https://laracasts.com/discuss/channels/laravel/open-basedir-restriction-in-effect-fileusrlocalbinphp-is-not-within-the-allowed-paths

[2018-05-13 13:58] kamohy commented on #354
also, irgendwo is nen fehler drin in der install
composer funktioniert, serverseitig ist alles in ordnung. irgendetwas funktioniert nicht und das, obwohl bei 2.3 noch alles funktionierte

[2018-05-15 07:33] niclasreich commented on #352
Hi, hatte dir die Daten Freitag geschickt - gibts seitdem schon was neues?

[2018-05-15 09:32] jonatant commented on #349
I'm getting message: null. And cannot login. Using 2.4 version

[2018-05-17 08:47] niclasreich opened #357 "Bug: Website displays current date in News & Videos"
Hi, auf unserer Website wird bei den News und bei den Videos (also allem, was wir auf der Startseite anzeigen), das aktuelle, heutige Datum angezeigt.
https://play.escde.eu/
https://play.escde.eu/news/1/herzlich-willkommen-1

[2018-05-17 18:23] chriskonnertz commented on #357
Hi,

hast du da schon was geändert? Mir werden verschiedene Daten angezeigt:

[2018-05-17 18:24] chriskonnertz commented on #352
Hi, bei mir kam nichts an, werde das noch mal prüfen aber kannst du die Email nochmal an contentifycms@gmail.com schicken? Vllt. ist die irgendwo bei dem Mail-Server der anderen Adresse hängen geblieben...

[2018-05-18 04:11] niclasreich commented on #352
Habs nochmal an die e-Mail geschickt :)

[2018-05-18 04:12] niclasreich commented on #357
Klick mal auf die News selbst und schau zum Beispiel auf das Datum von dessen Beitrag

[2018-05-19 00:37] ArianaDulac opened #358 "I can't install Contentify 2.3 or 2.4"
So, when I go to install either 2.3 or 2.4 I always get the error

[1/2] PDOException

SQLSTATE[28000] [1045] Access denied for user 'root'@'localhost' (using password: NO)

and

QueryException

[2/2] SQLSTATE[28000] [1045] Access denied for user 'root'@'localhost' (using password: NO) (SQL: select * from `persistences` where `code` = NcysVgWA6he2mOFavFxGTEbin5COtiQb limit 1)

[2018-05-19 00:38] ArianaDulac commented on #358
Keep in mind this is with going to do a normal install and I haven't even put in sql settings.

[2018-05-19 02:23] ArianaDulac commented on #358
fixed

[2018-05-19 02:23] #358 closed, assigned to chriskonnertz

[2018-05-19 02:36] ArianaDulac opened #359 "Error Updating to 2.4"
Updating the database...Could not execute the database query: Duplicate column name 'country_id'
Error: Code 42S21

[2018-05-19 14:06] vibratim opened #360 "ErrorException ClassLoader.php"
After the install.php was executed successfully I got an error on the index.php file.
` (2/2) ErrorException

include(/var/www/vendor/composer/../../app/Modules/Partners/Partnercat.php): failed to open stream: No such file or directory (View: /var/www/app/Modules/MorpheusTheme/Resources/Views/layout.blade.php)`

I looked the files up and they do exist, but they are written in CamelCase instead. Re

[2018-05-22 07:24] LittleManMichael opened #361 "Issue with Login / Registration"
Hello,

I am having issues with my login and registration. I was wondering if you could give me some insight on to what the issue may be and the solution to move forward is please.

Currently, I am unable to log in via my super admin as it does not work. Once I put in the email and password, it just simply refreshes the page and that's it. Nothing else.

When trying to register, it comes up with t

[2018-05-22 11:03] niclasreich commented on #359
Duplicate of #352

[2018-05-22 13:40] SlavenTV opened #362 "User Alter"
Hiho
ich bin momentan wieder ein wenig an meiner Seite am basteln.
Leider stehe ich aber momentan ein wenig aufm Schlauch.

Und zwar will ich nicht das Geburtsdatum der User anzeigen sondern nur das reine Alter.

Wie bzw wo muss ich da was ändern?

[2018-05-22 21:15] chriskonnertz commented on #362
Hallo,

hm tja, da das Geburtsdatum einfach Text-Feld ist weißt du nicht sicher was drin steht. Daher ist das nicht so einfach. Ich überlege gerade ob man das nicht doch mal durch ein Feld zur Datumsauswahl ersetzen sollte.

Also das einfachste wäre für dich:
1. Entweder einfach hoffen dass alle ihr Geburtsdatum im Format "12.12.1234" angegeben haben oder aber per ReGex (regulärer Ausdruck) bei de

[2018-05-22 21:21] chriskonnertz commented on #360
Hello,

so this is a fresh copy of Contentify?

Exactly. We have to figure out where it tries to include "Partnercat.php" instead of "Partmer**C**at.php".

[2018-05-22 21:31] chriskonnertz commented on #360
I assume it is some kind of a cache thing. Maybe the class map of the Composer autoloader is incorrect.

[2018-05-22 21:32] chriskonnertz commented on #361
Hello,

which version of Contentify do you use?

[2018-05-22 21:34] chriskonnertz commented on #358
Hello,

I am glad to hear you managed to fix this issue.

[2018-05-22 21:35] chriskonnertz commented on #359
Yes this seems to be a dupclicate. However, I assume ArianaDulac does not speak German so #352 does not help here.

[2018-05-22 21:37] chriskonnertz commented on #359
@ArianaDulac Did you try to run the update twice? The error occurs when you do that, because the new colum "coutnry_id" has already been created so it cannot create it again.

Quick & dirty work-around: Go to the update script and remove the line.
https://github.com/Contentify/Contentify/blob/2.4/public/update.php#L85

[2018-05-22 22:13] LittleManMichael commented on #361
Hello,

I am currently using 2.2. Do I need to upgrade?

[2018-05-23 07:57] vibratim commented on #360
Indeed. It's the content of the v2.4 'contentify_2_4.zip'.

[2018-05-23 09:04] chriskonnertz commented on #360
And the operation system is Linux or Windows?

[2018-05-23 09:31] vibratim commented on #360
It's Linux. Ubuntu, 18.04 LTS.

[2018-05-24 02:03] ArianaDulac commented on #359
Sooo, I ended up doing a fresh install of 2.4 and now I get the errors

(1/2) ErrorException

include(directoryforcontentify/vendor/composer/../../app/Modules/Partners/Partnercat.php): failed to open stream: No such file or directory

(2/2) ErrorException
include(directoryforcontentify/vendor/composer/../../app/Modules/Partners/Partnercat.php): failed to open stream: No such file or directory (Vie

[2018-05-25 07:39] chriskonnertz opened #363 "[Todo] Check MultiByte support"
There still might be places in the code where there is no multi byte support so this has to be checked and fixed.

[2018-05-25 10:32] jonatant commented on #349
any news? @chriskonnertz

[2018-05-26 00:13] chriskonnertz opened #364 "[ToDo] Add register button on login page"
Just as a short cut, add a link to the register page.

[2018-05-27 17:00] chriskonnertz commented on #361
Hello,

no, you do not have to upgrade.

[2018-05-28 13:19] niclasreich commented on #352
Hi, schade, dass es hier und in #357 (und mehr oder weniger auch in #333) nichts neues gibt, wir hätten das CMS gerne in Production genutzt.

Ein erstes "[Testturnier](https://play.escde.eu/cups/15/4vs4-wwii-allmode-community-tourney)" mit 24 Teilnehmerteams hat leider nicht wie erwartet funktioniert (siehe Matchestabelle, da wurden dann einfach irgendwelche Matches fünf, sechs Mal erstellt). Eben

[2018-05-28 16:13] kamohy commented on #352
Wir alle hängen gerade leider etwas fest :-/
Ich spiel gerade das 2.3 erstmal wieder auf.
Abwarten wann Chris zeit hat um die Bugs auszuhebeln.
Man bedenke er macht das alles in seiner Freizeit :-/

[2018-05-28 19:18] kamohy commented on #352
also ich häng bei update dort fest: question_cats

zuerst aber: rufe den ordner auf: `config` da geh auf `app.php` unt schreib unter `app_name` deine webseite rein

das ist der erste kleine bug (app.name...)

dann in der DB folgendes mal löschen fürs update: teams -> country_id
dann: cash_flow

und weiter bin ich nicht, den er behauptet Table 'question_cats' already exists
problem: ich finde es in

[2018-05-28 19:20] chriskonnertz commented on #352
Tja, da fällt mir auch nicht wirklich was zu ein. Aufgrund der Fehlermeldung würde ich erwarten, dass die Tabelle existiert. Wenn sie das nicht tut, keine Ahnung...

[2018-05-28 19:21] chriskonnertz commented on #352
Ja, das ist richtig.

[2018-05-28 19:22] kamohy commented on #352
achja und das reine 2.4 gibt übrigens auch nur fehler wie bisher raus @chriskonnertz :-/

[2018-05-28 19:22] niclasreich commented on #352
Nein, wir sind wieder mit einem Backup auf 2.3 zurück, aber wie oben ja bereits geschrieben, hat das Turnier leider nicht erfolgreich geklappt :(

[2018-05-28 19:23] chriskonnertz commented on #352
Habe tatsächlich in den letzten Tagen was anderes gemacht. Nach dem Durchpeitschen von 2.4 brauchte ich etwas Abstand.

[2018-05-28 19:24] kamohy commented on #352
@chriskonnertz  ? hast du ne ahnung wo question_cats sein soll ?

[2018-05-28 19:24] chriskonnertz commented on #352
Nicht schön. :( Das ist echt blöd.

[2018-05-28 19:24] chriskonnertz commented on #352
Nein. :/

[2018-05-28 19:26] kamohy commented on #352
hat sich erledigt... hab sie gefunden...

[2018-05-28 19:28] kamohy commented on #352
okay... bin hier gelandet..:

`Updating the database...Could not execute the database query: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ''app.name', 'kamohy.de')' at line 1`

[2018-05-28 19:31] kamohy commented on #352
auf deutsch der zuerst behobene bug is fürn arsch... egal wie man es machet :-/ @chriskonnertz  hilfe ? :D

[2018-05-28 19:35] kamohy commented on #352
hab das einfach mal auskommentiert in der update.php, nach dem ich die DB gesäubert habe, nun habe ich dennoch wieder fehlermeldungen:

Nummer 1:
(3/3) ErrorException
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'c4content.partnercats' doesn't exist (SQL: select * from `partnercats` where `partnercats`.`deleted_at` is null limit 1) (View: /var/www/clients/client4/web24/web/app/Modules

[2018-05-28 19:51] kamohy commented on #352
wenn man das behebt kommt das selbe mit advertcats ect.
hast du vergessen diese irgendwo im hardcode vergessen umzubenennen ? @chriskonnertz

[2018-05-28 20:21] kamohy commented on #352
soo... system ein wenig ausgehebelt,hab nu scheinbar 2.4 und was is ? kann keine News ect. schreiben... ```
(1/1) InvalidArgumentException

View [admin_news_form] not found.
[code]

[2018-05-28 20:25] chriskonnertz commented on #352
Du fragst dich wahrscheinlich wieso diese Fehler auftreten konnten, die müssten mir ja wohl aufgefallen sein?

_Wären sie._

Daher stehe ich vor einem Rätsel.

Bei mir klappt alles. Keine Probleme mit Kategorien oder Templates oder Tabellen oder sonst was. Schätze ich muss auf unterschiedlichen Systemen testen, das einzige was mir einfällt sich halt Unterschiede zwischen den Umgebungen. Ich lad mi

[2018-05-28 20:27] kamohy commented on #352
ich überlege die ganze zeit von wo aus er so zugreifen will Ö.ö
er sucht ja nach: admin_news_form
ich suche also weiter :-D

[2018-05-28 20:29] kamohy commented on #352
@chriskonnertz nutz doch unseren server, so wie wir dir es angeboten haben.
dort hast du eine reine linux-basis, windows ist einiges leichter, da windows einfach mehr erlaubt.
dadurch is xampp auch eine einfacherere lösung als linux :-O (hat mir sascha mal erklärt)

[2018-05-28 20:33] kamohy commented on #352
fehler gefunden ! das wird witzig...
du hast vergessen dateien umzubenennen... :-/

[2018-05-28 20:40] kamohy commented on #352
SOOOOOOO
jetzt bitte folgendes machen
bearbeitet: update.php

löscht zeilen:
`           "INSERT INTO {$prefix}config (name, value) VALUES ('app.name', '{$appName}');",
            "RENAME TABLE {$prefix}newscats TO {$prefix}news_cats;",
            "RENAME TABLE {$prefix}partnercats TO {$prefix}partner_cats;",
            "RENAME TABLE {$prefix}advertcats TO {$prefix}advert_cats;",
            "R

[2018-05-28 20:48] kamohy commented on #352
achja und der less-compiler geht nicht :-/
und cache leeren auch nicht :-/

das beides hat fehlermeldungen, die ich nicht nachvollziehen kann...

[2018-05-28 21:32] chriskonnertz commented on #352
Habe es neu installiert,
1. Tabelle `question_cats `existiert bei mir
2. `app.name` auch, ist aber bei mir Neuinstallation und bei dir Update, das sind zwei unterschiedliche Pfade
3. Gehe ich auf "News erstellen" öffnet sich das entsprechende Formular. Keine Fehlermeldung.
4. Bei Pages das gleiche.
5. Die Tabelle "partnercats" gibt es in der Tat nicht, "partner_cats" muss sie heißen. Wurde umbenan

[2018-05-28 21:41] kamohy commented on #352
Hey Chris, habe mir eine neue 2.3 gezogen.
Von dort aus das update gemacht, auf 2.4
nachdem ich die updates so ausgehebelt habe wie dort beschrieben ging das auch mit dem update.

aber wie gesagt bei mir will er diese dateinamen ich forsche morgen weiter. allerdings hatten wir diesen fehler schonmal bei der beta von 2.4 ( #342 ), da habe ich dich auch schon darauf hingewiesen.
morgen werde ich die

[2018-05-29 11:09] kamohy opened #365 "install 2.4 problem"
Hey @chriskonnertz
folgendes
ich hab bei mir auf dem server folgendes prob.
er möchte auf: /usr/bin/php
zugreifen, dies ist aber eigentlich nicht erlaubt

daraus folgt diese fehlermeldung:
 (1/1) ErrorException
is_executable(): open_basedir restriction in effect. File(/usr/bin/php) is not within the allowed path(s): (/var/www/clients/client6/web12/web:/var/www/clients/client6/web12/private:/var/ww

[2018-05-29 15:08] andakawa opened #366 "Update from 2.3 to 2.4"
Hi,
ich wollte soeben ein Update von Version 2.3 auf 2.4 durchführen und bekam prompt die Fehlermeldung:

_Error: Cannot update from version 2.2, only from one of these: 2.3
Error: Code -1_

Habe dann die Version in der Datenbank auf 2.3 gesetzt und bekam im Anschluss den Fehler, dass die country_id schon existiert -> habe dann im Update die entsprechende Zeile auskommentiert und nun kam:

_Updati

[2018-05-29 15:17] kamohy commented on #366
moin, hier haben einige das prob, ich hatte es auch.
Problem ist mit dem update aber noch ein anderes: das is nicht ganz so simpel wie gedacht
schau mal hier: #352 vllt. bringt dich das ein wenig weiter

[2018-05-29 15:33] chriskonnertz commented on #366
Hallo,

schaue ich mir nachher an.

Wie kamohy schon sagte, steht vermutlich in Zusammenhang mit https://github.com/Contentify/Contentify/issues/352 .

[2018-05-29 17:09] andakawa commented on #366
Hi,
die Infos aus der anderen Issue haben leider nicht geholfen - werde jetzt einen Rollback durchziehen.

LG

[2018-05-29 18:34] chriskonnertz commented on #352
**UPDATE**:

This bug has been fixed - there was a mistake in a MySQL statement, but only in the downloadable .zip file, not in the GitHub files. I assume the mistake happened _after_ the tests of the update. /
Der Fehler wurde behoben - es gab einen Fehler in einem MySQL-Statement, aber nur in der herutneraldbaren .zip-Datei, nicht in den GitHub-Dateien. Ich nehme an der Fehler ist erst -nach_ de

[2018-05-29 19:52] chriskonnertz commented on #352
So nun das ganze mit Update von 2.3 auf 2.4 (nach Bugfix):

1. Tabelle `question_cats `existiert bei mir
2. `app.name` nun auch, den Bug beim Updaten habe ich gefixt
3. Gehe ich auf "News erstellen" öffnet sich das entsprechende Formular. Keine Fehlermeldung.
4. Bei Pages das gleiche.
5. Die Tabelle "partnercats" gibt es in der Tat nicht, "partner_cats" muss sie heißen. Wurde umbenannt.  MorpheusT

[2018-05-29 21:36] kamohy commented on #352
ich schick dir morgen mal daten zu meinem Space.
(mysql - adminzugang im cont. - ftp zugang)
Damit du es dir mal selbst ansehen kannst.

(schicke es aber über whatsapp, geht ja kein anderen was an :D ) @chriskonnertz

[2018-05-29 22:05] chriskonnertz commented on #352
Ok super.

[2018-05-30 08:32] andakawa commented on #360
I had a fresh install of 2.4 yesterday and encountered the same issues.
Some filenames used camelCasing therefore I needed to rename about 3 files.

[2018-05-30 08:55] andakawa opened #367 "Cash-Flow"
Hi,
there's a small problem with the cash-flow module.

There is a huge error-list when clicking on the menu-item in the backend.

Screenshot here:
![admin-cash-flows-2018-05-30-10_45_46](https://user-images.githubusercontent.com/19193168/40709999-d111907e-63f7-11e8-80db-0207b398dc73.png)

I hope this helps :)

[2018-05-30 09:11] andakawa opened #368 "InvalidArgumentException -> View [admin_XYZ_form] not found."
Hi,
I am not able to create any forums (cats/subforums).

[code]

The only similar named files in this folder are:
admin_config_form.blade.php
admin_form.blade.php

EDIT: The same is happening when creating news.

[code]

EDIT2:
and.. pages, events, images, galleries, images etc.pp.
Not a single file can be found for the related menu-item.

@chriskonnertz I could offer an temporary admin account i

[2018-05-30 09:13] andakawa commented on #365
Kann es sein, dass das darunterliegende Framework(-Update) auf einmal ganz andere Rechte haben will?
Wäre jetzt das einzig logische, was mir dazu einfällt.

[2018-05-30 19:58] andakawa commented on #368
Fixed this by renaming the "admin_form.blade.php" to something like "admin_news_form.blade.php".

"_news_" should be replaced with the module-name.
This file is found at <Modulename>/Resources/Views

Additionally you should rename the files from (for example) "SlideCat.php" to "Slidecat.php" in the basefolder of the regarding module.

Camelcasing also happens to be in folders like "Http/Controller

[2018-05-31 09:15] IrealiTY opened #369 "Filename capitalisation wrong?"
[code]
it looks for Advert**c**at.php but the original file was Advert**C**at.php

Had the same issue on Partnercat.php which **_"solved"_** by duplicating and renaming the file - but I doubt that's the right approach....

[2018-05-31 10:31] IrealiTY commented on #369
Solution was:
`composer dumpautoload`

[2018-05-31 10:31] #369 closed, assigned to chriskonnertz

[2018-05-31 20:00] kamohy commented on #368
ist bekannt. ( #342 ect.... )

[2018-05-31 21:01] andakawa commented on #368
In 342 geht es offensichtlich um Datenbank-Fehler, hier jedoch um simples Naming der Files

[2018-05-31 21:44] kamohy commented on #368
als nächstes: #366 und #352 ...
such bitte erst und schreib dann :-/

[2018-05-31 23:03] andakawa commented on #368
Jau, das sehe ich ein - ich dachte mir nur, es wäre besser noch eine weitere Herangehensweise darzustellen. Da hier Leute mit unterschiedlichem Wissensstand unterwegs sind.

Beim nächsten Mal, schreib mir gerne ein PN - damit die Issue nicht gen Off-Topic verläuft.

Liebe Grüße

[2018-06-01 10:10] chriskonnertz commented on #368
Hallo,

ich konnte nun endlich einige der Fehler der letzten Zeit nachstellen und es wird irgendwann heute einige Bugfixes geben. In Zukunft werde ich vor dem Release einer neuen Version anders testen, damit solche Fehler nicht mehr unentdeckt bleiben.

[2018-06-01 10:13] chriskonnertz commented on #369
Hello,

nice hint, thank you!

[2018-06-01 10:14] chriskonnertz commented on #359
Hello,

I believe I finally have a fix for this bug. I will commit it later this day.

[2018-06-01 10:15] chriskonnertz commented on #352
Habe nun vermutlich einen Ansatz, aber werde noch nicht heute dazu kommen das Update erneut durchzuführen, da ich mich erst mal um die Bugs kümmern werde die auch in einer Neuinstallation auftauchen.

[2018-06-01 13:12] andakawa commented on #352
@chriskonnertz Wird es in dem Update die Möglichkeit geben, nur einzelne Module zu updaten? Da das CMS nun bei mir läuft (bis auf die Cups), würde ich ungerne alles reinstallen müssen.

[2018-06-01 13:18] kamohy commented on #352
@andakawa machsdoch nicht so kompliziert :-) nimm die update.php und kommentiere das aus was du nicht benötigst.
Allerdings wirst du dann beim nächsten update/upgrade probleme haben :-/

@chriskonnertz Super das du scheinbar den fehler gefunden hast.
Freu mich aufs update *.*

[2018-06-01 14:45] chriskonnertz commented on #352
Mögliche Lösung die bei mir was gebracht hat: Per Konsole `php composer.phar dumpautoload`  ausführen.
 => https://github.com/Contentify/Contentify/wiki/Troubleshooting#class-not-found

[2018-06-01 14:45] chriskonnertz commented on #368
Mögliche Lösung die bei mir was gebracht hat: Per Konsole `php composer.phar dumpautoload`  ausführen.
 => https://github.com/Contentify/Contentify/wiki/Troubleshooting#class-not-found

[2018-06-01 14:46] chriskonnertz commented on #365
Ist nicht auszuschließen. Ist jedenfalls nichts was mir bekannt vorkommt oder durch den Core-Code von Contentify erklärbar wäre.

[2018-06-01 20:08] chriskonnertz commented on #368
Lösung: https://github.com/Contentify/Contentify/commit/cdbfeb6fce3d0b5a0f82b5595203cd3c32a766f1
Das Problem war, dass unter Windows vs Linux Pfade unterschiedlich sind - kennt man ja, Blöder Weise war hier ein Namespace betroffen, der nicht richtig behandelt wurde. Es kann sein, dass das Problem auch noch an anderen Stellen auftritt, das schaue ich mir noch an.

[2018-06-01 20:08] #368 closed, assigned to chriskonnertz

[2018-06-01 20:09] chriskonnertz commented on #360
Hello,

please
1) Per console run `php composer.phar dumpautoload`
2) https://github.com/Contentify/Contentify/commit/cdbfeb6fce3d0b5a0f82b5595203cd3c32a766f1

[2018-06-01 20:09] #360 closed, assigned to chriskonnertz

[2018-06-01 20:10] chriskonnertz commented on #359
Hello,

please run `php composer.phar dumpautoload` per console.

[2018-06-01 20:10] #359 closed, assigned to chriskonnertz

[2018-06-01 20:11] #356 closed, assigned to chriskonnertz

[2018-06-01 20:11] #351 closed, assigned to chriskonnertz

[2018-06-01 20:12] chriskonnertz commented on #354
=> https://github.com/Contentify/Contentify/issues/365

[2018-06-01 20:12] #354 closed, assigned to chriskonnertz

[2018-06-01 20:13] #355 closed, assigned to chriskonnertz

[2018-06-01 20:14] chriskonnertz commented on #350
Plus composer dumpautoload!

[2018-06-01 20:15] chriskonnertz commented on #346
Solution: https://github.com/Contentify/Contentify/issues/360

[2018-06-01 20:15] #346 closed, assigned to chriskonnertz

[2018-06-01 20:16] chriskonnertz commented on #367
Hello,

I will check this.

[2018-06-02 12:27] jonatant opened #370 "Error: Request failed. Code: 500. Message: "Internal Server Error""
I'm trying to create comment and i'm getting error

Contentify 2.4

[2018-06-03 07:58] Mrciller opened #371 "Error after installation"
****

2/2) ErrorExceptioninclude(/var/www/html/vendor/composer/../../app/Modules/Partners/Partnercat.php): failed to open stream: No such file or directory (View: /var/www/html/app/Modules/MorpheusTheme/Resources/Views/layout.blade.php)
--
in ClassLoader.php (line 444)
at CompilerEngine->handleViewException(object(ErrorException), 1)in PhpEngine.php (line 44)
at PhpEngine->evaluatePath('/var/www/h

[2018-06-03 09:38] kamohy commented on #366
@chriskonnertz hast d die neuerungen ins update mit eingesetzt ?
und in der neuinstall ?

[2018-06-03 15:18] chriskonnertz commented on #356
Hello,

I faced this exception as well. For my setup (Linux, Apache, PHP 7) the solution was:
`sudo apt-get install php7.0-xml`

[2018-06-03 15:34] chriskonnertz commented on #370
Hello,

I can confirm the existence of this bug. There is another, hidden error message which is: ""Cannot create comment. The text field is required." However, the text is part of the request so I need to investigate what the real reason for this error is.

[2018-06-03 15:37] chriskonnertz commented on #356
This is strange, the text is lost during the request...

[2018-06-03 15:55] chriskonnertz commented on #370
Got it. https://github.com/Contentify/Contentify/commit/c30c4e1df0b97b7c590379425a5fdfed6409dc11

[2018-06-03 15:55] #370 closed, assigned to chriskonnertz

[2018-06-03 16:20] chriskonnertz commented on #366
Ja habe ich soeben gemacht.

[2018-06-03 16:21] chriskonnertz commented on #367
Yep, I get this error as well.

[2018-06-03 16:25] chriskonnertz commented on #367
Fixed: https://github.com/Contentify/Contentify/commit/1f224e920714805c270f076b530b439bcc4259b1

[2018-06-03 16:25] #367 closed, assigned to chriskonnertz

[2018-06-03 16:26] chriskonnertz commented on #371
=> https://github.com/Contentify/Contentify/issues/360#issuecomment-393995636

[2018-06-03 16:26] #371 closed, assigned to chriskonnertz

[2018-06-03 16:44] Mrciller opened #372 "Cash-Flow funktioniert nicht"
(2/2) QueryExceptionSQLSTATE[42S22]: Column not found: 1054 Unknown column 'integer_revenues' in 'field list' (SQL: select sum(`integer_revenues`) as aggregate from `cash_flows` where `cash_flows`.`deleted_at` is null)
--
in Connection.php (line 647)
at Connection->runQueryCallback('select sum(`integer_revenues`) as aggregate from `cash_flows` where `cash_flows`.`deleted_at` is null', array(),obje

[2018-06-03 17:25] kamohy commented on #366
sehr gut, danke *redownload startet* :D

[2018-06-03 18:42] chriskonnertz commented on #372
Hallo,

kein Problem, du nervst nicht. Es ist gut, wenn solche Meldungen kommen! Nur bekannte Bugs können auch gefixt werden.

In diesem Fall hast du Glück, wurde vorhin gefixt: https://github.com/Contentify/Contentify/issues/367

[2018-06-03 18:42] #372 closed, assigned to chriskonnertz

[2018-06-03 18:43] chriskonnertz commented on #372
Ich lasse Issues meistens lange offen aber es haben sich derzeit wieder sehr viele angestaut, daher mache ich sie im Moment schnell zu um ein bisschen aufzuräumen. :)

[2018-06-03 18:45] chriskonnertz commented on #372
72 sind noch offen und das sieht für mich nicht besonders gut aus, wenn man jetzt zum ersten mal reinschaut denkt man halt dass sich um die Issues nicht gekümmert wird. Der ein oder andere wird jetzt mit den Augen rollen und denken, dass da auch was drin ist. Aber da kennt man auch noch ganz andere Zustände, wo wirklich sich gar nicht mehr gekümmert wird und einfache Fragen auch nach einem Jahr no

[2018-06-03 18:46] chriskonnertz commented on #372
Hier ist es eher so, die Verfügbare Zeit muss aufgeteilt werden und da müssen die Issues manchmal etwas warten.

[2018-06-03 18:48] chriskonnertz commented on #345
Closed. If you have the problem again, please let me know.

[2018-06-03 18:48] #345 closed, assigned to chriskonnertz

[2018-06-03 18:49] chriskonnertz commented on #333
*Push*

[2018-06-03 18:50] #330 closed, assigned to chriskonnertz

[2018-06-03 18:53] chriskonnertz commented on #317
Hello,

final statement: Yes, you are right demanding support for other DBMS. However, this has a pretty low priority. So this is not a scheduled task.

If you do not want to use MySQL, there is still MariaDB.

Nevertheless, thank you for the feedback! So now I know there is someone interested in a wider DBMS support.

[2018-06-03 18:53] #317 closed, assigned to chriskonnertz

[2018-06-03 18:56] Mrciller commented on #372
muss ich es dann neuinstallieren oder wie?

[2018-06-03 18:57] chriskonnertz commented on #319
Hello,

it is hard to help you in this case, since this seems to be an issue specifically of your server environment.

Did you changed the permissions of the `public` directory and of all sub directories? This is important and if you change the permission via console you have to use the `-R` parameter (r=recursive).: `chmod -R 700 /foo/bar`

[2018-06-03 18:59] #339 closed, assigned to chriskonnertz

[2018-06-03 19:00] chriskonnertz commented on #315
Hey, wenn bei dir 2.4 hoffentlich nun läuft könntest du mal in den Einstellungen das "LESS kompilieren" testen, weil dann kann man hier eventuell mal zu machen :)

[2018-06-03 19:08] chriskonnertz commented on #372
Nein, nur die Spalten in der Datenbanktabelle umbenennen. ( Mit phpMyAdmin oder dergleichen )

[2018-06-03 19:08] Mrciller commented on #372
und dass gleiche ist auch bei news

[2018-06-03 19:16] Mrciller commented on #372
bei mir kommen jetzt bei vielen Sachen errors

creates kommen error (zB faw oder cash-flow create)

error sieht so aus

(1/1) InvalidArgumentExceptionView [admin_news_form] not found.
--
in FileViewFinder.php (line 137)
at FileViewFinder->findInPaths('admin_news_form', array('/var/www/html/app/Modules/News/Resources/Views'))in FileViewFinder.php (line 92)
at FileViewFinder->findNamespacedView('new

[2018-06-03 20:34] chriskonnertz commented on #372
Hm... das sollte eigentlich behoben sein.

[2018-06-04 07:37] jonatant opened #373 "Comments writing, error: Error: Request failed. Code: 400. Message: "Bad Request""
Hi again. Previously i got same bug, but my issue is closed with your bugfix. I try to fix like u posted by bugfix. But same problem, cannot create comment. I tryed with empty form and fill it, same thing and same error: Error: Request failed. Code: 400. Message: "Bad Request".

[2018-06-04 19:17] chriskonnertz commented on #373
Hello,

please try another browser, it might be just a cache problem.

[2018-06-04 20:07] jonatant commented on #373
@chriskonnertz yeah, tried with Chrome and works fine. But why with opera getting error message?

[2018-06-04 22:03] chriskonnertz commented on #373
I use Opera as well and it worked with it. Please try Shift+F5 to enforce reloading of all JavaScript files.

[2018-06-05 05:36] jonatant commented on #373
Thanks @chriskonnertz SHIFT+F5 fixed that! Love this CMS <3

[2018-06-05 09:40] jonatant commented on #373
Another question for u @chriskonnertz i made little update for video module, and now then i'm using search i'm getting error: `Error: Controller "App\Modules\Videos\Http\Controllers\VideosController" does not implement the GlobalSearchInterface. You have to implement this interface if you want this controller to be searchable.` do u know what's wrong? :)

[2018-06-05 10:43] andakawa commented on #366
@chriskonnertz hast du zufällig eine übersicht mit den fixes geschrieben? ich würde gerne vermeiden, dass ich jetzt deine fixes übertrage und es dann konflikte gitb da ich selbst welche vorgenommen habe :) Lg

[2018-06-05 11:03] kamohy commented on #365
nach deinstallation und neuer installationsversuch:
https://kamohy.de/install?step=3

geht immer noch nicht :-/

` (1/1) ErrorException
is_executable(): open_basedir restriction in effect. File(/opt/php-7.1/bin/php) is not within the allowed path(s): (/var/www/clients/client4/web24/web:/var/www/clients/client4/web24/private:/var/www/clients/client4/web24/tmp:/var/www/kamohy.de/web:/srv/www/kamohy.

[2018-06-05 12:19] GaneshKandu opened #374 "Installation in Sub-Directory of webroot"
Hi,

I want to install Contentify in Sub-Directory not in web-root as there are some other installation all ready exist in web-root
**ie.**

**PATH** /public_html/Sub-Directory/Contentify-installed-here ```public_html is web-root here```
**URL**   http://mydomain.com/Sub-Directory/Contentify-installed-here/public

but config file is .ini file which is web accessible and downloadable

Any solution

[2018-06-05 14:22] jonatant commented on #374
@GaneshKandu create virtualhost

[2018-06-05 14:49] andakawa commented on #373
Hi,
I just encountered a similar problem (using 2.4).
When writing comments I get the Server Errror 500 and I was unable to solve this atm.

I currently don't know where to look at in order to try to fix that. Any hints?

[2018-06-05 15:13] GaneshKandu commented on #374
Hi, i am using shared hosting
i cant create virtualhost

[2018-06-05 15:17] andakawa commented on #365
@kamohy in der httpd.conf open_basedir auf none setzen (alternativ auch in der php.ini, je nach umgebung)

[2018-06-05 15:23] chriskonnertz commented on #373
@andakawa Did you apply this change to your installation? https://github.com/Contentify/Contentify/commit/c30c4e1df0b97b7c590379425a5fdfed6409dc11

[2018-06-05 17:07] kamohy commented on #365
@pega16 besteht die möglichkeit oder schalten wir damit irwas ab was aufm server gebraucht wird ?

[2018-06-05 19:09] Pega16 commented on #365
@kamohy das ist kein Problem, entzieht sich aber meiner Logik, da dieser Pfad erstens nicht existent und zweitens nicht genutzt ist... aber naja... ich machs mal und Du testest es erneut...

**Allerdings sehe ich ernsthaft KEINEN SINN darin, das zu aktivieren, um es dann zu deaktivieren, denn per Standard ist open_basedir deaktiviert!**

*Zur Erklärung:
Auf meinem Server gibt es kein open_basedir.

[2018-06-05 19:10] kamohy commented on #365
sehr verwunderlich :-/

[2018-06-05 19:26] Pega16 commented on #365
Kurz noch ein kleiner Nachtrag als eigener Comment @chriskonnertz
open_basedir ist seit PHP 5.3.0 per Standard DEAKTIVIERT... die Einstellung gibt es seit dem nicht mehr... man KÖNNTE sie dazu basteln, wenn man sie bräuchte, aber es wird auch von php.net strengstens davor gewarnt, dies zu nutzen, da ein Eintrag dort volle Lese- und Schreibrechte auf alle im angegebenen Verzeichnis liegenden Dateie

[2018-06-06 09:47] jonatant opened #375 "Forum bug (2/2) NotFoundHttpException No query results for model [App\Modules\Forums\ForumPost] 18"
Hi. I created a new forum topic, and now trying delete. Getting error:

[code]

Move, set sticky works fine.

[2018-06-06 16:48] andakawa commented on #374
It should work fine if your provider offers the php extentions. You will maybe get an error attempting to initially install the cms regarding a connection limit. If you comment that line out you'll be able the install it.

[2018-06-06 16:51] andakawa commented on #373
@chriskonnertz Unfortunately not since the cms magically stopped working after one of the admins on our page cleared the cache via the admin backend so I'll have to install the cms again - but this time I can use the fixed release. I'll keep you updated :) But if there's one more big failure I'll have to move to DigitalOcean :D

(the error: every link stopped working, some links on the mainpage ga

[2018-06-06 17:21] kamohy commented on #365
so, mit der grundinstall 2.3 und dann 2.4 update, sowie ein paar kleinen änderungen, ging es nun.
allerdings geht durch open_basedir weder: cache leeren noch less kompelieren.
er versucht weiterhin den pfad: /opt/php-7.1/bin/php...

warum die install selbst von 2.4 nicht geht liegt übrigens am selben pfad...

[2018-06-06 17:25] kamohy commented on #365
so trotz update fehler gefunden :-S
befasse mich morgen etwas exersiver damit...

[2018-06-07 09:40] GaneshKandu commented on #374
I have installed Contentify
there is no problem in installation
my point is its not safe if i am installing Contentify in Sub-Directory because .ini file web accessible
and any one can download .ini file just by hitting url

[2018-06-07 09:46] chriskonnertz commented on #374
Hello,

the solution is a `.htaccess` file that protects the folder. I recommend googling for a tutorial or looking around here in the issue section, for example: https://github.com/Contentify/Contentify/issues/80#issuecomment-258619915

[2018-06-07 10:32] Pega16 commented on #365
@chriskonnertz Das Problem scheint nicht open_basedir zu sein, sondern tatsächlich der Fakt, dass irgendwas in Contentify die Nutzung der "einfachen Beeinflussung" nehmen möchte, wie sie früher mal genutzt wurde...

Da open_basedir inzwischen aus Sicherheitsgründen schon seit ein paar PHP-Versionen standardmäßig "denied" ist, läuft contentify da in einen Fehler...

Einen Beispielcode (NICHT aus Co

[2018-06-07 10:51] kamohy commented on #352
sooo, habe es nun auch geschafft mal ein update zumachen
allerdings gibt es hier wieder datenbank-fehler
habe die datenbank angepasst und schon kam der nächste fehler
um pages aufzurufen braucht er TABLE pagecats
um eine page zu erstellen aber page_cats (ein fehler den ich gefunden habe)
bedeutet ich durchforste heut abend oder am we abends jetzt mal das ganze system
versuche auch das open_basedir

[2018-06-07 11:00] GaneshKandu commented on #374
Ok! Thanks @chriskonnertz
[code]
works

[2018-06-07 11:00] #374 closed, assigned to chriskonnertz

[2018-06-12 14:42] khalifaone opened #376 "Steam Auth Error"
Hello! I have this error at steam auth. I decide to open Register with Steam because we need for CSGO Tournaments this option. But i can't use it. I will attach here an image with error and a little part of error code.

in SteamAuth.php line 205
at HandleExceptions->handleError('8', 'Undefined offset: 1', '/var/www/html/vendor/invisnik/laravel-steam-auth/src/SteamAuth.php', '205', array('matches'

[2018-06-12 21:55] chriskonnertz commented on #376
Hello,

I will check this tomorrow.

[2018-06-13 07:48] GaneshKandu commented on #374
It's a best to make ```.php``` file instead of ```.ini ``` .htaccess will not works in Nginx server
in My case its working but still

[2018-06-15 10:28] khalifaone commented on #376
Any news? 👯

[2018-06-15 13:46] jonatant opened #377 "Banned user still can login"
Hello. I banned 1 user from admin CP. And he is still can write forum topics, write comments and still can login. :)

[2018-06-16 19:14] iktray opened #378 "Position Bug"
There is a Position bug when trying to organize things.

[2018-06-17 13:54] chriskonnertz commented on #378
Hello,

thank you for reporting this bug. However, your description is a bit vague. It would be great if you add a screenshot or a more detailed text.

[2018-06-17 21:26] iktray commented on #378
**

**
![image](https://user-images.githubusercontent.com/30093468/41512234-5e15eb78-7253-11e8-80df-2b2a5889cb3a.png)
![image](https://user-images.githubusercontent.com/30093468/41512252-80b3b052-7253-11e8-8deb-9c0531839061.png)

[2018-06-18 17:12] iktray opened #379 "Image size position bug"
![image](https://user-images.githubusercontent.com/30093468/41551176-1d97cdb8-72f9-11e8-8ff7-9ddbf1d4f113.png)

[2018-06-19 09:57] GaneshKandu opened #380 "Getting Error while installing Contentify 2.4"
#### I am Getting Error while installing Contentify 2.4
Getting this error on button click of database fill up step

Contentify 2.4 trying to get database details for table creation and insertion from ```database.ini``` which is field with default value

you should update ```database.ini``` first before table creation and insertion while install so that Contentify 2.2 can connect with right databa

[2018-06-19 10:08] GaneshKandu commented on #380
#### Contentify 2.4

Laravel Log --> [laravel.log](https://github.com/Contentify/Contentify/files/2114779/laravel.log)

![screenshot-webuzo web-2018-06-19-15-33-50](https://user-images.githubusercontent.com/12833130/41591185-8aa044c6-73a8-11e8-8c4f-dca62a80aaf0.png)

[2018-06-19 18:26] chriskonnertz commented on #379
Hello,

uhrgs... yep, that should not happen. Thank you for reporting the bug.

However, I am a bit confused why this happened. There should be CSS code that limits the size of images:
[code]

This style should be active in all versions of Contentify.

Did you apply any custom CSS code to this image?

[2018-06-19 20:09] chriskonnertz commented on #380
Hello,

seems like my comment disappeared...

So, again: Thank you for creating this issue. So the database credentials in the `storage/app/databse.ini` are correct?

[2018-06-19 20:33] iktray commented on #379
No, I didn't.

[2018-06-20 01:58] iktray opened #381 "Fix Advertisements No Show Bug"
The Advertisements don't show on the website.

[2018-06-20 03:55] GaneshKandu commented on #380
yes, credentials  are correct in ```storage/app/databse.ini```
but my database credentials are different from default value in ```storage/app/databse.ini```
[code]

[2018-06-20 10:20] kamohy commented on #365
Hallo @chriskonnertz hast du das open_basedir fixen können ?
Würde mich über ein update freuen.

[2018-06-20 18:54] chriskonnertz commented on #380
What part is different? Do you have a special port? You can change the port in this file: https://github.com/Contentify/Contentify/blob/v2.4/config/database.php#L45

[2018-06-21 03:24] iktray opened #382 "Bugs/Features Requests For 2.5 Update!"
**I LOVE CONTENTIFY!!**
Let me know if anything I can do to support.

- Twitch stream bug.
- Position rearrange bug.
- Rest password bug.
- Advertisement no show bug.
- Have the option to remove accounts.
- Fix the files names to lowercase.
- Fix Navigations bug.
- Add description to the site(SEO FRIENDLY).
- New 404/Error page.
- New Forum UI design.
- New messages and friends UI design.
- Possib

[2018-06-21 03:56] GaneshKandu commented on #380
No i don't have special port i am using default port 3306

[2018-06-21 10:00] GaneshKandu commented on #380
Did you able to reproduce ?  i got solution of it

[2018-06-21 10:56] GaneshKandu opened #384 "failed to open stream no such file or directory"
Hi,
Getting following error after install

**failed to open stream no such file or directory**

i think issue is Contentify trying to include some file which is present at the location but not in same case
will work in `windows` but not on `linux` as its case sensitive

**Pagecat > PageCat**
![screenshot-webuzo web-2018-06-21-15-37-29](https://user-images.githubusercontent.com/12833130/41714895-4a

[2018-06-21 10:59] GaneshKandu commented on #384
i found only three may be there are more

[2018-06-21 14:28] iktray commented on #384
Rename it to "Advertcat.php", "Partnercat.php", and "Pagecat.php".

[2018-06-21 15:03] GaneshKandu commented on #384
they should change in package

[2018-06-21 16:03] RaceTubeGermany opened #385 "Contentify Error - NotFoundHttpException in RouteCollection.php line 161:"
Hello guys, i hope you can help me. I install contentify CMS 2.4 and it works fine.
But i have issus at the user registration.

this is the error code:

 1.  in RouteCollection.php line 161
 2.  at RouteCollection->match(object(Request)) in Router.php line 766
 3.  at Router->findRoute(object(Request)) in Router.php line 621
 4.  at Router->dispatchToRoute(object(Request)) in Router.php line 607

[2018-06-21 17:03] chriskonnertz commented on #379
Please open the website in your browser, then open the browser, then open "page" and then "save as" (these steps might differ a bit depending on your browser) to save the website as a HTML file. Then send this file (or the file and the folder if there is a also folder) to `contentifycms [at] gmail [dot] com`. Then I can debug it.

[2018-06-21 17:07] chriskonnertz commented on #385
Hello,

please compare your `app/Modules/Auth/Http/web.php` file with https://github.com/Contentify/Contentify/blob/2.4/app/Modules/Auth/Http/web.php . For example you can do this online with this tool: https://www.diffchecker.com/
There should not be any difference. If there is a difference, please copy + paste the code of the linked file, because it is newer and should fix the bug.

[2018-06-21 17:10] chriskonnertz commented on #384
Hello,

thank you for creating the issue. Solution: https://github.com/Contentify/Contentify/issues/360#issuecomment-393995636

Yes you are right, this should be changed in the .zip file.

[2018-06-21 17:22] chriskonnertz commented on #376
Hello,

sorry, no news. What you can do is, you can run `php composer.phar update` via console/terminal. But you really should backup your files before doing so, because this can cause new errors. What this command does is updating the third party libraries. Contentify uses a third party library to connect with Steam, so an update might help. However, this can also cause new problems.

[2018-06-21 17:27] chriskonnertz commented on #365
Leider noch nicht. Werde aber versuchen mich jetzt wieder verstärkt durch die offenen Bug-Tickets zu arbeiten.

[2018-06-21 17:48] RaceTubeGermany commented on #385
Thanks a lot.

You are the best !!!!

Solved

[2018-06-21 18:51] #385 closed, assigned to chriskonnertz

[2018-06-21 20:00] RaceTubeGermany opened #386 "Erstellen einer Forums nicht möglich / Cant Create Forum"
Hallo,

leider ist es in Contentify nicht möglich ein Forum zu erstellen.
Fehler: forum id muss eine ganze Zahl sein

Es gibt keine Eingabe einer ID:

-------------------------------------------------------------------------

Hello,

Unfortunately it is not possible to create a forum in Contentify.
Error: forum id must be an integer

There is no input of an ID:

Danke für Eure Hilfe / Thanks for y

[2018-06-21 20:03] RaceTubeGermany opened #387 "Fehler beim Erstellen einer Seite"
Hallo,

ich erhalte beim Erstellen einer Seite folgenden Fehler:

QueryException in Connection.php line 770: SQLSTATE[22007]: Invalid datetime format: 1292 Incorrect datetime value: '21.06.2018 20:00:45' for column 'published_at' at row 1 (SQL: update `pages` set `text` =

Könnt Ihr da helfen?

-------------------------------------------------------------------------

Hello,

I get the following e

[2018-06-21 20:06] RaceTubeGermany opened #388 "Öffnen einer Seite (Impressum) nicht möglich"
Hallo,

ich bin im Admincenter unter Seiten und versuche das Impressum zu öffnen und erhalte folgenden Fehler.

---------------------------------------------------------------------------------
Hello,

I am in the Admincenter under pages and try to open the imprint and get the following error.

Sorry, the page you are looking for could not be found.
2/2 NotFoundHttpException in Handler.php line 11

[2018-06-22 10:38] RaceTubeGermany opened #389 "Brauche Hilfe - Ansicht/Boxen der HP anpassen"
Hallo liebe Community,

ich möchte gerne auf meiner Homepage einige Sachen anpassen. Leider bekomme ich es selber einfach nicht hin. Oh man, wie oft ich schon das Backup wieder einspielen musste. :)

<img width="920" alt="2018-06-22 12_19_34-" src="https://user-images.githubusercontent.com/40469647/41772386-be9b6874-7618-11e8-9002-d1ce29ba5d4a.png">

Die Felder auf dem Bild (rot markiert) sollen a

[2018-06-22 11:08] RaceTubeGermany commented on #389
zu 1. konnte ich lösen.

 app / Modules / MorpheusTheme / Resources / Views / layout.blade.php

                        {{ trans('Sponsoren') }}     <----wurde hier angepasst
                        <a href="{{ url('partners') }}">{!! HTML::fontIcon('plus') !!}</a>
                    </h3>
                    @widget('Partners::Partners')

[2018-06-22 11:10] RaceTubeGermany commented on #389
ShoutBox konnte ich auch einfügen. Allerdings kann ich keinen Text in das Textfeld schreiben.

[2018-06-23 01:07] RaceTubeGermany opened #390 "Eigene Teams / Team Invite"
Hallo zusammen, habe schon die ganze Seite nach einer Info abgesucht aber nichts gefunden.

Die Option auf der Seite, das jeder User sein Team erstellen kann ist echt top.
Nur das Problem ist, ich finde nicht, wo ein User einen weiteren User in das Team einladen/hinzufügen kann.

Beitreten scheint auch nicht zu gehen. Gibt nigends die Option.

[2018-06-23 10:28] RaceTubeGermany opened #391 "Contentify Update 2.2 -> 2.3"
Hallo Community,

ich habe das Update 2.3 ausgeführt und es lief auch sauber durch.
Wie ich es überblicken kann, wurden auch Bugs behoben.

Allerdings wird bei mir noch die Version 2.2 im Admin Pannel angezeigt.

Ich wollte nun das Update auf 2.4 durchführen. Das ist nicht möglich und ich bekomme die Meldung, das ich nur von 2.3 auf 2.4 updaten kann.

Jemand auch dieses Problem oder einen Tipp?

G

[2018-06-23 16:07] chriskonnertz commented on #391
Hallo

Okay, vermutlich hast du aber dann 2.3 und es wurde nur in der DB nicht korrekt aktualisiert. Nachschauen kannst du die Version in der Datei `config/app.php` ( https://github.com/Contentify/Contentify/blob/2.4/config/app.php#L52 ).

Schau mal in der Datenbank ob die Version auf 2.2 steht, obwohl du 2.3 hast. Dazu benötigst du ein Tool wie phpMyAdmin, damit gehst du zur Tabelle `config` und

[2018-06-23 16:14] chriskonnertz commented on #390
Hallo,

Doch die gibt es an sich, vielleicht wird sie dir nur nicht angezeigt.
1. Du musst dich auf der Seite eines Teams befinden - klar
2. Das Team darf  nicht auf unsichtbar gestellt sein (was der Fall ist wenn es gelöscht wurde)
3. Du musst eingeloggt sein
4. Du darfst noch nicht in diesem Team sein

Dann sollte ein Button erscheinen, mit dem man joinen kann. Eventuell ist es sinnvoll wenn du

[2018-06-23 16:20] chriskonnertz commented on #389
Hallo,

`{{ trans('Sponsoren') }}`

Wenn du das so machst wird es nicht übersetzt. Allerdings gibt es auch keine Übersetzung von Haus aus. Daher:
a) Einfach statt `{{ trans('Sponsoren') }}` nur `Sponsoren` ohne irgend was
b) Übersetzung einbauen in den Sprachfiles (`app.php` in den verschiedenen Sprachordnern in `resources/lang`) und dann mit `{{ trans('app.sponsors') }}` darauf zugreifen.

Eingel

[2018-06-23 16:21] chriskonnertz commented on #388
Hallo,

ist das mit einer älteren Version als 2.4? Das sollte in 2.4 behoben sein. Oder auch schon mit 2.3, glaube der Bug trat in 2.2 auf.

[2018-06-23 16:22] chriskonnertz commented on #386
Hallo,

wie schon beim Impressum: Ich glaube das ist ein alter Bug in einer älteren Version von Contentify, inzwischen sollte das gefixt sein.

[2018-06-23 16:26] chriskonnertz commented on #377
Hello,

okay, that's a problem. Quick solution: Delete the user account.

[2018-06-23 16:27] chriskonnertz commented on #382
Hello,

Thanks! :)

Did you find all these bugs in v2.4?

[2018-06-24 08:02] RaceTubeGermany commented on #390
Hall,

vielen Dank für die schnelle Antwort. Scheint nicht zu klappen oder ich mache etwas falsch.

1. Team Bereich den ich meine
<img width="99" alt="2018-06-24 09_58_13-rtg esports - racetube germany" src="https://user-images.githubusercontent.com/40469647/41817138-62db4e4a-7795-11e8-8615-f69d6433ec11.png">
2. Neues Team erstellen
<img width="159" alt="2018-06-24 09_58_24-teams - racetube german

[2018-06-24 09:00] RaceTubeGermany commented on #390
Neue Info, wenn ich ein Team erstelle, kann ich es mit einem anderen User über die suche finden.
Dazu muss ich den exakten namen eingeben.

Das ist für die User aber nicht so komfortabel.
Es müsste eine Box (Widget) oder Seite geben, wo diese angezeigt werden.

Gibt es da sowas oder kann das jemand bauen?

[2018-06-24 10:35] #387 closed, assigned to chriskonnertz

[2018-06-24 10:35] #386 closed, assigned to chriskonnertz

[2018-06-24 10:36] #388 closed, assigned to chriskonnertz

[2018-06-24 10:36] #389 closed, assigned to chriskonnertz

[2018-06-24 11:17] RaceTubeGermany commented on #390
Team Beitritt hat nun geklappt. mache für weitere Fragen ein neuse Thema auf. Passt dann besser.

Danke Dir !!!

[2018-06-24 11:17] #390 closed, assigned to chriskonnertz

[2018-06-24 11:20] RaceTubeGermany opened #392 "User Teams in einer Box (Widget anzeigen"
Zuerst, danke an den Supper Support von Contentify. Mega gut.

Nun zu meiner nächsten Frage an Euch.

Ich benötige eine Box (Widget) und eine Seite, wo alle von den Usern angelegten Teams angezeigt werden.
Leider bin ich trotz probieren nicht in der Lage mir das zu bauen. Da frage ich lieber mal die Pros von Euch.

Wer kann mir so eine Box (Widget erstellen, damit die ganzen User auch Ihre Teams f

[2018-06-24 15:35] chriskonnertz commented on #392
Hallo,

wirklich **alle** Teams? Das können ja theoretisch hunderte sein... Stell dir mal vor du gehst auf die ESL-Website und alle von Spielern erstellte Teams werden angezeigt. Da hätte der Browser einiges zu tun ;)

[2018-06-24 15:42] RaceTubeGermany commented on #392
Hallo,

stimmt. Hatte ich gar nicht auf dem Schirm. Guter Einwand.
Damm würde eine Seite wohl mehr sin machen und über das Menü einbinden.

Hast Du eine Idee zu der Seite.

Eine weitere Idee ist das Team im Profil anzeigen zu lassen. (parallel zu einer Seite)

Aufwendig? ich bin nur in der Lage paar Sachen anzupassen...

Gruß und Danke

Dennis

[2018-06-24 15:48] RaceTubeGermany opened #393 "IDEE ZUR UMSETZUNG"
Hallo,

es wäre richtig gut wenn sich User ein Team erstellen können und man dann im Cup Modus ein Punktesystem einbauen kann, das selber eine Punktetabelle (Seite) zum Cup erstellt.

Gedacht wäre das für SimRacing. Plätze 1-10 sollen Punkte bekommen.
Müsste dann wohl über Adminpanel mit den Ergebnissen gefüttert werden.

Finde das Projekt sehr gelungen und weiß sehr zu schätzen, was Ihr/Du da bau

[2018-06-24 16:05] chriskonnertz commented on #392
Hab das mal eingebaut, die Seite wird allerdings nirgendwo verlinkt d. h. du musst die selber irgendwo verlinken.
https://github.com/Contentify/Contentify/commit/28978e4d2614ad324365c6869f9b494d9f15984a

Ich hab das jetzt nicht groß getestet, aber im Schnelltest funktionierte es.

PS Hab noch was vergessen: https://github.com/Contentify/Contentify/commit/39a13d6c76011752c3f2b73186ec0d8b5e33224a

[2018-06-24 17:11] chriskonnertz commented on #376
Hello,

tested it (finally). It worked. Do you use v2.4?

[2018-06-24 17:12] chriskonnertz commented on #381
Hello,

- Which version of Contentify do you use?
- Do  you have the lastest version of the main template of the theme you use? Maybe you did some customization and therefore do not have the latest version that includes the advertisement widgets? I mean this template: `app/Modules/<THEME-NAME>/Resources/Views/layout.blade.php`
- Do you use the "Default" category for your advertisements? Because pe