[2018-06-24 17:13] RaceTubeGermany commented on #392
Hab das mal eingebaut, die Seite wird allerdings nirgendwo verlinkt d. h. du musst die selber irgendwo verlinken.
28978e4

Habe das nun gemacht. Klappt auch. Nur besteht nun das problem, das unten rechts meine Teams nicht mehr geht und umbenannt werden muss.
sollte nun zur seite gehen

[2018-06-24 17:19] chriskonnertz commented on #379
I somehow need to get access to your website to debug the issue, because I have no explanation why this happens. So you have to send it to me via email or something else.

[2018-06-24 18:06] RaceTubeGermany commented on #392
Weiter ist mir aufgefallen, das immer nur ein Team angezeigt wird und man muss blättern.
Wie macht man denn mehr auf eine seite. so wie bei den usern in der Ansicht.

[2018-06-25 02:54] iktray commented on #382
Yes.

[2018-06-25 08:57] jonatant commented on #377
I just made a little code edit. I check if user creating forum threads, comments, and etc are not banned. :) if they banned they cannot create any things.

[2018-06-25 10:57] Shiffed commented on #372
I am also having the (1/1) InvalidArgumentExceptionView [admin_news_form] not found after fresh installation of 2.4

[2018-06-25 13:53] kamohy opened #394 "User-profil-erweitern"
Moin, ich hab mal ein bisschen gebastelt (deathkings.de)
und stehe nun vor einem Prob., nämlich, das einträge nicht gespeichert werden.
ich hab die DB entsprechend erweitert.
hab die Felder im code erzeugt.
Jedoch gehe ich auf Update is das Feld wieder leer.
Bisher hab ich das nur mit dem Feld PSN und eigentlich sollen noch mehr felder kommen.
Jedoch erst wenn der Fehler gefixt wurde. Kannst du mi

[2018-06-29 16:05] khalifaone commented on #376
No, i have an error when i try to update at 2.4 :(. Something about users tabble from phpmyadmin

[2018-07-01 18:36] mrc4tt opened #395 "Matches."
Hi.

So soon i try make "Matches" or just  only clicking on "Matches"

I getting this error:

What can i do?

[2018-07-01 20:24] chriskonnertz commented on #395
Hello,

1. Go to th teams section. Ensure there is at least one team that is a "gaming" team.
2. You could turn on the debug mode, then you will see the error message. Or take a look at the error log file: `storage/log/laravel.log`

[2018-07-01 20:34] chriskonnertz commented on #376
Okay, one possible soultion might be:
1) Make a backup of the files of your current installation
2) Install a fresh copy of 2.4 somewhere
3) Delete the `vendor/invisnik` folder (this is the PHP library that connects with Steam) in your _old_ installation
4) Copy the `vendor/invisnik` from the new _old_ installation to the old one
5) Same procedure with `app/Modules/auth`
6) Test the old installati

[2018-07-01 21:02] mrc4tt commented on #395
@chriskonnertz

Seems i found the error in log:
`[2018-07-01 23:01:52] production.ERROR: ErrorException: sizeof(): Parameter must be an array or an object that implements Countable in /var/www/beta/contentify/ModelHandler.php`

[2018-07-04 18:45] davidllauce opened #396 "Create servers games"
Hello, in the server part, ask for the IP of the server. This means that the contentify can create the lobby automatically if it were for Dota 2. I could explain how the tournaments, the cups and the server works in contentify. Thank you very much.

[2018-07-05 19:41] chriskonnertz commented on #396
Hello,

thank you for creating this issue. I am not sure what you mean when you talk about "the server part", because in the server moduel there already is support for the IP:

![edit_server](https://user-images.githubusercontent.com/4319323/42344309-36d94774-809c-11e8-8eec-82dd60fc5283.jpg)

[2018-07-05 19:47] chriskonnertz commented on #395
I assume this is just a test installtion? It would be great if you send me a dump of your database so I might be able to reproduce this potential bug. EmaiL `contentifycms@gmail.com`

[2018-07-05 20:00] davidllauce commented on #396
Thank you very much for your reply. I want to know if Contentify can create the game lobby automatically by registering the server IP.
Or maybe you know an API that can do this job

[2018-07-05 20:21] mrc4tt commented on #395
@chriskonnertz I dont understand, why it show this:
[code]

If i clicking "Matches" > and i have disabled debug.
app.php:
[code]

So what. can i do?

[2018-07-06 06:44] iktray opened #397 "How to remove the grayness in Phobos Theme?"
![image](https://user-images.githubusercontent.com/30093468/42363617-49cc6652-80c6-11e8-85f0-b776df23323a.png)

[2018-07-06 10:40] ApertureDevelopment opened #398 "[Bug] Errors everywhere. Nothing works at all."
So I installed this for a friend, and already at the installation I noticed that much stuff doesn't work.

The current release version has errors with the apache_get_modules function, which is disabled due to security reasons, the script wants access to the php main directory, which a php script NEVER should have access to. And after I gave him all this, I just get that:

![screenshot 480](https:/

[2018-07-06 10:46] ApertureDevelopment commented on #398
Ok I found the mistake. Ever heard of case sensitive?

Apperently not

[2018-07-06 12:56] chriskonnertz commented on #398
Hello

Contentify is an open source software without any funding or commercial background (currently at least). Creating and maintaining an entire CMS usually keeps whole companies busy over years, costing up to millions of dollars / euros. Lacking these means you have to try to find smart cutoffs.

This is why Contentify has zero tests (automatic tests via PHPUnit etc.) and this is why there is n

[2018-07-06 12:56] #398 closed, assigned to chriskonnertz

[2018-07-06 13:00] chriskonnertz commented on #398
Closing this one. Please stick to constructional criticism if you want to get help.

[2018-07-06 13:07] ApertureDevelopment commented on #398
The fact that you say "Developt on Windows" shows me that you have no idea. Case Sensivity is something that everyone should follow, and I am sorry that you don't see that.

Here your critic:

First: apache_get_modules is a security issue and by default on most webservers disabled
Second: Your installer ignores the entry at the MySQL data and tries as root anyways, you have to reload the page and

[2018-07-06 13:12] ApertureDevelopment commented on #398
And also thank you for being in the EU and not following the laws.

Read it up kiddo: DSGVO

[2018-07-06 13:24] ApertureDevelopment commented on #398
Oh also btw WoltLab and WordPress are also Open Source and they have way more features.

[2018-07-06 13:26] chriskonnertz commented on #398
Another afront, and again you do not care about the reasons. Ofcourse every developer who creates software that typically runs on a Linux OS has to know about the important differences between the target OS and the development OS. Thus however does not guarantee no typos etc are made. Take a look at your own quote, you quoted me wrong ("Develo**pt**"). Nothing else happened @ Contentify. A stupid

[2018-07-06 13:29] ApertureDevelopment commented on #398
But whatever, I will fork it, exchange it and do a pull request. Is that enough Constructive critic for you?

[2018-07-06 13:37] MrFoxyOfficial commented on #382
Hello.

Any info regarding this bugs?

[2018-07-06 13:39] MrFoxyOfficial opened #399 "Twitch streams not showing at all"
Hello.

Upon checking the streams today, i see that nothing appears. Not even a player, showing them or who they host.

Is it a bug or error on my side.

Please find the attached pictures on how it looks like:

![image](https://user-images.githubusercontent.com/1783339/42381803-868e1f88-8132-11e8-8b42-f6646541e952.png)

![image](https://user-images.githubusercontent.com/1783339/42381867-be1ff412-8

[2018-07-06 13:39] ApertureDevelopment commented on #398
Good. Whatever. I don't care. I am not a user of this, a friend asked me to setup it for him and I said yes and since 24 hours I just have problems. I fixed it now, you know about the Case Sensivity error, I don't care about anything else.

[2018-07-06 13:42] MrFoxyOfficial commented on #397
You mean the navigation bar?

[2018-07-06 16:15] chriskonnertz commented on #398
Thank you, for reporting the issues and giving explanations why they are issues.

Believe it or not, I understand why you are upset. I work as a professional software developer and I’d be very upset if a software that I have bought does not work. But that is the point, this is not the case here. The only “payment” is... if some say “thank you”, I guess. Getting negative feedback is okay but it is

[2018-07-06 19:05] chriskonnertz commented on #397
Hello,

in v2.4:

1. Open `app/Modules/PhobosTheme/Resources/Assets/less/frontend.less` with a text editor
2. Go to line 721 and remove this code: `filter: grayscale(1) brightness(0.4); -webkit-filter: grayscale(1) brightness(0.4); `
3. Go to the website, log in, got to the backend, go to the config page, then click on the "Compile LESS" button.

@FoxyWhite2541

I guess ikTray is talking about the

[2018-07-06 19:12] chriskonnertz commented on #399
Hello,

I got an email from another person describing the same or a very similar problem. I'll take a look at it.

Here is something I wrote to this person:

You do not have to do anything with PHP, only set up the cron job in your operation system (Linux): https://github.com/Contentify/Contentify/wiki/Installation#create-cron-job

But I believe that is not the (whole) solution.

[2018-07-06 19:20] PapyOak commented on #399
The solution with crontab works well but you need to launch at least one stream before have a stream visualization.

[2018-07-06 19:23] chriskonnertz commented on #398
Sorry for being a bit harsh. It was just that the tone of your second and third post was quite unfriendly.

Honestly, Contentify cannot reach the same high quality level as for example WordPress. WP has a huge community and lots of contributors plus a strong commercial background. None of these is true for Contentify. Therefore, it has no ads ad all, nowhere at all (except of some recommendations

[2018-07-06 19:38] chriskonnertz commented on #395
Turn on the debug mode:
`'debug' => env('APP_DEBUG', false),`
Then try again and you should get a detailled error message.
Then copy it and paste it here.
Then deactivate the debug mode again.

[2018-07-06 19:39] chriskonnertz commented on #395
This is for security reasons. If the debug mode is turned off (it should be turned off usually) then none error descripitions will be displayed to make it more difficult to attack the website.

[2018-07-06 19:53] mrc4tt commented on #395
Hey @chriskonnertz - screenshot here.

![](https://i.gyazo.com/f312d75da719791769075423d4042ad2.png)

[2018-07-07 00:25] Shiffed commented on #399
I have managed to finally get the Cron Job working for mine but when clicking on a Stream from the sidebar and it taking me to the page for it, the embed does not work.
Using Chrome's 'Inspect' I have found this error

`Refused to display 'https://www.twitch.tv/MyTwitchChannel/embed' in a frame because it set 'X-Frame-Options' to 'sameorigin'.`

I've had a browse around the land of Google and look

[2018-07-07 08:32] iktray commented on #399
@chriskonnertz What's the best way to contact you?

[2018-07-07 09:00] chriskonnertz commented on #399
@Shiffed I‘ll take a look later today.

@ikTray Regarding Contentify topics? Via email. contact@contentify.org

[2018-07-07 11:44] chriskonnertz commented on #399
Fixed: https://github.com/Contentify/Contentify/commit/fcebeedd7b21b0dee5a99fc012dce10bf58db0c6

The embed code just needed an update.

Thank you all for reporting this issue. :)

[2018-07-07 11:44] #399 closed, assigned to chriskonnertz

[2018-07-07 11:49] PapyOak commented on #399
Works, Thank you for your support.

2018-07-07 13:44 GMT+02:00 Chris Konnertz <notifications@github.com>:

[2018-07-07 11:49] mrc4tt commented on #395
@chriskonnertz - can u check???

[2018-07-08 11:29] chriskonnertz commented on #395
Done. Did you change something in this file? `app/Modules/matche/Http/Controller/AdminMatchesController.php`? Please compare with this: https://github.com/Contentify/Contentify/blob/v2.4/app/Modules/Matches/Http/Controllers/AdminMatchesController.php

You can use this online tool to compare the files: https://www.diffchecker.com/

[2018-07-08 11:31] chriskonnertz commented on #395
If both are equal: Did you install 2.4 or upgrade to 2.4 from an older version?

Because I do not understand why/how there can be an error in line 233 of the `ModelHandler` class if you did not modify the `AdminMatchesController.php` file.

[2018-07-08 11:31] mrc4tt commented on #395
Hi @chriskonnertz - i did only installed the 2.4. ;) and i dont have modify the file. since it's give same error. i have try reinstall the database. ;/

[2018-07-08 11:34] chriskonnertz commented on #395
Ok. Well, I've added  a piece of code that should solve the problem:
https://github.com/Contentify/Contentify/commit/bcee140332116aca57e32fe5e91f0ac980d669a5

[2018-07-08 11:37] mrc4tt commented on #395
Seems it works now 👍

[2018-07-08 11:39] mrc4tt commented on #395
@chriskonnertz Seems i found more errors under admin-backend.

[2018-07-08 11:41] mrc4tt commented on #395
errors under: website > Teams > Create new.

![](https://i.gyazo.com/553a29eec32a35b06e47a78849b16e49.png)

![](https://i.gyazo.com/553a29eec32a35b06e47a78849b16e49.png)

[2018-07-08 14:49] #397 closed, assigned to chriskonnertz

[2018-07-08 14:51] chriskonnertz commented on #395
Hm, these are old errors that (should) have been fixed. It seems like one of the release .zip files is outdated. Please can you tell me where you downloaded Contentify?

Also please tell me if these changes are in your files? https://github.com/Contentify/Contentify/commit/cdbfeb6fce3d0b5a0f82b5595203cd3c32a766f1

[2018-07-08 14:55] mrc4tt commented on #395
@chriskonnertz i did downloaded from here: https://github.com/Contentify/Contentify/releases/tag/v2.4

And no! it's not changed from the https://github.com/Contentify/Contentify/commit/cdbfeb6fce3d0b5a0f82b5595203cd3c32a766f1

[2018-07-08 15:43] mrc4tt commented on #395
@chriskonnertz bug found:

Under Admin backend > Esports content > Matches > I fill anyway. but UNDER the "Match Scores" > and if i set de_dust2 and score: 16:0 >> i getting only this error: Error: Request failed.Message: "error" only that.

[2018-07-09 10:22] chriskonnertz commented on #395
Please take a look at this change: Is it in you files? https://github.com/Contentify/Contentify/commit/c30c4e1df0b97b7c590379425a5fdfed6409dc11

[2018-07-09 10:47] mrc4tt commented on #395
Hi @chriskonnertz

I have try change the file as you pointed. still didnt worked.

I'm still getting this error, so soon i have set 5:0 score about i use apply or save.. i getting same error:

`Error: Request failed.Message: "error"`

[2018-07-09 16:22] RaceTubeGermany opened #400 "Update Hilfe benötigt"
Hallo Chris,

ich benötige unbedingt Hilfe bei dem Einspielen des Updates. Ich bekomme es einfach nicht hin.
Hast Du evtl ein Tag mal Zeit mir das Update per TeamViewer einzuspielen?
Aktuell läuft Contentify noch auf der 2.2.

Habe aber bei einigen Aktionen noch Fehler drin und so macht es keinen Spaß.

Danke für Dein Feedback

[2018-07-09 17:53] chriskonnertz commented on #400
Hallo,

besteht alternativ die Möglichkeit, dass du mir die Dateien zippst und die
DB dumpst und per Email zuschickst? Kritische Daten würdest vorher entfernen,
also insbesondere User-Passwörter (Spalte in der "users"-Tabelle leeren)
und im Grunde den ganzen "public/uploads"-Ordner löschen. Ggf. außerdem
API-Keys rausnehmen (siehe "config"-Tabelle).

Dann könnte ich das in aller Ruhe auf meinem ei

[2018-07-09 18:04] chriskonnertz commented on #395
Yep, I get this error as well.

[2018-07-09 18:06] chriskonnertz commented on #395
Now it's gone. Want to know why? Because my browser still had old JavaScript files in the cache. When I forced it to reload them the new code started to work and thus the error disappeared. Please try to clear the cache of your browser. How to clear it depends on your browser, but you may try `SHIFT`+`F5` or pressing `F5` multiple times.

[2018-07-09 18:10] chriskonnertz commented on #382
Nope. Primarily, because I do not know what exactly some of these bugs/ideas are. For instance: `Have the option to remove bugs` I do not understand this one. This option already exists?! Write a fix for the bug, commit it to GitHub, create a pull request and I will merge it...

Others are good proposals that will be implemented in the future, for instance: `Add description to the site(SEO FRIENDL

[2018-07-10 05:18] RaceTubeGermany commented on #400
Hi Chris,
habe ich Dir per Mail gesendet.
Danke Dir !!!

[2018-07-10 08:21] #392 closed, assigned to chriskonnertz

[2018-07-10 08:21] #391 closed, assigned to chriskonnertz

[2018-07-10 17:08] chriskonnertz commented on #400
An welche Mail-Adresse? (Es gibt mehrere die du verwendet haben könntest.)
Bei mir ist noch nichts angekommen. Falls es nicht die hier war bitte nochmal an die schicken: contentifycms@gmail.com

[2018-07-10 17:11] chriskonnertz commented on #392
Hatten sich hier alle Probleme gelöst?

[2018-07-10 17:52] RaceTubeGermany commented on #400
Hatte ich an die aus Deinem Profil gesendet. mail@chriskonnertz.de
Habe ich Dir eben nochmal an contentifycms@gmail.com gesendet.

Vielen Dank an Dich.

Gruß

[2018-07-11 07:44] Jpofin commented on #396
Mainly it's server first and you just want to collect data and show it.
I don't see the point in creating a game lobby via a webpanel.

[2018-07-11 18:47] RaceTubeGermany commented on #400
Hat alle geklappt mit de DB?
Konntest schon was erreichen/finden?

Gruß

[2018-07-11 19:30] chriskonnertz commented on #396
No, this is not implemented.

Unfortunately I do not know such an API. :(

[2018-07-11 19:32] chriskonnertz commented on #396
I don't see the point in creating a game lobby via a webpanel.

I partially agree. Adding automation makes sense to me. However, I'd go further than just adding lobby creation. But there are not enough resources at Contentify to realise this.

[2018-07-12 01:08] davidllauce commented on #396
Thank you very much for your reply

[2018-07-15 12:04] KoEnix opened #401 "No Images for News setable"
Hi, first, I want to thank you for this awesome Clan-CMS.
I set my own little Clan-Site up a few days ago, and ran into a problem, which dont seem to be a problem on the demo-site.

When writing a news-article, I can set images and pictures in the text field, but the image of the article itself isnt showing up on the main landing page. Can you maybe guess why and help me, where I have to set the m

[2018-07-16 21:44] chriskonnertz commented on #401
Hello,

just a quick fess: permissions. Maybe the script cannot create the image file in the uploads directory. Did you check this?

[2018-07-17 06:36] KoEnix commented on #401
Well, I think its best for a quick support, escpecially for me to describe my problem, to write in german.

Ich habe es eben noch einmal durchgeschaut, "public" und alle Unterordner gehören www-data:www-data, somit sollten die also eigentlich schreiben dürfen.
Ich habe halt in der News-Gestaltungsseite nur die Option, Bilder, entweder aus der Galerie, oder direkt aus einer Datei hochgeladen, in de

[2018-07-17 06:46] KoEnix commented on #401
Habe jetzt eine weitere News angelegt, mit einem Bild im ersten und zweiten Editor Feld, da gab es auch sofort Fehler auf der Seite. Wenn es recht ist, hänge ich mal das laravel.log mit an (Es sind nur die Fehler, die nach der News aufgetreten sind)

[laravel.log](https://github.com/Contentify/Contentify/files/2200476/laravel.log)

[2018-07-18 09:28] andakawa opened #402 "News editing removes embedded videos"
Hi,
there's a small bug regarding editing news (and I guess pages in general).

If you want to edit a previously written news-article wich had an embedded video in it, it vanishes right before you get to the WYSIWYG-Editor.

Another issue for me is that if you edit news, they will be shown as the "latest" news (they go to the top again) wich renders the traditional news format useless.

Also: I in

[2018-07-23 02:25] Shootify commented on #263
hey chris help me installing contentify on my vps plz,... i just dont wanna
mess my current websites, my vps is using Ubuntu with latest PHP. Let me
know if you can. thanks

On Wed, Feb 21, 2018 at 12:26 PM, mIKE Ortega <idotechnology@gmail.com>
wrote:

[2018-07-23 02:35] Shootify opened #403 "Installation Guide"
Can someone guide me how to install Contentify in a VPS running ubuntu without messing up my current websites? thanks

[2018-07-25 00:11] Shiffed commented on #403
If you follow the documentation, you can download all the files, upload them to the desired location, create a mysql database and go to yourdirectory/install.php

[2018-07-25 02:08] Shootify commented on #403
ok, i got this sort it up, i uploaded the contentify into my server, but when i go to the browser and point
http://websitex/public/install.php  a precheck list came up, all are green check mark exept for

Vendor libraries installed: | No - please run "composer install"!

what should i do?
thanks

[2018-07-25 03:20] Shiffed commented on #403
I'm on my mobile and not experienced with github so I'm copy/pasting this from another issue that looks the same

Quote:
it seems you do not have the vendor libraries in <contentify-path>/vendor installed.

a) Install them via console: php composer.phar install
b) Download the production package and use it or copy the vendor directory https://github.com/Contentify/Contentify/releases/download/v2.3

[2018-07-25 03:36] Shootify commented on #403
dont know... since im using ubuntu and php7 it looks that what i need to do is get on my ubuntu server and ssh with putty and run this command
Download the script: wget http://contentify.org/share/install.sh
Run the script: sudo bash install.sh

anyone ?

[2018-07-25 03:53] Shiffed commented on #403
You could do that but it would plonk all the files into your /var/www/ directory, but I'm not a pro with Linux servers and I guess you can just relocate the folders after.

[2018-07-25 19:22] Shootify commented on #403
thats what i want to be sure about, i have websites running on my server, so i dont want to mess that up...so i dont know if running that command on my ubuntu server, it will get wiped out and delete my current websites! hope someone can clarify this. thanks for responding

[2018-07-27 19:55] chriskonnertz commented on #403
Hello,

Nah, don't do this. This is only meant for fresh droplets of DigitalOcean.

[2018-07-27 19:56] chriskonnertz commented on #403
All you need to do is to get that `vendor` folder.
Again:

[2018-07-28 18:00] renegade1337 commented on #304
Das CMS sollte mit dem nächsten update aufjedenfall DSGVO konform gestaltet werden!

[2018-07-28 18:46] Shootify commented on #403
chriz can you take at look, i got an error, i posted on gitter. thanks

[2018-07-30 19:58] ethsmith opened #404 "QueryException Error"
[code]
This is in step 4 and I provided a password on step 3. So it should be using a password.

[2018-08-02 15:44] NamerEsports opened #405 "Forum deleting bug"
Hi. Nice CMS! I love it becouse its based on laravel. We have a strange bug, if admin tries to delete forum thread getting error:

`No query results for model [App\Modules\Forums\ForumPost] 6`

Thanks and we waiting for fix!

[2018-08-02 15:46] NamerEsports commented on #398
@chriskonnertz Do not listen to him this CMS is great and thanks for creating!

[2018-08-02 19:19] chriskonnertz commented on #398
Thank you!

[2018-08-02 19:20] chriskonnertz commented on #405
Hello,

do you use version 2.4?

[2018-08-03 02:07] abdullahisrar opened #406 "Please help me, getting error after installation"
I'm installing on VPS ubuntu 16.04... http://prntscr.com/ke34wr installation is fine but look at this:
1- http://prntscr.com/ke357f
2- http://prntscr.com/ke38el

[2018-08-03 13:42] abdullahisrar commented on #406
Any update regarding this issue?

[2018-08-03 13:54] abdullahisrar commented on #406
Thanks i found the solution #384

[2018-08-03 13:54] #406 closed, assigned to chriskonnertz

[2018-08-05 00:30] acamilleri commented on #403
@chriskonnertz PR #407 fix this error:

`In ConfigServiceProvider.php line 24: syntax error, unexpected '!' in /home/users/contentify/www/storage/app/data/base.ini on line 7`

[2018-08-05 12:41] NamerEsports commented on #405
Thanks for answer @chriskonnertz , yeah im using 2.4

[2018-08-06 21:10] chriskonnertz commented on #405
Thank you for reporting this bug, here is a fix (= delete line 176):  https://github.com/Contentify/Contentify/commit/7e825fe61e5ca947833968770223b164e9682b97#diff-a1733d74a209110d3c674d07888b90faL176

[2018-08-06 21:10] #405 closed, assigned to chriskonnertz

[2018-08-07 08:16] roberto722 commented on #361
Hi, any update on this bug ? I'm having the same issue. Let us know @chriskonnertz

[2018-08-07 22:27] chriskonnertz commented on #361
Hello,

I do not know what to do here / how to help. If this was my own server I would check this file on the server: https://github.com/Contentify/Contentify/blob/2.5-dev/app/Modules/Auth/Http/web.php But I assume you do not know what to look for...

[2018-08-09 21:00] alex809 opened #408 "Setup Contentify for Development?"
Does anyone have a guide on configuring Contentify for development?

I've installed Laragon, but how does one clone it so you can push / pull updates & be able to view it on your localhost?

Cloning for push / pull so updates can be made & configured so it's possible to view the public script to verify issues are resolved.

A guide on configuring it would be great, I'm not entirely sure how to do

[2018-08-10 06:30] chriskonnertz commented on #408
Hello,

What is your intention? Why do you want to push something and what would be the target?

Why are you not able to pull? Did you try `git pull`via console or what was your attempt? Or what git client do you use?

[2018-08-10 06:34] alex809 commented on #408
The intention is to take an approach at learning some PHP while trying to contribute to a project I'd like to use

So being able to push / pull changes, idk. I have no idea how to use git, there's some tutorials that state cloning and creating your own repository and making a pull request from there when you've done changes.

Literally as I stated. I need a guide that explains how to properly clon

[2018-08-10 07:59] chriskonnertz commented on #408
Ok, so the big question is: do you want to push directly to the original Contentify repository or do you want to push to your own fork (copy) of the Contentify repository?

Only the latter will work, because pushing directly to the original Contentify repository is not allowed. After pushing to your own repository you could create a cross repostitory pull request from you repository to the origina

[2018-08-10 14:26] ghost opened #409 "Contentify 2.4 Fehler in der Installation im letzten Schritt"
Hey Leute,

ich wollte der Contentify-Installation gerade noch einen Versuch geben, nachdem es die letzten Tage partout nicht geklappt hat. Nachdem ich nun die Installation aufgerufen habe und bei Step 4 die MySQL-Zugangsdaten alle korrekt eingegeben habe, bekomme ich zwei Fehlermeldungen. Aufgrund der Fehlermeldung sieht es für mich so aus, als ob irgendwas an den Daten nicht korrekt wäre. Sie st

[2018-08-11 18:28] chriskonnertz commented on #409
Hallo,

tut mir leid, dass das mit der Installation nicht so richtig klappt.

Grundsätzlich: Bitte überprüf mal die Datei `storage/app/database.ini`. Dort hin werden die Datenbank-Zugangsdaten gespeichert. Ist dort alles korrekt eingetragen?
Falls es in der Datei Zeichenprobleme gibt, hier ist das Original: https://github.com/Contentify/Contentify/blob/2.4/storage/app/database.ini

[2018-08-11 19:32] ghost commented on #409
Ich habe sogar schon versucht hier die Daten manuell von Hand einzutragen. Kurzzeitig habe ich die oben genannten Fehlermeldungen weggebracht, indem ich manuell Änderungen in der database.ini, sowie der database.php vorgenommen habe. Dafür hatte ich einen anderen Bugreport, der weitaus länger war. Nachdem es dann partout nicht funktioniert hat, habe ich die database.php wieder auf Standard zurückg

[2018-08-11 19:55] ghost commented on #409
Halt mich für bescheuert, mach ich inzwischen selbst.
Neue Datenbank angelegt mit neuem Benutzer und Passwort.
Beim Pfad der Datenbank zudem nicht den Port angegeben. Bekomme nun eine neue Fehlermeldung.
Anbei ein Screenshot.
![unbenannt3](https://user-images.githubusercontent.com/42274428/43995600-357d30de-9db1-11e8-88a4-16fd547206a4.PNG)

[2018-08-11 21:00] ghost commented on #409
So, nach etwas Brainfuck habe ich nun alles gelöst bekommen. Vieles wurde zum Glück im Github hier ja schon geklärt... Allerdings sind die drei Dateien Pagecat, Partnercat und und Advertcat immer noch falsch benannt in der Zip.
Diese heißen immer noch in der jeweiligen Struktur "PageCat", "PartnerCat" und "AdvertCat"...
In meinem Fall habe ich diese jetzt einfach über FTP umbenannt, damits funktio

[2018-08-11 21:38] ghost commented on #409
Morgen werd ich mich mal noch ransetzen müssen und eine Menge Dateien bearbeiten.
Beim Anlegen eines Teams habe ich festgestellt, dass auch hier noch weitere Dateien falsche Groß-/Kleinschreibung besitzen. Zumindest falsch aufgerufen werden... Die gehe ich morgen noch alle in den Modules durch und werde sie umbenennen. Ich hoffe, dass das nichts ausmacht.

Zudem habe ich noch ein kleines Problem f

[2018-08-13 11:42] kamohy commented on #394
Danke für die Hilfe... hat sich erledigt hab es selbst gefunden...

[2018-08-13 11:43] kamohy commented on #409
Wie habt ihr den open_basedir fehler umgangen ? Ö.ö

[2018-08-13 12:50] ghost commented on #409
Ähm, gute Frage... ich kämpfe mich seit der Installation von Fehler zu Fehler und stoße irgendwie bei jedem Modul was ich mir ansehe auf einen neuen kritischen Fehler.

Ich habe so langsam das Gefühl, dass man Contentify/Laravel nicht in einen Server integriert, sondern den Server darum herum aufbaut und konfiguriert. Würde es nicht schon von Installation an so geil aussehen, wäre dieses CMS schon

[2018-08-13 13:33] kamohy commented on #409
Ich weiss was du meinst.
open_basedir ist hardcodet integriert
dann kommen aber noch pagecat ect. (fehler)
ich hab es mal versuchg zu fixen habs irgendwann aber mal gelassen...
Das ding ist, das system hat mega potential...
aber ich kann nicht dinge aktivieren die eigentlich aus sicherheitsgründen schon seit php 5.6 abgeschaltet wurden
open_basedir ist ein downloadbereich soweit ich weiss kann man

[2018-08-13 14:10] ghost commented on #409
Und dazu musste mich wie gesagt sobald ich Zeit habe nachsehen lassen. Kann’s nun nicht aus dem Kopf sagen. ;-)

[2018-08-13 18:08] chriskonnertz commented on #409
Da ist in gewisser Weise durchaus etwas dran.

Exkursion: Contentify ist was seine Ursprünge angeht sehr alt (rund 10 Jahre), weil es ab circa 2008 einen Vorgänger hatte. Der wurde in der letzten produktionsreifen Ausbaustufe eigentlich nur noch für größere Websites eingesetzt. ESCENE, eFever, angedacht war auch die Website von Team Thermaltake ( https://www.ttesports.com/teamList.aspx ) damit umz

[2018-08-13 18:10] chriskonnertz commented on #409
Diese heißen immer noch in der jeweiligen Struktur "PageCat", "PartnerCat" und "AdvertCat"...

Was eigentlich **richtig** ist. Aber wenn es nun bei dir klappt dann lass dich nicht durch mich verwirren.

[2018-08-13 18:12] chriskonnertz commented on #409
Man sollten den richtigen Code nachschieben, der mit der korrekten Camel-Case-Schreibeweise ("Partner**C**at") klar kommt. Wenn du mir sagen kannst welcher das ist kommt er nach denn ja du hast natürlich recht, das Problem sollte behoben werden.

[2018-08-13 18:13] chriskonnertz commented on #409
Danke, schön zu hören, dass es für dich eine angenehme Erfahrung war. Insgesamt ist der Support aber nicht zufriedenstellend. Bei vielen Gelegenheiten hat es in der Vergangenheit gehapert. Allerdings ist es schwierig das zu ändern.

[2018-08-13 18:18] chriskonnertz commented on #409
Sollte an sich kein Problem sein. Auf einem schnellen Server ist das CMS normalerweise schnell. Dazu aber einfach mal ein paar Anmerkungen:

- SSD Festplatte sollte heute Standard sein. Wenn dein Webspace keine haben sollte, dann ist ein Grund gefunden
- Ausreichende CPU-Leistung + RAM muss natürlich auch da sein, wenn die Website auf einem völlig überlasteten Server läuft ist klar, dass die langs

[2018-08-13 18:21] chriskonnertz commented on #409
- Der Cron-Job ist nur für bestimmte Dinge (insbesondere (Twitch-)Streams) nötig, notfalls kann auf ihn verzichtet werden
- Du kannst den Cron-Job auch von extern triggern lassen, wenn das hilft. Dazu gibt es kostenlose Services wie (hab es nicht getestet) https://cron-job.org/de/

[2018-08-13 20:22] MintKind opened #410 "Can´t run installer"
Hello, I am currently trying to install Contentify 2.4, but if I open the install.php I just see the requirements all green
![screenshot_installer](https://user-images.githubusercontent.com/21332730/44055999-3f6b1542-9f47-11e8-9f42-26b62f514bda.png)

Before 2.4 I installed 2.2 and it worked fine.

[2018-08-14 07:18] itsmemac opened #411 "Getting same error while installing on both 2.4 or 2.3"
![capture](https://user-images.githubusercontent.com/37410297/44077129-3badec6c-9fc0-11e8-8fe0-76f93673a5ee.JPG)

[2018-08-14 11:09] ghost commented on #409
@kamohy , habs gefunden. Hatte einfach die richtigen open_dir Einstellungen gesetzt. Plesk hat bei mir als Auswahl webspaceroot/ und tmp/
Damit hats funktioniert.

@chriskonnertz Wegen der Geschwindigkeit lags glaube ich größtenteils am noch nicht vorhandenen Caching. Inzwischen ist die Seite "normal" schnell. Mein vServer hat auch keine SSDs soweit ich das sehen kann, wobei das meines Erachtens a

[2018-08-14 18:46] #395 closed, assigned to chriskonnertz

[2018-08-14 20:00] itsmemac commented on #411
fixed it by removing symbols from db password.
Having symbols is blocking the install.
Fix it

[2018-08-14 20:08] itsmemac opened #412 "Admin panel broken after installation v2.4"
![capture8](https://user-images.githubusercontent.com/37410297/44115512-b63b9c2a-a02b-11e8-9d21-afd2126f0d08.JPG)
its broken and options are limited and showing only some options.

and how to change from www.domain.com/public --->>> www.domain.com

[2018-08-15 07:20] chriskonnertz commented on #409
Ja und das  macht das ganze langsamer. Eigentlich sollte es per default aktiv sein. In deinem Fall solltest du es nachträglich in der `php.ini` aktivieren. Hier mal schnell eine Anleitung aus Google die was zu taugen scheint: https://lastplaceonthe.net/how-to-enable-php-7-opcache-on-ubuntu-16-04/

Ne, das **soll** aus sein, an = langsam.

Gut, dann ist das ja geklärt.

Ja. Naja in v2.5 wird sich d

[2018-08-15 07:46] kamohy commented on #409
hey chris, ich hab das open_basedir ausgetauscht (hardcodet) werde dir heit abend sagen ob es läuft wenn ja geb ich dir den codeschnipsel
hätte den vorteil, das man nichts mehr am server abändern bzw einstellen müsste

grüße Kamo

[2018-08-15 08:04] chriskonnertz commented on #409
Das genügt auch.

Mit Sicherheit nicht, aber das eine ist ja die Frage was grundsätzlich für Anforderungen existieren und das andere was für Fehler. An den Fehlern kann was geändert werden und sollte es selbstverständlich auch.

👍

Ein paar Dinge sind in diese Richtung geplant.

Es gibt keinen offiziellen Store oder so etwas. Es gibt hier und da was aber das schwirrt halt irgendwo im Internet heru

[2018-08-15 08:05] chriskonnertz commented on #409
hätte den vorteil, das man nichts mehr am server abändern bzw einstellen müsste

Super, hoffe es läuft!

[2018-08-15 08:15] chriskonnertz commented on #410
Hello,

wow, that is a strange bug.

Please copy the source code of the website and paste it here. (Right click on the document then there should be an entry in the context menu such as "Show page source text").

Also try to use another browser and to deactivate any advertisement blockers.

[2018-08-15 08:17] chriskonnertz commented on #412
Hello

Maybe it is just a caching issue of your browser. Please force the browser to reload all resources. For example press F5 twice or try SHIFT+F5. (It depends on the brwoser.)

[2018-08-15 08:18] chriskonnertz commented on #412
https://github.com/Contentify/Contentify/wiki/Troubleshooting#installation-what-to-do-with-the-public-folder

[2018-08-15 08:21] MintKind commented on #410
Trying another browser didn't help :/
But here is the source code
https://pastebin.com/hGBMZ4KS

edit:
here is also the website
https://teambonfire.de/gaming/public/install.php

[2018-08-15 08:41] chriskonnertz commented on #411
Thank you for this information.

Symbols = Unicode symbol characters? For example: 🛪

[2018-08-15 14:15] renegade1337 opened #413 "Opponents Module and Games Module SVG Support"
Für das Opponents und Games Modul sollte SVG als Bildformat hinzugefügt werden ;-)

[2018-08-15 17:01] itsmemac commented on #412
Thanks.
Issue is fixed

[2018-08-15 17:01] #412 closed, assigned to chriskonnertz

[2018-08-15 17:03] itsmemac commented on #411
nah, just using ~ ? < '
any symbols, its giving the issue.
Tried with separate install in different hosting. Same issue happens
only fix is to use alphanumeric combination for DB to fix the issue

[2018-08-15 20:27] chriskonnertz commented on #413
Hallo,

sprich dass sowohl der Upload möglich ist als auch die so hochgeladenen Bilder dann auch als SVG ausgeliefert (statt zu bspw. JPEG) konvertiert werden?

[2018-08-15 20:27] chriskonnertz commented on #412
Nice!

[2018-08-16 03:25] itsmemac opened #414 "[Feature Request] Youtube streams in stream tab"
Youtube stream in streams option
![capture](https://user-images.githubusercontent.com/37410297/44185581-1bb3b900-a132-11e8-8cf3-816d6082a40c.JPG)

[2018-08-16 12:58] renegade1337 commented on #413
Das die Bilder im Frontend auch als SVG ausgegeben werden können.

[2018-08-17 13:11] kamohy commented on #409
nein tut es nicht... :-/

[2018-08-20 17:06] kamohy opened #415 "Install 2.4 problem auf Webspace gefunden."
Wir haben heut (Sascha ist zu besuch)
Einen lokalen server neu aufgesetz und einfach mal deine install drüber laufen lassen.
Siehe da es funktioniert.
Dann haben wir uns gefragt warum nicht, auf einem Webspace...
Ganz einfach, du hast scheinbar, shell befehle im installer bzw. bei einigen aufgaben des CMS eingebaut.
Diese benötigen root-rechte... ein normaler webspace-kunde, wird dies also Niemals

[2018-08-20 17:42] kamohy commented on #409
@DevilTwist und schon alles behoben ? :D
Wenn nein gib mir noch ein paar Tage, ich sitz dran. :D

[2018-08-20 21:34] chriskonnertz commented on #415
Hi,

Ja sieh mal einer an! Es geschehen noch Zeichen und Wunder. ;)

Ja, die große große Frage.

Das kann schon sein. Es wäre eine Erklärung warum mir das nie aufgefallen ist.

Ich glaube ich muss das mal selber mit einem User ohne Root-Rechte durchspielen da ich spontan auch nicht weiß was da für Shell_Befehle ausgeführt werden. Ich vermute das kommt nicht direkt von mir, das ist irgend was vom F

[2018-08-20 21:35] chriskonnertz commented on #415
Ja das ist geplant.

[2018-08-20 21:36] chriskonnertz commented on #413
Ok das ist eine gute Idee, ich habe mir das heute mal kurz angeschaut und denke das kann noch in die v2.5 mit rein. Der Support würde dann (zumindest im Backend) überall greifen, also bei (vermutlich) allen Modulen.

Danke für die Anregung.

[2018-08-20 21:37] chriskonnertz commented on #413
=> https://github.com/Contentify/Contentify/issues/304

[2018-08-20 21:38] chriskonnertz commented on #413
Mache daher hier mal zu, ist ja jetzt in der To-Do-Liste.

[2018-08-20 21:38] #413 closed, assigned to chriskonnertz

[2018-08-20 21:40] chriskonnertz commented on #414
Hello,

thank you for this suggestion! I like the idea. I do not know when it will come but yes I believe this should be implemented. When? Depends on how much work it is to implement it. I have to take a look at the API to decide when to schedule it.

[2018-08-20 21:46] chriskonnertz opened #416 "Contact (backend): Reply button not working?"
When clicking on the reply button on the message form in the backend of the contact module, the browser should handle the "mailto"-event - but nothing seems to happen. Check if this is a bug or browser specific behaviour.

[2018-08-20 22:28] kamohy commented on #415
Hallo Chris... Ja hat ja nur wieviele Monate gebraucht, das rauszufinden ? :D
Wir wissen das aber auch nur, da wir das halbe ding durchsucht haben auf bestimmte dinge, die im install-verfahren auf dem LOKALEN server durch gelaufen sind. (install.sh)

Wir haben uns gefragt, was läuft dort anders.

Dann haben wir das fertig installierte auch noch genommen, es auf unseren space geklont (hauptserver)

[2018-08-21 07:48] chriskonnertz opened #417 "Automatically set app key"
At the end of the setup, it would be nice to automatically set the app key so the new website starts with a randomly chosen app key instead of the placeholder.

[2018-08-21 08:58] kamohy commented on #409
@DevilTwist habe eine teillösung für dich... zieh dir, die aktuelle 2.5 dev überspiele sie auf dein aktuelles 2.4
dann, musst du nur noch einige wenige dateien renamen (NewsCats.php zu Newscats.php z.b.)
der updater funktioniert nicht und wird auch nicht gebraucht

entferne vor dem update folgende datei aus der 2.5: storage/app/database.ini da sie sonst nicht übereinstimmt

[2018-08-23 16:42] kamohy commented on #415
2.4 install fehler:
CashFlow DB fehlen zwei einträge

2.4 / 2.5 fehlerliste:
Groß/Kleinschreibung bei benennung von datein (only cat/Cat)
abegändert in:
/vendor/composer/autoload_classmap.php
&
/vendor/composer/autoload_stats.php

ForumReport geht mal wieder nicht:

 (2/2) QueryException

SQLSTATE[42000]: Syntax error or access violation: 1055 Expression #1 of ORDER BY clause is not in GROUP BY cl

[2018-08-23 18:38] #394 closed, assigned to nobody

[2018-08-25 13:11] kamohy opened #418 "Bugs in 2.4 und 2.5 dev"
Dateien falsch benannt (bsp.: Newscat.php -> NewsCat.php) ist aber nicht der dateiname der geändert werden muss, sondern im /vendor/composer/autoload_classmap.php und die autoload_static.php im selben ordner.

in der 2.4 fehlt in der DB zwei einträge unter cashflow in der combi mit 2.5 neu installiert, ist es dabei

einziger bisher gefundene weitere bug ist: Forum-Report (vorhanden in 2.4 UND 2.5)

[2018-08-28 20:54] andakawa commented on #415
Ich habe das CMS in Version 2.4 auf dem günstigsten One.com Webspace zum laufen gekriegt und bis heute keine Probleme mehr feststellen können. Sofern alle PHP-Extentions vorhanden sind, sollte es bei den meisten Nutzern eigentlich auch kein Problem geben.

[2018-09-04 14:47] chriskonnertz opened #420 "Check if Twitch is working"

[2018-09-05 07:52] oriolwonga opened #422 "error"

[2018-09-05 07:54] #422 closed, assigned to nobody

[2018-09-05 07:58] onavascuez opened #423 "Laravel 5 with MySQL 8.0.12, 'sql_mode' ERROR"
If we have MySQL 8.+ version, is possible to show this error when install Contentify:
`ERROR 1231 (42000): Variable 'sql_mode' can't be set to the value of 'NO_AUTO_CREATE_USER'`

**[SOLUTION]**
In this case, we only go to `/config/database.php` and add this lines at the end of block of Mysql:

'mysql' => [
'driver' => 'mysql',
.
.
.
'engine' => null,
**'modes' => [
    'ONLY_FULL_GROUP_BY',
    '

[2018-09-05 10:43] chriskonnertz commented on #403
Oh wow yes, haha I did not know this is a thing in .ini files. Thanks!

[2018-09-05 10:43] #403 closed, assigned to chriskonnertz

[2018-09-05 10:48] chriskonnertz commented on #422
=> https://github.com/Contentify/Contentify/issues/423 ?

[2018-09-05 10:50] chriskonnertz commented on #418
Glaube den kenne ich und dachte eigentlich der wäre gefixt. Naja es gibt einen einfachen Workaround: https://github.com/Contentify/Contentify/blob/v2.4/config/database.php#L50
strict auf false setzen, dann ist MySQL weniger kritisch und erlaubt die MySQL-Abfrage die er sonst bemängelt. Dazu muss man sagen, früher war der strikte Modus nicht aktiv aber in Laravel 5-irgendwas wurde es dann eingebaut

[2018-09-05 11:01] onavascuez commented on #418
Sorry in advance about my german google translator level... :P
I tried to change srtrict to false, also include to my .env file a global variable DB_STRICT=false, and add  `'strict'    => env('DB_STRICT', false), ` on my database.php.
I've tried clearing all caches, and have he same result.

[2018-09-05 13:44] onavascuez commented on #418
OK, I found a solution for this error... And I think is very specific error, and really strange.
When I install Contentity 2.4, under PHP7.2 and MySQL 8.0.12 I need to do this on my database.php: https://github.com/Contentify/Contentify/issues/423#issue-357109062

But this "improvement" affect to some queries. In specific the command affect to this, is "**ONLY_FULL_GROUP_BY**". If we delete this l

[2018-09-05 18:40] kamohy commented on #418
@chriskonnertz dein kleiner fix, funktioniert.
Ich bin gerade dabei alles genauer zu testen.
News haben auch einen Bug, nun aber das problem.
Ich habe dazu einen Beitrag gefunden, allerdings hilft der nicht.
sobald ich News, speichere oder auf der Webseite aufrufe kommt eine Fehlermeldung:
[code]
ich habe wie du es empfohlen hast in einem anderen Beitrag, simpleXML nachinstalliert.
Hat nur nichts

[2018-09-05 19:23] kamohy commented on #418
Hat sich erledigt, Bug ist behoben !
nach einem: apt-get update && apt-get upgrade -y
und init 6, läuft nun auch der News-bereich.
keine weitere Forschung hierzu benötigt, vorerst.

Issue dennoch bitte geöffnet lassen, falls weitere Bugs folgen. :-/

[2018-09-06 17:04] chriskonnertz commented on #418
Yeah taht makes sense.

[2018-09-06 17:05] chriskonnertz commented on #418
Ok.

[2018-09-09 19:36] Roknthegreat opened #426 "Issues with Installation even if I have all green with the setup"
Everytime I try to install Contentify I get these errors:
(2/2) QueryException
SQLSTATE[42S21]: Column already exists: 1060 Duplicate column name 'username' (SQL: alter table `users` add `username` varchar(20) not null, add `slug` varchar(255) not null, add `updater_id` int unsigned not null default '0')

(1/2) PDOException
SQLSTATE[42S21]: Column already exists: 1060 Duplicate column name 'userna

[2018-09-09 19:41] Roknthegreat opened #427 "Is there a way to install contentify without any error page?"

[2018-09-09 19:44] #427 closed, assigned to nobody

[2018-09-10 03:47] Shootify commented on #420
still not working!

[2018-09-17 11:29] kamohy commented on #253
also in der version 2.5 (beta) die ich habe, hab ich es gefixt bekommen.
ist halt auf updatet_at eingestellt, das problem ist aber, das er scheinbar beim auslesen der db, einen neuen timestamp setzt.
Ich hab das updatet_ im News-modul gegen published_at ausgetauscht, nun wird es richtig angezeigt.
Dauert goth sei dank nicht all zu lang, das zu fixxen.

[2018-09-18 15:21] ashmandias opened #429 "Admin-backend generates URLs based off server_addr and not server_name"
When browsing the admin control panel, I have noticed that the admin urls are generated based on PHP's server_addr variable, and not server_name. This means that even though my server is publicly accessible by hostname, the admin URLs are using 192.168.1.100 as the URL base -- which breaks when trying to access the host remotely.

This is on 2.4

Pretty good CMS so far -- looks like it will fit my

[2018-09-18 18:37] kamohy commented on #429
okay delete all, in the database (phpmyadmin)
and run the install again

[2018-09-18 19:11] ashmandias commented on #429
Anyway to do it without deleting and starting over? I have a decent chunk of configuration done already.

[2018-09-18 19:37] kamohy commented on #429
okay, there is a little trick, maybe it works. Enter your URL at the top of the address bar and set it:
 /install?Step=4
(could also be step 5)

[2018-09-19 07:10] chriskonnertz commented on #429
Well the left sidebar navigation in the ACP is cached so to force regeneration you just have to [clear the cache](https://github.com/Contentify/Contentify/wiki/FAQ#how-can-i-clear-the-cache).

But of course, this will only have an effect if you change the way the URLs are built.

[2018-09-20 21:31] Ozymandias2 commented on #367
To correct this without reinstalling:

mysql> use contentify2;
mysql> alter table cash_flows change revenues integer_revenues int(11);
mysql> alter table cash_flows change expenses integer_expenses int(11);

[2018-09-21 01:45] Ozymandias2 opened #430 "Where do the 'FAQ' appear?"
We have installed Contentify, and have added some 'Questions' content -- but cannot seem to figure out where they get listed on the site -- are we missing something, or running into a bug?

Thanks!

[2018-09-21 05:18] kamohy commented on #430
domain/questions
example: https://google.com/questions

[2018-09-21 13:31] Ozymandias2 commented on #430
I think I was assuming that the Morpheus Theme would have a link somewhere by default -- I had to add one to get it to work.

This is not a real issue, but may help others looking for things in the future.

[2018-09-21 17:52] chriskonnertz commented on #430
An ideal solution would be to allow website administrator to edit the footer area of the website. Ofcourse this is a solution that is possible from a technical point of view, but to be honest this is not a feature that will make it to a release any soon.

[2018-09-21 23:14] abdulsami34 opened #431 "Installing Error."
Access denied for user 'root'@'localhost'  (SQL: SHOW TABLES LIKE "migrations")

[2018-09-23 23:47] kamohy commented on #431
#380 can help :-)

[2018-09-24 14:10] kamohy commented on #418
Hab leider noch einen gefunden.
 Passwort zurücksetzen, auf zwei Seiten der selbe Fehler.
ein HTTPError die route ist nicht bekannt :-/
getestet auf kamohy und deathkings...

[2018-09-24 18:24] kamohy commented on #418
Die entsprechende Fehlermeldung dazu:

(1/1) MethodNotAllowedHttpException
in RouteCollection.php (line 251)
at RouteCollection->methodNotAllowed(array('POST'))
in RouteCollection.php (line 238)
at RouteCollection->getRouteForMethods(object(Request), array('POST'))
in RouteCollection.php (line 176)
at RouteCollection->match(object(Request))
in Router.php (line 546)
at Router->findRoute(object(Requ

[2018-09-26 12:12] chriskonnertz commented on #430
In general, you should always be able to click on the content-items in the backend. So if you have created a new question-answer-pair/item, go to the FAQ overview in the backend and click on the question. Then a new browser tab opens and shows the question in the frontend and you can copy the URL to create a link to the content. And again, this is a general behaviour that has to work for every mod

[2018-09-26 12:12] #430 closed, assigned to chriskonnertz

[2018-09-29 20:17] kamohy commented on #265
wo bau ich den editor und vor allem: wie baue ich ihn ein ?
*re-open*

[2018-10-01 16:43] chriskonnertz commented on #265
Der CKEditor unterstützt auch BBCode daher wäre es wohl möglich den zu verwenden und nach wie vor BBCode zu unterstützen. Das wäre meiner Einschätzung nach der einfachste Ansatz, weil  dann muss man im Wesentlichen einfach nur den CKEditor auf das Texteingabefeld loslassen und er nistet sich dann da ein.

Generell wie man den einbindet wird hier beschrieben: https://ckeditor.com/docs/ckeditor4/lat

[2018-10-02 19:03] chriskonnertz commented on #418
Wann genau tritt das auf? Ich konnte auf "Passwort vergessen" klicken und dort auf der Seite dann meine Mail und das Captcha angeben und dann kam eine Erfolgsmeldung. Oder tritt das erst später auf nach Erhalt der Email?

[2018-10-02 19:14] chriskonnertz commented on #418
Ok hab was: https://github.com/Contentify/Contentify/commit/b5f552919d8b7c39303908e43addae9316e4f555

[2018-10-04 22:49] kamohy commented on #418
läuft, jetzt noch die phpinfo abfrage im ACP und wir haben alles mir bekannt.

Achja der RSS-Feed im ACP ist noch auf dem stand vom contentify 2.3
auch hier würde ich ein update des feeds anraten

[2018-10-05 09:41] #415 closed, assigned to chriskonnertz

[2018-10-05 09:42] #365 closed, assigned to chriskonnertz

[2018-10-05 09:43] #342 closed, assigned to chriskonnertz

[2018-10-05 09:44] #297 closed, assigned to chriskonnertz

[2018-10-05 09:44] #315 closed, assigned to chriskonnertz

[2018-10-05 13:15] chriskonnertz commented on #418
Ist die PHPInfo-Abfrage auf dem für mich eingerichteten Server auch defekt? Wenn ja könnte ich das gleich da debuggen.

[2018-10-05 13:42] kamohy commented on #418
ja

[2018-10-05 14:26] kamohy commented on #418
Sag mal, bekommste auch nen umfrage modul hin?
das wär neben nem newslater (newsmailer/infomailer) das was mich noch interessieren würde.

[2018-10-05 20:50] chriskonnertz commented on #418
Hatte es ganz vergessen, das wurde bereits gefixt:
https://github.com/Contentify/Contentify/commit/b45a27aa12adf5c65d8ef7f03232da50b49f72b6

[2018-10-05 20:51] chriskonnertz commented on #418
Hinbekommen: Ja, sicher. :) Nur wann? ;)

[2018-10-05 20:56] kamohy commented on #418
Gut, werde ich dieses WE umsetzen.

[2018-10-05 21:03] kamohy commented on #418
das

Deine aussage finde ich halb positiv xD

[2018-10-06 08:11] kamohy commented on #418
läuft

[2018-10-06 11:21] kamohy commented on #409
@DevilTwist na wie sieht es aus?
Biste Bugfrei?
Wenn nein, hab da ein wenig was für dich.

[2018-10-06 16:03] chriskonnertz commented on #416
Tested: Not a bug

[2018-10-06 16:03] #416 closed, assigned to chriskonnertz

[2018-10-06 16:05] chriskonnertz commented on #431
@abdulsami34 I close this issue now, please create a new issue if the problem still exists.

[2018-10-06 16:05] #431 closed, assigned to chriskonnertz

[2018-10-06 17:46] chriskonnertz commented on #375
Hi, fixed in v2.5.

[2018-10-06 17:46] #375 closed, assigned to chriskonnertz

[2018-10-09 15:52] kamohy opened #432 "Addon: erweiterung für suchmaschinen"
Mir ist aufgefallen das es schlagworte und eine beschreibung, für suchmaschinen fehlt.
Hab dazu mal nen kleines Addon gebaut.

Falls es dafür interesse gibt.
(ist über das ACP steuerbar)

[2018-10-09 16:23] chriskonnertz commented on #432
Hi, ja das hört sich doch spannend an. Das hat auf jeden Fall noch gefehlt.

[2018-10-11 13:02] kamohy commented on #432
Diese erweiterung sorgt für die Optimierung der Webseite für Suchmaschinen (bsp. google.com)

![](https://kamohy.de/uploads/downloads/50/1_file.zip.png)

geht auf https://kamohy.de/downloads/1/metainformation-contentify
ladet euch dort die Erweiterung runter.

Folgende Dateien sind enthalten:

/app/Modules/Config/Resources/Lang/de/main.php
/app/Modules/Config/Resources/Lang/en/main.php
/app/Module

[2018-10-11 17:40] kamohy opened #433 "Bugfix Navigation Widget"
go to this file:
app/Modules/Navigations/Resources/Views/navigaton_widget.blade.php

change the first line
`<div class="widget-navigation-default widget-navigation">`
to
`<div class="widget widget-navigation-default widget-navigation">`

ready !

[2018-10-11 18:51] chriskonnertz commented on #433
Hi, so what does your change do? I assume it does remove some CSS styling?

[2018-10-11 18:56] kamohy commented on #433
Yes it is for CSS

mal in deutsch: es passt die navigation an (entsprechend des theme)
dadurch sieht alles in der navigation gleich aus.
Angepasst halt
bsp. findest du auf kamohy.de

[2018-10-11 19:03] chriskonnertz commented on #433
Hm... aber da hast du doch die "widget"-Klasse noch mit drin?

[code]

[2018-10-11 19:06] chriskonnertz commented on #432
Vielen dank dafür, das ist super! Damit wird eine Lücke gefüllt die von einigen in der Vergangenheit angemerkt wurde. Also wirklich sehr nützlich.

Wie soll es damit langfristig weiter gehen? Eine Möglichkeit wäre natürlich das direkt in Contentify zu integrieren. Das ist deine Entscheidung.

[2018-10-11 19:11] kamohy commented on #432
Also kunden von hpzone.de, haben dies automatisch drin später.
Bei unseren Seiten (die wir aktuell hosten) füge ich es noch ein.
(jedoch nur wo wir die erlaubnis haben)

Du darfst es gern ab 2.6 integrieren
auch ohne meine kommentare

viel wichtiger ist aktuell die 2.5 raus bringen (apropro wochenende schmeiss ich dir meine version rüber)

Alle andere die es haben wollen, können diese erweiterung

[2018-10-11 19:15] kamohy commented on #433
die klasse **widget** ist normal nicht mit drin
dadurch sieht in der rechten navigation alls was über das navigations.widget drin ist so komisch aus
setzt man die klasse dazu
sieht man kein unterschied mehr gegenüber den anderen widgets

dadurch sieht alles gleichmäßiger aus

[2018-10-13 12:51] kamohy commented on #378
Bug besteht immer noch !

[2018-10-13 12:52] kamohy commented on #379
besteht auch leider noch :-/

[2018-10-13 12:53] kamohy commented on #381
it works in 2.5

[2018-10-13 17:57] chriskonnertz commented on #378
Please try this bug fix: https://github.com/Contentify/Contentify/commit/1d0290c693cc1236776abc10ba79c6dbb6016b34

[2018-10-13 17:58] chriskonnertz commented on #379
@kamohy Hast du dafür ein Beispiel? Kann ich darauf zugreifen? Wenn nicht, kannst du mal das hier machen?

[2018-10-13 17:58] #381 closed, assigned to chriskonnertz

[2018-10-13 18:36] kamohy commented on #379
http://voll-verbrickt.de da ist ein beispiel :)
auf dem handy sieht das echt doof aus :-/

[2018-10-13 18:37] kamohy commented on #378
mach ich morgen :-)

[2018-10-14 10:30] chriskonnertz commented on #380
@GaneshKandu What solution did you find? :)

[2018-10-14 10:38] chriskonnertz commented on #379
Ja gut das liegt an der Art wie das HTML-Attribut `width` angegeben wurde:
![fehler](https://user-images.githubusercontent.com/4319323/46915586-de429f00-cfad-11e8-9056-30bb0368ad50.png)
Die Anführungszeichen innerhalb der äußeren Anführungszeichen `"` müssen weg. Dann klappt es.

[2018-10-14 10:46] chriskonnertz commented on #423
Thank you for this hint!! Very helpful.

[2018-10-14 10:52] chriskonnertz commented on #431
PS: I faced the same issue today. If you have SSH access (terminal access) you should try this command:
`mysql -h localhost -u root -p`
When you press enter, you will have to copy+paste the MySQL password. Use the same password as in `app/storage/database.ini`. If the command prints the message "access denied" then _this is not a problem of Contentify but of MySQL_ - something went wrong with the

[2018-10-14 11:14] kamohy commented on #379
omfg :-D
so blöd muss man erstma sein xD
danke dir... war wohl nen flüchtigkeitsfehler :-D

*mich ma gerade fühl wie nen anfänger-noob

[2018-10-14 13:17] kamohy commented on #378
fertig und danke :-)

[2018-10-14 14:24] abdulsami34 opened #434 "Install Error"
Hello there,
I'm having problem with installation again.

I have tried every OS almost.

/contentify_2_4/public/install was not found on this server.

After clicking "Launch Installer" it goes to this.

[2018-10-14 14:28] chriskonnertz commented on #434
Hi, the new 2.5 version will be released _very_ soon so I recommend to try it again when it is released.

[2018-10-14 14:30] abdulsami34 commented on #434
Waiting!!!.

I tried almost every way installing tho xd

[2018-10-14 14:46] chriskonnertz commented on #434
Rolling it out right now.

[2018-10-14 15:22] chriskonnertz commented on #434
Out now: https://github.com/Contentify/Contentify/releases/tag/v2.5

Hope it works and helps you with the issue.

[2018-10-14 15:36] abdulsami34 commented on #434
Is it possible to install this on a cPanel server?

[2018-10-14 15:47] abdulsami34 commented on #434
SQLSTATE[28000] [1045] Access denied for user 'user233'@'107.189.2.213' (using password: YES) (SQL: SHOW TABLES LIKE "migrations") PS: I got passed through this error some how.

P.S = I got it to work on a cPanel! Working fine right now.
Thank you so much!

[2018-10-14 17:00] kamohy commented on #434
go one step back, an click it again

[2018-10-14 17:09] abdulsami34 commented on #434
I installed it, Only one step is left.
How do i setup HTACCESS for this?

[2018-10-14 17:27] kamohy commented on #434
htaccess? for what, do you need that?

[2018-10-14 17:30] abdulsami34 commented on #434
To actually hide the main folder which includes database info etc.

[2018-10-14 18:11] kamohy commented on #434
webspace or server ?

4 server go in: /etc/apache2/sites-available
copy the file, with the domain from u'r site

edit it so:
[code]

safe it and upload it
go to the console: **service apache2 restart**

**exemple**
[code]
please adjust the path to your web folder

[2018-10-14 18:45] abdulsami34 commented on #434
It's a cPanel server. I do not have access to console or SSH.

[2018-10-14 19:22] kamohy commented on #434
ah okay... you have an admin-interface for u'r domain-control ?
search there: forwarding.
you can in an admin panel, determine where the path should go (for example, a subfolder)

[2018-10-14 21:05] jopa50 opened #435 "Custom Theme / Modifying Default Theme"
Hello company.

I just put the update 2.5

Here is my problem:

I'm trying to create a contentify theme, for that I'm going to base myself on the morpheus theme
So I copy the MorpheusTheme folder to JopaTheme.

I modify the file: module.json
[code]

I modify the ModuleServiceProvider.php file

`namespace App\Modules\JopaTheme\Providers;
protected $namespace = 'JopaTheme';`

and emptying all the ca

[2018-10-14 21:05] abdulsami34 commented on #434
can't i do without the domain control?

[2018-10-14 22:30] abdulsami34 opened #436 "Cup join and some issues"
Hello there,

I have created a cup. I started the cup but i can't join it. First it says you have no team okay then i created a team set its password and image. Now i have a team. But whenvever i click on join cup
It give me two options

My teams
Team: Create new.
![untitled](https://user-images.githubusercontent.com/10799390/46922975-8f871a80-d02a-11e8-9ab1-3da71d993087.png)

After than i'm on a

[2018-10-14 22:36] kamohy commented on #435
/vendor/composer/autoload_classmap.php

and

/vendor/composer/autoload_static.php

search morpheus
and add the new theme

[2018-10-14 22:57] jopa50 commented on #435
hello, thanks but it does not work

I added in /vendor/composer/autoload_static.php

`'App\\Modules\\JopaTheme\\Providers\\ModuleServiceProvider'        => __DIR__ . '/../..' . '/app/Modules/JopaTheme/Providers/ModuleServiceProvider.php',`

i added in /vendor/composer/autoload_classmap.php
`'App\\Modules\\JopaTheme\\Providers\\ModuleServiceProvider'          => $baseDir . '/app/Modules/JopaTheme/P

[2018-10-14 23:02] kamohy commented on #435
right... one of json-file you must this theme add it too
in one of a .json file are all apps addet
good luck my friend
and good night :-)

[2018-10-14 23:15] jopa50 commented on #435
yes
I managed to display the theme in the admin theme by adding this to in
contentify\storage\app\modules.json

`"JopaTheme": {
        "basename": "JopaTheme",
        "slug": "Jopa Theme",
        "theme": true,
        "id": -1129226425,
        "enabled": true,
        "order": 9001
    },`

My question is how to find id value? "id": -1129226425,

[2018-10-14 23:29] jopa50 commented on #435
I'm just waiting for an answer for the value of the id, that seems to be working for now.

[2018-10-15 11:15] chriskonnertz commented on #434
=> https://github.com/Contentify/Contentify/wiki/Troubleshooting#installation-what-to-do-with-the-public-folder

[2018-10-15 11:22] NePhiTV opened #437 "2.5 Installation Fehler is_executable(): open_basedir restriction"
Heyho,

bei der Installation von Version 2.5 bekomme ich folgende Fehlermeldung -

liegt es an meinem Webserver oder doch eher am Script?

Komplette Fehlermeldung

in PhpExecutableFinder.php (line 65)
--
at HandleExceptions->handleError(2, 'is_executable(): open_basedir restriction in effect. File(/opt/plesk/php/7.0/bin/php) is not within the allowed path(s): (/var/www/vhosts/xxx/:/tmp/)', '/var/w

[2018-10-15 11:51] GaneshKandu commented on #380
Moved
[code]
 function to ``step 5`` from ``step 4`` where ``config/database.php`` and ``createDatabase `` was written to run at same time

i used 4 step to create database file so that ``createDatabase `` function can run after creating creating database file only

step 5 is to ``createDatabase `` ,``createUserRoles`` and ``createSeed``

[2018-10-15 11:52] kamohy commented on #437
Hey darf ich mal ne Frage stellen?
Hast du einen Webspace oder Server?
Nicht jeder Webspace, lässt eine installation dieses CMS zu.

Ich frage deshalb, weil mir dieser fehler sehr bekannt ist. Dieser tritt vorwiegend auf Webspaces auf, das liegt an den beschränkten rechtenaif dem Server.

Solltest du einen eigenen Server administrieren dann aktualisiere dein php
und installiere contentify, über ei

[2018-10-15 11:58] GaneshKandu commented on #380
https://github.com/Contentify/Contentify/pull/383

[2018-10-15 12:04] GaneshKandu commented on #380
https://github.com/Contentify/Contentify/pull/383
Hi @chriskonnertz Please look at the changed i made

[2018-10-15 12:30] kamohy commented on #437
bzw. was für einen Server hast du?

[2018-10-15 16:23] NePhiTV commented on #437
Hallo kamohy,
tatsächlich hab ich einen vServer von Webtropia.

lg
NePhi

[2018-10-15 17:12] kamohy commented on #437
Linux oder Windows?

[2018-10-15 17:41] NePhiTV commented on #437
Linux, ich hab das Problem allerdings gelöst.

Ich hab das **openbase_dir** auf **none** gestellt und somit ging die Installation ohne Probleme.

[2018-10-15 19:30] kamohy commented on #437
kannst du das issue dann bitte schließen?

[2018-10-15 22:46] #437 closed, assigned to nobody

[2018-10-16 05:59] kamohy commented on #434
can it closed?

[2018-10-17 16:22] chriskonnertz commented on #436
Hello,

first, thank you for creating this issue. It provided very useful feedback!

I assume the problem here is not an actual **bug**, but it is bad design / bad user experience. I believe that what is happening is that there is only one member (player) in the team, which is you. But since this is a **team** cup there needs to be more than just one member (player) in the team! So someone else ha

[2018-10-17 16:25] chriskonnertz commented on #436
If some one else creates a team, he/she would give you a link to the team, then you will see an "Join team" button. If you click it you would have to enter the password of the team, so the other person would have to tell you this password.

[2018-10-17 16:32] chriskonnertz commented on #435
Hello,

to be honstest, I do not not know the meaning of this ID. I guess this is just a unique random number.

The modules part of the CMS is provided by a third party library called "[Caffeinated Modules](https://github.com/caffeinated/modules)". I have created an issue there and asked what the "id" property stands for so keep an eye on this issue: https://github.com/caffeinated/modules/issues/3

[2018-10-17 17:47] chriskonnertz commented on #380
Hi, yes I will take  a closer look tomorrow. I *believe* I understand the problem now, I have to look at it from different angles and do some testing but you might have a point there...

[2018-10-17 19:32] NePhiTV opened #438 "Team Kategorisierung"
Hallo Zusammen,

ich hab mal eine Frage. Ist es möglich z.B Teams mit der Kategorie "Community" anzeigen zu lassen und wenn man ein Team in die Kategorie "Pro" steckt diese separat anzeigen zu lassen?. Ich hoffe ihr wisst was ich meine. ^^

lg
NePhi

[2018-10-17 20:30] chriskonnertz commented on #438
Hi,

ja und nein. Zwar gibt es Team-Kategorien, aber die haben bereits eine vorgegebene Bedeutung. Daher würde ich das eher als "Pro: Ja/Nein"-Attribut (Boolean/Flag) sehen und darüber lösen.

Das lässt sich an sich recht einfach umsetzen. Datenbankspalte `pro` als INT erstellen in der `teams`-Tabelle, Attribut befüllbar machen im Model ( https://github.com/Contentify/Contentify/blob/v2.5/app/Modu

[2018-10-17 20:44] NePhiTV commented on #438
Hi chriskonnertz,

vielen dank für die schnelle Antwort! Ich werde mir das ganze dann mal anschauen :)

lg
NePhi

[2018-10-17 21:16] NePhiTV commented on #438
Hab alles eingebaut es wird auch gespeichert und ausgelesen. Aber ich glaube das wir beide was anderes meinen, ich meine z.B das man auf der Seite eine Verlinkung einrichten kann wo z.B nur Teams mit der Kategorie "Staff" auf einer Seite angezeigt werden und wenn man wieder rum auf "Pro" zum Beispielt geht alle Teams mit der Kategorie "Pro" angezeigt werden. Ich vermute mal mein Text war etwas unv

[2018-10-17 21:23] jopa50 commented on #435
Thank you for the information, business to be continued.

[2018-10-18 02:27] abdulsami34 commented on #436
Great to hear that.
So, When ever there are more players in my team It will automatically show as :
Team - Name etc?

By the way, I have succesfully installed contentify on a cpanel server and i have fixed the migration error very easily.

The solution was to that just to change a line in config/database.php

//'host'      => env('DB_HOST', '127.0.0.1'), to //'host'      => env('DB_HOST', 'localho

[2018-10-19 08:45] NePhiTV opened #439 "Bug? FeaturedMatch"
Heyho,

ich weiß nicht ob es ein Bug ist oder so gewollt ist, aber wenn ich ein Match nicht mit Featured kennzeichne sollte es vermutlich dann auch nicht ausgegeben werden, denke ich mal.

Bsp. http://prntscr.com/l7utd3

Ich hab auch die Rohdatei noch einmal drauf geladen um zu schauen ob ich evtl. etwas kaputt gemacht habe, dem ist nicht so.

lg
NePhi

[2018-10-19 08:52] ausryan opened #440 "HTTPS error (BUG)"
So when you go on my website: https://fadehq.com it works but if you click a page like teams you get "Not Found

The requested URL /teams was not found on this server.
Apache/2.4.25 (Debian) Server at fadehq.com Port 443"

If I change the URL to http://fadehq.com/teams it works... I have ticked https in the admin config and I've also done restarts still having the issue.

[2018-10-19 09:35] mrc4tt commented on #440
Do you have updated the .htaccess ?

[2018-10-19 09:59] ausryan commented on #440
No, what do I do to the .htaccess?

[2018-10-19 11:20] mrc4tt commented on #440
Hmm.. Seems like.. it wont know.. there is https.. if you are enter: The requested URL /teams was not found on this server. (as example).

[2018-10-19 11:23] mrc4tt commented on #440
I'm pretty sure @chriskonnertz can help with that. i don't have the same issues. :o

[2018-10-20 00:47] ausryan commented on #440
Someone please help @chriskonnertz

[2018-10-21 13:11] kamohy commented on #440
https://github.com/Contentify/Contentify/wiki/Troubleshooting#installation-what-to-do-with-the-public-folder

[2018-10-22 19:44] chriskonnertz commented on #439
Hallo,

schaue ich mir an.

[2018-10-23 01:14] rodseb opened #441 "error artisan"
Hello
I have an error when I make the command  " php artisan "

`PHP Fatal error:  Interface 'JsonSerializable' not found in /datas/vol4/yulpa165653/var/www/spm-corp.fr/site/vendor/laravel/framework/src/Illuminate/Database/Eloquent/M                                                                     odel.php on line 22`

`PHP Fatal error:  Interface 'JsonSerializable' not found in /datas/vol4/yul

[2018-10-23 08:19] chriskonnertz commented on #441
Hello,

please take a look into the `contentify` directory. Does it have a sub directory called `vendor`  that again has a bunch of sub directories? If it does not then I'd assume you have to run `php composer.phar install`.

[2018-10-23 13:15] rodseb commented on #441
in the folder ~/contentify/Vendor I have a single file MySqlDump.php

when I do " php composer.phar " install in the root folder he tells me

`PHP Fatal error:  Uncaught Error: Class 'Phar' not found in /site/composer.phar:23`
`Stack trace:`
`#0 {main}`
 `thrown in /site/composer.phar on line 23`

[2018-10-23 13:23] rodseb commented on #441
diagnostic
https://hastebin.com/ofubaruheb.cpp

[2018-10-23 16:06] chriskonnertz commented on #441
Ahhh ok thanks. This means that you do have the vendor stuff. :)

[2018-10-23 16:15] chriskonnertz commented on #441
My assumption is that the PHP JSON extension is missing on your system.

To verify my assumption, please go to the admin backend -> settings -> click on the "PHP Info" button. Then use your browser to search for "json" on the page. You should find a section looking similar to this:
![json](https://user-images.githubusercontent.com/4319323/47374692-da6df580-d6ee-11e8-9cfa-c17bb266615d.png)

If you

[2018-10-23 16:17] chriskonnertz commented on #435
Here is the answer:

[2018-10-23 16:26] rodseb commented on #441
hi
it's enabled with version 1.6.0
![site 2](https://user-images.githubusercontent.com/11620540/47375543-cf1bc980-d6f0-11e8-8f0f-881eedacb8e7.png)

[2018-10-23 16:27] chriskonnertz commented on #439
Öhm ja da ist wohl was dran. :innocent:
Es wurde in der Tat nicht geprüft ob das Match überhaupt featured ist, was natürlich wenig Sinn ergibt.

Das hier sollte das beheben:
https://github.com/Contentify/Contentify/commit/771af072d28b9718d786a3cf1eeaa07887eb3157

Bitte hier schließen falls es nun wie erwartet funktioniert.

[2018-10-23 16:41] chriskonnertz commented on #439
Hab was vergessen: https://github.com/Contentify/Contentify/commit/49f7a2c679820387e53e1788aa218950effddb8f

[2018-10-23 16:43] chriskonnertz commented on #438
Wie gesagt:

Das müsstest du dann zusätzlich einbauen.

An sich auch nicht schwer. Die allereinfachste Lösung: Bau an die URL so was an wie `?filter=pro`, also z. B. `http://example.com/teams?filter=pro`

Dann öffnest du dieses Template: https://github.com/Contentify/Contentify/blob/2.5/app/Modules/Teams/Resources/Views/index.blade.php

Dort fügst du nach Zeile 3, also hinter das `foreach...`, das

[2018-10-23 16:53] chriskonnertz commented on #436
Team - Name etc?

Yes.

[2018-10-23 16:54] chriskonnertz commented on #436
So do you recommend to permanently change it from "127.0.0.1" to "localhost"?

[2018-10-23 16:55] chriskonnertz commented on #434
Closed. This really seems to be a bug and I will try to solve it.

[2018-10-23 16:55] #434 closed, assigned to chriskonnertz

[2018-10-23 19:40] NePhiTV commented on #439
Leider funktioniert das ganze noch nicht so wie gewollt, das Featured Match bleibt dennoch oben stehen. Außerdem werden jetzt die letzten Spiele nicht mehr ausgelesen.

Das Match was oben ausgegeben wird (FeaturedMatch) ist immer das Match was am längsten von der Zeit weg liegt, allerdings wird nach abschluss des Matches das ganze nicht deaktiviert und leider muss man dafür auch keinen Featured ha

[2018-10-23 20:24] NePhiTV commented on #438
Ah. Okay vielen Dank! Das geht eigl. auch :)

[2018-10-23 20:24] #438 closed, assigned to chriskonnertz

[2018-10-23 21:34] abdulsami34 commented on #436
Yeah.
I tried multiple times installing this and worked pretty well with this change.

[2018-10-24 15:44] chriskonnertz commented on #440
@ausryan Did you change something special in the configuration (of your server)? Any changes to a `.htaccess` file?

[2018-10-24 15:57] chriskonnertz commented on #441
I am not yet convinced! ;)

Please try this via console(! _not_ via web browser!): `php public/install.php` This will show you some information. What is it displaying after "PHP Json Extension:"?

[2018-10-24 16:00] chriskonnertz commented on #436
Ok thanks.

[2018-10-24 16:00] #436 closed, assigned to chriskonnertz

[2018-10-24 16:04] chriskonnertz commented on #439
Hol mich bitte kurz ab: Das ist in dem Template `/app/Modules/PhobosTheme/Resources/Views/layout.blade.php` der Code hier, ja? `@widget('Matches::Matches')`
Oder nutzt du was anderes?

[2018-10-24 17:00] chriskonnertz commented on #380
Hello,

finally had time to write a bug fix. I hope this fixes excatly this problem.

In your pull request you were right about what the problem was, but I was also right that there had to be a redirect (okay, acutally I've added a new step instead of a redirect), so I kinda combined our solutions. c9d58d4

Thank you for your contribution, it helped a lot (even though it did not get merged)!

[2018-10-24 23:06] rodseb commented on #441
![screenshot 2018-10-25 01 06 27](https://user-images.githubusercontent.com/11620540/47466601-3e2d1700-d7f2-11e8-85ef-e3255acdf795.jpg)

[2018-10-25 07:39] NePhiTV commented on #439
Hallo Chris,

Ja das Template stimmt, und ich benutze einmal für die letzten Spiele "@widget('Matches::Matches', ['limit' => 5])" und für das Featured Match "@widget ('Matches::FeaturedMatch', ['limit' => 1])"

lg
NePhi

[2018-10-25 20:04] NePhiTV opened #442 "Twitch Widget funktioniert nicht mehr"
Hallo Leute,

leider funktioniert das Twitch Widget nicht mehr, der Cronjob wird ordnungsgemäß ausgeführt, leider wird das ganze aber nicht aktualisiert. An der Artisan Datei genauso wie an den Twitch API Dateien wurde nichts verändert. Der Twitch API Key ist auch korrekt, es wurde sogar ein neuer angelegt. Leider ohne Erfolg.

Ist aktuell ein Problem in diese Richtung bekannt?

lg
NePhi

[2018-10-25 22:16] chriskonnertz commented on #417
Would be nice but the script would need more permissions than it should have...

[2018-10-25 22:16] #417 closed, assigned to chriskonnertz

[2018-10-25 22:17] chriskonnertz commented on #442
Hallo,

möglicherweise, zumindest steht schon länger ein mögliches Problem im Raum: https://github.com/Contentify/Contentify/issues/420

[2018-10-29 17:57] roachy commented on #441
Could your server have more than one php.ini file?

[2018-10-29 18:44] chriskonnertz commented on #441
Hi, @roachy yes that might be true.

[2018-10-29 18:44] chriskonnertz commented on #441
According to the screenshot of `phpinfo()` the web `php.ini` is located in `/etc/phpini/php72/spm-corp.fr.ini`.
To find out where the console `php.ini` is located you might use this command: `php --ini`

[2018-10-30 11:55] StamplerJ opened #443 "count(): Parameter must be an array or an object that implements Countable"
While trying to install Contentify on my Windows 10 Laptop, I got the following error message after the final step:

### ErrorException in Builder.php line 1231: count(): Parameter must be an array or an object that implements Countable

    in Builder.php line 1231
    at HandleExceptions->handleError('2', 'count(): Parameter must be an array or an object that implements Countable', 'C:\xampp\htd

[2018-10-30 11:59] StamplerJ commented on #443
I found a workaround in this article: https://github.com/invoiceninja/invoiceninja/issues/1767#issuecomment-414149125

`count($query->wheres);  -->  count((array)$query->wheres);`

[2018-10-30 11:59] #443 closed, assigned to chriskonnertz

[2018-10-30 21:34] chriskonnertz commented on #443
Hello,

so this is not (directly) a Contentify error or is it? Is there something we should change?

[2018-10-31 22:49] roachy commented on #414
@chriskonnertz Going to assign myself to this functionality if that's cool

[2018-11-01 11:16] chriskonnertz commented on #414
Hi, sure! :)

[2018-11-02 12:33] StamplerJ commented on #443
Yes, this seems to be a PHP / Laravel problem.
I'm sorry for opening up this issue in Contentify

[2018-11-02 13:46] chriskonnertz commented on #443
No problem! But again the question is: Do you think there is something we can / should change in the Contentify code so others are not going to face this error? Can we apply your workaound to the code of Contentify?

[2018-11-02 14:03] StamplerJ commented on #443
I am not experienced in Laravel or Contentify. This problem occured right after installation, I didn't modify anything. I used the newest XAMPP installation on a clean machine, so maybe there is a compatibility issue here. Looking at the workaround, it seems to be a solution that is downward compatible.

[2018-11-04 02:27] NePhiTV commented on #439
Gibt es dazu evtl. schon eine Lösung oder hat noch jemand eine Idee?

lg
NePhi

[2018-11-04 02:28] NePhiTV commented on #442
Heyho,

keiner eine Idee? :/

lg
NePhi

[2018-11-04 13:09] darksidefr opened #446 "Error 500 installation"
Hello, (sorry for my english i'm french) after clicking on "installation" y have an error 500 ;(
My log lavarel.log :

[2018-11-04 12:26:14] production.ERROR: PDOException: SQLSTATE[HY000] [2002] Connection refused in /homepages/5/d759942488/htdocs/osg/vendor/laravel/framework/src/Illuminate/Database/Connectors/Connector.php:68
Stack trace:
#0 /homepages/5/d759942488/htdocs/osg/vendor/laravel/fram

[2018-11-04 15:52] chriskonnertz commented on #446
Hello,

No problem! :)

a) Check the database credentials in `storage/app/database.ini? . Fix them if they are wrong. Then try again to install Contebtify.

b) Do you use the "developer version" by cloning it from GitHub? If so, I recommend that you try the `2.6-dev` branch, because it has some bug fixes for the installer.

[2018-11-04 15:58] chriskonnertz commented on #442
Hi,

ich hab mir Twitch generell vor ein paar Tagen noch mal angeschaut und da hat es bei mir soweit funktioniert.

Okay also die Frage für ist, wo genau der Fehler liegt? Im Backend kann man ja unter Einstellungen -> Diagnose -> Jobs.last_execution schauen wann der Cron-Job zuletzt ausgeführt wurde. Hast du das mal eine gewisse Zeit beobachtet und kannst bestätigen dass er wirklich regelmäßig aus

[2018-11-04 16:04] chriskonnertz commented on #439
Ah sorry du hast recht ich hatte mich da wohl blöd in den Dateien vertan, hier ein neuer Lösungsversuch: https://github.com/Contentify/Contentify/commit/1bd19db2ccad1094ab22b34c72dff8335ffa4dd2

[2018-11-04 16:08] darksidefr commented on #446
hello i use the 2.5 download on your website

[2018-11-04 16:08] chriskonnertz commented on #410
Sorry for not replying but to be honset I have not idea why it is going wrong :( There should be a big blue install button but it's missing, also in the HTML source code of the page.

[2018-11-04 16:10] chriskonnertz commented on #446
Ok yes it has some small but very annoying bugs in the installation script.

Did you try it again after it failed the first time? If not, please try again, due to a bug with saving the database credentials sometimes itonly works at the second try.

[2018-11-04 16:12] chriskonnertz commented on #443
Great! But I do not udnerstand *where* you did this change - in which file and in which line? Please tell me that so I can decide if I can use your workaround as well. :)

[2018-11-04 16:12] darksidefr commented on #446
In fact I can not even install, I run install.php all and green when I click on install I have an error page 500
https://www.team-osg.fr

[2018-11-04 16:13] chriskonnertz commented on #443
Achso, nochmal auf Deutsch, vielleicht sprechen wir ja aneinander vorbei:
Was ich wissen möchte ist, wo hast du diese Code-Änderung durchgeführt? Wenn du mir das verrätst kann ich mir das anschauen und den Workaround eventuell in den Code von Contentify übernehmen.

Weil derzeit weiß ich nur: Du hattest ein Problem, konntest es mit dem Code von oben lösen, ich weiß aber eben nich *wo*. Entweder ve

[2018-11-04 16:17] chriskonnertz commented on #446
Ah okay, looks like there is a mistake in `/..../htdocs/osg/storage/app/database.ini`. Please copy and paste it here. But of course, remove your MySQL password. ;)

[2018-11-04 16:18] darksidefr commented on #446
; Auto-generated file with database connection settings.
; See config/database.php for more settings.

host = db759946410.hosting-data.io
database = db759946410
username = dbo759946410
password = ****

[2018-11-04 16:19] chriskonnertz commented on #446
Ah okay, please try to add `"`, similar to this example:

[code]

[2018-11-04 16:21] chriskonnertz commented on #446
In general, you might try to use a password without special chars. They might cause trouble.

[2018-11-05 11:58] darksidefr opened #448 "ErrorException set_time_limit () a été désactivé pour des raisons de sécurité"
Hello,
Another problem with another hoster :(
i have and error at the step=4 : ErrorException
set_time_limit () a été désactivé pour des raisons de sécurité

i contact my hoster he say to me the limit it fix at 15 sec, how do change in Contentify for work it ?
Thank

[2018-11-05 14:39] NePhiTV commented on #442
Hallo Chris,

tatsächlich gibt es ein Fehler.

[2018-10-29 11:57:58] production.ERROR: ErrorException: Trying to get property of non-object in /var/www/vhosts/xxxx/httpdocs/xxxx/xxxx/app/Modules/Streams/Api/TwitchApi.php:78

Normal sollte es doch aktualisiert werden wenn man z.B einfach https://immortal-rogues.de/jobs in die URL Zeile eingibt oder irre ich mich da? Weil der Cronjob macht ja auch n

[2018-11-05 14:46] NePhiTV commented on #439
Heyho,

merci! Hat funktioniert. :)

Gruß
NePhi

[2018-11-05 14:46] #439 closed, assigned to chriskonnertz

[2018-11-06 13:36] chriskonnertz commented on #448
Hi,

well it seems like this is the code that causes the error: https://github.com/Contentify/Contentify/blob/2.6-dev/contentify/Controllers/InstallController.php#L324
But I wonder why? There are a bunch of checks that are performed to avoid issues with permissions.

I'll try to figure out why you get this error message anyway.

[2018-11-06 13:46] chriskonnertz commented on #448
Thank

Did they tell you *how* they deactivated it?

[2018-11-06 20:27] darksidefr commented on #448
hello, my hoster don't accept the modification, i say to me time limit is fixed to 15 sec :'(

[2018-11-06 20:28] darksidefr commented on #448
can u say me the code for fix limit to 15 sec to time_limit ?

[2018-11-07 09:18] chriskonnertz commented on #448
That's okay, even though 15 seconds is pretty short, 30 is the default value.

=> https://github.com/Contentify/Contentify/blob/v2.5/contentify/Controllers/InstallController.php#L305

Change `set_time_limit(self::MAX_TIME_LIMIT);` to `#set_time_limit(self::MAX_TIME_LIMIT);` or just delete the whole line.

But if the ins tallation needs more than 15 seconds, it will fail, of course. So I hope your

[2018-11-07 09:49] chriskonnertz opened #450 "[Official] Contentify 2.6"
## Contentify 2.6

v2.6 will be the last big release for the 2.x series. Afterwards the focus of development will switch to 3.0. This does not mean there won't be any updates for 2.x. If it makes sense there might be a 2.6.1 release. However, v2.6 marks the end of an area, the end of the somehow old-schoolish Contentify that basically tried to mimic classic popular gaming CMS such as WebSPELL.

**

[2018-11-07 09:57] #304 closed, assigned to chriskonnertz

[2018-11-07 09:58] chriskonnertz commented on #304
Ja das wird mit 2.6 definitiv passieren.

[2018-11-07 10:22] #264 closed, assigned to chriskonnertz

[2018-11-07 10:22] #113 closed

[2018-11-07 10:22] #52 closed

[2018-11-07 10:24] chriskonnertz opened #451 "[Official] Contentify 3"
The focus of v3 will be technical. It will not have many/big new features. It is very important to keep this CMS up-to-date from a technical point of view.

**Schedule**:
Start of development: Early 2019
Release: Early June 2019
**Feature List:**

- [x] Laravel 5.5 (requires PHP 7, has LTS)
- [x] Full support of PHP 7 (types etc.), PHP 7.0 becoming the minimal supported PHP version
- [x] New image

[2018-11-07 10:25] chriskonnertz commented on #234
Closing this one and recreating it here: https://github.com/Contentify/Contentify/issues/451

[2018-11-07 10:25] #234 closed, assigned to chriskonnertz

[2018-11-07 12:09] mrc4tt commented on #451
FB, Twitch, Steam, GitHub e.g ;) for "logins" ^^

[2018-11-07 12:11] mrc4tt opened #452 "[Feature] Languages editor"
it could be nice. if there is a "Language Editor" for edit the "english language" to own language (as example) i'm working to language "Danish" ;)

But i don't know, which files needed to be "translated" ^^

Maybe you can help: @chriskonnertz

[2018-11-07 15:43] Unclesam1970 opened #453 "Login funktioniert nicht in Webseite"
Hallo Zusammen!
Hoffe es kann mir hier jemand helfen!
Ich habe die aktuelle Contentify Version 2.5 installiert und seid Tagen funktioniert eigentlich alles Prima.
Aber seid heute kann ich mich nicht mehr einloggen in die Webseite. Es erscheint dann folgende Fehlermeldung:

**ERROR
Sorry, something bad happened. Our website has crashed.

Don't worry, we will handle this. In the meantime, make a cup

[2018-11-07 16:11] kamohy commented on #451
Steam is aktive

[2018-11-07 16:17] kamohy commented on #453
um den fehler zufinden, altiviere mal den debug modus.
dann zeigt er dir statt *website has a crash

einen fehlerbericht

[2018-11-07 16:48] Unclesam1970 commented on #453
Hallo! Danke erstmal für Antwort:

Hier der Debug Bericht:

(1/1) TokenMismatchException
--
in VerifyCsrfToken.php (line 29)
at VerifyCsrfToken->handle(object(Request), object(Closure))in Pipeline.php (line 148)
at Pipeline->Illuminate\Pipeline\{closure}(object(Request))in Pipeline.php (line 53)
at Pipeline->Illuminate\Routing\{closure}(object(Request))in ShareErrorsFromSession.php (line 49)
at Sh

[2018-11-07 17:08] kamohy commented on #453
okay folgendes: ftp öffnen -> gehe in -> storage/framework -> nun in folgende ordner nacheinander: cache (alles darin löschen) dann: session (auch alles löschen)
und views: auch hier nochmal alles löschen

dann ruft ihr im browser eure seite neu auf
(kann etwas dauern beim ersten mal)

und testet ob ihr euch wieder einlogen könnt
wenn ja super und debug-modus wieder deaktivieren

[2018-11-07 17:12] Unclesam1970 commented on #453
Alles ausgeführt...geht immer noch nicht ;(
Fehlerausgabe ist die selbe

[2018-11-07 17:30] kamohy commented on #453
okay hab gerade mal neu nachgelesen bei dir
probier mal folgendes bei dir
in deinem browser löschst du bitte mal cache und cookies
(kein F5 oder STRG+F5)

dann versuch es nochmal

[2018-11-07 17:33] Unclesam1970 commented on #453
Habe ich auch gerade versucht und zusätzlich mit 2 weiteren Browsern. Immer der selbe Fehler

[2018-11-07 17:34] kamohy commented on #453
was habt ihr zuletzt verändert ?
weil ich nu überfragt bin

[2018-11-07 17:36] Unclesam1970 commented on #453
Eigentlich seid dem letzten Login nichts. Ich war danach noch ein paar mal im Backend und auf der Seite. Gestern auch noch ...eingeloogt und alles ging.
Seid heute der Fehler

[2018-11-07 17:37] Unclesam1970 commented on #453
Frage mich langsam ob es ein Server Fehler ist vom Anbieter! Aber da kann wohl nur der CMS Entwickler selber was zu sagen. Aber trotzdem danke für deine Tips

[2018-11-08 06:39] #442 closed, assigned to chriskonnertz

[2018-11-08 12:35] kamohy commented on #453
hab mal ne andere frage
schau mal nach welche rechte die ordner unter storage/framework/ haben
diese sollten in der regel 777 haben
wenn die, die falschen rechte haben kann auch sowas passieren

-> cache
-> views
-> sessions

diese drei überprüfen

[2018-11-08 14:06] chriskonnertz commented on #453
Welche Version nutzt ihr denn? Es gab mal in älteren Versionen Probleme beim Login, wobei die eigentlich auch sich durch andere Symptome äußerten... naja trotzdem bitte mal nachschauen. Z. B. einloggen -> Backend -> runter scrollen im Footer steht die Version.

TokenMismatchException kann wie schon gesagt wurde was mit Cache im Browser oder Server zu tun haben - aber die habt ihr ja geleert. Habt

[2018-11-08 14:09] kamohy commented on #453
Ich mag dein Humor :-)

[2018-11-08 14:12] chriskonnertz commented on #453
Ok, ungünstig ausgedrückt.
a) Einen Account nehmen der noch eingeloggt ist (weil Cookie und so)
b) oder in die Config-Datei `config/app.php` gehen und schauen was dort bei "version" gesetzt ist.
c) In die DB gehen (z. B. mit phpMyAdmin) und in der config Tabelle nachschauen

[2018-11-08 14:27] Unclesam1970 commented on #453
Hi!
Also alle Ordner haben die Rechte 777.
Zusätzlich nochmal alle gelöscht...Browser Cache geleert.....selbe Problem!
Die Version ist die V2.5 !Habe die letzte Woche erst von der Page gezogen.
Das einzige was ich geändert habe, ist einen User angelegt mit SuperUser Rechten...sonst nichts. Und PNG Logo auf der Index Seite oben (Contentify) geändert.

Wenn ich in die Datenbank schaue, dann haben al

[2018-11-08 15:15] kamohy commented on #453
haste auch sämtliche cookies vom browser gelöscht?

das hatte ich mal 🤔

[2018-11-08 15:23] chriskonnertz commented on #453
Hm okay das müsste dann passen, in de 2.6-dev hat sich dahingehen meiner Erinnerung nach nichts geändert.

[2018-11-08 15:27] chriskonnertz commented on #453
Ist vermutlich kein Laravel Fehler im eigentlichen Sinne, nach dem Motto dass im Laravel Code ein Fehler gemacht wurde.

Was mir da aber noch einfällt:

- Die Sessions werden im Ordner storage/cache/sessions gespeichert, die nochmal explizit löschen und schauen dass die Dateien wirklich auch weg sind
- Noch mal Schreibrechte CHMOD 777 auf den Ordner geben. Da vertut man sich schon mal, geht mit CH

[2018-11-08 20:08] Unclesam1970 commented on #453
Bis auf die Zeitzone alles ausprobiert....jedoch ohne Erfolg.
Ich könnte es ja neu installieren, aber wer sagt mir das der Fehler nach ein paar Tagen nicht wieder da ist?
Hat ja jetzt auch einwandfrei erst funktioniert und erst seid vorgestern geht es aus heiterem Himmel nicht mehr !

[2018-11-09 05:42] kamohy commented on #451
Twitter wär ganz nett

eine andere idee
Forumsränge, oldshool ohne ende
aber, abhängig von der anzahl der post‘s hat man halt forenränge.

is halt nur eine idee

[2018-11-09 12:36] chriskonnertz commented on #452
Hello,

You are right. That's why we have developed such a tool. :)

https://github.com/chriskonnertz/translation-factory

But to be honest it's not so well tested and I do not know if it works well with Contentify 2.5.

=> https://github.com/Contentify/Contentify/wiki/Localisation---Translation#add-more-languages

[2018-11-09 12:45] mrc4tt commented on #452
@chriskonnertz cool to hear! ;)

I will working on the Danish language! :-D

Is there anything to be aware of. regarding the new version possibly 2.6?

[2018-11-09 12:52] chriskonnertz commented on #452
Nice!!

Well, yes, 2.6 will have some new translations so if you use 2.6 as the base for your work it would be awesome.

[2018-11-09 12:53] mrc4tt commented on #452
I will try do.

Maybe i can use the translation-factory? on the 2.6 version?

[2018-11-09 13:52] mrc4tt commented on #452
Hey @chriskonnertz i can't getting translation-factory to works..... it dont supporting https.

[2018-11-10 10:18] kamohy commented on #453
Also, was ich vorschlagen kann:
ich wollt mir gerade eure seite noch einmal ansehen...
Leider sehe ich dort kein contentify mehr :-/

Schade, denn das system ist wirklich genial :-/

[2018-11-10 11:57] vilchez521 opened #454 "Add support get5 csgo"
Can this be possible?

[2018-11-10 12:08] mrc4tt commented on #454
Come with more information, about why you need get5 CSGO added on Contentify? Are you talking about "embed" the get5-panel? ;)

[2018-11-10 12:20] chriskonnertz commented on #454
Hello,

"get5 csgo" = https://github.com/splewis/get5 ?

[2018-11-10 12:35] vilchez521 commented on #454
I need that page is automatically able to launch the game on the server, I take this opportunity to ask also for the classification, I am not able to find it on the page...

[2018-11-10 12:39] mrc4tt commented on #454
Yeah...i don't think it will be created. ;) you can create your own. ;) and you need to know howto(code) API ;) before it will works (as automatically)

[2018-11-10 12:43] vilchez521 commented on #454
And regarding the classification? Could you implement on the page? This is important for us...

[2018-11-10 13:11] mrc4tt commented on #454
The problem is, if Contentify needed to "make" get5-WEB base to works on Contentify, will require about they will make a "script" so the "python" is running. ;)

*\ OR you need to host it youself (or linking the public page) to being "embeded" ;)

@chriskonnertz - i think he means this > https://github.com/splewis/get5-web

tr;dr dunno about get5-web supporting API.

[2018-11-11 09:11] vilchez521 commented on #454
Exactly, this page what it does is throw a game when you dés to play.
My idea is that when the time comes for the game, the page will be able to launch the game according to the teams that have in that game.

Do not answer the second question about the classification, I still do not be able to find the classification of the League on the page, can you help me?

[2018-11-21 22:33] jopa50 opened #455 "Error modules admin panel"
Hello, I'm still working on this cms.
But currently I have a problem with the administration panel.
In WEBSITE -> Modules
I have this displayed:
[code]

In the log I have this:
`production.ERROR: ErrorException: Undefined index: slug in /var/www/html/contentify/vendor/laravel/framework/src/Illuminate/Support/Collection.php:1563`

Thanks for your help

[2018-11-21 22:43] jopa50 opened #456 "app.key"
Hello, always on this cms. I have a question can be silly.
But in my admin / diag
I have `App.key Default development key, you have to change it!`

What is the procedure for replacing it?

Thanks for your help.

[2018-11-21 23:00] chriskonnertz commented on #456
Hello,

you may change the application key by editing the file `config/app.php` with a text editor.

However I am not sure if this a good idea *after* installing the CMS. I will investigate and let you know what I learn.

[2018-11-21 23:02] jopa50 commented on #456
Yes I change a number that makes the site crash

[2018-11-22 10:14] roachy commented on #456
I don’t think you are supposed to change the app.key as it is set when the CMS is installed

[2018-11-25 09:34] udarmolota opened #457 "Disabling modules"
Hello.
I have the same question as it here, but I didn't find the answer:
https://github.com/Contentify/Contentify/issues/210#event-1243897376
Is there any way to disable some modules from the backend admin page? I see there is Modules page, I have super admin user but I don't have the ability to disable modules that I don't need, like: **Forums** for example. Can I do it somehow without opening t

[2018-11-25 16:16] jopa50 commented on #457
Hello, you can hide the forums module which is in your menu via this page:
\ Contentify \ app \ Modules \ yourtheme \ Resources \ Views \ layout.blade.php

line: <li> {!! link_to ('forums', trans ('app.object_forums')) !!} </ li> as an example
<! -- <li> {!! link_to ('forums', trans ('app.object_forums')) !!} </ li> -->

Waiting for a more concrete answer from Chris Konnertz

[2018-11-25 17:48] jopa50 commented on #455
Hello, problem solved with php composer.phar install

[2018-11-25 17:49] #455 closed, assigned to chriskonnertz

[2018-11-25 18:13] chriskonnertz commented on #457
Hello, no, not at the moment. Disabling modules is a feature that is planned to be implemented in the future. (Altough not in the near future.)

If you want to hide them from the admin navigation, you may open the `module.json`of the module, for example `app/Modules/Cups/module.json` and delete the "admin-nav" entry.

**Before**:

[code]
**After**:

[code]

Afterwards clear the cache to enforce re

[2018-11-27 20:07] andakawa commented on #454
You'll need to set this service up on your webserver and embedd it on a contentify-page but as a feature-request I guess that this is way out of scope.

[2018-11-27 20:08] kodxana commented on #305
@johanbosman Can you tell me how did you solved '''Call to undefined function apache_get_modules() in''' problem?

[2018-11-27 22:36] chriskonnertz commented on #305
Hello,

maybe it helps to open `public/install.php` with a text editor and remove line 69-74 ( https://github.com/Contentify/Contentify/blob/v2.5/public/install.php#L69 ).

[2018-11-27 22:39] chriskonnertz commented on #454
Yeah I think the same way. I mean even *if* we assume this is in the scope of the general development of this CMS, it would have a very low priority. So I recommend to try to find an external coder who implements this feature.

[2018-11-27 22:49] chriskonnertz commented on #455
Great to hear! :)

[2018-11-28 08:27] chriskonnertz commented on #456
I recommend to clear the cache ( [manually](https://github.com/Contentify/Contentify/wiki/FAQ#how-can-i-clear-the-cache) ).

[2018-11-28 08:29] chriskonnertz commented on #411
I will check if this issue exists in v2.5/2.6 as well.

[2018-11-28 08:33] chriskonnertz commented on #404
Hello,

this bug should be fixed in v2.5.

[2018-11-28 08:33] #404 closed, assigned to chriskonnertz

[2018-11-28 08:33] #400 closed, assigned to nobody

[2018-11-28 08:33] chriskonnertz commented on #400
Hoffen wir es. :)

[2018-11-28 08:34] #376 closed, assigned to chriskonnertz

[2018-11-28 08:34] #334 closed, assigned to chriskonnertz

[2018-11-28 08:35] chriskonnertz commented on #334
Well it does not seem like this is going to happen.

[2018-11-28 08:38] chriskonnertz commented on #333
Thank you for this suggestion. When you created this issue I considered to implement it. However, I will not. I'm worried about the GDPR topic. Embedding something from Google in this way probably is dangerous in terms of GDPR.

[2018-11-28 08:38] #333 closed, assigned to chriskonnertz

[2018-11-28 08:38] #319 closed, assigned to chriskonnertz

[2018-11-28 08:39] #301 closed, assigned to chriskonnertz

[2018-11-28 08:39] chriskonnertz commented on #301
PS Here is a guide how to move a Contentify website to another location (server): https://github.com/Contentify/Contentify/wiki/FAQ#how-can-i-move-the-website-to-another-location

[2018-11-28 08:41] chriskonnertz commented on #280
I assume this issue is out of date and can be closed.

[2018-11-28 08:41] #280 closed, assigned to chriskonnertz

[2018-11-28 08:41] #265 closed, assigned to chriskonnertz

[2018-11-28 08:41] chriskonnertz commented on #248
Done already.

[2018-11-28 08:41] #248 closed, assigned to chriskonnertz

[2018-11-28 08:42] #180 closed, assigned to chriskonnertz

[2018-11-28 08:43] #259 closed, assigned to chriskonnertz

[2018-11-28 08:44] #188 closed, assigned to chriskonnertz

[2018-11-28 08:45] #446 closed, assigned to chriskonnertz

[2018-11-28 09:19] #408 closed, assigned to chriskonnertz

[2018-11-28 09:22] chriskonnertz commented on #410
Workaround: Call the `/install` URL manually (for example: `example.org/install`)

[2018-11-28 09:26] chriskonnertz commented on #410
You may also try this: https://github.com/Contentify/Contentify/issues/305#issuecomment-442244603

Could be the problem here, `apache_get_modules()` not working / allowed on you server but due to the configuration of your server you did not see the error message but the rendering of the page was aborted, so the button was missing.

[2018-11-28 09:26] #410 closed, assigned to chriskonnertz

[2018-11-28 09:27] chriskonnertz opened #458 "Setup: Display info if errors will be hidden"
If errors will be hidden during the setup process this can have strange effects if errors occur.

To handle this problem, display an info alert if errors will be hidden.

[2018-11-28 09:30] chriskonnertz commented on #410
=> https://github.com/Contentify/Contentify/issues/458

[2018-11-28 09:40] chriskonnertz commented on #401
Sieht nach wie vor sehr nach ein Problem mit Berechtigungen aus

Bitte prüfen ob für das Verzeichnis `/var/www/html/storage/framework/cache/`Schreibberechtigungen gesetzt sind. Immer daran denken, die muss man rekursiv setzen damit sie auch für Unterordner gelten!

[2018-11-28 09:40] #401 closed, assigned to chriskonnertz

[2018-11-28 09:44] chriskonnertz opened #459 "Solve forum deletion issue"

[2018-11-28 18:54] rozemek opened #460 "How to add header banner?"
How can i add a header banner? I tryed installing all your releases from 2.0 to the newest one and in none of them there is a HEADER BANNER the big big banner . How can i add it? Please help...

[2018-11-28 19:11] rozemek commented on #460
hello?

[2018-11-28 19:59] chriskonnertz commented on #460
Hello,

do you mean  the logo in the header?

[2018-11-28 20:01] rozemek commented on #460
yes

[2018-11-28 20:01] rozemek commented on #460
i want that sliding banner like you have on your demo website but i don't know how to get it. My website has totally no banner after installing

[2018-11-28 20:13] chriskonnertz commented on #460
1) Header logo: Replace this image: `public/img/header_logo.png`
2) Slider: It **is** there but since you did not create any slides it is not displayed. Log into your account, go to the backend (admin control panel), then go to "slides" and create a new slider.

[2018-11-28 20:15] rozemek commented on #460
may i upload the new 2.6 version and do it there ?

[2018-11-28 20:19] chriskonnertz commented on #460
Well, yes, it's pretty stable I think, so actually you may use the 2.6 version, even though it's still under development (but nothing is broken so that's not a problem).

**But**: Currently there is only the developer edition available so you would have to run `composer install`. If you have no experience with website development / server administration I'd recommend you stick to 2.5.

[2018-11-28 20:23] jopa50 commented on #456
Actually it works better, thanks again problem solved.

[2018-11-28 20:30] rozemek commented on #460
And can i use any plugins from any other cms? Or i have to make them?

[2018-11-28 20:30] rozemek commented on #460
Oh and where is the main template ? i would like to edit it like change the design

[2018-11-28 20:57] chriskonnertz commented on #460
Most likely you cannot use plugins from other plugins. However, you can use stuff that is made for the Laravel framework, because Contentify is built upon Laravel.

[2018-11-28 20:59] chriskonnertz commented on #460
=> `app/Modules/MorpheusTheme/Resources`
(`app/Modules/MorpheusTheme/Resources/Views/layout.blade.php` = template,  `app/Modules/MorpheusTheme/Resources/Assets/less/frontend.less` = CSS code  )

[2018-11-28 21:13] rozemek commented on #460
Can i just use bootstrap templates to implement your cms into them or do i need to use laravel templates?

[2018-11-29 08:05] chriskonnertz commented on #460
Contentify uses Bootstrap 3, so yes, Bootstrap 3 themes are compatible.

[2018-11-29 15:49] rozemek commented on #460
Chris. One more question. Would You be able to create some plugins if i’d pay for them? Good money! :D :)

[2018-11-29 16:30] rozemek opened #461 "Adding icon to links in menu"
Hey again. If i would like to add a bootstrap icon next to a link in a user profile menu like for instance fa fa icon next to this link :
    <li>{!! link_to('users/'.user()->id.'/edit', trans('app.edit_profile')) !!}</li>
I would like to add a fas fas users icon next to edit profile link

Question 2
How can I add another form of avatar? I would like to add a possibility for a user to upload his b

[2018-11-29 17:23] rozemek commented on #460
Thanke You! Danke!

[2018-11-29 18:52] chriskonnertz commented on #461
Hello,

Function ( https://github.com/Contentify/Contentify/blob/2.5/contentify/HtmlBuilder.php#L377 ) :
`function fontIcon($icon, $color = null, $class = null, $category = null)`

Example:
`{!! HTML::fontIcon('star') !!}`

Or maybe what you are looking for is this function:
`function iconLink($icon, $title, $url, $showTitle = false, $attributes = array())`

=> https://github.com/Contentify/Conten

[2018-11-29 18:53] chriskonnertz commented on #460
You are welcome :)

[2018-11-29 19:08] rozemek commented on #461
Both team and profile.

2 more questions. I’m sorry im asking but i’m creating themes for your cms so later i can share them as i really appreciate your work and i would like to help you by adding themes so your cms community will be huge!!
So my question is how to add notifications for a team that has a match in a cup/tournament. For example they are in a team bracket and they have an opponent .

[2018-11-29 19:39] chriskonnertz commented on #413
Nun experimentell in v2.6-dev enthalten.

https://github.com/Contentify/Contentify/commit/3c38c31987857f2c3ee127612a44c9f9ea724de2

[2018-12-01 20:58] chriskonnertz commented on #461
Well you have to add a new field to the `Contentify\Model\User(.php)` model and to the  ` App\Modules\Teams\Team(.php)` model. This means you have to create a new column in the database tables (`users` and `teams`). Also you have to register the attributes fillable in the model files, which means you have to add their names to the `$fileHandling` array. THen you have to create a fiel upload form f

[2018-12-02 13:37] Fear2706 opened #462 "wie installiere ich Contentify"
Guten Tag, ich habe grade dieses CMS gefunden und wollte es gerne mal teste.

Bei mir läuft froxlor mit nginx
Php 7.2

ich habe die Daten auf mein FTP hochgeladen. Die Daten habe ich direkt über ihre seite runtergeladen.
Wenn ich aber den installer starten möchte  mit "DOMAIN/public/install.php"

Steht bei mir alles im Grün und unten drücke ich dann auf "Launch Installer"

wenn ich drauf drücke än

[2018-12-02 13:42] jopa50 commented on #462
HALLO, VERSUCHEN KANN EINE DATEI 777 MODUS UND DATEI sein.

[2018-12-02 13:46] Fear2706 commented on #462
Bitte was?

[2018-12-02 13:48] jopa50 commented on #462
Versuchen Sie, die in 777 installierten chmod-Dateien über Ihren FTP-Client zu installieren.

[2018-12-02 13:48] chriskonnertz commented on #462
Hallo,

das wurde wohl maschinell übersetzt.
Er meint du sollst schauen ob die Berechtigungen für die Ordner (und Unterordner) auf 777 steht.

[2018-12-02 13:50] Fear2706 commented on #462
Welche Ordner müssen den alle 777 haben?

Die hier haben alle von mir 777 bekommen. Stand so in der Anleitung im wiki

/storage
/bootstrap/cache
/public/uploads
/public/share
/public/rss

[2018-12-02 13:51] chriskonnertz commented on #462
Auch rekursiv? Also auch alle Unterordner?

[2018-12-02 13:56] Fear2706 commented on #462
diese Ordner

/storage
/bootstrap/cache
/public/uploads
/public/share
/public/rss

und alle Unterordner haben jetzt 777 bekommen. Leider noch der selbe fehler

![ok](https://user-images.githubusercontent.com/43447701/49340597-6d7d4200-f642-11e8-8fc7-5a4d9092097a.PNG)

[2018-12-02 18:43] chriskonnertz commented on #462
Ich habe mit Nginx leider kaum praktische Erfahrungen. Bei Apache würde das jetzt auf ein Problem mit dem Rewriting (Umschreiben) der URLs hindeuten. Die URL "DOMAIN/public/install" gibt es ja nicht wirklic, das ist eine virtuelle URL die es nicht direkt als Ordner gibt (den Ordner "public" gibt es aber der hat keine Unterordner namens "install".

Contentify baut auf dem PHP-Framework Laravel auf

[2018-12-02 18:46] chriskonnertz opened #463 "Todo: Set App.key to random value"
Set the app.key config value to a random value when installing the CMS to improve security and avoid problems when changing the key later on.

Idea: Do not try to write the key in the config file but to write it to another location (.ini, env?) and then just load it in the config file.

[2018-12-02 18:47] chriskonnertz commented on #456
Great!

But since this caused you trouble I believe it is a good idea to set this key automatically. I have created a new issue to remind me to implement this: https://github.com/Contentify/Contentify/issues/463

[2018-12-02 18:47] #456 closed, assigned to chriskonnertz

[2018-12-02 18:50] jopa50 commented on #463
Can we have an example please?

[2018-12-02 18:53] chriskonnertz commented on #463
Hi, this issue is just a reminder for me. I will implement this in the future.

So the idea is no to hard-code the key in the config: https://github.com/Contentify/Contentify/blob/v2.5/config/app.php#L143
Because this cannot be done by the installer of the CMS. But I want the isntaller to set the key. So one idea is to store it in a .ini file similar to the `storage/app/database.ini`. The other id

[2018-12-03 09:29] chriskonnertz opened #464 "Todo: Events & downloads can be internal"
Currently events & downloads cannot be internal, so all events & downloads are public. That has to be changed.

[2018-12-03 13:21] chriskonnertz opened #465 "Todo: Ranked downloads widget"
Create new widget or add option for existing widget so that the downloadable files in the widget are ranked by the amount of downloads.

=> https://github.com/Contentify/Contentify/blob/2.5/app/Modules/Downloads/Http/Controllers/DownloadsWidget.php#L16

[2018-12-03 13:24] chriskonnertz opened #466 "ToDo: Update module makeover"
The curret implementation of the update module is useless. There should be at least a minimalistic implementation that acutally *does* something.

[2018-12-03 18:22] chriskonnertz commented on #459
Done: https://github.com/Contentify/Contentify/commit/82e1bd581c2a2be3eff3a3cce982bd87eaa90229

[2018-12-03 18:22] #459 closed, assigned to chriskonnertz

[2018-12-04 10:56] chriskonnertz opened #467 "ToDo: Add links to frontend pages in the backend"
In the admin control panel ( = backend), add links to the overview pages of the modules in the frontend. We already have links to specific content items. For example in the teams module the teams in the backend teams overview are linked to their pages in the frontend. However, there is no link to the frontend team overview page.

Idea: Add a button in the top of the backend module overview page.

[2018-12-04 11:00] chriskonnertz commented on #398
**Update**: Google Analytics is no longer in use on the contentify.org website.

[2018-12-04 11:06] chriskonnertz opened #468 "ToDo Improve naming in forums thread action bar"
Especially the "closed" button which has a wrong name in German.

Also consider using icons in the buttons:
- Icons that illustrate what the buttons do or
- Icons that illustrate the state (for example "open"/"closed")

[2018-12-10 18:02] chriskonnertz commented on #468
Done: https://github.com/Contentify/Contentify/commit/21382f9797946c72c0d2c9b1d3627d77d65e63d0

[2018-12-10 18:02] #468 closed, assigned to chriskonnertz

[2018-12-10 18:08] chriskonnertz commented on #465
Done: https://github.com/Contentify/Contentify/commit/1069ad89888c6866f6a1468880f170f2a63f5781

[2018-12-10 18:08] #465 closed, assigned to chriskonnertz

[2018-12-10 18:56] chriskonnertz commented on #464
Done: https://github.com/Contentify/Contentify/commit/287a2069a25eaf015d58764b8018ceae99412b4a

[2018-12-10 18:56] #464 closed, assigned to chriskonnertz

[2018-12-10 18:59] chriskonnertz opened #469 "ToDo: Display default text message if no content is available"
It seems to be nice to display a default text message ("There is not content here yet" or whatsoever) if no content is available on a page. For example if there is no download in a download category.

[2018-12-11 19:02] chriskonnertz commented on #469
Done: https://github.com/Contentify/Contentify/commit/e8e12a6edfdb8832d9534f6e894b85d17609bcb0

[2018-12-11 19:02] #469 closed, assigned to chriskonnertz

[2018-12-11 19:10] chriskonnertz commented on #432
@kamohy Ich werde das nun integrieren. Sieht auf den ersten Blick schon mal gut aus. ich erwarte also keine Probleme :) Ich werde es nicht verändern bis auf dass ich die Darstellung leicht anpassen werde, also wohl die Texte anders anordnen. Einfach damit es einheitlich ist wie der ganze Rest vom Backend.

[2018-12-12 20:12] chriskonnertz commented on #432
Fertig: https://github.com/Contentify/Contentify/commit/7248f6889875ef7861ceba6725446c90ddf30205

Ich hab den Übersetzungs-Einträgen mal noch sprechende Namen gegeben.

[2018-12-12 20:24] chriskonnertz commented on #432
Du hast ja auch eine .sql-Datei geschrieben. Ging es bei dir ohne die nicht?

[2018-12-13 10:41] kamohy commented on #432
die sql ist nur zum schnellen updaten der DB
fand das einfacher als die update.php zu überschreiben oder nen installer neu zu schreiben dafür

quasi kirz im phpmyadmin anmelden hochladen und gut ist

[2018-12-13 10:42] kamohy commented on #432
kann dann zu oder?

[2018-12-14 20:11] jopa50 opened #470 "Google indexing"
Hello, I work on the indexing of my site and the referencing of the site. currently i have a problem, google warned me that i have either a noindex or robots.txt that blocks this one.
So I watch the robots.txt, it does not block google. So I still have noindex would you have an idea where he can be?
thank you

[2018-12-14 21:57] chriskonnertz commented on #470
Hello,

hm, no, I do not have any idea why this happens to your website. Neither noindex-tags nor the robots.txt should be a problem. There are no noindex-tags and the robots.txt is not disallowing anything.

[2018-12-17 09:40] chriskonnertz opened #471 "ToDo: Link home team on match page"
Example: http://94.177.246.237/matches/3

Add link to "CS:GO".

[2018-12-17 09:46] chriskonnertz opened #472 "ToDo Change Steam login button title"
Currently (German): `STEAM Anmelden`
New: `Anmelden (STEAM)`

[2018-12-17 13:34] chriskonnertz commented on #472
Also when in the ACP in the images module overview, add a title to the tags of an image.

When the search has no result, display an info text?

[2018-12-17 13:38] chriskonnertz opened #473 "ToDo Add alt text attribute for images"

[2018-12-17 13:40] chriskonnertz opened #474 "ToDo Show date of last modification"
In ACP, display the date of last modification of content in the tooltip when hovering over a row in the overview of a module.

[2018-12-17 14:28] chriskonnertz commented on #417
=> https://github.com/Contentify/Contentify/issues/463

[2018-12-17 20:05] chriskonnertz commented on #474
Done: https://github.com/Contentify/Contentify/commit/7104b8b3b8d3cd44f96473a069da1d1896567362

[2018-12-17 20:06] #474 closed, assigned to chriskonnertz

[2018-12-17 20:08] chriskonnertz commented on #473
Somehow already done, because images can have a title.

[2018-12-17 20:08] #473 closed, assigned to chriskonnertz

[2018-12-17 20:10] chriskonnertz commented on #472
Done: https://github.com/Contentify/Contentify/commit/c858a73883ef6f0aabef6770e9fd7e96c8556222

[2018-12-17 20:10] #472 closed, assigned to chriskonnertz

[2018-12-17 20:16] chriskonnertz commented on #471
Done: https://github.com/Contentify/Contentify/commit/a92aeceb8f5eb3f18e3ab928fbce6c381e758b37

[2018-12-17 20:16] #471 closed, assigned to chriskonnertz

[2018-12-18 08:31] chriskonnertz opened #475 "ToDo Add missing game icons"
Overwatch, Fortnite, PUBG, ...

[2018-12-18 08:51] chriskonnertz opened #476 "ToDo Use icons for social profiles on user profile page"
Twitter, FB, STEAM etc...

[2018-12-18 09:26] chriskonnertz opened #477 "ToDo Add social links for partners"
FB, Twitter, YouTube...

[2018-12-18 09:38] chriskonnertz opened #478 "ToDo Add comment backend page"
We have a comment widget in the backend but we do not have a complete overview, which would be useful if a page has huge comment activities.

Add the page in the comment module.

Only link it in the widget?

[2018-12-18 10:33] chriskonnertz opened #479 "ToDo Events should have an ends_at attribute"

[2018-12-18 10:36] chriskonnertz opened #480 "ToDo Downloads & Galleries should have a "published" attribute"

[2018-12-18 15:47] chriskonnertz opened #481 "ToDo Add biography config field + widget"
Even though the widget will not be used anywhere per default (at least not for now), it makes sense to add it.

[2018-12-18 18:32] chriskonnertz commented on #475
Done: https://github.com/Contentify/Contentify/commit/d1caac4b6097b04c4ec131af3b9c6de038810e51

[2018-12-18 18:32] #475 closed, assigned to chriskonnertz

[2018-12-18 18:44] chriskonnertz commented on #476
Done: https://github.com/Contentify/Contentify/commit/33ff6a00bdaf33a0d3b528eb5d3c1291352c401e

[2018-12-18 18:44] #476 closed, assigned to chriskonnertz

[2018-12-18 18:59] chriskonnertz commented on #147
Hello,

two udpates:

1. Added a discord field to the user profile: https://github.com/Contentify/Contentify/commit/97997a66a9dbeb5c1394f40b306bf313cc0a5c74

2. Defining custom user profiles definitely will be possible. I do not know when but I will implement it.

[2018-12-18 19:26] chriskonnertz commented on #477
Done: https://github.com/Contentify/Contentify/commit/1fd1e3e0ba464b3f47e22da398886f86eb394a27

[2018-12-18 19:26] #477 closed, assigned to chriskonnertz

[2018-12-18 20:40] chriskonnertz commented on #478
Done: https://github.com/Contentify/Contentify/commit/f55440f43f2a88d93b8e3fbfb80cba56aa8a42c5

[2018-12-18 20:40] #478 closed, assigned to chriskonnertz

[2018-12-18 20:46] chriskonnertz commented on #479
Yes but this is a bigger task, since the calendar has to be able to handle events that alst longer than one day.

[2018-12-18 20:47] chriskonnertz commented on #479
Closed for now but the idea makes sense so this might be implemented in the future.

[2018-12-18 20:47] #479 closed, assigned to chriskonnertz

[2018-12-18 21:29] chriskonnertz commented on #480
Done: https://github.com/Contentify/Contentify/commit/4bb55c9a2e1f5e48142aa6b38b37f545f999c117

[2018-12-18 21:29] #480 closed, assigned to chriskonnertz

[2018-12-18 21:43] chriskonnertz commented on #481
Done: https://github.com/Contentify/Contentify/commit/f482b0269ac191ed4aa033b1498bce3be2d5fb2b

[2018-12-18 21:43] #481 closed, assigned to chriskonnertz

[2018-12-19 11:47] chriskonnertz commented on #432
Ja.

[2018-12-19 11:47] #432 closed, assigned to chriskonnertz

[2018-12-28 14:51] ExpertSunny opened #482 "Website Crashes at "Pages" page"
Hello! Whenever I try to open "Pages" from Admin-backend-->DAILY CONTENT-->Pages. I get the following error(attatched picture) in Debug mode. When I turn off Debug mode and try to access "Pages", the CMS crashes and I get the Crash page. I am using Contentify 2.6
![screenshot from 2018-12-28 20-15-38](https://user-images.githubusercontent.com/15859928/50518834-e35bb880-0add-11e9-9980-3dbc7ab20338.

[2018-12-28 15:04] ExpertSunny commented on #426
Happened with me too. I just changed the number in the url to proceed to next step. It worked for me.

[2018-12-29 09:39] ExpertSunny commented on #482
Doing a fresh install of Contentify solved this problem. Maybe it was a fault of FTP. Sorry if I caused any inconvenience! I am closing this issue.
PS: Thanks for this wonderful, beautiful,open-source and powerful CMS!

[2018-12-29 09:39] #482 closed, assigned to chriskonnertz

[2018-12-30 11:57] chriskonnertz commented on #482
Hello,

I'm glad this solved the issue!

No problem. But, one last question: You said you were using v2.6. Did you get 2.6 by installing a fresh copy or did you update from 2.5? I wonder if there might be a bug in the update from v2.5 to v2.6.

I'm glad you like it! :)

[2018-12-30 12:15] ExpertSunny commented on #482
It was a fresh copy. I didn't update from 2.5. :-)

[2018-12-30 14:41] chriskonnertz commented on #482
Ok, thanks.

[2019-01-02 13:52] #450 closed, assigned to chriskonnertz

[2019-01-03 10:11] chriskonnertz opened #483 "ToDo: Allow admins to organise cups"
Only super admins have the permission to do something in cups in the frontend. This is to restrictive. Ordinary admins should have the same power.

[2019-01-06 10:53] chriskonnertz commented on #317
Hello,

I have to revert my last post.

**Postgre ist supported** - _in theory at least_.

Since I do not use Postgre I cannot give any statement about how good it works in reality but in theory it should work. Ofcourse some feature of the CMS are especially based on MySQL but theses cases *should* be handled so no error should be caused. But again, this is just theory. When using Postgre you shou

[2019-01-07 20:27] chriskonnertz opened #484 "ToDo: Check if $titleAttribute in creatSlug() works"
See `\Contentify\Traits\SlugTrait`

[2019-01-08 10:28] chriskonnertz opened #485 "ToDo: Change "readmore" to "more" in widgets"
(In the main layout page of both themes)

[2019-01-08 11:48] tbe commented on #317
@chriskonnertz great! I will test this as soon as i have some spare time ;)

[2019-01-08 21:35] chriskonnertz opened #486 "ToDo: Check if we can use camel case relationship names"

[2019-01-10 20:13] DoktorDuckyy opened #487 "Error by creating PERMANENT CONTENT"
Hello,
always when i try to add PERMANENT CONTENT in the admin panel i get this error:

"preg_match(): Compilation failed: invalid range in character class at offset 1825"

Here is the full error log i get from the page

https://pastebin.com/fDKuHmJu

[2019-01-11 11:51] chriskonnertz commented on #487
Hello,

the version of Contentify is 2.6? It seems you tried to create a new partner entry, is that correct?

[2019-01-11 22:58] DoktorDuckyy commented on #487
Yes that´s correct.

[2019-01-13 21:37] chriskonnertz commented on #487
Hallo,

ich antworte mal auf Deutsch. Ich versuche das Problem bei mir auf meinem System nachzustellen. An sich scheint das Speichern von Partnern nicht komplett kaputt zu sein, zumindest konnte ich jetzt einen neuen Eintrag erstellen. Besonders auch merkwürdig weil ich als URL "https://google.com" verwendet habe, so wie du ja laut Log auch.

Ist das eine neue Installation des CMS oder ein Update?

[2019-01-14 13:27] DoktorDuckyy commented on #487
Jo danke schon mal.
Werde ich mal versuchen

[2019-02-03 11:09] kamohy opened #488 "Rückmeldung :-D"
Wollt mich mal zurückmelden. :D

War jetzt mal ne Zeitlang inaktiv.
Und nu wieder.

[2019-02-10 15:27] powner1 opened #489 "I cant install Contentify sub directory."
Hey, I can install my localhost but when I try install my sub directory, cant find public url.

I trying; sitename.com/sub-directory/public but cant find anything. What can I do for fix it?

Sorry for my bad English.

P.S; Shared hosting.

Thank you.

[2019-02-10 19:28] DrCha0z opened #490 "Teamseiten Ansicht"
Hey,
in der Teamseiten ánsicht hat man ja die möglichkeit einen Text über das backend anzeigen zu lassen. Dieser ist aber nicht formatiert. Also ich kann keine links anzeigen bzw schreibt er ja auch alle hintereinander. Gibt es da schon eine änderung?

Hier mal ein Bild wie es ja aktuell ausehen würde

https://puu.sh/CKckh/0006bf0780.jpg

[2019-02-13 11:53] chriskonnertz opened #492 "Include helpers.php via Composer"
Add to composer.json:

`
    "autoload": {
        ...
        "files": [
            "app/helpers.php"
        ]
    },
`

And remove the old includation.

[2019-02-13 11:58] chriskonnertz commented on #490
Hallo,

versuche ich mir heute Abend anzuschauen.

[2019-02-13 11:59] chriskonnertz commented on #489
Hello,

is URL rewriting (mod_rewrite) active on your (Apache) server?

[2019-02-15 12:35] chriskonnertz opened #493 "Run "php artisan key:generate""
Run `php artisan key:generate` after setup to automatically generate the app key?

[2019-03-05 21:02] torriz commented on #414
I know it's been a while since the request now.. but I would still like to see this added to the Streams module!

[YouTube > Live Streaming API > PHP Code Samples](https://developers.google.com/youtube/v3/live/code_samples/php)

[2019-03-06 08:58] khalifaone opened #494 "Remove /public from URL"
Hi guys, i install again the new version of contentify!
I have and VPS and the link are elitedota.com but isn't work on this address i need to access elitedota.com/public for using the website.

How can i remote that /public to acces the website when i use simple domain URL?

As feedback: The new features looks great and will help us to improve the community.
I try your hosting partner HPzone, i m

[2019-03-06 09:00] katzcentrality opened #495 "Changing Theme Background Color"
Hi, it seems like the two themes included with Contentify have dark black backgrounds, and I can't figure out how to change the background color. I'm not too well-versed in PHP, so I'm not sure if it's something specific to the themes, or to the CMS itself. Thanks.

[2019-03-06 09:08] khalifaone commented on #494
Problem solved!

Thank you!

[2019-03-06 09:35] mrc4tt commented on #494
Remember to close the issue! ;)

[2019-03-06 13:11] chriskonnertz commented on #494
Hello @khalifaone ,

thank you for creating this issue.

Hm... okay :( I will contact them and ask them for feedback... **ofcourse it is not in my or their interest that you had a negative experience**!

Cool ideas! Would be great to see some of this stuff being published (on GitHub or whereever). :)

[2019-03-06 13:16] chriskonnertz commented on #495
Hi,

yes, both themes have a dark background.

The body background color is set here: https://github.com/Contentify/Contentify/blob/v2.6/app/Modules/MorpheusTheme/Resources/Assets/less/frontend.less#L719

So this is LESS code, so you have to compile it, which is possible since v2.5(?) in the admin backend -> settings -> click on the "Compile LESS" button.

Since Contentify 2.6 you can also add cus

[2019-03-07 21:21] katzcentrality commented on #495
Thank you so much!

[2019-03-08 17:02] torriz opened #496 "[Question] Future translations?"
Is there any plans of continuing translation further through "crowdin" (paid) or other FREE service?

I think it's better if the "main" project has these translations, rather than translating it 10 times for different projects by users of contentify.

Looking to get languages like:
Turkish, Bosnian, Croatian, Serbian, Dutch, Italian

[2019-03-11 10:33] khalifaone opened #497 "https:// error"
Hi Chris,

I have an problem with SSL on my website.
On VPS are enable SSL and in the Admin backend Enable.

But still don't work and when i enter the website Google Chrome show the message as unsafe website.

Is need to make some modify in htacces for force SSL connection?
If is need please tell me what i can do.

PS: check the attach.
![1](https://user-images.githubusercontent.com/29990653/54120

[2019-03-11 12:32] #497 closed, assigned to chriskonnertz

[2019-03-12 10:49] chriskonnertz commented on #496
Hi,

thank your for your feedback / question.

I agree. That's why I have a great interest in incorporating translations.

But what I hate is unfinished stuff. I don't want to see a website that is 90% translated to my fluent language, but 10% not translated. That's why the current policy is: Every language that is officially integrated into Contentify has to be fully translated. 100%. No exceptio

[2019-03-12 14:25] #495 closed, assigned to chriskonnertz

[2019-03-12 15:53] torriz commented on #435
**For future reference for adding NEW/Edited themes:**
After copying and renaming the files in the new "Module" (Theme)

Run this in the /contentify/ directory (f.ex: /var/www/contentify/)

[Reference (Caffeinated/Modules)](https://github.com/caffeinated/modules/issues/288#issuecomment-277894096)

**Wiki Update(?):**
This should perhaps be added to the [Contentify/wiki/Themes](https://github.com/C

[2019-03-12 16:01] torriz commented on #435
+ **Suggestion:** change the name of this issue to: "Custom Themes or Modifying Default Themes" ?
Was about to create a new issue before checking this one.

[2019-03-12 18:31] torriz opened #498 "found my question answered already - I'm stupid."
found answer [here](https://github.com/Contentify/Contentify/issues/155)

[2019-03-12 18:32] torriz commented on #498
found answer [here](https://github.com/Contentify/Contentify/issues/155)

[2019-03-13 07:43] funtimeerror commented on #463
To be handled via #493 ?
Trying to go thru all the active issues to see what’s needed :)

[2019-03-13 10:44] chriskonnertz commented on #463
Hi yes you are right this issue here is kinda obsolete.

(Note that if you think about writing code for the CM/S you might consider to start with the alpha tag of v3.0.)

[2019-03-13 10:44] #463 closed, assigned to chriskonnertz

[2019-03-13 10:50] #498 closed, assigned to chriskonnertz

[2019-03-13 10:51] chriskonnertz commented on #498
Great! :)

[2019-03-13 10:54] chriskonnertz commented on #498
PS: Another way is to just hide it visually with CSS when (or when not) on specific pages.

[2019-03-13 11:04] chriskonnertz commented on #435
Hello,

To which case do you refer? If you copy a theme, then the code is transfered to your authority and it's no longer considered vendor code (in this context). Because from the moment of the copy on, obviously you and only you are responsible for the code in your theme - you would not expect someone else to update or modify it, right? So this is not an exception of the rule, you just take some

[2019-03-13 11:22] chriskonnertz commented on #106
Hi @krysennn ,

closing this one - we can reopen it or create a new issue if you want to work on this.

[2019-03-13 11:22] #106 closed

[2019-03-13 11:48] #19 closed

[2019-03-13 11:50] chriskonnertz commented on #176
Closing this issue since it is very old and most likely a duplicate of similar issues.

[2019-03-13 11:50] #176 closed, assigned to chriskonnertz

[2019-03-13 11:52] #190 closed, assigned to chriskonnertz

[2019-03-13 11:52] #194 closed, assigned to chriskonnertz

[2019-03-13 11:56] chriskonnertz commented on #233
Update (2019): Since Discord has become a very important player in the communication field, this is a very relevant suggestion.

[2019-03-13 11:56] #488 closed, assigned to nobody

[2019-03-13 11:56] chriskonnertz commented on #488
Super! :)

[2019-03-13 12:01] chriskonnertz commented on #236
Hallo, @tjoecs ,

leider ist dieses Ticket 2017 offenbar komplett untergegangen.

Dafür möchte ich mich entschuldigen.

Die Punkte, die du ansprichst, sind sehr relevant. Vermutlich hat das Ticket jetzt für dich keine Bedeutung mehr aber ich flagge es jetzt als dringend sodass es mit hoher Priorität behandelt wird.
So nützen deine Vorschlägen dann wenigstens noch anderen. :+1:

[2019-03-13 12:03] #244 closed, assigned to chriskonnertz

[2019-03-13 12:04] chriskonnertz commented on #263
Closing this ticket since it is quite old.

This is still a valid statement. However, no update yet.

[2019-03-13 12:04] #263 closed, assigned to chriskonnertz

[2019-03-13 12:05] #253 closed, assigned to chriskonnertz

[2019-03-13 12:06] #276 closed, assigned to chriskonnertz

[2019-03-13 12:06] #309 closed, assigned to chriskonnertz

[2019-03-13 12:06] #313 closed, assigned to chriskonnertz

[2019-03-13 12:08] #314 closed, assigned to chriskonnertz

[2019-03-13 12:08] #316 closed, assigned to chriskonnertz

[2019-03-13 12:09] #343 closed, assigned to chriskonnertz

[2019-03-13 12:09] chriskonnertz commented on #349
Hello,

is this issue still relevant?

[2019-03-13 12:10] #362 closed, assigned to chriskonnertz

[2019-03-13 12:10] chriskonnertz commented on #363
Should be done in v3.0!

[2019-03-13 12:11] #366 closed, assigned to chriskonnertz

[2019-03-13 12:11] #373 closed, assigned to chriskonnertz

[2019-03-13 12:12] #379 closed, assigned to chriskonnertz

[2019-03-13 12:12] #378 closed, assigned to chriskonnertz

[2019-03-13 12:13] #380 closed, assigned to chriskonnertz

[2019-03-13 12:14] #396 closed, assigned to chriskonnertz

[2019-03-13 12:15] #384 closed, assigned to chriskonnertz

[2019-03-13 12:17] chriskonnertz commented on #382
Closing this. Some of the bugs should have been solved or at least documented somewhere else. Some of the feature ideas have been implemented and others are on my to-do-list.

[2019-03-13 12:17] #382 closed, assigned to chriskonnertz

[2019-03-13 12:17] #448 closed, assigned to chriskonnertz

[2019-03-13 12:18] chriskonnertz commented on #448
Closing this, because I have no idea how to solve the initial issue (the exception).

[2019-03-13 12:18] #462 closed, assigned to chriskonnertz

[2019-03-13 12:20] #470 closed, assigned to chriskonnertz

[2019-03-13 12:21] chriskonnertz commented on #487
Ich mache hier mal zu, eine Quick-And-Dirty-Lösung für das Problem in v2.6 besteht ja und ich hoffe in 3.0 wird das Problem nicht mehr existieren.

[2019-03-13 12:21] #487 closed, assigned to chriskonnertz

[2019-03-13 12:22] #460 closed, assigned to chriskonnertz

[2019-03-13 12:22] #457 closed, assigned to chriskonnertz

[2019-03-13 12:22] #453 closed, assigned to chriskonnertz

[2019-03-13 12:23] chriskonnertz commented on #453
Hat sch dann vermutlich (leider) erledigt. :(

[2019-03-13 12:23] #454 closed, assigned to chriskonnertz

[2019-03-13 12:25] chriskonnertz commented on #489
Since you did not reply to my question I cannot provide any help.

So I am closing this issue.

Please create a new issue if this problem still exists.

[2019-03-13 12:25] #489 closed, assigned to chriskonnertz

[2019-03-13 12:25] chriskonnertz commented on #440
Closing this issue. Please create a new issue if this topic is still relevant.

[2019-03-13 12:25] #440 closed, assigned to nobody

[2019-03-13 12:26] chriskonnertz commented on #441
Closing this. Please create a new issue ticket if this problem is still relevant.

[2019-03-13 12:26] #441 closed, assigned to chriskonnertz

[2019-03-13 12:27] chriskonnertz commented on #426
Closing this, since this should be fixed with the upcoming version  3.0.

[2019-03-13 12:27] #426 closed, assigned to chriskonnertz

[2019-03-13 12:29] chriskonnertz commented on #361
Closing this. I believe I have implemented a bug fix for this issue.

[2019-03-13 12:29] #361 closed, assigned to chriskonnertz

[2019-03-13 12:30] chriskonnertz commented on #352
Ich mache hier zu, da das Ticket bereits recht alt ist und die behandelten Themen seit v2.6 nicht mehr relevant sein dürften.

[2019-03-13 12:30] #352 closed, assigned to chriskonnertz

[2019-03-13 12:31] chriskonnertz commented on #290
Ich mache hier aufgrund des Alters des Tickets zu. Sollte das Problem bei irgendwem erneut auftauchen, bitte Bescheid sagen! :)

[2019-03-13 12:31] #290 closed, assigned to chriskonnertz

[2019-03-13 12:32] #281 closed, assigned to chriskonnertz

[2019-03-13 12:32] chriskonnertz commented on #281
Leider kein Feedback erhalten -> Ticket nun geschlossen.

[2019-03-13 12:36] chriskonnertz commented on #418
Ich schließe das Ticket nun da die Bugs hoffentlich inzwischen alle gefixt sind (in v3.0).

[2019-03-13 12:36] #418 closed, assigned to chriskonnertz

[2019-03-13 13:23] #409 closed, assigned to chriskonnertz

[2019-03-13 13:23] #306 closed, assigned to chriskonnertz

[2019-03-13 13:25] chriskonnertz commented on #240
Closing this issue ticket. The topic is covered here: https://github.com/Contentify/Contentify/issues/241

[2019-03-13 13:25] #240 closed, assigned to chriskonnertz

[2019-03-13 13:27] chriskonnertz commented on #228
This has been included in uhm... v2.6 or earlier.

[2019-03-13 13:30] chriskonnertz commented on #357
Hallo,

war gerade nochmal auf der Website und das Datum scheint zu passen?

Daher mache ich hier mal zu. Falls noch was ist bitte hier melden oder neues Ticket erstellen.

[2019-03-13 13:30] #357 closed, assigned to chriskonnertz

[2019-03-13 13:32] chriskonnertz commented on #467
This has a very low priority right now, there are so many other ideas for improvements that have a higher benefit so I am closing this issue.

Maybe this will be relevant in the future but not mid-term.

[2019-03-13 13:32] #467 closed, assigned to chriskonnertz

[2019-03-13 13:33] #494 closed, assigned to chriskonnertz

[2019-03-14 12:12] chriskonnertz opened #501 "Update MySQL dumper"
Here is the latest version: https://github.com/ifsnop/mysqldump-php/blob/master/src/Ifsnop/Mysqldump/Mysqldump.php

Shouldn't this be added as a regular Composer dependency?

[2019-03-14 12:24] chriskonnertz opened #502 "Do we need CompilerEngine.php?"
Check if we need this class in v3.0. If not, remove it.

[2019-03-14 13:05] torriz commented on #435
I was thinking of the part of editing
`/vendor/composer/autoload_static.php`
`/vendor/composer/autoload_classmap.php`
etc.

But, it's no big deal, since you're only adding your own theme there...

[2019-03-14 13:07] torriz commented on #414
@roachy Any progress?
@chriskonnertz Are you able to make this happen? 👼

[2019-03-14 13:13] torriz commented on #155
@chriskonnertz Could we perhaps have it as an option in backend > sliders?
✔️ Show only on homepage or something?

[2019-03-14 13:14] chriskonnertz commented on #435
Ah okay, yeah these files are exceptions, because they are dynamically generated by the Composer tool. They are some sort of cache, in a way. So I would not call them "vendor code". They are not part of a repository. They might change whenever you use "composer requrie", "composer update" and so on.

[2019-03-14 13:17] chriskonnertz commented on #414
Hi maybe... their PHP examples are a nightmare. I had to dig into that chaos... Maybe in v3.1? :stuck_out_tongue_winking_eye:

[2019-03-14 13:22] chriskonnertz commented on #155
Funny, I was thinking about that as well, yesterday.

Good question.

What I thought was: This is a good example where _not_ having an option in the backend is okay, because it is very easy to do this customization. :P

But I also agree that the slider should not be included to every page. So I believe that this custom solution should "officially" be integraded in the default templates. I do not t

[2019-03-14 13:39] torriz opened #505 "[Question] Use widgets in "Custom Pages", "Custom Content" and "News" articles?"
Q1: Let's say I want to create a news article and include a Poll in the article itself.. Is this possibru somehow?

[2019-03-14 13:40] torriz opened #506 "[Question] How to access "Custom Content""
Q2: How do I get access to the "Custom Content" stuff, after it's published?
What's the difference between Custom Pages and Custom Content? 🤔

[2019-03-14 13:45] torriz opened #507 "[HELP] Dropdown with data from Maps DB, but set selection in User DB (noob)"
**Case:**  Want to add a "Favorite Map", "Favorite Team" etc in my User Profiles.

I can get the maps from the Maps DB like this:
**/contentify/app/Modules/Users/Resources/Views/form.blade.php**
`{!! Form::smartSelectForeign('map_id', trans('app.object_map')) !!} `
but that will (obviously) not set the "fav_map"

![2019-03-14_14-45-31](https://user-images.githubusercontent.com/2656806/54361694-d92

[2019-03-14 14:07] torriz commented on #155
Yes, I think it would be easier (and more "seldom") to do support WHEN people want it to show on all the pages rather than the other way around.

BTW: are the `@if`s the best way?

[2019-03-14 14:16] torriz opened #508 "[Suggestion] News article should have it's own IMAGE rather than using NewsCat"
As the title suggests:
I think the "NewsCat" shouldn't set the image for the News Article **IF** there is one set in the Article itself.

So we'll have to add a "Image" uploader in the `admin_form.blade.php` (?) etc.

[2019-03-14 14:19] torriz commented on #496
Yeah, I agree, too expensive.
It shouldn't cost anything, that would be much better for a project like this.

I don't have one in mind, but I'll post here if I come across one.

[2019-03-14 14:21] torriz commented on #467
AND pages like
![chrome_2019-03-14_15-21-00](https://user-images.githubusercontent.com/2656806/54364258-c8c0c680-466c-11e9-8451-ce12b4ecf7a1.png)
you should be able to just click the "News" part and get back to the "main" news part..
or add back arrows

[2019-03-14 14:24] chriskonnertz commented on #505
No, this is not possible out-of-the-box.

In general there are three obvious solutions:

1. Implement the possibility to use "codes" in the news, for example : `Please vote now: [poll id=123]` This would then display the polls widget for the poll with the ID 123. This is what WordPress does: https://codex.wordpress.org/Shortcode_API
2. Somehow extend the CKEditor to allow including widgets. This c

[2019-03-14 14:25] torriz commented on #349
AFAIK: The current "STEAM_ID" in the db is used in the Profiles to link to the STEAM Profile, not the actuall "STEAM_0:0:11101" id?

Or did I miss something?

🆒 Would however be cool if user can add their "STEAM_0:0:11101" and it would create a link to their profile from that, but that might be out of scope for now(?)

[2019-03-14 14:28] torriz commented on #505
Yes to the 3rd option!

The "CKEditor" is kind of limiting the possibilities of article writing and page creation right now, so that would be great.

EDIT: Thanks for the in depth answer... way more than expected

[2019-03-14 15:00] torriz commented on #435
Ahhh!
But let's say I copy/paste + rename a Module..  (f.ex A theme in this case)
Can we not run Composer to create the lines for us? Instead of manually editing them?

I'm not too familiar with Laravel, Composer etc (yet), so it might sound stupid to ask about it...

[2019-03-14 15:02] torriz commented on #414
😢 😭
Okay..  well, I hope someone with more knowledge than me picks this up before that time!

[2019-03-14 15:39] chriskonnertz commented on #506
Hi,

this is explained here: https://github.com/Contentify/Contentify/wiki/Modules#pages

[2019-03-14 15:39] #506 closed, assigned to chriskonnertz

[2019-03-14 15:41] chriskonnertz commented on #507
Hi,

please try this: `{!! Form::smartSelectForeign('fav_map_id', $user->fav_map, null, ['class' => 'form-control']) !!}`

[2019-03-14 15:48] chriskonnertz commented on #508
Hello,

I agree, we should implement this, this makes sense and gives editors more power/flexibility about the image of the news. :+1:

Yes you would have to add an image upload form field in the admin form template of the new module. You would also have to a an `image` column to the `news` table in the database and you would have to make the `image` mass-assignable in the model class `News` and c

[2019-03-14 17:28] torriz commented on #507
Thanks for answering,
but this doesn't seem to fix my "issue".

I wanted the user to be able to **pick a map** from the "map_id" already added in the "maps" table.

the `{!! Form::smartSelectForeign('map_id', $user->fav_map, null, ['class' => 'form-control']) !!} `
does get me the correct map_id (and magically gives it a name in the dropdown 👼),
but it doesn't allow me to set the fav_map ID in Use

[2019-03-14 17:35] torriz commented on #506
🙈 Ahh, sorry! sumBlind

[2019-03-15 02:16] funtimeerror commented on #420
### Error Message
`at HandleExceptions->handleError(2, 'preg_match(): Compilation failed: invalid range in character class at offset 1825', '/var/www/html/vendor/laravel/framework/src/Illuminate/Validation/Concerns/ValidatesAttributes.php', 1356, array('attribute' => 'url', 'value' => 'https://www.twitch.tv/mytwichchannel', 'pattern' => '~^ ((aaa|aaas|about|acap|acct|acr|adiumxtra|afp|afs|aim|apt|

[2019-03-15 03:31] funtimeerror commented on #420
upstream PR created laravel/framework#27889

[2019-03-15 08:42] funtimeerror commented on #420
fixed in laravel 5.5, laravel 5.4 was never patched so any Contentify version < 3.0 will always have this issue

[2019-03-15 08:44] funtimeerror commented on #420
@chriskonnertz this should be safe to close at this point :)

[2019-03-15 10:43] chriskonnertz commented on #487
**UPDATE**: Problem ist erneut aufgetreten und wurde von einem anderen User identifiziert: https://github.com/Contentify/Contentify/issues/420#issuecomment-473133623

Das ist ein Laravel-Problem, das Contentify 2.6 betrifft, in v3.0 vermutlich aber nicht mehr auftritt da dort eine neuere Laravel-Version eingesetzt wird.

[2019-03-15 10:44] chriskonnertz commented on #420
Someone else reported this error before. I am very glad to hear that it has been fixed in Laravel 5.5.

Since Contentify 3.0 runs on Laravel 5.5 the error should not occur with 3.0.

[2019-03-15 10:44] #420 closed, assigned to chriskonnertz

[2019-03-15 11:07] chriskonnertz commented on #506
No problem.

[2019-03-15 15:26] chriskonnertz commented on #508
I'm going to implement that, since it seems very useful to me.

=> Branch: https://github.com/Contentify/Contentify/tree/add-individual-image-for-news
=> PR: https://github.com/Contentify/Contentify/pull/520

[2019-03-15 15:51] torriz commented on #508
Great! 👍

[2019-03-17 16:23] sleque opened #522 "Phobos Layout"
Phobos Theme viewing in Google Chrome | format overlapping.. Has anyone else seen this?

It seems as if half the web page moved upwards and now missing from the page.

[2019-03-18 00:32] torriz commented on #522
@sleque I think I know what you're talking about.
Try adding a "Slide" in the backend, and see if it "fixes" it.

[2019-03-19 18:13] torriz opened #524 "[Suggestion] Backend links should be generated based on Role/Access"
**As title suggest:** The backend menu should only show links to what the user have access to, set by the "Role" (with all the permissions set there) he/she is in.

Right now it shows all the links and posts a "Access denied. You need permissions." if you try to enter anything you're not allowed to.

It's annoying for f.ex a "content creators" role with limited access to Video/Stream/Images etc

[2019-03-19 18:15] torriz opened #525 "[Suggestion] Allow users to upload their game config(s?)"
Allow users to upload their config to the profile:

**Uploads - Either/or:**
1. Allow multiple file uploads for CFG (formats: ini, .cfg, .config, .txt) and create a zip of them.
2. A zip with content (for games that use more than 1 config file), max size X
3. A .cfg/.ini file

[2019-03-19 18:17] torriz opened #526 "[Suggestion] Crop/Editing images: user, news image & avatars etc."
1. Allow croping of "too wide" user image & avatar
2. Allow the content creator of news/news category images to resize the image to fit the site better.

And/or allow Site owners to set max height/width of uploaded image

[2019-03-20 07:29] funtimeerror commented on #525
Please make sure to include mimetype validation validating ‘text/plain’ during the upload process so that we don’t get file types that shouldn’t get uploaded! (Executable/image disguised as .ini)

[2019-03-20 10:39] chriskonnertz commented on #526
Hi,

thank you for your feedback. This is a common feature on many websites / in many content management systems so for sure **it is a legit proposal**.

However, priority would be so low that in my opinion it is not useful to deal with this feature at the moment. Cropping images can be done before uploading it so this for sure is not an urgent one. There are plenty of other features / improvement

[2019-03-20 10:39] #526 closed, assigned to chriskonnertz

[2019-03-20 10:48] chriskonnertz commented on #524
Hi,

sounds good.

From a technical point of view the question is how to implement that in a nice way.

So the items in the backend menu have to be linked to a permission. For example (derived from https://github.com/Contentify/Contentify/blob/v3.0-alpha/app/Modules/Games/module.json#L3 ):

[code]

Does not seem to be too much of challenge to implement that.

[2019-03-20 10:52] chriskonnertz commented on #525
Interesting. Obviously we would have to make sure this cannot be abused for sharing of generic files or uploading malicious content. But I doubt checking the MIME type will be enough.

[2019-03-20 16:04] chriskonnertz commented on #240
Fixed by https://github.com/Contentify/Contentify/commit/877f385c6a08a79f11d67f02e9adf5dc9f05de13

[2019-03-20 16:04] chriskonnertz commented on #241
Fixed by Fixed by https://github.com/Contentify/Contentify/commit/877f385c6a08a79f11d67f02e9adf5dc9f05de13

[2019-03-20 16:04] #241 closed, assigned to chriskonnertz

[2019-03-21 05:05] funtimeerror commented on #525
For sure, it won’t be enough, but it would be a good first step. I would also suggest that as a pre-requisite, an api to call virustotal is implemented. ( https://www.virustotal.com/en/documentation/public-api/ ) that way we can scan uploaded files as another safety net.

[2019-03-26 09:41] reneb71 opened #532 "Class 'Fideloper\Proxy\TrustProxies' not found"
- Contentify 3.0
- Shared hosting

[26-Mar-2019 09:40:37 UTC] PHP Fatal error:  Class 'Fideloper\Proxy\TrustProxies' not found in /home/*mydomain*/public_html/app/Http/Middleware/TrustProxies.php on line 8

[2019-03-26 10:53] chriskonnertz commented on #532
Hello,

thank you for the feedback.

Did you run the `php composer.phar install` command?

[2019-03-26 14:24] reneb71 commented on #532
fixed with command `composer update`. tho new errors

Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)
Type error: Too few arguments to function Contentify\Installer::createDatabaseIni(), 0 passed in /home/mydomain/public_html/hub/contentify/Controllers/InstallController.php on line 120 and exactly 4 expected

[2019-03-26 14:45] reneb71 commented on #532
Re installed with some changes. PHP settings enable `proc_open` and `proc_close`. Now it works

[2019-03-26 14:46] chriskonnertz commented on #532
Ok fine! :D

`composer update` is dangerous. With `install` Composer looks into the `composer.lock` file and installs all dependencies (third party libraries) exactly in the version from the  `composer.lock` file. If you run `composer update` Composer might install newer versions that are not compatible.

[2019-03-26 14:47] reneb71 commented on #532
Second try didnt use `composer update`

[2019-03-26 14:49] chriskonnertz commented on #532
Fixed this: https://github.com/Contentify/Contentify/commit/abccab55dc2ac24df1ed6096f117300178ff1627

Thanks for reporting this bug!

[2019-03-26 14:55] reneb71 commented on #532
No problem. Ill let you know if i found more bugs

[2019-03-26 15:19] reneb71 opened #534 "Cannot use 'Contentify\true' as class name as it is reserved when clinking "matches""
Contentify 3.0

https://i.imgur.com/haR7xfM.png

[2019-03-26 15:29] chriskonnertz opened #535 "ToDo: Migrate files to new dev folder"
Migrate (some of) the development files that are currently not stored in this repo in to its new `dev` folder so we cannot lose these files and also make them accessible by the public.

[2019-03-26 15:32] chriskonnertz commented on #534
Hi,

thank you for creating this issue. I made a change, please try this: https://github.com/Contentify/Contentify/commit/e6d160fb2562b1fb533e81c089519370e115a56b

[2019-03-26 17:59] reneb71 opened #536 "Problem with my stable website"
- Contentify 2.6

When going to https://www.exeretro.com it has unserialize(): Error at offset 0 of 40 bytes

but not when going with https://exeretro.com

[2019-03-26 18:24] chriskonnertz commented on #536
Hello,

cannot confirm. Both work for me. Please try to logout / login, clear your browser cache or [clear the application cache](https://github.com/Contentify/Contentify/wiki/FAQ#how-can-i-clear-the-cache).

If that does not help, please take a look at the log (log in -> admin interface -> settings page -> click on the log button). Maybe it contains information that helps you to figure out what's

[2019-03-26 18:27] chriskonnertz opened #537 "ToDo: Change look of slider if only one slide is inside"
If the slider (especially on the landing page) only contains one slide, it does look ot. We should change that.

[2019-03-26 19:19] reneb71 opened #538 "[Suggestion] News images"
Instead of having news images set by `Categories` let them be set `Manually` (Example from images or manually uploaded)

[2019-03-26 19:21] reneb71 commented on #536
It was a website caching proplem. Sorted by purging cache and clearing browser cache

[2019-03-26 19:40] reneb71 commented on #538
to be honest, lot of things could be manually set to make things easier. Like opponents etc. Worst case scenario you have 100 opponents to scroll trought

[2019-03-27 11:10] chriskonnertz commented on #538
Hello

Thank you for your suggestion. I totally agree. But you are a little bit too late - this has been implemented a week ago! :D => https://github.com/Contentify/Contentify/pull/520 (It's in v3.0 though, not in v2.6).

I am not sure if I understand what you are talking about. Please can you write a little bit more so I understand the scenario? Where are you (on which page)? Maybe post the (rela

[2019-03-27 11:20] chriskonnertz commented on #536
Great!

[2019-03-27 11:20] #536 closed, assigned to chriskonnertz

[2019-03-27 11:20] chriskonnertz commented on #534
@PeliManne Does it work now?

[2019-03-27 11:36] reneb71 commented on #534
Yeah it does, thanks

[2019-03-27 11:37] chriskonnertz opened #540 "ToDo Better wording on team page"
On the team page, below the team image a country flag will be displayed, prefixed with the word "Country: ". In this context it seems to be better to use a different word, maybe "Nationality" or "Origin".

[2019-03-27 11:37] reneb71 commented on #538
Allright. Cant wait for 3.0 to go live.

This: https://i.imgur.com/isXeboz.png, opponents vary and its pain in the ass to go trought 2 stages

[2019-03-27 12:01] #534 closed, assigned to chriskonnertz

[2019-03-27 12:13] chriskonnertz commented on #538
It's an unofficial standard to implement it this way (foreign teams being a separate model instead of just a name) in esports related content management system. This is they way to go for many years. We haven't implemented anything further in Contentify, but it alllows to add more features related to (foreign) teams: For example, you could have an overview page with all (foreign) teams. If you wou

[2019-03-27 17:22] chriskonnertz opened #541 "ToDo Check admin permission in cups module"
It is not clear if the permission checking works correctly in the admin pages of the cups module.

Something like this seems to be missing:
[code]

[2019-03-27 17:30] chriskonnertz commented on #541
Removed "critical" label, because this (potential) bug is (or _might_ be) annoying but not a critical security issue. It's not really _critical_ if users with backend access can start the seeding of a cup even if they do not have the "update cups" right.

[2019-03-30 22:36] Sinn2195 opened #543 "install issue cant proceed"
im not sure what is the issue, why i cant proceed further with the install. the installer check comes back all green

https://liefgaming.com

Is it a issue with composer?
my shared hosting doesnt allow SSH access but i was reading i can install composer via ftp if i was to upload from my pc. but how?

[2019-04-01 01:51] funtimeerror commented on #543
@Sinn2195 based on where the code stopped returning data, and assuming that your running 2.6, it looks like your host may be blocking the apache_get_modules() function.

If you are running v2.6, you can work around this by editing the public/install.php file
on line 68 add `if (function_exists('apache_get_modules')) {` and on line 75 add `}`

the whole block should now look like the version on the

[2019-04-01 02:02] funtimeerror opened #545 "[Suggestion] Add support to run 'composer install' inside install.php"
What if we added support inside the install script as part of the check to see if the vendor folder exists, that if it doesnt, lets the user run the composer install as part of the install process via the web browser.

see https://stackoverflow.com/questions/17219436/run-composer-with-a-php-script-in-browser as an example for running composer inside a php web script

[2019-04-01 04:51] Sinn2195 commented on #543
i ended up switching to 3.0

![like 58](https://storage.liefgaming.com/Capture.PNG)
[2019-03-31 23:31:56] production.ERROR: Symfony\Component\Debug\Exception\FatalThrowableError: Parse error: syntax error, unexpected ''from'' (T_CONSTANT_ENCAPSED_STRING), expecting ',' or ')' in /hermes/bosnacweb05/bosnacweb05az/b279/ipg.sinn219506506/config/mail.php:58

[2019-04-01 06:06] funtimeerror commented on #543
Is there still a comma at the end of line 45?

[2019-04-01 13:20] Sinn2195 commented on #543
there is not

[2019-04-01 13:31] chriskonnertz commented on #543
Hello,

I guess... no. You could run it locally on your PC and then upload everything _with_ FTP.

Now when I go to the website all I get is a 500 HTTP response code which basically just tells me that there is an error on the server. But that's all I can tell so you have to look into the log files to see what went wrong. You might find the Apache log files right in a sub folder of the root directo

[2019-04-01 13:32] Sinn2195 commented on #543
alright ill give that a shot

[2019-04-01 13:35] chriskonnertz commented on #543
It might also help if you post the complete `/hermes/bosnacweb05/bosnacweb05az/b279/ipg.sinn219506506/config/mail.php` file. (If it contains any sensible data such as passwords please replace them with something like `****`.)

Because I assume the error is above/before the lines that you posted.

[2019-04-01 13:45] Sinn2195 commented on #543
[code]

[2019-04-01 14:03] chriskonnertz commented on #543
Okay thanks, but please post the complete /hermes/bosnacweb05/bosnacweb05az/b279/ipg.sinn219506506/config/mail.php file. (If it contains any sensible data such as passwords please replace them with something like ****.)

The exception does not really help, it says there is a syntactical error in the file but it does not exactly tell where or what is wrong. All it tells us is info about a _subseque

[2019-04-01 14:18] Sinn2195 commented on #543
[code]

http://sinn219506506.ipage.com//main_site/storage/logs/laravel.log

[2019-04-01 14:18] funtimeerror commented on #543
Add a comma to the end of line 45 of the config/mail.php

That should fix it :)

[2019-04-01 14:55] funtimeerror commented on #543
Ignore that, you did have a comma

[2019-04-01 14:59] funtimeerror commented on #543
the end of the from line is missing a [

change `'from' => `  to `'from' =>  [`

see https://github.com/Contentify/Contentify/blob/3.0-dev/config/mail.php#L58 for reference

[2019-04-01 15:02] chriskonnertz commented on #543
Yep, that's it.

We have just seen why it is dangerous to use PHP files as config files :D

[2019-04-01 15:08] Sinn2195 commented on #543
i ended up just copying your mail.php and updating my info, it did change the error but im still receiving the same errors in logs

[2019-04-01 15:19] chriskonnertz commented on #543
Well what is the new error then?

[2019-04-01 15:26] Sinn2195 commented on #543
well instead of the 500 error i get the sites crash page
![like 58](https://storage.liefgaming.com/1.PNG)

[2019-04-01 15:32] chriskonnertz commented on #543
Then you can take a look in the log file of Contentify: `storage/logs/contentify.log`

[2019-04-01 15:35] Sinn2195 commented on #543
what i mean is the logs never changed, im still receiving the same errors as i was before i updated the mail.php

here is a link to my logs
http://sinn219506506.ipage.com//main_site/storage/logs/laravel.log

[2019-04-01 15:38] Sinn2195 commented on #543
i do not have a contentify.log file

also ive noticed i do not have a database.ini file

[2019-04-01 15:39] chriskonnertz commented on #543
In the log there is this error:

`[2019-04-01 15:31:11] production.ERROR: Symfony\Component\Debug\Exception\FatalErrorException: Class 'Fideloper\Proxy\TrustProxies' not found in /hermes/bosnacweb05/bosnacweb05az/b279/ipg.sinn219506506/main_site/app/Http/Middleware/TrustProxies.php:8`

=> https://github.com/Contentify/Contentify/issues/532 Seems like you have to do `php composer.phar install`. Wel

[2019-04-01 16:01] Sinn2195 commented on #543
could you upload the vendor folder it would make things easy, im having issues figuring out how to use composer

is there any recommended composer guides so i can eventually do it my self ?

[2019-04-01 16:13] Sinn2195 commented on #543
also is there any good recommended composer guides?

[2019-04-01 16:29] chriskonnertz commented on #543
1.  Well you need PHP on your system.
2.  Then open a console (`cmd.exe` on Windows, `CRTL`+`ALT`+`T` on Linux)
3.  Use the `cd` command to switch to the Contentify directory (e. g. `cd C:\data\Contentify` - if you don't have it on C switch to the partiion by typing for example `D:`)
4.  Run `php composer.phar install` - on Windows `php.exe composer.phar install` You might have to specify the path

[2019-04-01 16:30] funtimeerror commented on #543
getting the 'composer install' to run as part of the web based install process would take some work. I've created #545 to track that request

[2019-04-01 17:00] Sinn2195 commented on #543
![like 58](https://storage.liefgaming.com/2.PNG)
 issue I had running composer

[2019-04-01 17:00] chriskonnertz commented on #545
In most cases this would not work on environments (hi  @ shared hosting) where the PHP script execution time is limited to 30 seconds.

Do you agree?

[2019-04-01 17:03] chriskonnertz commented on #543
This seems to be the same error as before. Suggestion: Reset the `mail.php` to its original state, run `composer install` and then re-apply your changes.

This is not a real fix but your website should run then, only sending mails will not work.

[2019-04-01 18:28] Sinn2195 commented on #543
alright i was able to get the install to continue but now im experiencing the FatalErrorException migrations issue.
i have already tried to delete the migrations db, tried wiping the db completely
![like 58](https://storage.liefgaming.com/3.PNG)

[2019-04-02 10:15] chriskonnertz commented on #543
Ok, I'll upload database dump that you can import so you can skip the installation.

[2019-04-02 15:09] funtimeerror commented on #545
been so long since I had to endure shared hosting that I almost forgot about all that pain lol.
hmmm.... what if I adjusted the travis-ci build job for when a release tag is created, it will do the install, then zip and re-upload back to github as a release attachment?

[2019-04-02 16:04] chriskonnertz commented on #545
Yeah shared hosting is nothing else than pure pain.

Hm cool idea from a technical point of view, but would be the advantage? Every release contains a "production-ready" upload of Contentify that includes that vendor folder. That has been an importart part of releasing ever since (or at least since v1.0, alpha/betas/rcs are excluded). Since  I want to have a "combined" upload adding it as a separt

[2019-04-02 19:55] chriskonnertz commented on #543
Here is the MySQL dump:

[sql_contentify.zip](https://github.com/Contentify/Contentify/files/3035687/sql_contentify.zip)

It's for 2.6. If you want to use 3.0-beta you have to execute these queries after importing the dump:

[code]

Login credentials:
[code]
You should change the password after the first login, of course.

[2019-04-02 23:17] funtimeerror commented on #545
yea, Travis supports doing things 'on tag' so that when a tag is added, it can do a custom action like that.

see https://docs-staging.travis-ci.com/user/deployment/releases/ for examples and such.

The workflow i see would be as follows.

1) release commit is determined
2) a tag on the commit is created
3) travis-ci builds against that commit (due to new tag) and then uploads the release back int

[2019-04-03 00:38] Sinn2195 commented on #543
![like 58](https://storage.liefgaming.com/4.PNG)
http://liefgaming.com/storage/logs/laravel.log

[2019-04-03 01:18] Sinn2195 commented on #543
![like 58](https://storage.liefgaming.com/4.PNG)

[2019-04-03 01:54] Sinn2195 commented on #543
![like 58](https://storage.liefgaming.com/4.PNG)

[2019-04-03 01:56] Sinn2195 commented on #543
![like 58](https://storage.liefgaming.com/6.PNG)

[2019-04-03 01:58] Sinn2195 commented on #543
![like 58](https://storage.liefgaming.com/7.PNG)

[2019-04-03 02:14] Sinn2195 commented on #543
http://liefgaming.com
http://liefgaming.com/storage/logs/laravel.log
![like 58](https://liefgaming.com/public.PNG)
Didnt mean to close it lol

[2019-04-03 10:32] chriskonnertz commented on #543
So this is v2.6? What PHP version?
Did you change something in the `FrontController.php`? This again seems to be a subsequent error, so there is a syntactical error somewhere else in the file.

[2019-04-03 10:55] chriskonnertz commented on #545
Awesome! I will try to experiment with this at the weekend. It would be super cool to automate the release build process.

[2019-04-03 11:15] chriskonnertz opened #547 "[Official] Contentify Cloud"
## Contentify Cloud

Contentify Cloud is nothing less than a true paradigm shift in the development, support and operation of Contentify. For a _looong_ time (years!) one of the biggest issue with Contentify was the most important thing: _How to get it run?!_ Over the years we have implemented plenty of improvements to help people with this step. But, at the end of the day, it was not enough. Too

[2019-04-03 15:30] Sinn2195 commented on #543
ended up doing a  fresh install but now its something even different! its the theme in the config file
I am using 3.0dev
php 7.1
 updated the db string from 2.6-3.0
installed composer `vendor` with a fresh core
I did not change anything in`FrontController.php`
https://liefgaming.com

[code]

[2019-04-04 01:02] funtimeerror commented on #547
@chriskonnertz  AWS/GCP? docker? scaling on the backend? :)

[2019-04-04 09:47] chriskonnertz commented on #545
Just for your information: Because of https://github.com/Contentify/Contentify/issues/547 I don't want to put too much effort in improving the installation.

[2019-04-04 09:52] chriskonnertz commented on #547
- AWS is too expensive, GCP: I don't know but I assume it is expensive as well. Free hosting obviously means costs have to be minimized in a drastical way.
- Docker might be they way to go but not right from the beginning. Bulding a complex infrastructure right from the start means too much  overhead.
- There will be different plans. We will start with the free plan. The free plan will have a lot

[2019-04-04 15:32] torriz commented on #496
Hi @chriskonnertz got this mail from Crowdin:

``
As we mentioned, our team loves Open Source so much that we offer a completely free license for such project types!

All you need is to ask your PM to fill the following request: https://crowdin.com/page/open-source-project-setup-request

Once it's submitted, we will review it and approve if everything fits our requirements.``

In case you're inter

[2019-04-04 15:35] torriz commented on #496
And I guess laravel has translated a lot of the strings we use too

[2019-04-04 15:38] torriz commented on #545
Is this timesaving in the long run?

[2019-04-04 15:41] chriskonnertz commented on #545
I assume it is, yes.

[2019-04-04 15:56] chriskonnertz commented on #496
Hi,

thank you, great tip! :+1:

Unfortunately we cannot meet their requirements:

Right now we do not violate this rule, but this might change in the future. Contentify is and always will be 100% free open source. However, additional services or software etc. that is not free might be added to enhance the eco-system. Actually this is in the pipleline.

[2019-04-04 19:08] torriz commented on #496
What are you looking to add?

And that can change in the future, as you said. It doesn't violate it now so.. ;p

[2019-04-07 22:30] Sinn2195 commented on #543
Still unable to progress

[2019-04-08 11:34] chriskonnertz commented on #496
Just addiotional services .... support, installation, coding...

In the **_near_** future and it is almost certain that it will happen.

[2019-04-08 11:38] chriskonnertz commented on #543
Hm maybe something in the cache... Please try to clear it: https://github.com/Contentify/Contentify/wiki/FAQ#how-can-i-clear-the-cache

You might also take a look at the `config` database table. It should contain an entry with the key "`app.theme`" and the name of a theme, for instance "`MorpheusTheme`".

[2019-04-08 15:15] chriskonnertz commented on #427
Hello,

we will provide hosting for Contentify to avoid such problems in the future.

[2019-04-08 15:25] #508 closed, assigned to chriskonnertz

[2019-04-08 16:55] Sinn2195 commented on #543
ended up clearing the cache folders, i checked the db and the MorpheusTheme is in the config file. no progress

[2019-04-08 17:33] torriz commented on #496
Alright.. well, rip :D

[2019-04-10 14:18] chriskonnertz opened #549 "[ToDo] Move exceptions & interfaces to their own namespaces"
This only includes exception & interface classes in the `Contentify` namespace.

[2019-04-11 10:32] chriskonnertz opened #550 "Bug in UpateStreamsJob"
**Where**: https://github.com/Contentify/Contentify/blob/3.0-dev/app/Modules/Streams/Api/UpdateStreamsJob.php#L32

**What**: See comment https://github.com/Contentify/Contentify/blob/3.0-dev/app/Modules/Streams/Api/UpdateStreamsJob.php#L35

**How to fix**: I think the `isset()` checks the wrong var, I guess it should check `$streamsByProvider[$stream->provider]` instead or is not needed at all

[2019-04-11 11:37] chriskonnertz commented on #398
**Update**: Contentify.org is officially GDPR compliant.

[2019-04-11 14:09] chriskonnertz opened #551 "[ToDo] Read PHP version number from composer.json"
=> https://github.com/Contentify/Contentify/pull/544#issuecomment-478520747

[2019-04-15 12:28] chriskonnertz commented on #435
There is already a console command from the library we use (Caffeinated) to create a new module: https://caffeinatedpackages.com/guide/packages/modules.html#creating-modules

[2019-04-15 12:28] #435 closed, assigned to chriskonnertz

[2019-04-16 13:59] chriskonnertz opened #553 "Test Issue"
Just a little test issue for doing some tests.

[2019-04-16 14:01] chriskonnertz commented on #553
Hello,

thank you for creating this issue!

[2019-04-16 14:01] #553 closed, assigned to chriskonnertz

[2019-04-25 12:46] gaganpreetkaur1469 opened #554 "css is not loading from public sub folders"
(No description provided)

[2019-04-25 12:59] chriskonnertz commented on #554
Hello,

please can you add a description of the problem? I think just the title is not precise enough to help you...

[2019-05-07 14:02] lukasmk87 commented on #451
Moin Chris,
ist der Zeitpunkt noch realistisch?

[2019-05-09 16:31] chriskonnertz commented on #451
Hi,

vom heutigen Stand ausgesehen recht realistisch, ja. Das ist nämlich nicht mehr der ursprüngliche Zeitpunkt, der wurde bereit etwas nach hinten verlegt.  Es fehlt aber eigentlich auch nicht mehr so viel, einiges wurde erst mal raus genommen aus der 3.0 und wird später kommen.

[2019-05-13 04:45] BlueStormNetwork commented on #524
i created a profile for permission for all with create level then gave it to super admin i am still having this issue access denied. I am afraid i want be able to grant permission to moderators on forums or editor on q/a can you help to fix this even manually in db or code thanks in advance

[2019-05-13 04:49] BlueStormNetwork commented on #541
according to what you say i may need 3 users or 4 just for one task each with a permission create/update delete / read since i am super admin user and still have access denied issues just to create a country ie: international let say i can't...is there a way to grant access read/write/update or all to a profile so i can work on backend easily?

[2019-05-13 13:45] BlueStormNetwork opened #555 "ToDo Check admin permission in Polls module"
- Contentify v2.6
- no need for logs (issue appears all the time the message in red access denied in the backend)
    - Linux,
    - Apache,
    - MySQL
- shared hosting, heliohost.org

Hi guys thank you for the great work ^^
my issue is that super admin can't create polls. i created several roles respectively with create/update/read and delete access to all modules available (polls isn't mentione

[2019-05-13 13:56] BlueStormNetwork commented on #396
Is it possible to add other games in the list? or use a URL instead of IP address for browser based games? thank you in advance for your answer

[2019-05-13 22:33] ballin94 opened #556 "Installing"
Hello peeps,

I am searching someone who succeed in installing contentify + installing it on my server.
(to get a working cm) I have a payment ready.

Thanks!
Jason

[2019-05-15 13:34] torriz commented on #556
do you meet the requirements?

https://github.com/Contentify/Contentify/wiki/Installation#server-requirements

[2019-05-16 13:54] lukasmk87 commented on #451
Cool,
ich werde dann drauf warten bevor wir uns Verein das Grundgerüst packen und dann weiterbauen. Werden dann unsere Sachen auch gerne zur Verfügung stellen.

[2019-05-19 01:30] BlueStormNetwork commented on #554
I had this issue before on my first attempt install, if you did install contentify on a sub folder check your .htaccess file if it has the proper base/redirect needed rules to point to subfolder/public directory. If you can't edit or don't have access to .htaccess file just move your installation to the root public html or www folder. will solve the issue.

[2019-05-19 01:31] BlueStormNetwork commented on #555
just an answer plz is this feature working on contentify 2.6 or not i mean creating and using polls cause even super admin gets the access denied message.

[2019-05-20 18:01] torriz commented on #555
Try creating it manually in db?

[2019-05-22 13:06] chriskonnertz commented on #541
You cann edit the database to assign roles. There is a table `user_role` that assigns roles to users and well ofcourse a table `roles` that contains the roles.

[2019-05-22 13:08] chriskonnertz commented on #555
Hi @BlueStormNetwork ,

did you upate from 2.5 or start with 2.6? This is an important question, because if you updated this might indicate there is something wrong with the update.

[2019-05-27 15:27] chriskonnertz commented on #451
Hi,

wird sich nun doch etwas verzögern, auf Anfang Juni.

[2019-05-29 16:09] chriskonnertz commented on #451
**Status update:**
- Two of the three open taks of the to-do-list are still almost complete, the jQuery 3 Task is the only one that is actually incomplete.
- So the plan is to have a release candidate afternext weekend (third of June) and then a final version one week later (10th of  june).
- To achieve this some less improtant features will not be implemented in 3.0 but in later versions

[2019-05-29 16:15] chriskonnertz commented on #451
@MikkelDK

Yes this is on the schedule (not for 3.0 any more but it will be implemented in the future). There is a cool library for Laravel (a [Socialite extension](https://socialiteproviders.netlify.com/about.html)) that we can use and that has all of these logins built-in, also others such as Google and Discord. With this library is should be very easy to integrate and maintain all relevant logi

[2019-06-04 18:09] Franpepper opened #565 "Cant add new slides"
Hi!

When I try to add a new slide, the error window appears.

here is the log file
I do not know what I'm doing wrong

Stack trace:
#0 [internal function]: Illuminate\Foundation\Bootstrap\HandleExceptions->handleError(2, 'preg_match(): C...', '/home/laravel/p...', 1356, Array)
#1 /home/laravel/public_html/vendor/laravel/framework/src/Illuminate/Validation/Concerns/ValidatesAttributes.php(1356): p

[2019-06-05 00:44] Daxing246 opened #566 "Local xampp Windows 10 install - Contentify Error when adding a link to a twitch stream"
Hi All,
I have some knowledge of web dev, but i am a back bedroom tinkerer at night and a IT Programme Manager during the day. I'm struggling with an error post install of contentify which is when I try to do some functions. The error in short is (1/1) ErrorExceptionpreg_match(): Compilation failed: invalid range in character class at offset 1825 when I am trying to add a URL to the streaming or v

[2019-06-05 12:48] Franpepper commented on #565
I fixed it, the problem was the php version.

The version was php-fpm7.3, I changed it to php-fpm7.2 and it worked correctly.

[2019-06-05 12:51] Franpepper commented on #566
I had a similar problem when adding content. The problem was the php version. Version 7.3.x does not work with contentify, try using version 7.1 or 7.2

[2019-06-05 18:14] Daxing246 commented on #566
Thanks Franpeper. I'll try this shortly once I get home. I really hope it's this 👍👍

[2019-06-05 20:20] Daxing246 commented on #566
Thanks Frapepper, thats worked a treat. All seems to be good.

Is there any need to install laravel as I havent done at the mo, but all seems to be working correctly. Cant believe how simple that was lol. Thanks again, its really appreciated.

[2019-06-05 23:32] #566 closed, assigned to nobody

[2019-06-05 23:46] Daxing246 opened #567 "Contentify - Matches Page Incorrect logo"
Hi All,
I have contentify running locally and all is running OK.

I have an issue where I have created a Team and Uploaded and image and then created an opposition and uploaded an image for testing purpose.

When creating a match, the image from the opposition displays correctly; however, the logo for the team doesn't. It seams to default to a standard logo. even though one has been uploaded and i

[2019-06-06 14:35] #565 closed, assigned to chriskonnertz

[2019-06-07 09:46] torriz commented on #567
Version?

[2019-06-07 17:50] Daxing246 commented on #567
Hi,

- Windows 10 Pro version 10.0.17763.504
- xampp windows x64 - 7.1.30 / PHP 7.1.30
- laravel (v5.8.17)
- Contentify 2.6

[2019-06-11 10:13] chriskonnertz opened #568 "ToDo: Replace slider / scroller"
Replace both JS components with: http://idangero.us/swiper/demos/

_Low priortity task._

[2019-06-24 13:19] Had3s99 opened #569 "Question about a few questions"
Hello,

I use Contentify 2.6, and Debian 9, with php 7.3

And i want change default language, edit the default navigation bar and disable or enable like i want some mods where i can do this ?

Thanks.

[2019-06-26 09:07] TheHotz opened #570 "Installation: QueryException & PDOException error"
Habe heute versucht die Version 2.6 auf meinem DigitalOcean Droplet zu installieren nach den im FAQ angegebenen Anweisungen. Bin leider im vierten Schritt beim anlegen der Datenbank auf zwei Probleme gestoßen.

Nummer 1
`(1/2) PDOException
SQLSTATE[HY000] [1698] Access denied for user 'root'@'localhost'`

Nummer 2
`(2/2) QueryException
SQLSTATE[HY000] [1698] Access denied for user 'root'@'localhos

[2019-06-30 16:24] RaceTubeGermany opened #571 "Videos in den News"
Hallo,

wenn ich neue Videos über das Backend einstelle, erscheinen diese unendlich in den News.
Ist der Fehler bekannt?

Gruß

[2019-07-01 15:12] chriskonnertz commented on #571
Hallo,

nein, ist nicht bekannt. Was genau heißt "unendlich"?

[2019-07-01 15:15] chriskonnertz commented on #570
Hi,

das problem (es handelt sich im Grunde bei beiden um das gleiche Problem) ist mir bekannt. Leider aber dessen Ursache nicht und daher habe ich auch keine richtige Lösung parat.

Vermutlich ist da irgendwo ein Fehler tief in der Logik des Installers vergraben.

Workaround für v2.6 wäre einen MySQL-Dump zu laden statt den Installer auszuführen: https://github.com/Contentify/Contentify/wiki/Trou

[2019-07-01 15:32] chriskonnertz commented on #567
Hello @Daxing246

Sorry for the late answer.

This is not a bug, it is, kinda, a features.

I agree that this not the best solution though... the page is using the general clan/team/organization logo to symbolize the home team.

Yeah it would be cool to use a specific team logo.

But there is a problem, which is illustrated on your second screenshot:

![display 2](https://user-images.githubusercon

[2019-07-01 15:40] chriskonnertz commented on #567
I'm thinking about making that an official plugin for the CMS.

[2019-07-01 16:06] RaceTubeGermany commented on #571
Hi.

Ich stelle ein paar Videos ein und in den news kann ich ohne Ende nach unten scrollen und die sind da endlos angezeigt. Wiederholen sich immer in den news.

Mit freundlichen Grüßen

RaceTube Germany

[2019-07-05 13:27] ddb69 opened #572 "Call to undefined function Contentify\getclass()"
Hallo,

erstmal vorab, cooles CMS. Leider habe ich ein paar Probleme.

Ich habe Contentify 3.0 mehr oder weniger erfolgreich installiert. Zu sehen unter www.inperpetuum.eu. Soweit so gut. Auf meinem Root-Server läuft die aktuelleste LTS-Versioin von Ubuntu, PHP 7.2, MySQL, also alles in allem keine großen Besonderheiten. Die Voraussetzungen für die Installation waren alle erfüllt und das lief auch

[2019-07-06 19:41] chriskonnertz commented on #572
Hallo,

 danke für das Melden dieses Bugs! Wertvolles Feedback.

Der Methodenname ist wohl  falsch geschrieben.

Bitte mal diesen Bugfix ausprobieren:

https://github.com/Contentify/Contentify/commit/a65b0e5e8421e3924ceb13db983d73649d0d039b

[2019-07-08 10:01] TheHotz commented on #570
Habe es nun mit dem MySQL-Dump versucht. Leider bekomme ich nun andere QueryException und PDOException Fehlermeldungen. Könnte gut sein, dass ich mich grad nur blöd anstelle, aber ich komme hier aktuell einfach nicht weiter. Vielen Dank schon mal für die Hilfe!

`QueryException
SQLSTATE[42S21]: Column already exists: 1060 Duplicate column name 'username' (SQL: alter table `users` add `username` va

[2019-07-08 15:47] TheHotz commented on #570
So bin immerhin ein bisschen weitergekommen (nach MySQL-Dump) ;-) Habe nun allerdings einen neuen Fehler erhalten.
`(1/1) Exception
Error: Could not retrieve the theme name from the config!`

Ein Blick in die "FrontController.php" Datei hat mich nur verwundert zurückgelassen, hier scheint alles wie es sein soll.

Noch etwas anderes: Gibt es professionelle/semi-professionelle Administratoren/Webdev

[2019-07-09 15:11] ddb69 commented on #572
Hallo, danke für den schnellen Fix. Das Problem tritt nicht mehr auf, aber beim Aufräumen der ganzen angelegten Dinge tritt der nächste Fehler auf. Auch hier wieder auf diversen Seite, ob News, Teams etc.

Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_ERROR)
Call to undefined function Contentify\deleteModelFiles()

![grafik](https://user-images.githubusercontent.com/47409865/609

[2019-07-09 16:22] chriskonnertz commented on #570
Hallo,

Schau mal bitte - z. B. mit phpMyAdmin - in die Tabelle `config`. Dort müsste es einen Eintrag mit `name`=`app.theme` geben. Setz da mal den `value` auf `MorpheusTheme`.

Zu der Frage: Stand heute gibt es das nicht, jedenfalls wohl nicht so wie du dir das wünschst. Aber du bist mit deinem Anliegen nicht allein, sodass als nächstes großes Feature geplant ist, dahingegend einen Service aufzu

[2019-07-10 10:10] ddb69 commented on #572
Ich bin mir ja gerade nicht so sicher ob die 3er-Version schon eine gewisse Einsatzreife hat.

Weitere Fehler:

1.Beim Anklicken der angelegten News:
Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_ERROR)
Call to undefined method ChrisKonnertz\OpenGraph\OpenGraphFacade::title()
![grafik](https://user-images.githubusercontent.com/47409865/60960946-5787dc00-a30b-11e9-8ca3-97de15c605

[2019-07-10 13:39] ddb69 commented on #572
Und noch einer. Beim Bearbeiten eines bereits angelegten Forums:
Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)
Type error: Return value of Contentify\Uploader::uploadModelFiles() must be of the type array, none returned

![grafik](https://user-images.githubusercontent.com/47409865/60973580-d50e1500-a328-11e9-9e8e-b2a3b92250ef.png)

[2019-07-10 14:36] chriskonnertz commented on #572
Hallo,

Call to undefined function Contentify\deleteModelFiles()

ein Syntaxfehler, wird hiermit behoben: https://github.com/Contentify/Contentify/commit/41491436138a5c2a5eb5ba23c77c7b18732decde

Danke für die Meldung! :)

[2019-07-10 14:40] chriskonnertz commented on #572
Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)
Type error: Return value of App\Modules\Matches\Match::scopeFilter() must be an instance of Illuminate\Database\Eloquent\Builder, none returned

Probier mal bitte ob das hier hilft: https://github.com/Contentify/Contentify/commit/d6eb2735c71c341f57c559bb84a4befb92faed54

[2019-07-10 14:42] chriskonnertz commented on #572
Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)
Type error: Return value of Contentify\Uploader::uploadModelFiles() must be of the type array, none returned

Bitte diese Änderung probieren: https://github.com/Contentify/Contentify/commit/bd3f923b397e34474f00287a6f9be0cbb9952cf5

[2019-07-10 14:46] chriskonnertz commented on #572
Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_ERROR)
Call to undefined method ChrisKonnertz\OpenGraph\OpenGraphFacade::title()

Versuch mak das hier, ist aber ehrlich gesagt ziemlich geraten: https://github.com/Contentify/Contentify/commit/2c57ba0d30f72a466fb9c069f8e56381131ba0db

[2019-07-10 14:48] chriskonnertz commented on #572
Der aktuelle Stand ist: Beta. Dementsprechend musst du leider mit Fehlern rechnen. Das ist unvermeidbar und die zu finden ja auch gerade Teil dieser Phase im Entwicklungsprozess. :bulb:

[2019-07-11 13:28] ddb69 commented on #572
Hallo, vielen Dank für die schnellen Korrekturen. Der geratene Fix im Zitat hat leider nicht geklappt, sonst alle gemeldeten Dinge prima. :)

Ich bin ja selber Entwickler und mir ist klar was Beta-Status heißt. Ich bin nur mit der naiven Vorstellung an die Sache gegangen dass die grundlegenden Funktionalitäten mehr oder weniger zuverlässig funktionieren. Aber wenn die Dinge so schnell gefixt werde

[2019-07-11 17:16] chriskonnertz commented on #572
Hallo,

das sollte hierdurch behoben werden: https://github.com/Contentify/Contentify/commit/8eb5406505a3b01b057d16e47be1522398f70a64

Mit 3.0 sind halt Parameter- und Rückgabetypen hinzugekommen. Und wenn man wie in diesem Fall nicht exakt ist was die irgendwann mit PHPDocBlock angegebenen Typen angeht, macht es jetzt plötzlich Peng.

Schätze auf so etwas wirst du irgendwo anders noch mal treffen

[2019-07-11 17:17] chriskonnertz commented on #572
ich würde vorschlagen, Fehler die du in den nächsten Tagen findest und melden willst, postest du einfach hier mit in das Issue. Dann sind sie gebündelt.

Es wurde einfach noch nicht viel getestet.

[2019-07-12 07:39] ddb69 commented on #572
Danke auch für den Fix. Aber genau auf der Seite taucht dann der nächste Fehler auf wenn ich eine Rolle zuweisen möchte:
 Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)
Type error: Argument 2 passed to Contentify\ModelHandler::fillRelations() must be an instance of Contentify\Models\BaseModel, instance of App\Modules\Users\User given, called in /XXX/contentify/

[2019-07-12 09:20] chriskonnertz opened #573 "Allow to view default roles"
The initial roles cannot be edited, so right now it it not possible to see their details (permission levels). This has to be changed.

Possible solution: Tooltip.
(But that wouldn't work on mobile devices)

[2019-07-12 09:21] chriskonnertz commented on #572
Genau, das sind Standard-Rollen die einfach da sein **müssen**. Die sollen nicht editiert werden; wenn man sie editeren möchte statt dessen einfach eine entsprechende neue Rolle erstellen.

Guter Punkt bezüglich der Frage, woher man eigentlich wissen soll, welche Rechte bei diesen Rollen gesetzt sind! Das fehlt definitiv. Habe dazu ein Ticket erstellt: https://github.com/Contentify/Contentify/issu

[2019-07-12 09:30] chriskonnertz commented on #572
Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)
Type error: Argument 2 passed to Contentify\ModelHandler::fillRelations() must be an instance of Contentify\Models\BaseModel, instance of App\Modules\Users\User given, called in /XXX/contentify/ModelHandler.php on line 495

Notfall-Workaround: In https://github.com/Contentify/Contentify/blob/3.0-dev/contentify/Mode

[2019-07-12 11:11] ddb69 commented on #572
Dann gibt es leider den nächsten Fehler in Zeile 670 und ich denke das auch die darauffolgenden Zeilen kritisch sein werden. Ist hier mit einem echten Fix zu rechnen?

Vielen Dank auf jeden Fall schon mal für die schnelle Beantwortung und Bearbeitung.

Edit: Sorry, mein Fehler, aber die Frage nach dem echten Fix bleibt. :)

[2019-07-12 13:55] chriskonnertz commented on #572
Probier bitte mal https://github.com/Contentify/Contentify/commit/0513fa13dac385641a98aba1a705926e054bb38e und https://github.com/Contentify/Contentify/commit/d6bdb83718d3e21ff8606bddbaca2e07bba3cb4c

[2019-07-14 10:51] ddb69 commented on #572
Danke Dir, funktioniert. :D

Dieser hier ist leider noch offen.

Außerdem habe einen Fehler gefunden wenn man bei Forums im Admin-Backend auf Config klickt:
 Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)
Type error: Return value of Contentify\Models\ConfigBag::getFillable() must be of the type string, array returned
![grafik](https://user-images.githubusercont

[2019-07-15 12:24] chriskonnertz commented on #572
Hi,

okay für das erste: https://github.com/Contentify/Contentify/commit/0a16d9075b053c79932906af43de690d9b85380d

Für das zweite:
https://github.com/Contentify/Contentify/commit/cce142eb120856e7deb7319f7e5cb147d86bc5e6

[2019-07-18 09:03] ddb69 commented on #572
Grundsätzlich hat beides was bewirkt. Bei den News gibt es leider einen Folgefehler:
Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)
Type error: Argument 1 passed to Contentify\Controllers\BaseController::openGraph() must be an instance of OpenGraph, instance of ChrisKonnertz\OpenGraph\OpenGraph given, called in /var/www/sites/gg.inperpetuum/src/contentify/app/M

[2019-07-18 09:05] chriskonnertz commented on #572
Huch, die gibt es aber. Probiert hast du es? :P

[2019-07-18 09:07] chriskonnertz commented on #572
Es gibt dort keinen Button. Der bereich bezieht sich auf Nachrichten die über das Kontaktformular eingesendet werden. Ein "Erstellen"-Button wäre dort wenig sinnvoll da es sich um User Generated Content handelt.

[2019-07-18 09:09] chriskonnertz commented on #572
Versuchmal den strikten Modus von MySQL zu deaktivieren: https://github.com/Contentify/Contentify/blob/3.0-dev/config/database.php#L50 `true` durch `false`ersetzen

[2019-07-18 10:37] ddb69 commented on #572
Ups, vergiss alles, ich habe tatsächlich ein Leerzeichen im schließenden Tag gehabt, das ich übersehen habe. Sorry. ;)

Contact wusste ich nicht, aber habe ist verstanden.

MySQL probiere ich aus und gebe dann ein Feedback. Ansonsten wäre dann nur der Newsteil offen.

Danke. :+1:

[2019-07-19 10:12] ddb69 commented on #572
`    'connections' => [

        'mysql' => [
            'driver'    => 'mysql',
            /*
             * These settings are set by the installer and are stored in storage/app/database.ini
             */
            //'host'      => env('DB_HOST', '127.0.0.1'),
            //'database'  => env('DB_DATABASE', 'contentify'),
            //'username'  => env('DB_USERNAME', 'root'),

[2019-07-19 14:00] chriskonnertz commented on #572
Auf die Schnelle geht das nicht, bestenfalls mittelfristig.

[2019-07-26 08:45] ddb69 commented on #572
Ich habe einen neuen Fehler gefunden. Und zwar wollte sich ein Mitglied einloggen, hatte das Passwort vergessen und hat dann so einiges probiert. Die Webseite hat zwar das Richtige gemacht, aber die Präsentation sollte nicht in Form eines harten Fehlers passieren, denke ich.
![ThrottleCheckpoint](https://user-images.githubusercontent.com/47409865/61938821-46d59800-af92-11e9-98d8-9c502d0d7310.jpg)

[2019-07-26 11:28] chriskonnertz commented on #572
Hallo,

ja du hast recht, da sollte keine solche interne Fehlermeldung angezeigt werden! Die müsste abgefangen und als normale Meldung auf der Website angezeigt werden.

Ok werde versuchen mir das am Wochenende anzuschauen, kann aber nichts versprechen.

[2019-07-28 12:05] chriskonnertz opened #574 "Change info text when login credentials are incorrect"
Currently there is only a generic info text that is not really good.

[2019-07-28 12:11] chriskonnertz commented on #572
Wegen der Fehlermeldung bei zu vielen fehlgeschlagenen Login-Versuchen: https://github.com/Contentify/Contentify/commit/a802cc5970a43f4ac53a9e255d9feb0d5afbc889

[2019-07-31 10:05] chriskonnertz opened #575 "Support WebP?"
Add WebP to the list of supported images?

We have to test if Thumbnailing works....

=> https://github.com/Contentify/Contentify/blob/3.0-dev/contentify/Uploader.php#L19

[2019-08-01 21:07] PapyOak opened #576 "Modify Specific HTML/PHP Awards"
- Contentify 3.0 beta
 - Windows 10 OS
[https://prnt.sc/on6bsv](url)
I'm looking for the HTML location of this page, in order to modify the tables

[2019-08-01 21:14] PapyOak commented on #576
Same with this page which is the matches list
[https://prnt.sc/on6fre](url)

[2019-08-01 21:59] chriskonnertz commented on #576
Hello,

these are not real pages, they jsut use a helper that renderes a page with a table on it. You would have to created apges for them. It's not difficult but requries a little bit of coding: Creating a tempalte file, adding some HTML and Blade code to it and then laoding the file in the controller.

[2019-08-02 07:44] PapyOak commented on #576
Okay, so every pages that has a table are auto rendered or is there any exception?

[2019-08-02 08:52] PapyOak commented on #576
Actually, I would like to modify the helper so it's not tables anymore. Where is it?

[2019-08-02 09:32] chriskonnertz commented on #576
I think that's correct. :+1:

[2019-08-02 09:36] chriskonnertz commented on #576
The code that collects the data of the table is here: https://github.com/Contentify/Contentify/blob/2.6/contentify/ModelHandler.php#L57

The table is here: https://github.com/Contentify/Contentify/blob/2.6/contentify/HtmlBuilder.php#L117

(Oh these links are for 2.6 ... line numbers might be a bit different in 3.0!)

What exactly do you plan? That code is also used in the backend where you probabl

[2019-08-02 10:09] PapyOak commented on #576
Okay got it, shouldn't be too hard to modify it

I'm looking for a better way to show it to users. The tables are okay but I'm sure that there is a better way with bootstrap. Now I'm just going to look how it looks in the back end, and eventually create new pages.

[2019-08-02 15:08] chriskonnertz commented on #576
You are right, minimalistic tables are not the most beautiful way to present information to the users. They are quite boring.

[2019-08-15 15:37] ddb69 commented on #572
Dieser Fehler hier ist leider nach wie vor offen:
 Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)
Type error: Argument 1 passed to Contentify\Controllers\BaseController::openGraph() must be an instance of OpenGraph, instance of ChrisKonnertz\OpenGraph\OpenGraph given, called in /var/www/sites/gg.inperpetuum/src/contentify/app/Modules/News/Http/Controllers/NewsC

[2019-08-17 21:14] Zai commented on #475
You forgot the png files

[2019-08-17 21:44] Zai commented on #555
Same problem with fresh install on 2.6 with super-admin role

[2019-08-19 01:58] Franpepper opened #577 "Bug - News updated_at changes"
`updated_at` changes when superadmin open news

That causes that the order news in the main page is altered. With normal users it doesn't happen

Some way to show the news by its creation date, and not by the update date?

[2019-08-29 04:58] DrCha0z opened #579 "Kontakt Spam"
Hey,

ich hatte auch das Problem mit dem Spamregister, darau hin habe ich recaptcha eingesetzt nach anleitung.
Inzwischen wird das Problem umgangen, ich habe trotz captcha nun wieder hunderte spam register.
Nun habe ich mich erstmal enschlossen die Registration zu Deaktivieren. Seit dem ich das geändert habe nehmen meine Kontakt Spams zu, könnte man da auch ein Recaptcha einsetzen?

Lg

Dennis

[2019-08-30 12:24] chriskonnertz commented on #579
Hi Dennis,

ja an sich auf jeden Fall! Versuche mir das zeitnah anzuschauen um die
genaueres sagen zu können.

Leider bietet  ReCAPTCHA keinen kompletten Schutz, ich kenne das selber aus
einem Forum in dem ich aktiv bin, da ist das auch für die Registrierung
aktiv - und trotzdem wird es täglich von Bots überlaufen.

Viele Grüße

Chris

Am Do., 29. Aug. 2019 um 06:58 Uhr schrieb Dennis <notificatio

[2019-09-02 10:11] ddb69 opened #580 "Contentify 3.0 Issues"
Hallo Chris,

wie per Mail besprochen hier die momentan drängendsten Probleme:
1.Fehler beim Anklicken eines Newsbeitrags:
`Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_RECOVERABLE_ERROR)

Type error: Argument 1 passed to Contentify\Controllers\BaseController::openGraph() must be an instance of OpenGraph, instance of ChrisKonnertz\OpenGraph\OpenGraph given, called in /var/www/s

[2019-09-03 20:11] DrCha0z commented on #579
Leider kommen die Bots durch alles irgendwann wieder durch. Nur die Kontakt Spam Mails nerven langsam. Vor allem bekommen ja Alle Admins eine email als Benachichtigung. Aber man möchte sie ja auch nicht Ignorieren, es könnte ja auch mal was ernstes sein ;)

[2019-09-11 07:06] caileanofficial opened #581 "Error when trying to display profile"
Hello
I am using the Contentify Beta 3.0
It is deployed on a shared hosting at Unoeuro on a Linux server, with MySQL - i do not know if it is Nginx or Apache

I have logged in on my admin account and try to click into my profile then i get

 /var/www/website/public_html/newsite/contentify/Models/User.php

    /**
     * Returns true if the current user is a super admin
     *
     * @return boolea